.contact-text {
  text-align: center;
  margin-bottom: 20px;
}

.contact-info {
  padding: 30px 0 0;

  font-size: 14px;
}

.contact-info a {
  color: #515A5F;
}

.contact-content {
  position: relative;
  margin-bottom: 20px;
  width: 31.5%;
  float: left;
}

.contact-text-info {
  padding-left: 40px;
  padding-top: 0;
}

.contact-text-info span {
  font-weight: bold;
}

.contact-info .style-icon-1 {
  position: absolute;
  top: -4px;
  left: 0;
  font-size: 16px;
}

.general_bg {
  background-color: #ffb900 !important;
  width: 30px;
  height: 30px;
}

.contact-text-info.long {
  letter-spacing: 0.48px;
  padding-left: 28px;}

.contact-content.eposta {
  width: 33%;
}

html {
  -webkit-text-size-adjust: auto !important;
}

.native-app {
  /* #### iPhone 4+ Portrait or Landscape #### */
  @media screen and (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2){
    h3 {
      font-size: 600% !important;
    }

    h4 {
      font-size: 420% !important;
    }

    p {
      font-size: 250% !important;
    }
  }
}
