.btn {
  border: none;
  outline: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
  font-weight: 900 !important;
  &:hover, &:active, &:focus {
    border: none;
    @extend .box-shadow;
  }
  &:active, &:focus {
    outline: 1px solid $main-green-dark !important;
  }

  @include modifier('x-large') {
    font-size: 20px;
    padding: 15px 29px;
  }

  @include modifier('large') {
    font-size: 19px;
    padding: 12px 18px;
    font-weight: 500;
  }

  @include modifier('small') {
    font-size: 16px;
    padding: 10px 12px;
    font-weight: 400;
  }

  @include modifier('x-small') {
    font-size: 14px;
    padding: 7px 10px;
    font-weight: 400;
  }

  @include modifier('block') {
    display: block;
    width: 100%;
  }


  @include modifier('yellow') {
    background: $main-yellow-dark;
    color: #fff !important;
    &:hover, &:active, &:focus {
      background: lighten($main-yellow-dark, 15);
      color: #fff !important;
    }
  }

  @include modifier('blue') {
    background: $acikmavi;
    color: $white;
    &:hover, &:active, &:focus {
      background: lighten($acikmavi, 15);
      color: $white !important;
    }
  }

  @include modifier('white') {
    background: $white;
    color: $main-yellow-dark;
    border: 1px solid lighten($main-yellow-dark, 15);
    &:hover, &:active, &:focus {
      background: lighten($main-yellow-dark, 15);
      border: 1px solid lighten($main-yellow-dark, 15);
      color: $white;
    }
  }

  @include modifier('reset') {
    background: none !important;
    outline: none !important;
    border: none !important;
    padding: 0 !important;
  }

}

.btn-transparent {
  background: none;
  color: $white;
  border: 1px solid $white;
  &:hover {
    background: transparentize($white, 0.4);
    border: 1px solid $main-green-dark;
  }
}

.project-complete {
  height: 64px !important;
  width: 139px !important;
  /*padding: 0 16.5px !important;*/
  display: table-cell !important;
  max-width: 150px;
  vertical-align: middle;
  &:disabled {
    background: darken($second-grey-bg, 5) !important;
  }
}

.svg-icon {
  @include element('navigate') {
    position: fixed;
    top: 45%;
    display: block;
    width: 80px;
    height: 45px;
    svg {
      width: 100%;
      height: 100%;
    }
    @include modifier('left') {
      left: 2%;
      transform: rotate(180deg);
    }
    @include modifier('right') {
      right: 2%;
    }
  }
}

.project-share {
  @include element('icon') {
    width: 15px;
    height: 15px;
    fill: $main-green-dark;
    top: 2px;
    position: relative;
  }
  @include element('btn') {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    border: solid 1px $main-grey-light-text;
    display: inline-block;
    width: 100px;
    line-height: 28px;
    height: 28px;
    text-align: center;
    font-size: 13px;
    color: $main-green-dark;;
    padding: 0;
    margin-right: 15px;
    cursor: pointer;
    &:hover, &:active {
      background-color: $main-grey-light-bg;
    }
  }
}

.btn-fb {
  &:before {
    content: '';
    @include sprite($icon-circle-fb);
    width: 35px !important;
    margin: 15px 25px 0 20px;
    border-right: 1px solid rgba(255,255,255,0.35);
    float: left;
    display: block;
    position: relative;
  }
  background: $facebook;
  color: $white !important;
  font-size: 16px;
  height: 58px;
  line-height: 58px;
  cursor: pointer;
  display: block;
}
