
.corp-button-micro {
	width: 14px;
	height: 14px;
	padding: 0;
	box-shadow: none !important;
	background: transparent;
	cursor: default;
}

.corp-button-micro:hover {
	background: transparent;
}

.corp-comment-user-image {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin: 0 auto 0 auto;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.corp-bugcount {
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin: 0 auto 0 auto;
	background: #ffc801;
	text-align: center;
	position: relative;
	span {
		margin-top: 3px;
		display: inline-block;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
	}
}

.corp-quickrate-file-loader {
	display: none;
	background-image: url('/images/loading-small.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 16px;
	height: 16px;
	margin-left: 3px;
	margin-bottom: 5px;
}

.dz-preview {
	display: none;
}

/*
	TEAMS
		*/

.corp-user-image-wrapper {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	margin: 0 auto 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.corp-user-image-container {
	height: 100%;
	width: 100%;
	.corp-bugcount {
		margin-top: 10px;
	}
	h2 {
		text-align: center;
		width: 100%;
		height: 66px;
	}
}

.corp-user-data-container {
	float: right;
	width: 70%;
	height: 100%;
}

.corp-man-wrapper {
	margin-top: 20px;
	padding: 10px 0 0 0;
	width: 20%;
	height: 280px;
}

.corp-admin-wrapper {
	background: #f8f8f8;
}

.corp-teams-container {
	padding: 30px;
}

.corp-teams-group-row {
	padding: 20px;
}

.corp-teams-group-row:last-of-type {
	padding-bottom: 40px;
}

.corp-teams-teams-row {
	margin-left: 15px;
	overflow: auto;
}

.team-score {
	width: 60px;
	text-align: center;
	background-color: #ffc801;
	border-radius: 8px;
	color: #fff;
	display: inline-block;
}

#corp-teams-header {
	display: block;
	margin: 20px auto 0 auto;
}
/*
  ACCORDION
            */

button.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 26px;
	transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

button.accordion:after {
	content: '\02795';
	font-size: 28px;
	color: #777;
	float: left;
	margin-left: 5px;
	margin-right: 20px;
}

button.accordion.active:after {
	content: "\2796";
}

div.panelo {
	padding: 0 18px;
	background-color: white;
	height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
	h2.team-name {
		margin-left: 50px;
		background-color: #eeeeee;
		height: 50px;
		padding: 9px;
		span {
			margin-left: 30px;
		}
	}
}

div.panelo.show {
	opacity: 1;
	height: auto;
	overflow: auto;
}