.NS_dashboard {
  @include element('admin-sidebar') {
    @extend .box;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: none;
    .photo-wrapper {
      @include circle(80px);
      @extend .bg-img;
      display: block;
      margin: 0 auto;
      img {
        @include circle(80px);
        opacity: 0;
      }
    }

    .sidebar-list {
      @include element('item') {
        position: relative;
        a, a:focus {
          padding: 10px 0;
          color: $main-green-dark;
          outline: none;
          text-decoration: none;
          display: block;
          @extend .border-bottom;

        }
        a:hover, a:active {
          padding: 10px 0;
          color: $main-yellow-dark !important;
          outline: none;
          text-decoration: none;
        }
        &.active a {
          color: $main-yellow-dark !important;
          outline: none;
          text-decoration: none;
          &:after {
            @extend .glyphicon;
            content:"\e258";
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 15px;
            transform: translateY(-50%);
          }
        }
        &:last-child a {
          border-bottom: none;
        }
      }
    }

  }
}

.message-detail-avatar-container {
  .item-photo {
    @include circle(72px);
    overflow: hidden;
    display: block;
    img {
      @include circle(72px);
    }
  }
}

.status2-icon{
  @include sprite($durum_bilinmezlik_icon);
  display: block;
}

.status3-icon{
  @include sprite($durum_altin_icon);
  display: block;
}

.status4-icon{
  @include sprite($durum_sampiyon_icon);
  display: block;
}

.status5-icon{
  @include sprite($durum_uzgun_yuz_icon);
  display: block;
}