body {
  min-width: 1040px;
  width: 100%;
  color: $main-grey-light-text;
  text-rendering: optimizeLegibility;
  overflow-y: auto;
  font: 15px/1.5 "turkcellsaturaregregular", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.modal-iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.modal-dialog-save {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  @include modifier('bottom') {
    height: 90px;
    top: auto;
    bottom: 0;
  }
}

.modal-dialog-outer {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.modal-dialog-sizer {
  display: table-cell;
  vertical-align: middle;
}

.modal-dialog-content {
  border-radius: 6px;
  border: 1px solid #d9d9de;
  background-color: #fff;
  overflow: hidden;
}

.modal-dialog-save.spinning .modal-dialog-content {
  border-radius: 0;
  border: 0;
  background: url('../images/loading-big.gif') transparent no-repeat center center;
  width: 50px;
  height: 50px;
}

.z-top, .modal-dialog-save {
  z-index: 1002;
}

.responsive-media {
  .template {
    padding-bottom: 20px;
  }
  img, .responsive-media video {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.box {
  @extend .border-left, .border-right, .border-bottom, .box-shadow;
  background: $main-grey-light-bg;
  color: $main-green-dark;
  display: table;
}

.yellow-box {
  background: lighten($main-yellow-light, 45);
  font-size: 13px;
  line-height: 1.33;
  display: table;
}

.hover-group {
  position: relative;
  overflow: hidden;
  .hover-zoomout {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &:hover {
    .hover-zoomout {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
  }
}

.highlight {
  line-height: 1.22em;
  background-size: 200.22% auto;
  -webkit-background-size: 200.22% auto;
  -moz-background-size: 200.22% auto;
  background-position: -0% 0;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ddd 50%);
  transition: background-position 0.5s ease-out;
  -webkit-transition: background-position 0.5s ease-out;
  &:hover {
    background-position: -99.99% 0;
  }
}

//Main page
.motto {
  font-size: 28px;
}
.motto-sub {
  font-size: 26px;
}

.walkthrough {

  @include element('bWrapper') {
    .hover-zoomout {
     /* transition: none !important;*/
      background: transparentize(#000000, 0.2);
      z-index: 1;
      /*border-radius: 10px;
      transform: none !important;*/
    }
    @include modifier('text') {
      font-size: 18px;
      text-align: center;
    }
  }

  @include element('title') {
    position: absolute;
    margin: 0;
    padding: 5px;
    color: #efaf00 !important;
    text-decoration: none !important;
    font-size: 18px;
    font-weight: 700;
    background: white;
    letter-spacing: 2px;
    border-radius: 5px;
    @include modifier('about') {
      top: 165px;
      left: 157px;
    }
    @include modifier('start') {
      top: 195px;
      left: 111px;
    }
    @include modifier('hover') {
      bottom: 20px;
      left: 50%;
      color: $white !important;
      background: #efaf00!important;
      transform: translateX(-50%);
      -webkit-transform-origin-x: translateX(-50%);
    }
  }

  @include element('how-it-works') {
    position: relative;
    top: -45px;
    padding: 0 40px;
    @include modifier('wrapper') {
      border-right: 2px solid #ddd;
      height: 334px;
      &:last-child {
        border-right: none;
      }
    }
    @include modifier('number') {
      font-size: 52px;
      font-weight: 700;
      color: #efaf00;
    }
    @include modifier('text') {
      margin: -10px 0 0;
      color: $main-green-dark;
      font-weight: 700;
      font-size: 19px;
    }
  }
}


//Hide autocomplete helping classes
.ui-helper-hidden-accessible {
  position: absolute !important;
  left: -9999px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
}

//C O N G R A T S   P A G E
.poligon {
  @include sprite($poligon);
  display: block;
}

