.mega-footer {
  @include element('content') {
    background: url('/images/footer_bg.png') no-repeat;
    background-position: 100px 0;
  }
  @extend .yellow-bg-gradient;
//  border-top: dashed 1px #2bde73;
  color: $main-green-dark;
  font-size: 14px;

  @include element('links') {
    padding-bottom: 20px;
    padding-top: 40px;
  }
  @include element('bottom') {
    padding: 40px 0;
  }
  @include element('header') {
    color: $white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1em;
  }
  @include element('header-link') {
    color: $white;
    &:hover {
      color: $white;
    }
  }
  @include element('link') {
    color: $main-green-dark;
    margin: 5px 0 !important;
    display: block;
    &:hover, &:active, &:focus {
      color: darken($main-green-dark, 35);
    }
  }
}

.footer-logo {
  margin-top: 110px;
  color: $main-green-dark;
  font-size: 34px;
  text-decoration: none !important;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
  &:hover, &:active, &:focus {
    color: $white;
  }

}

.mega-footer-bottom {
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(to right, $newleftblue, $newrightblue);
  color: $main-green-dark;
  font-size: 14px;
  display: block;
  p {
    padding: 20px 0;
  }
}



