.new-form {
  .form-group {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  label {
   @extend label.primary-form;
  }
  input, select {
    @extend input.primary-form;
  }
  select {
    @extend select.primary-form;
    height: 42px;
  }
}


label.primary-form  {
  margin-bottom: 5px;
}
input.primary-form , select.primary-form, textarea.primary-form, div.primary-form.disabled  {
  @extend .border;
  background: $white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*cursor: default;*/
  padding: 10px;
  position: relative;
  height: auto;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  &:focus {
    border-color: $main-yellow-light;
    z-index: 1;
  }
}
select.primary-form  {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 0;
  text-overflow: '';
  background: $white url("https://static.kickstarter.com/assets/library/forms/select-large-bg-391cb1bb28d4fabbd73b5b446cf932c670d5bc6c5b396e20618fbcd6de599b82.png") no-repeat 171px 14px;
  &::-ms-expand {
    display: none;
  }
}

.login-form {
  position: relative;
  @include element('error') {
      position: absolute;
      top: -36px;
      background: $error-pink;
      color: red;
      padding: 0;
      width: 100%;
    @include modifier('type2') {
      position: relative;
      top: 0;
      margin-top: 30px;
    }
  }
  @include modifier('signup') {
    position: relative;
    top: -36px;
  }
  .parsley-errors-list {
    color: red;
    font-size: 13px;
    padding: 0 5px;
    li {
      height: 23px;
      line-height: 23px;
    }
  }
}

.form-avatar { //SignUp page Avatar
  @include circle(140px);
  display: block;
  background-color: $third-grey-bg;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
  position: relative;
  @extend .bg-img;
  &:hover {
    background-color: darken($third-grey-bg, 10%);
  }
  &.loading {
    background-color: $third-grey-bg;
    background-image: none;
    .form-avatar__placeholder {
      top: 12px;
      background: url('../images/loading-big-yellow.gif') no-repeat;
      background-size: cover;
    }
  }
  &.has-avatar .form-avatar__placeholder {
    background: none;
  }
  @include element('placeholder') {
    @include sprite($upload-photo);
    display: block;
    transform: scale(0.80);
    margin: 0 auto;
    padding: 0;
    top: 16px;
    position: relative;
  }
  input.file {
    position: absolute;
    font-size: 60px;
    opacity: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    cursor: pointer;
  }
  .dz-preview {
    display: none;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.4);
    top: 0;
    left: 0;
    display: table;
    overflow: hidden;
    cursor: pointer;
    .text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $white;
    }
  }
  &:hover .overlay {
    opacity: 1;
  }
}


//////////////////////////////   PROJECT EDIT PAGE    ////////////////////
.upload .parsley-errors-list {
  text-align: center;
  color: red;
  background: $error-pink;
}

.grey-field {
  background-color: $main-grey-light-bg;
  display: block;
  line-height: 30px;
  margin: 0;
  padding: 4px;
  position: relative;
  &.error {
    background: $error-pink;
    label, .parsley-errors-list
    {
      color: red;
    }
    input, select, textarea {
      border-color: red !important;
    }
  }
  label, .label {
    width: 163px;
    word-wrap: break-word;
    font-size: 13px;
    color: $main-green-dark;
    line-height: 18px;
    font-weight: bold;
    display: -moz-inline-box;
    display: -moz-inline-stack;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    padding: 10px 5px 10px 10px;
    cursor: pointer;
    position: relative;
  }
  input.text, .input-text, input[type="text"], textarea, select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    line-height: 18px;
    border: 1px solid lighten($main-grey-light-text, 35);
    width: 100%;
  }
  select {
    color: $main-green-dark;
    padding: 10px 9px 10px 7px;
    @extend select.primary-form;
    @extend .border;
  }
  .field-wrapper {
    line-height: 18px;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    width: 449px;
    .field-container {
      border: 1px solid lighten($main-grey-light-text, 35);
      background: $second-grey-bg;
      position: relative;
    }
  }
  .field-help {
    color: $main-green-dark;
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
  }
  @include element('info-box') {
    display: block;
    background: lighten($main-yellow-light, 45);
    color: $main-yellow-dark;
    font-size: 12px;
    padding: 5px;
    font-weight: 400;
    top: 115px;
    position: relative;
  }
}

.fields {
  input, textarea, select {
    color: $main-green-dark;
    border-radius: 0;
    &:focus {
      border-color: $main-yellow-dark;
    }
  }
  .input-group-addon {
    height: 34px;
    border-radius: 0;
  }
  .input-addon-left {
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
  }
  .rec {
    color: $main-grey-light-text;
    font-size: 11px;
    font-style: normal;
    position: absolute;
    top: 13px;
    right: 10px;
    z-index: 2;
  }
  .success.table-cell {
    vertical-align: top;
    position: relative;
    z-index: 2;
  }
  .profile-photo .upload {
    height: 78px;
    strong {
      padding: 10px;
    }
  }
  .image-clip {
    width: 80px;
    height: 78px;
    padding-left: 5px;
    overflow: hidden;
  }
  .image-clip-img {
    @extend .valign;
  }
  .preview.circle {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  .upload {
    position: relative;
    margin-bottom: 0;
    z-index: 1;
    height: auto;
    width: 100%;
    background: $white;
    border: 1px dashed lighten($main-grey-light-text, 35) !important;
    &:hover {
      background: lighten($main-yellow-light, 45);
    }
    input.file {
      position: absolute;
      font-size: 60px;
      opacity: 0;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      text-indent: -9999px;
      cursor: pointer;
    }
    strong {
      display: block;
      font-size: 13px;
      padding: 20px;
      line-height: 18px;
      color: $main-yellow-dark;
      span {
        display: block;
        color: $main-grey-light-text;
        font-size: 11px;
        font-weight: normal;
      }
    }
  }
}

.error a {
  color: red !important;
}

.project-tabs .error a:before {
  content: "\e101";
  font-family: 'Glyphicons Halflings', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 3px;
  top: 19px;
}

.start-form {
  .parsley-errors-list {
    display: block;
    width: 100%;
    clear: both;
    top: 20px;
    position: relative;
    color: red;
  }
}


//////////////////////////////   CHECKBOXES    ////////////////////

.checkbox label, .radio label  {
  padding-left: 0;
}

.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
  display: none;
}

.checkbox .cr, .radio .cr {
  position: relative;
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon, .radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}
