p {
  margin-bottom: 20px;
}

.fwbold {
  font-weight: 700 !important;
}

.fwnormal {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.fw300 {
  font-weight: 300 !important;
}

.block {
  display: block !important;;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.opacity0 {
  opacity: 0;
}

.valign {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.align-center {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: relative;
}


.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}

.full-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z3 {
  z-index: 3;
}
.z4 {
  z-index: 4;
}
.z5 {
  z-index: 5;
}
.z6 {
  z-index: 6;
}

.h40 {
  height: 40px;
}

.h50 {
  height: 50px;
}

.table-display {
  display: table;
}

.full-width {
  width: 100%;
}

.center {
  text-align: center !important;
}

.left {
  text-align: left !important;
}

a {
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  border: 0;
}

*:focus {
  -webkit-transition: all 0.2s ease-in-out 0.4s;
  -moz-transition: all 0.2s ease-in-out 0.4s;
  -ms-transition: all 0.2s ease-in-out 0.4s;
  -o-transition: all 0.2s ease-in-out 0.4s;
  transition: all 0.2s ease-in-out
}

.form-control {
  height: auto;
}

input, textarea, select, input[type="checkbox"] {
  box-shadow: none !important;
  &:focus {
    outline: 0 !important;
  }
}

textarea {
  resize: vertical;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}

.underline {
  text-decoration: underline !important;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.formatted-lists ul, .formatted-lists ol {
  margin-bottom: 20px;
  padding-left: 0;
  li {
    margin-left: 20px;
  }
}

.rounded {
  border-radius: 6px !important;
}

.circular {
  border-radius: 50% !important;
}

.rounded-left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rounded-right {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.no-border {
  border: none !important;
}

.ls-1 {
  letter-spacing: -0.025em;
}

.ls-2 {
  letter-spacing: -0.05em;
}



//MIXINS
/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin element($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin modifier($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin circle ($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  vertical-align: middle;
}

@mixin square ($size) {
  width: $size;
  height: $size;
  border-radius: 0;
  vertical-align: middle;
}

@mixin rect ($width, $height) {
  width: $width;
  height: $height;
  border-radius: 0;
  vertical-align: middle;
}


//Padding 5px-80px
$i: 0;
@while $i < 91 {
  $padding: $i;

  .p#{$i} {
    padding: #{$padding}px !important;
  }
  .pl#{$i} {
    padding-left: #{$padding}px !important;
  }
  .pr#{$i} {
    padding-right: #{$padding}px !important;
  }
  .pt#{$i} {
    padding-top: #{$padding}px !important;
  }
  .pb#{$i} {
    padding-bottom: #{$padding}px !important;
  }
  .ptb#{$i} {
    padding-top: #{$padding}px !important;
    padding-bottom: #{$padding}px !important;
  }
  .plr#{$i} {
    padding-left: #{$padding}px !important;
    padding-right: #{$padding}px !important;
  }

  .m#{$i} {
    margin: #{$padding}px !important;
  }
  .ml#{$i} {
    margin-left: #{$padding}px !important;
  }
  .mr#{$i} {
    margin-right: #{$padding}px !important;
  }
  .mt#{$i} {
    margin-top: #{$padding}px !important;
  }
  .mb#{$i} {
    margin-bottom: #{$padding}px !important;
  }
  .mtb#{$i} {
    margin-top: #{$padding}px !important;
    margin-bottom: #{$padding}px !important;
  }
  .mlr#{$i} {
    margin-left: #{$padding}px !important;
    margin-right: #{$padding}px !important;
  }
  $i:$i+5;
}

.m-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.width-auto {
  width: auto !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.fixed {
  position: fixed !important;
}

.clear {
  clear: both;
}

.absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto
}

.absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto
}

.t0 {
  top: 0 !important;
}

.r0 {
  right: 0 !important;
}

.b0 {
  bottom: 0 !important;
}

.l0 {
  left: 0 !important;
}

.t10 {
  top: 10px !important;
}

.l-50 {
  left: -50%
}

.l50 {
  left: 50%
}

.clip, .no-scroll {
  overflow: hidden;
}

.transition-all {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


@keyframes slideInUp {
  from {
    transform: translate3d(0, -50%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
  animation-duration: 0.1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-75%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-duration: 0.75s;
  animation-fill-mode: both;
}

//Icons
.tsr-icon {
  position: absolute;
  margin-right: 5px;
  top: 22px;
  font-size: 17px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &__search {
    @extend .tsr-icon;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    &:before {
      content:"\e003";
    }
  }
  &__drop-down {
    @extend .tsr-icon;
    &:before {
      content:"\e252";
    }
  }
  &__help {
    @extend .tsr-icon;
    &:before {
      content:"\e085";
    }
  }
  &__delete {
    @extend .tsr-icon;
    &:before {
      content:"\e014";
    }
  }
  &__plus {
    @extend .tsr-icon;
    &:before {
      content:"\2b";
    }
  }
  &__volume {
    @extend .tsr-icon;
    &:before {
      content:"\e036";
    }
  }
  &__high-volume {
    @extend .tsr-icon;
    &:before {
      content:"\e038";
    }
  }  &__resize-full {
    @extend .tsr-icon;
    &:before {
      content:"\e096";
    }
  }  &__resize-small {
    @extend .tsr-icon;
    &:before {
      content:"\e097";
    }
  }
}
