/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .site-logo {
    float: left;
  }
  header {
    height: 80px;
  }

  .modal-dialog {
    margin: 100px auto;
  }
}

/*@media screen and (max-width: 768px) {
  header {
    height: 120px;
  }
}

@media (min-width: 768px) {
  .primary-menu-link a,.logged-out-link a {
    padding: 35px 15px 23px;
  }
}

@media (max-width: 768px) {
  .primary-menu-link a,.logged-out-link a {
    padding: 35px 15px 23px;
  }
}

@media (min-width: 768px) {
  .primary-menu-link:last-child,.logged-out-link:last-child {
    margin-right:30px
  }
}*/

@media (max-width: 960px) {
  .primary-menu-link--about {
    display:none
  }
}

