/*
  EXTRA BARIS
              */


#partners-container {
  display: none;
  .module-partner {
    margin-bottom: 25px;
    width: 100%;
    background-color: #fff;
    line-height: 1.33;
    position: relative;
    font-size: 14px;
    box-shadow: 0 2px 1px rgba(130,133,135,.2)!important;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #dddede!important;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #dddede!important;
    border-bottom: 1px solid #dddede;
  }
  .module-partners-wrapper {
    width: 100%;
    overflow: auto;
  }
  .module-partner-two {
    width: 49%;
    float: left;
  }
  .module-partner-three {
    width: 32%;
    float: left;
    margin-left: 2%;
  }
  .three-first {
    margin-left: 0;
  }
  .partner-thumbnail {
    width: 100%;
    height: 240px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .partner-card-content {
    padding: 15px;
  }
  .partner-title {
    color: #555;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
  }
}
