body#creditCardsNew .tout-checkout {
  overflow: hidden;
  margin-bottom: 20px;
  h1, .creditCardForm legend {
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: $main-green-dark;
    font-weight: 500;
  }
  .btn {
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 100%;
  }
}

.creditCardForm li {
  margin: 5px 0 10px 0;
  label {
    display: block;
    font-weight: 400;
  }
  #cityId {
    width: 26%;
  }
  input[type="text"],input[type="password"], textarea {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    line-height: 18px;
    border: 1px solid #dddede;
    width: 100%;
  }
  select {
    padding: 9px 9px 9px 7px;
    @extend select.primary-form;
  }
  input, select, textarea {
    color: $main-green-dark;
    border-radius: 0;
    &:focus {
      border-color: $main-yellow-dark;
    }
  }
  #expiration, #expYear {
    width: 90px;
    margin-right: 5px;
    background-position: 70px 16px;
  }
  #addressCountry, #addressCity, #addressZip {
    width: 190px;
    background-position-y: 16px;
  }
  .parsley-error {
    border-color: red !important;
  }
  .parsley-errors-list {
    color: lighten(red, 10);
  }
  &.error {
    input, select, textarea {
      border-color: red !important;
    }
  }
}

.sales-agreement {
  position: absolute;
  bottom: 30px;
}

.glyphicon-question:after {
  content:"\e085";
}

.info-box:before {
  @include sprite($info);
  content: '';
  display: block;
  position:absolute;
  left: 0;
  top: -8px;
}


.pledge-coupon-button{
    background: #ffb900;
    color: #fff;
    border: 0;
    padding: 2px 8px;
    position: absolute;
    height: 27px;
    left: 154px;
    margin-left: 15px;
}

.pledge-coupon-success{
  padding-left: 20px;
}

#applyCoupon {
  padding: 15px 15px 30px 15px;
  width: 229px;
  #coupon-result-msg {
    margin: 15px 0 0 0;
    p {
      margin: 0;
    }
  }
   #coupon-result-success {
      margin-top: 15px;
   }
}

