.NS_projects {
  @include element('rewards-list') {

  }
}

.project-card-tall-big {
  height: 520px;
}

.project-card-tall-small {
  height: 419px;
}


.project-card {
  width: 100%;
  background-color: $white;
  line-height: 1.33;
  position: relative;
  font-size: 14px;
  border-radius: 10px;
  @extend .box;
  .project-thumbnail {
    a {
      display: block;
      height: 100%;
    }
    &.contain {
      background-size: contain;
    }
  }
  .project-thumbnail-img {
    opacity: 0;
  }
  .project-card-footer {
    position: absolute;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 26%);
    bottom: 0;
  }
  .project-stats {
    width: 100%;
    display: table;
  }
  .icon-to-go {
    /*-webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);*/
    position: absolute;
  }



  &.project-card-tall-small {

    margin-bottom: 15px;

    .project-thumbnail {
      height: 174px;
    }
    .project-thumbnail-img {
      width: 228px;
      height: 174px;
    }

    .project-card-content, .project-card-footer {
      padding: 7.5px;
    }

    .project-title {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 15px;
      font-weight: 700;
      a {
        color: $main-green-dark;
        @extend .highlight;
      }
    }

    .project-blurb {
      font-size: 12px;
      font-weight: 300;
    }

    .project-card-footer {
      padding-top: 40px; /*Decide size of blurry white*/
      width: 228px;
    }

    .h4 {
      font-size: 15px;
    }

    .project-progress-bar {
      height: 14px;
    }

    .icon-to-go {
      width: 25px;
      height: 25px;
      top: 111px;
      left: 56px;
    }

    .comment {
      width: 25px;
      height: 25px;
      display: inline-block;
    }

  }

  &.project-card-tall-big {

    margin-bottom: 25px;

    .project-thumbnail {
      height: 240px;
    }
    .project-thumbnail-img {
      width: 314px;
      height: 240px;
    }
    .project-card-content, .project-card-footer {
      padding: 10px;
    }
    .project-title {
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 700;
      a {
        color: $main-green-dark;
        @extend .highlight;
      }
    }
    .project-blurb {
      line-height: 1.27;
      color: $main-grey-light-text;
    }

    .project-card-footer {
      padding-top: 50px;
      width: 314px;
    }

    .icon-to-go {
      top: 134px;
      left: 88px;
      width: 22px;
      height: 27px;
    }

    .comment {
      width: 25px;
      height: 25px;
      display: inline-block;
    }
  }
  .project-badge {
    position: absolute;
    width: 78px;
    height: 78px;
    right: -8px;
    top: -8px;
    svg {
      height: 100%;
      width: 100%;
    }
  }
  @include modifier('thinking') {
    .goal.num {
      top: 5px;
      position: relative;
    }
  }
}

ul.navlist {
  display: table;
  margin: 40px auto 20px;
  li {
    float: left;
    border-right: 1px solid #dddede;
    &:last-child {
      border: none;
    }
    &.active a {
      color: $main-yellow-dark;
      text-decoration: underline;
    }
    a {
      font-size: 18px;
      font-weight: 700;
      color: $main-green-dark;
      letter-spacing: 1px;
      width: 100px;
      display: block;
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.load-more {
  cursor: pointer;
  margin: 0 auto;
  display: table;
}
