@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

.NS_projects {
  @include element('header') {
    @include modifier('team') {
      font-size: 16px;
    }
    @include element('menu') {
      a {
        border: 1px solid $main-grey-light-text;
        text-align: center;
        padding: 7px 20px;
        display: inline-block;
        cursor: pointer;
        &:hover, &:active {
          background: $main-grey-light-bg;
        }
      }
    }
  }
  @include element('hero-funding') {
    .video-player {
      height: 511px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-color: #000000;
      overflow: hidden;
      img.poster.landscape {
        width: 100%;
        height: 100%;
        opacity: 0;
      }
      video {
        width: 100% !important;
      }
      @include modifier('congrats') {
        height: 480px;
      }
    }
  }
  @include element('stats') {
    .icon-to-go {
      width: 40px;
      height: 40px;
      display: inline-block;
      line-height: 0;
      position: relative;
    }
    .stat-item {
      &.popular {
        .h1 {
          margin-bottom: 27px;
        }
        .h6 {
          position: absolute;
          top: 55px;
          left: 20px;
        }
      }

    }
    .num.h1 {
      font-size: 38px;
    }
    hr {
      width: 87%;
      margin: 0 auto;
      clear: both;
    }
    .goal.text {
      /*font-size: 18px;*/
      font-weight: 300;
      margin-top: -2px;
      display: table;
    }
    .goal.like {
      width: 30px;
      height: 30px;
      display: block;
      float: left;
    }
    svg {
      width: 100%;
      height: 100%;
    }
    use {
      fill: #555555;
    }
    .project-progress-bar {
      width: 100%;
      height: 18px;
      background: lighten($main-grey-light-text, 35);
      border-radius: 0;
      overflow: hidden;
      @-webkit-keyframes progress-bar {
        0% { width: 0; }
      }
      @-moz-keyframes progress-bar {
        0% { width: 0; }
      }
      @keyframes progress-bar {
        0% { width: 0; }
      }
      .project-percent-pledged {
        height: 100%;
        background: $main-yellow-light;
        max-width: 100%;
        -webkit-animation: progress-bar 1s;
        -moz-animation: progress-bar 1s;
        animation: progress-bar 1s;
        &.gte50 {
          -webkit-animation: progress-bar 0.875s;
          -moz-animation: progress-bar 0.875s;
          animation: progress-bar 0.875s;
        }
        &.gte75 {
          -webkit-animation: progress-bar 0.75s;
          -moz-animation: progress-bar 0.75;
          animation: progress-bar 0.75.5s;
        }
      }
    }
  }
  @include element('project-nav') {
    li.project-nav-item {
      padding: 0 3%;
      margin: 0;
      width: auto;
      text-align: center;
      float: left;
      position: relative;
      &.active {
        a:after { //Alt Çizgi
          position: absolute;
          content: '';
          width: 100%;
          display: block;
          z-index: 1;
          bottom: -2px;
          border-bottom: 5px solid #0d4ba0;
        }
      }
      a {
        font-size: 17px;
        font-weight: 900;
        white-space: nowrap;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        position: relative;
        /*&:after {
          position: absolute;
          content: '';
          height: 4px;
          left: 0;
          width: 100%;
          top: 61px;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
          display: block;
        }*/
        /*&:before {
          content: "";
          display: block;
          position: absolute;
          top: 62px;
          left: 50%;
          margin-left: -6px;
          bottom: auto;
          border: 10px solid transparent;
          border-bottom: 0;
          border-top-color: transparent;
          z-index: 1;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
        }*/
      }
    }
  }
  @include element('content') {
    overflow: hidden;
    section {
      min-height: 400px;
    }
    .full-description {
      line-height: 1.5em;
      word-wrap: break-word;
      .template {
        margin-bottom: 20px;
      }
      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.75em;
      }
      h3 {
        font-size: 1.5em;
      }
      h4 {
        font-size: 1.2em;
      }
      h5 {
        font-size: 1em;
      }
      h6 {
        font-size: 0.9em;
      }
      p {
        font-size: 1em;
      }
      img {
        max-width: 100% !important;
        height: auto !important;
      }
      ul {
        list-style: disc;
        li {
          margin-bottom: 6px;
        }
      }
    }
  }
  @include element('rewards-list') {
    .reward {
      position: relative;
      @extend .sidebar-reward-item;
    }
  }
  @include element('congrats') {
    border: none;
    box-shadow: none !important;
    padding: 0 50px;
    .project-badge {
      right: 42px !important;
    }
    .project-thumbnail {
      height: 320px !important;
      &:before {
        content: '';
        @include sprite($poligon);
        display: block;
        top: -155px;
        left: 0;
        position: absolute;
      }
      &:after {
        content: '';
        @include sprite($poligon);
        display: block;
        bottom: -225px;
        right: 0;
        position: absolute;
        transform: rotate(180deg);
      }
    }
    .project-thumbnail-img {
      width: 100% !important;
      height: 100% !important;
    }
    .project-title {
      font-size: 20px !important;
    }
    .project-blurb {
      font-size: 16px;
    }
    @include element('share') {
      width: 50px;
      height: 50px;
      border: 2px solid $main-yellow-dark;
      border-radius: 50%;
      text-align: center;
      display: block;
      cursor: pointer;
      &:hover, &:active, &:focus {
        box-shadow: 0 0 5px transparentize($main-yellow-dark, 0.4);
      }
      use {
        fill: $main-yellow-dark;
      }
      @include modifier('tw') {
        svg {
          width: 28px;
          height: 25px;
          transform: translateY(50%);
        }
      }
      @include modifier('fb') {
        svg {
          width: 15px;
          height: 28px;
          transform: translateY(40%);
        }
      }

      @include modifier('in') {
        svg {
          width: 24px;
          height: 24px;
          transform: translateY(50%);
        }
      }
    }
  }
}

.timeline-content {
  position: relative;
  .row {
    min-height: 80px;
    &:nth-child(odd) .col-xs-6 {
      float: left;
      .date:after {
        width: 270px;
        right: 0;
      }
    }
    &:nth-child(even) .col-xs-6 {
      float: right;
      .date:after {
        width: 12px;
        left: 0;
      }
    }
    &:last-child {
      padding-bottom: 30px;
    }
  }
  .date {
    font-size: 13px;
    &:after {
      content: '';
      position: absolute;
      top: 17px;
      background-color: $main-yellow-light;
      height: 1px;
    }
  }
  p {
    font-size: 13px;
    line-height: 1.33;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: $main-yellow-light;
    height: 100%;
    width: 1px;
    left: 50%;
    top: -20px;
  }
  &.empty:after {
    background-color: transparent;
  }
}

.comments-content, .dashboard-item {
  @include element('item') {
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: table;
    margin-bottom: 10px;
    position: relative;
    &.dashboard-message {
      .item-photo {
        @include rect(80px, 60px);
        img {
          height: 60px;
        }
      }
      .info-container {
        height: 60px;
        overflow: hidden;
        p {
          line-height: 1.33;
        }
      }
      .message-count {
        position: absolute;
        right: 10px;
        top: 25px;
        font-size: 12px;
        line-height: 1.2;
      }
    }
    &.creatorComment {
      background-color: $white;
    }
    @extend .box-shadow;
    @extend .border;
    .avatar-container {
      float: left;
      display: inline-block;
    }
    .info-container {

      @include modifier('dashboard') {

         span {
          margin: 0 !important;
        }
        p {

        }
      }
      p {
        margin: 10px 0;
        line-height: 1.5;
        font-weight: normal;
      }
    }
    .avatar {
      @include circle(60px);
      img {
        height: 60px;
      }
    }
    .item-photo {
      @include rect(100px, 80px);
      img {
        height: 80px;
      }
    }
    &.backed-projects {
      /*margin-bottom: 0;*/
      .item-photo {
        @include rect(80px, 60px);
        img {
          height: 60px;
        }
      }
      .project-title {
        display: block;
        overflow: hidden;
        max-width: 270px;
        margin: 0;
        font-weight: 400;
        a {
          color: $main-green-dark;
          line-height: 1.22;
          @extend .highlight;
        }
      }
      [class^="col-xs-"] {
        min-height: 60px;
      }
    }
  }
  @include modifier('message-detail') {
    width: 660px;
    min-height: 72px;
  }
}

.hexagon {
  position: relative;
  width: 80px;
  height: 46.19px;
  background-color: $main-yellow-dark;
  margin: 23.09px 0;
  box-shadow: 0 0 8px rgba(0,0,0,0.55);
  @include element('icon') {
    margin: -5px auto;
    z-index: 3;
    transform: scale(0.6);
    position: relative;
  }
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 11.7157px;
  box-shadow: 0 0 8px rgba(0,0,0,0.55);
}

.hexagon:before {
  top: -28.2843px;
}

.hexagon:after {
  bottom: -28.2843px;
}

/*cover up extra shadows*/
.hexagon span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 46.1880px;
  z-index: 2;
  background: inherit;
}

.modal .hexagon {
  position: absolute;
  top: -46px;
  left: 50%;
  margin-left: -40px;
}

.modal-content {
  border-radius: 0;
}

.icon-message {
  @include sprite($popup_message);
  display: block;
}

.icon-info {
  @include sprite($popup_info);
  display: block;
}

.detailPageSvg path {
  fill: inherit;
}
form#likeItOrNot{
  justify-content: center;
  flex-direction: row;
  text-align: center;
  display: flex;
  height: 200px;
  [class*='col-xs'] {
    background: rgba(255, 201, 0,.45);
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
  }
}
.likeItOrNot {
  width: 100%;
  height: 200px;
  line-height: 90px;
  background: linear-gradient(to right, $newleftorange, $newrightorange);
  position: fixed;
  bottom: 0;
  z-index: 1;
  textarea {
    height: 120px;
    margin: 0 !important;
    resize: none;
  }
  button {
    margin-bottom: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: none !important;
  }
  @include element('list') {
    li {
      text-align: center;
      height: 100px;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      display: flex;
      &:first-child {
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        -webkit-border-top-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        border-top-left-radius: 10px;
      }
      &.active {
        background: rgba(255, 201, 0,.45);
      }
      input[type="radio"]:checked+svg use {
        fill: #555555 !important;
      }
      input[type="radio"]:checked+svg+span {
        color: #555555 !important;
      }
      input {
        display: none;
      }
      label {
        color: $white;
        height: 70px;
        line-height: 40px;
        cursor: pointer;
      }
      span {
        display: block;
      }
      svg {
        width: 100%;
        height: 35px;
        display: block;
        use {
          fill: $white;
        }
      }
    }
  }
}

/*
  BARIS
        */

#partner-container {
  margin-top: 40px;
}

#img-partner {
  max-width: 228px;
  height: auto;
}

.button-rate {
  cursor: pointer;
}

.yellowize {
  fill: #ffc801 !important;
}

.darken {
  fill: #555 !important;
}
