.NS_projects {
  &__edit_nav {
    width: 100%;
  }
  .carousel .item {
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    img {
      width: 100%;
      opacity: 0;
    }
    .container {
      position: absolute;
      left: 50%;
      margin-left: -505px;
      bottom: 35px;
    }
    .carousel-title {
      color: $white;
      font-size: 3em;
      line-height: 1;
      font-weight: 900;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    }
    .carousel-text {
      margin-top: 15px;
      color: $white;
      font-size: 22px;
      line-height: 23px;
      font-weight: 300;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    }
  }

  .carousel-btn {
    right: 0;
    bottom: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }

  .carousel-control {
    width: 8% !important;
  }

}

.project-tabs {
  display: table;
  button {
    background: $white;
    color: $main-green-dark;
  }
  a, button {
    height: 62px;
  }
  a:not(.btn):hover, button:not(.btn):hover {
    color: $main-green-dark;
    background: $main-grey-light-bg;
  }
  button:focus {
    outline: none !important;
  }
  .active {
    a, button {
      @extend .bg-grey-light;
      color: $main-yellow-dark !important;
    }
  }
  .error.active a, .error.active button {
    color: red !important;
  }

  .project-complete {
    /*padding: 16.5px !important;*/
  }
  .subtext {
    font-size: 11px;
    color: $main-grey-light-text;
    font-weight: normal;
    display: block;
  }
}

.tab-navigation {
  position: absolute;
  bottom: 7px;
  width: 100%;
}

.steps li {
  position: relative;
}

.project-sidebar-form {
  h5 {
    font-size: 13px;
  }
  p {
    font-size: 12px;
  }
  ul {
    color: $main-green-dark;
    list-style-type: disc;
    font-size: 12px;
    margin-left: 0;
    margin-bottom: 20px;
    li {
      list-style-type: disc;
      margin-left: 20px;
    }

  }
}

//Rewards
.reward {
  label {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 0;
    width: 140px;
  }
  .field-wrapper {
    width: 478px;
    input, textarea, select {
      border-radius: 0;
      margin: -1px 0;
      position: relative;
    }
    input {
      width: 90px;
      border: 1px solid lighten($main-grey-light-text, 35);
      &:focus {
        border-color: $main-yellow-light;
        z-index: 1;
      }
    }
    input[type="checkbox"] {
      margin-top: 0;
      width: 14px;
    }
    textarea {
      width: 200px;
      border: 1px solid lighten($main-grey-light-text, 35);
      vertical-align: top;
      &:focus {
        border-color: $main-yellow-dark;
        z-index: 1;
      }
    }
    select {
      &:focus {
        z-index: 1;
      }
    }
    .minimum input {
      width: 110px;
    }
    .description {
      textarea, input {
        margin-right: -2px;
        width: 335px;
        height: 100px;
      }
      input {
        height: auto;
      }
    }
    .delivery-date {
      .date-container {
        border-bottom-right-radius: 3px;
        display: -moz-inline-box;
        display: -moz-inline-stack;
        -moz-box-orient: vertical;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        margin-right: -1px;
        width: 333px;
        line-height: 38px;
      }
      select {
        float: left;
        -webkit-appearance: none;
        option:first-child {
          color: red !important;
        }
      }
      select.month {
        background: $white url('https://static.kickstarter.com/assets/library/forms/select-large-bg-391cb1bb28d4fabbd73b5b446cf932c670d5bc6c5b396e20618fbcd6de599b82.png') no-repeat 171px 14px;
        width: 203px;
        margin-right: -1px;
      }
      select.year {
        background: $white url('https://static.kickstarter.com/assets/library/forms/select-large-bg-391cb1bb28d4fabbd73b5b446cf932c670d5bc6c5b396e20618fbcd6de599b82.png') no-repeat 104px 14px;
        width: 133px;
        margin-right: -2px;
      }
    }
    .keep-or-delete {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      background: #f7fafa;
      border-left: 1px solid lighten($main-grey-light-text, 35);
      width: 75px;
      height: 40px;
      .delete-reward {
        display: block;
        padding: 8px 18px;
        line-height: 24px;
        color: $main-green-dark;
        &:hover, &:active, &:focus {
          background: $second-grey-bg;
        }
        span {
          top: 3px;
          margin-right: 0;
          display: inline-block;
          font-size: 15px;
          position: relative;
        }
      }
    }
    .limit {
      border-top: 1px solid lighten($main-grey-light-text, 35);
      &.limit-set input[type=text] {
        visibility: visible;
      }
      label {
        padding-left: 0;
        padding-right: 0;
        width: 110px;
      }
      .limit-label {
        vertical-align: middle;
        display: inline-block;
        width: auto;
        margin-left: 145px;
        min-width: 110px;
        max-width: 250px;
      }
      input[type="text"] {
        visibility: hidden;
        display: -moz-inline-box;
        display: -moz-inline-stack;
        -moz-box-orient: vertical;
        display: inline-block;
        vertical-align: middle;
        zoom: 1;
        width: 60px;
        margin: 10px;
      }
      input[type="checkbox"] {
        margin-left: 9px;
        top: 0;
      }
    }
  }
}

.help {
  .icon {
    top: 12px;
    font-size: 13px;
    color: $main-grey-light-text;
  }
  &:hover, &:active, &:focus {
    .icon {
      color: $main-yellow-dark;
    }
  }
}

.add-another-wrap {
  border-style: dashed;
  position: relative;
}

.add-another-button {
  border-style: dashed;
  line-height: 18px;
  margin: 0;
  &:hover {
    background: lighten($main-green, 45);
  }
}

.add-another {
  display: -moz-inline-box;
  display: -moz-inline-stack;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}

.project-thumbnail {
  display: block;
}

.tools {
  position: fixed;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  -ms-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  margin-bottom: -100px;
  &.visible {
    margin-bottom: 0;
  }
}

//FileUpload
.dz-preview {

}

.dz-details, .dz-success-mark, .dz-error-mark {
  display: none;
}

.dz-remove {
  @extend .green;
  margin: 5px 0 0;
  text-align: center;
  font-size: 12px;
  display: block;
}

.dz-image img {
  max-width: 100%;
  height: auto;
}

.icon-location {
  @include sprite($yer);
  margin-top: -6px;
  display: inline-block;
  transform: scale(0.75);
}

.project-context {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 125px;
  padding: 35px 0 30px 0;
  position: relative;
}

.start-project {
  width: 100%;
  display: table;
  .hexagon {
    top: 55px;
    z-index: 2;
  }
  input {
    left: -4px;
    height: 55px;
    width: 90%;
    padding-left: 25px;
    font-size: 24px;
    @extend input.primary-form;
    border-top: none;
    @extend .box-shadow;
  }
}

#startProjectHeader {
  background: url('/images/start-banner.png') $main-grey-light-bg no-repeat 14% 50%/cover;
}

//AutoComplete Styles
.ui-autocomplete-input {
  background: $white;
  background-repeat: no-repeat;
  background-position: 98% 50%;
  &.ui-autocomplete-loading {
    background: $white url('/images/loading-small.gif');
    background-repeat: no-repeat;
    background-position: 98% 50%;
    transition: none !important;
  }
}
.ui-autocomplete.ui-widget-content {
  padding: 5px 0;
  max-height: 250px;
  overflow: auto;
  z-index: 3;
  background-color: $white;
  border-color: $main-yellow-light !important;
  @extend .border;
  border-top: none !important;

  .ui-state-focus a {
    background: lighten($main-yellow-light, 33%);
  }

  a {
    padding: 5px 10px;
    color: $main-green-dark;
    display: block;
    cursor: pointer;
    &:hover {
      background: lighten($main-yellow-light, 33%);
    }
  }
}

.video-processing-message, .video-ready-message {
  width: 100%;
  text-align: center;
  color: $white;
  bottom: 0;
  margin: 0;
  position: absolute;
  display: none;
}
.video-processing-message {
  background: $main-yellow-dark;
}
.video-ready-message {
  background: $main-green;
}

/*FB style Content Placeholder Animation*/
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.timeline-wrapper {
  background-color: #e9eaed;
  color: #141823;
  padding: 20px;
  border: 1px solid #ccc;
}

.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
  max-width: 472px;
  min-height: 200px;
}

.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}

.background-masker {
  background: #fff;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outlined .background-masker {
  border: 1px solid #ddd;
}

.outlined:hover .background-masker {
  border: none;
}

.outlined:hover .background-masker:hover {
  border: 1px solid #ccc;
  z-index: 1;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
  top: 0;
  left: 40px;
  right: 0;
  height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
  top: 10px;
  left: 40px;
  height: 8px;
  width: 10px;
}

.background-masker.header-bottom {
  top: 18px;
  height: 6px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
  top: 24px;
  height: 6px;
}

.background-masker.header-right,
.background-masker.subheader-right {
  width: auto;
  left: 300px;
  right: 0;
}

.background-masker.subheader-right {
  left: 230px;
}

.background-masker.subheader-bottom {
  top: 30px;
  height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
  top: 40px;
  left: 0;
  right: 0;
  height: 6px;
}

.background-masker.content-top {
  height: 20px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end {
  width: auto;
  left: 380px;
  right: 0;
  top: 60px;
  height: 8px;
}

.background-masker.content-second-line {
  top: 68px;
}

.background-masker.content-second-end {
  left: 420px;
  top: 74px;
}

.background-masker.content-third-line {
  top: 82px;
}

.background-masker.content-third-end {
  left: 300px;
  top: 88px;
}

.hasVideo {
  cursor: pointer;
  video {
    display: none;
  }
}

.has_played {
  background: #000000 !important;
  button {
    display: none;
  }
  video {
    display: block;
  }
}

