
/*
  HELPERS
         */
.rev-vertical-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.rev-middle {
  display: inline-block;
  vertical-align: middle;
}

.rev-bold {
  font-weight: bold;
}

/*
  PROJECT CARDS
                */

.project-thumbnail {
  border-radius: 4px;
}
.rev-project-winner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.rev-project-card-content-winner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 200px;
}

.rev-project-card-content-normal {
  padding: 10px;
  text-align: center;
}

.rev-button {
  width: 90%;
  height: 50px;
  border-radius: 3px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.rev-project-thumbnail-winner {
  background: rgba(255,214,97,0.5);
  position: relative;
  height: 100% !important;
  display: inline-block;
  width: 100%;
  a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}

.rev-button-white {
  background-color: #ffffff;
  color: #545454;
}

.rev-button-yellow {
  background-color: #ffcb05;
  span {
    color: #000;
  }
}

.rev-button-hover {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.rev-project-title {
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 900;
}

.rev-project-title-white {
  color: #fff;
  font-weight: bold;
}

.rev-project-title-gray {
  color: #545454;
}

.rev-project-small {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 300;
}

.rev-project-small-gray {
  font-size: 14px;
}

.rev-project-small-lightgray {
  color: #909090;
}

.rev-project-title-money {
  font-size: 48px;
  font-weight: 700;
}

.rev-project-progress-bar {
  height: 14px !important;
  border-radius: 100px !important;
  display: none;
}

.rev-progress-bar {
  background-image: url(/images/progress.png) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: left center !important;
  background-color: transparent !important;
  height: 14px !important;
}

.rev-clock {
  background-image: url(/images/clock.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 16px;
  height: 16px;
}

.rev-like-dislike-container {
  width: 66%;
  overflow: auto;
  margin: 0 auto 0 auto;
}

.rev-like-dislike-cell {
  width: 80px;
  text-align: center;
}

.rev-like-dislike-cell:nth-of-type(1) {
  float: left;
}

.rev-like-dislike-cell:nth-of-type(2) {
  float: right;
}

.rev-like-icon {
  margin: 0 auto 10px auto;
  background-image: url(/images/like.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 34px;
  height: 35px;
}

.rev-dislike-icon {
  margin: 0 auto 10px auto;
  background-image: url(/images/dislike.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 34px;
  height: 35px;
}
/*
  REWARDS
          */

.rev-detail-rewards .reward {
  position: relative !important;
  overflow: visible !important;
  margin-bottom: 40px !important;
}

.rev-reward-favourite-badge {
  width: 200px!important;
  height: 41px!important;
  border-radius: 100px!important;
  background-color: #fff!important;
  font-size: 16px!important;
  font-weight: 700!important;
  font-style: normal!important;
  font-stretch: normal!important;
  color: #4a4a4a!important;
  position: absolute!important;
  top: 0px!important;
  right: 0!important;
  bottom: 0!important;
  left: 0!important;
  margin: -20px auto auto!important;
  box-shadow: 0 2px 4px lightgray !important;
}

.rev-icon-love {
  margin-left: 10px !important;
  width: 20px !important;
  height: 17px !important;
  background: #fff url(/images/sprites/love.png) no-repeat center center !important;
}

.rev-reward-pledge-amount {
  font-size: 26px !important;
}

.rev-reward-name {
  font-size: 20px !important;
}

.rev-reward-standard-text {
  font-size: 17px !important;
  color: #575757 !important;
  font-weight: normal;
}

.rev-reward-description {
  font-size: 16px !important;
  line-height: 1.2 !important;
  position: relative !important;
  margin-bottom: 20px !important;
  height: auto !important;
  color: #575757 !important;
}

.rev-reward-info {
  padding: 20px 0;
}

/*
  PROJECT DETAIL
                  */
.rev-play-button-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

/*
  PROJECT EDIT
              */
.rev-image-preview {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 20px;
}

/*
  SIMENTY
          */
@media (max-width: 700px) {
  #likeItOrNotContainer {
    width: 95%;
    #likeItOrNot {
      width: 100% !important;
      height: 100% !important;
    }
    line-height: 50px !important;
    height: 224px !important;
    .col-xs-3 {
      margin-top: 0 !important;
      width: 100%;
    }
    .likeItOrNot__list {
      height: 51px !important;
    }
    .col-xs-4 {
      overflow: auto !important;
      height: 60px !important;
      margin-bottom: 6px !important;
      textarea {
        height: 50px !important;
        vertical-align: top !important;
      }
    }
    button {
      height: 46px !important;
      padding: 0 !important;
      width: 100%;
    }
    .col-xs-2 {
      width: 100% !important;
    }
  }
  #likeItOrNotContainerMob {
    width: 95%;
    line-height: 50px !important;
    height: auto !important;
    position: relative !important;
    #likeItOrNot {
      width: 100% !important;
      height: 100% !important;
    }
    .col-xs-3 {
      margin-top: 0 !important;
      width: 100%;
    }
    .col-xs-4 {
      overflow: auto !important;
      height: 60px !important;
      margin-bottom: 6px !important;
      textarea {
        height: 50px !important;
        vertical-align: top !important;
      }
    }
    button {
      height: 46px !important;
      padding: 0 !important;
      width: 100%;
    }
    .col-xs-2 {
      width: 100% !important;
    }
  }
}
