.reward {
  position: relative;
  @include element('info') {
    padding: 15px 0;
    margin: 0 15px;
  }
  @include element('pledge-amount') {
    @extend .green-dark;
    margin: 6px 0;
    font-size: 32px;
    letter-spacing: -0.0375em;
  }
  @include element('name') {
    @extend .green-dark;
    margin: 6px 0;
    font-size: 24px;
    letter-spacing: -0.0375em;
  }
  @include element('backer-count') {
    @extend .green-dark;
    font-size: 12px;
    font-weight: 700;
  }
  @include element('remaining-count') {
    top: -10px;
    color: $main-yellow-dark !important;
    font-size: 12px;
    font-weight: 700;
    position: relative;
  }
  @include element('description') {
    font-size: 14px;
    line-height: 1.35;
    position: relative;
    margin-bottom: 20px;
    height: auto;
  }
  @include element('extra-info') {
    display: table;
  }
  @include element('detail') {
    font-size: 12px;
  }
  @include element('detail-info') {
    font-weight: 700;
  }
  @include element('hover') {
    display: block;
    z-index: 1;
    text-align: center;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.25em;
    }
    .reward__hover-content {
      font-size: 24px;
      color: $white;
      display: inline-block;
      vertical-align: middle;
      border: 1px solid $white;
      padding: 8px 10px;
      font-weight: 500;
      p {
        margin-bottom: 0;
      }
    }
  }
  @include element('checkout') {
    height: 0;
    overflow: visible;
    position: relative;
    transition-duration: 400ms;
    .reward__checkout-form {
      padding: 15px;
      .error {
        background: $error-pink;
        label, .parsley-errors-list
        {
          color: red;
        }
        input, select, textarea {
          border-color: red !important;
        }
      }
    }
  }
  @include element('limit') {
    margin-left: 5px;
    padding: 4px 8px;
    background: $main-yellow-light;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    @include modifier('all-gone') {
      background: $main-grey-light-text;
      color: $white;
    }
  }

  @include element('locked') {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparentize($white, 0.55);
    @include modifier('status') {
      display: block;
      color: $main-green-dark;
      font-size: 35px;
      text-align: center;
      transform: rotate(-30deg) translateY(170%) translateX(-5%);
    }
  }

  @include modifier('selected') {
    .reward__hover {
      display: none;
    }
    .reward__checkout {
      height: 155px;
      /*&.reward__checkout--with-shipping {
        height: 225px;
      }*/
    }
    .reward__info {
      border-bottom: 1px dashed $main-yellow-light;
    }
    .tooltip {
      display: none;
    }
    .error .tooltip {
      display: block;
    }
  }

  @include modifier('available') {
    cursor: pointer;
    .reward__hover {
      background: transparentize($main-yellow-dark, 0.20);
    }
  }

  @include modifier('all-gone') {
    .reward__hover {
      background: transparentize($main-grey-light-text, 0.1);
    }
  }
  textarea {
    resize: none;
  }
  .tooltip {
    display: none;
  }
}

.sidebar-reward-item {
  @extend .box;
  margin-bottom: 20px;
  font-size: 14px;
  color: $main-grey-light-text;
  position: relative
}

