/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$alt-cizgi-name: 'alt_cizgi';
$alt-cizgi-x: 302px;
$alt-cizgi-y: 0px;
$alt-cizgi-offset-x: -302px;
$alt-cizgi-offset-y: 0px;
$alt-cizgi-width: 279px;
$alt-cizgi-height: 19px;
$alt-cizgi-total-width: 581px;
$alt-cizgi-total-height: 344px;
$alt-cizgi-image: '../images/spritesheet.png';
$alt-cizgi: (302px, 0px, -302px, 0px, 279px, 19px, 581px, 344px, '../images/spritesheet.png', 'alt_cizgi', );
$durum-altin-icon-name: 'durum_altin_icon';
$durum-altin-icon-x: 452px;
$durum-altin-icon-y: 19px;
$durum-altin-icon-offset-x: -452px;
$durum-altin-icon-offset-y: -19px;
$durum-altin-icon-width: 30px;
$durum-altin-icon-height: 30px;
$durum-altin-icon-total-width: 581px;
$durum-altin-icon-total-height: 344px;
$durum-altin-icon-image: '../images/spritesheet.png';
$durum-altin-icon: (452px, 19px, -452px, -19px, 30px, 30px, 581px, 344px, '../images/spritesheet.png', 'durum_altin_icon', );
$durum-bilinmezlik-icon-name: 'durum_bilinmezlik_icon';
$durum-bilinmezlik-icon-x: 302px;
$durum-bilinmezlik-icon-y: 84px;
$durum-bilinmezlik-icon-offset-x: -302px;
$durum-bilinmezlik-icon-offset-y: -84px;
$durum-bilinmezlik-icon-width: 30px;
$durum-bilinmezlik-icon-height: 36px;
$durum-bilinmezlik-icon-total-width: 581px;
$durum-bilinmezlik-icon-total-height: 344px;
$durum-bilinmezlik-icon-image: '../images/spritesheet.png';
$durum-bilinmezlik-icon: (302px, 84px, -302px, -84px, 30px, 36px, 581px, 344px, '../images/spritesheet.png', 'durum_bilinmezlik_icon', );
$durum-sampiyon-icon-name: 'durum_sampiyon_icon';
$durum-sampiyon-icon-x: 332px;
$durum-sampiyon-icon-y: 84px;
$durum-sampiyon-icon-offset-x: -332px;
$durum-sampiyon-icon-offset-y: -84px;
$durum-sampiyon-icon-width: 30px;
$durum-sampiyon-icon-height: 36px;
$durum-sampiyon-icon-total-width: 581px;
$durum-sampiyon-icon-total-height: 344px;
$durum-sampiyon-icon-image: '../images/spritesheet.png';
$durum-sampiyon-icon: (332px, 84px, -332px, -84px, 30px, 36px, 581px, 344px, '../images/spritesheet.png', 'durum_sampiyon_icon', );
$durum-uzgun-yuz-icon-name: 'durum_uzgun_yuz_icon';
$durum-uzgun-yuz-icon-x: 482px;
$durum-uzgun-yuz-icon-y: 19px;
$durum-uzgun-yuz-icon-offset-x: -482px;
$durum-uzgun-yuz-icon-offset-y: -19px;
$durum-uzgun-yuz-icon-width: 24px;
$durum-uzgun-yuz-icon-height: 24px;
$durum-uzgun-yuz-icon-total-width: 581px;
$durum-uzgun-yuz-icon-total-height: 344px;
$durum-uzgun-yuz-icon-image: '../images/spritesheet.png';
$durum-uzgun-yuz-icon: (482px, 19px, -482px, -19px, 24px, 24px, 581px, 344px, '../images/spritesheet.png', 'durum_uzgun_yuz_icon', );
$icon-circle-fb-name: 'icon_circle_fb';
$icon-circle-fb-x: 417px;
$icon-circle-fb-y: 19px;
$icon-circle-fb-offset-x: -417px;
$icon-circle-fb-offset-y: -19px;
$icon-circle-fb-width: 35px;
$icon-circle-fb-height: 35px;
$icon-circle-fb-total-width: 581px;
$icon-circle-fb-total-height: 344px;
$icon-circle-fb-image: '../images/spritesheet.png';
$icon-circle-fb: (417px, 19px, -417px, -19px, 35px, 35px, 581px, 344px, '../images/spritesheet.png', 'icon_circle_fb', );
$info-name: 'info';
$info-x: 362px;
$info-y: 84px;
$info-offset-x: -362px;
$info-offset-y: -84px;
$info-width: 8px;
$info-height: 28px;
$info-total-width: 581px;
$info-total-height: 344px;
$info-image: '../images/spritesheet.png';
$info: (362px, 84px, -362px, -84px, 8px, 28px, 581px, 344px, '../images/spritesheet.png', 'info', );
$love-name: 'love';
$love-x: 523px;
$love-y: 19px;
$love-offset-x: -523px;
$love-offset-y: -19px;
$love-width: 20px;
$love-height: 17px;
$love-total-width: 581px;
$love-total-height: 344px;
$love-image: '../images/spritesheet.png';
$love: (523px, 19px, -523px, -19px, 20px, 17px, 581px, 344px, '../images/spritesheet.png', 'love', );
$poligon-name: 'poligon';
$poligon-x: 0px;
$poligon-y: 0px;
$poligon-offset-x: 0px;
$poligon-offset-y: 0px;
$poligon-width: 184px;
$poligon-height: 344px;
$poligon-total-width: 581px;
$poligon-total-height: 344px;
$poligon-image: '../images/spritesheet.png';
$poligon: (0px, 0px, 0px, 0px, 184px, 344px, 581px, 344px, '../images/spritesheet.png', 'poligon', );
$popup-info-name: 'popup_info';
$popup-info-x: 367px;
$popup-info-y: 19px;
$popup-info-offset-x: -367px;
$popup-info-offset-y: -19px;
$popup-info-width: 50px;
$popup-info-height: 50px;
$popup-info-total-width: 581px;
$popup-info-total-height: 344px;
$popup-info-image: '../images/spritesheet.png';
$popup-info: (367px, 19px, -367px, -19px, 50px, 50px, 581px, 344px, '../images/spritesheet.png', 'popup_info', );
$popup-message-name: 'popup_message';
$popup-message-x: 302px;
$popup-message-y: 19px;
$popup-message-offset-x: -302px;
$popup-message-offset-y: -19px;
$popup-message-width: 65px;
$popup-message-height: 65px;
$popup-message-total-width: 581px;
$popup-message-total-height: 344px;
$popup-message-image: '../images/spritesheet.png';
$popup-message: (302px, 19px, -302px, -19px, 65px, 65px, 581px, 344px, '../images/spritesheet.png', 'popup_message', );
$upload-photo-name: 'upload_photo';
$upload-photo-x: 184px;
$upload-photo-y: 0px;
$upload-photo-offset-x: -184px;
$upload-photo-offset-y: 0px;
$upload-photo-width: 118px;
$upload-photo-height: 122px;
$upload-photo-total-width: 581px;
$upload-photo-total-height: 344px;
$upload-photo-image: '../images/spritesheet.png';
$upload-photo: (184px, 0px, -184px, 0px, 118px, 122px, 581px, 344px, '../images/spritesheet.png', 'upload_photo', );
$yer-name: 'yer';
$yer-x: 506px;
$yer-y: 19px;
$yer-offset-x: -506px;
$yer-offset-y: -19px;
$yer-width: 17px;
$yer-height: 24px;
$yer-total-width: 581px;
$yer-total-height: 344px;
$yer-image: '../images/spritesheet.png';
$yer: (506px, 19px, -506px, -19px, 17px, 24px, 581px, 344px, '../images/spritesheet.png', 'yer', );
$spritesheet-width: 581px;
$spritesheet-height: 344px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($alt-cizgi, $durum-altin-icon, $durum-bilinmezlik-icon, $durum-sampiyon-icon, $durum-uzgun-yuz-icon, $icon-circle-fb, $info, $love, $poligon, $popup-info, $popup-message, $upload-photo, $yer, );
$spritesheet: (581px, 344px, '../images/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
