.video-player.player:hover {
  cursor: pointer;
  .play-button {
    border-color: $main-yellow-dark;
    svg path {
      fill: $main-yellow-dark;
    }
  }
}

.player-controls .player-time+.player-time::before {
  content: '/';
}

.play-button {
  width: 56px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  height: 56px;
  cursor: pointer;
  z-index: 3;
  background-image: url(/images/play.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  &:focus, &:active {
    outline: 0;
  }
}

.player-video-wrapper {
  height: 100%;
}
.player-controls { //Hide controls before playing
  display: none;
}
.player-video-wrapper { //Hide video before playing
  display: none;
}

.has_played {
  .player-controls { //Hide controls before playing
    display: block !important;
  }
  .player-video-wrapper { //Hide video before playing
    display: block !important;
  }
  img {
    display: none !important;
  }
}

.player-fullscreen .player-controls, .player.fullscreen-active .player-controls {
  position: absolute;
  bottom: -5px !important;
  left: 0;
  right: 0;
}

.player-controls .player-time+.player-time::before {
  content: '/' !important;
  margin-right: 10px;
}
