$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/*
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext);
*/

@font-face {
  font-family: 'turkcellsaturaregregular';
  src: url('../fonts/TurkcellSaturaReg.eot');
  src: url('../fonts/TurkcellSaturaReg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TurkcellSaturaReg.woff2') format('woff2'),
  url('../fonts/TurkcellSaturaReg.woff') format('woff'),
  url('../fonts/TurkcellSaturaReg.ttf') format('truetype'),
  url('../fonts/TurkcellSaturaReg.svg#turkcellsaturaregregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/plyr/src/sass/plyr.scss";
// endbower

@import "helpers";
@import "media_queries";
@import "colors_and_typography";
@import "sprites";
@import "buttons";
@import "forms";
@import "default";
@import "mob/_header";
@import "mob/_footer";
@import "rewards";
@import "projects";
@import "project_detail";
@import "pledge";
@import "project_list";
@import "dashboard";
@import "about";
@import "video_player";
@import "partners";
@import "revizyon";
@import "corp";

@import "extra";
@import "smart-app-banner";

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}


div#mainCarousel.carousel.slide, div#projectsHome.row, div.carousel-inner, div.col-xs-12, div.col-xs-4, div.col-xs-4.walkthrough__how-it-works--wrapper, div.col-xs-6, div.col-xs-9, h3.green-dark.motto-sub.pr10.text-right.fwbold, p.plr40.ptb50.white.m0.walkthrough__bWrapper--text, p.plr50.ptb80.white.m0.walkthrough__bWrapper--text, section#walkthrough.bg-white.pt60, section.bg-white.ptb40.mt40, ul.primary-menu {
  width: 97% !important;
  max-width: 97% !important;
  min-width: 97% !important;
  margin: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  float: none !important
}

.container {
  width: 95% !important;
  max-width: 95% !important;
  min-width: 95% !important;
  margin: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  float: none !important
}

html, body {
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  margin: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  float: none !important
}

a.walkthrough__bWrapper.block.hover-group, div.carousel-inner div img, div.full-width, div.row, div.row.relative.mb20, div.walkthrough__bWrapper.hover-zoomout, h3.carousel-title, h3.green-dark.motto.text-center.italic, nav.pull-right.border-right, p.carousel-text, section.bg-grey-light.ptb70, section.bg-white.pt40.pb80 {
  width: 100% !important;
  min-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block;
  border-left: 0;
  border-right: 0;
  float: none !important
}

div.item, div.item.active {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  border-left: 0;
  border-right: 0;
  float: none;
}

.btn--x-large {
  font-size: 15px;
  padding: 13px 19px;
  opacity: 1;
  font-weight: bold;
}

.full-width {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
}

.left0 {
  left: 0 !important;
}

.carousel-control.right {
  right: 0;
}
.left.carousel-control {
  left: 0;
}

//main .NS_projects.yellow-bg-gradient{
//  height: 300px;
//  width: 100%;
//}

#creditCardsNew main, header nav.pull-right.border-right {
  margin-bottom: 0!important
}

main {
  display: inline;
  margin-bottom: 100px
}

.img-responsive, .site-logo, main {
  width:100%
}
//#mainCarousel, .NS_projects .carousel .item, .carousel-inner, main {
//  height:300px
//}

.project-context {
  height:auto;
  padding-bottom:0
}
.container {
  overflow:hidden
}

.project-context .col-xs-9{
  text-align:center
}

.pull-right-mob {
  width: auto;
}

p {
  font-size: 14px;
  font-weight: 400;
  height: inherit;
  line-height: 1.6;
  padding: 5px 0;
}

.site-logo {
  display:table;
  margin:0;
  font-size:100%;
  vertical-align:baseline;
  position:relative;
  text-align:center
}


// input with national
div.intl-tel-input{
  width: 100% !important;
  margin-top: 10px;
  //height: 51px;
}
.iti-flag {background-image: url("../images/flags.png");}

.intl-tel-input .country-list
{
  .country-name {
    font-size: 16px;
  }
  .country {
    .dial-code {
      font-size: 16px;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("../images/flags@2x.png");}
}

.rev-button-hover{
  opacity:1 !important;
}

body{
  min-width: auto !important;
}


.NS_projects__hero-funding .video-player {
  height: auto !important;
}



ul.login-tab {
   margin-top: 50px;
   text-align: center;
   li {
     display: inline-block;
     font-size:18px;
     font-weight: 700;
     padding: 0 5px;
     a {
       color: #d2d2d2;
     }
     &.active {
       a {
         color: $main-yellow-dark;
       }
     }
   }
 }