$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/*
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext);
*/

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Medium.woff2') format('woff2'),
  url('../fonts/GreycliffCF-Medium.woff') format('woff'),
  url('../fonts/GreycliffCF-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Heavy.woff2') format('woff2'),
  url('../fonts/GreycliffCF-Heavy.woff') format('woff'),
  url('../fonts/GreycliffCF-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Bold.woff2') format('woff2'),
  url('../fonts/GreycliffCF-Bold.woff') format('woff'),
  url('../fonts/GreycliffCF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF Demi';
  src: url('../fonts/GreycliffCF-DemiBold.woff2') format('woff2'),
  url('../fonts/GreycliffCF-DemiBold.woff') format('woff'),
  url('../fonts/GreycliffCF-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Greycliff CF';
  src: url('../fonts/GreycliffCF-Light.woff2') format('woff2'),
  url('../fonts/GreycliffCF-Light.woff') format('woff'),
  url('../fonts/GreycliffCF-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body, header,footer, main {
  font-family: 'Greycliff CF' !important;
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/plyr/src/sass/plyr.scss";
// endbower

/*Non-respensive*/
.container {
  max-width: none !important;
  width: 1040px !important;
}
@import "helpers";
@import "media_queries";
@import "colors_and_typography";
@import "sprites";
@import "buttons";
@import "forms";
@import "default";
@import "header";
@import "footer";
@import "rewards";
@import "projects";
@import "project_detail";
@import "pledge";
@import "project_list";
@import "dashboard";
@import "about";
@import "video_player";
@import "partners";
@import "revizyon";
@import "corp";

@import "extra";
@import "smart-app-banner";

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}

p {
  font-weight: 300;
}


ul.login-tab {
  text-align: center;
  li {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 0 30px;
    a {
      color: #d2d2d2;
    }
    &.active {
      a {
        color: $main-yellow-dark;
      }
    }
  }
}


.avatars {
  position: relative;
  display: block;
  .avatar {
    position: relative;
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
    display: inline-block;
    cursor: pointer;
    .selected-layer {
      position: absolute;
      background: rgba(0,0,0,0.7);
      color: #fff;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      display: flex;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
      -webkit-transition: all 800ms;
      -moz-transition: all 800ms;
      -ms-transition: all 800ms;
      -o-transition: all 800ms;
      transition: all 800ms;
    }
    img {
      width: 100%;
      height: 75px;
      margin-bottom: 10px;
    }
    input {
      display: none;
    }
    &.selected {
      .selected-layer {
        opacity: 1;
      }
    }
    &:hover {
      .selected-layer {
        opacity: 1;
      }
    }
  }
}