.mega-footer-mobile {
  @include element('content') {
  }
  //  border-top: dashed 1px #2bde73;
  font-size: 10px;

  @include element('links-header') {
    @extend .yellow-bg-gradient;
    padding: 0 3% 0 3%;
    height: 40px;
    h3 {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      margin-top: 12px;
    }
  }
  .header-calculator {
    width: 35%;
  }
  @include element('footer-gray') {
    background-color: #ffc601;
    padding: 20px 3% 0 3%;
  }
  @include element('links') {
    padding-bottom: 20px;
    padding-top: 5px;
    display: inline-block;
  }
  @include element('bottom') {
    padding: 40px 0;
  }
  @include element('header') {
    color: #000 !important;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1em;
    display: inline-block;
  }
  @include element('header-link') {
    color: $main-grey-dark-text;
    &:hover {
      color: $main-grey-dark-text;
    }
  }
  @include element('link') {
    color: #676767;
    font-size: 10px;
    font-weight: bold;
    margin: 5px 0 !important;
    display: block;
    &:hover, &:active, &:focus {
      color: darken(#676767, 35);
    }
  }
  @include element('links-list') {
    display: inline-block;
    vertical-align: text-top;
    li {
      height: 18px;
    }
  }
  .list-calculator {
    width: 50%;
  }
  .list-calculator-strain {
    width: 26%;
  }
  #container-newsletter {
    display: inline-block;
    vertical-align: text-top;
    width: 100%;
  }
  #info-newsletter {
    font-size: 17px;
    font-weight: bold;
    color: #000;
  }
}

.footer-logo {
  margin-top: 110px;
  color: $main-green-dark;
  font-size: 34px;
  text-decoration: none !important;
  font-weight: 700;
  letter-spacing: 3px;
  display: block;
  &:hover, &:active, &:focus {
    color: $white;
  }

}

.mega-footer-bottom {
  width: 100%;
  padding: 10px 0;
  background: #fff;
  font-size: 14px;
  display: block;
  height: 60px;
  p {
    padding: 20px 0;
  }
}

#container-newsletter {
  overflow: auto;
  margin-top: 15px;
  #form-newsletter {
    position: relative;
    width: 100%;
    input {
      border: 0;
      height: 34px;
      width: 100%;
      font-size: 12px;
      padding-left: 8px;
      background: #fff;
      border-radius: 4px;
    }
    button {
      height: 29px;
      background: #ffc801;
      border: 0;
      font-size: 12px;
      color: #fff;
      font-weight: bold;
      border-radius: 4px;
      position: absolute;
      right: 3px;
      top: 0;
      bottom: 0;
      left: auto;
      margin: auto;
    }
  }
}

#footer-social-links {
  float: right;
  a {
    width: 23px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  a:last-of-type {
    margin-right: 0;
  }
}




