header {
  position: relative;
  z-index: 2;
  margin-top: 17px;
}

.site-logo {
  display: table;
  margin: 0 auto;
  height: 46px;
  width: calc(100% - 100px);
  a {
    left: -10px;
    position: relative;
    display: inline-block;

  }
  svg {
    height: 42px;
    width: 140px;
  }
}

.hamburger-wrapper {
  width: 35px;
  margin: 0 20px 0 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  float: right;
  z-index: 99999;
  position: absolute;
  left: 15px;
  top: 0;
}

.hamburger {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.hamburger-line {
  background-color: #ffb901;
  height: 4px;
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#link-lang {
  position: absolute;
  top: 7px;
  height: 20px;
  right: 10px;
  left: auto;
  width: 20px;
  margin: 0;
  text-align: center;
  color: $main-yellow-dark;
}

#link-user-avatar {
  position: absolute;
  top: 1px;
  height: 20px;
  right: 54px;
  left: auto;
  width: 20px;
  margin: 0;
}

.primary-menu {
  margin-left: 10px;
  margin-bottom: 0;
}

.primary-menu-link,.logged-out-link {
  display: inline-block;
  float: left;
  max-height: 79px;
}

.primary-menu-link a,.logged-out-link a {
  color: $main-grey-light-text;
  padding: 0 30px 0;
  display: inline-block;
  font-size: 17px;
  height: 79px;
  line-height: 79px;
  font-weight: bold;
  overflow: hidden;
}

.primary-menu-link a:hover,.logged-out-link a:hover {
  background-color: $main-grey-light-bg;
}

.user-menu {
  a {
    background-color: #ebebeb;
  }
}

.nav-user-name {
  height: 100% !important;
  padding: 0 30px;
}

.show-drop-down-menu {

  .drop-down-menu {
    top: 77px;
    right: 27px;
  }
  &:hover .drop-down-menu {
    visibility: visible !important;
    opacity: 1 !important;
  }
}

a.panel-body {
  display: block;
  padding: 10px;
  height: auto;
  float: none;
  line-height: 1.44;
  color: $main-grey-light-text;
  border-bottom: 1px solid #f3f3f3;
  font-weight: 400;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    padding-left: 15px;
  }
}

.tooltip-top-right:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 14px;
  bottom: auto;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom-color: $white;
}


.drop-down-menu {
  position: absolute;
  z-index: -1;
  top: 62px;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  min-width: 210px;
  border-top: none !important;
  box-shadow: 0 0 4px rgba(130,133,135,.2)!important;
  line-height: normal;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  transition: all 0.22s linear;
  background: #fff;
  li {
    height: 40px;
  }
  a {
    display: block;
    font-size: 16px;
    height: 100%;
    padding: 10px 0 0 24px;
    color: $main-grey-dark-text;
  }
}

.drop-down-menu.visible {
  opacity: 1;
  height: auto;
  z-index: 6;
}


.logged-out-link {
  color: $main-yellow-dark;
  display: inline-block
}

//Search Tool

.nav-livesearch {
  border: 1px solid lighten($main-grey-light-text, 35);
  width: 420px;
  float: right;
  border-top: none;
  color: $main-grey-light-text;
  display: block;
  height: 36px;
  padding: 0 30px 0 10px;
  position: relative;
  overflow: visible;
}

.search-list li {
  border-bottom: 1px solid lighten($main-yellow-light, 30);
  &:last-child {
    border-bottom: none !important;
  }
}

@media (max-width: 768px) {
  .nav-livesearch {
    display:none
  }
}

.nav-livesearch .nav-livesearch-input[type="text"] {
  border: 0;
  font-size: 14px;
  font-weight: bold;
  margin-left: 30px;
  height: 35px;
  line-height: 35px;
  padding: 0 5px;
  width: 100%
}

.nav-livesearch .nav-livesearch-input[type="text"]:focus {
  box-shadow: none;
  outline: 0
}

.nav-livesearch .tsr-icon__search {
  position: absolute;
  margin-right: 5px;
  top: 11px;
  font-size: 17px
}

.nav-livesearch .loader-small {
  left: 28px;
  position: absolute;
  top: 22px
}

.livesearch-wrap {
  background-color: #f7fafa;
  border-bottom: solid 1px #d9d9de;
  margin-top: -1px;
  padding: 40px 0
}

.livesearch-container {
  margin: 0 auto;
  position: relative;
  width: 960px
}

.livesearch-container .close {
  color: #828587;
  cursor: pointer;
  font-size: 14px;
  margin-right: 7px
}

.livesearch-container .close:hover {
  color: #0f2105
}

.livesearch-container .arrow {
  color: #828587;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 240px
}

.livesearch-container .arrow.disabled {
  display: none
}

.livesearch-container .arrow.prev {
  left: -40px
}

.livesearch-container .arrow.next {
  right: -40px
}

.livesearch-header {
  margin-bottom: 20px;
  margin-left: 10px
}

.livesearch-results {
  overflow: hidden
}

.livesearch-list {
  overflow: hidden;
  width: 100000px;
  margin: 0
}

.livesearch-list .livesearch-result {
  margin-left: 10px;
  margin-right: 10px;
  width: 220px
}

.livesearch-result-see-more {
  border-radius: 6px;
  background-color: #d9d9de;
  height: 418px;
  line-height: 418px;
  text-align: center
}

.site-nav {
  .avatar {
    @include circle(40px);
    display: block;
    img {
      @include circle(40px);
    }
  }
}

.menu {
  li {
    float: left;
    height: 100%;
    padding: 0;
    border-left: 1px solid lighten($main-grey-light-text, 35);
    &:first-child {
      border-left: none;
    }
    a {
      display: block;
      &:hover, &active, &:focus {
        background: $main-grey-light-bg;
        /*border-bottom: 1px solid lighten($main-grey-light-text, 35);*/
      }
    }
  }
  .tab-expand {
    color: $main-grey-light-text;
    display: block;
    height: 60px;
    padding: 11px 25px;
    outline: 0;
    z-index: 1001;
  }
}

.avatar-circle-small {
  @include circle(40px);
  display: block;
}
