<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Digital Turkcell</title>
    <meta name="description" content="Arıkovanı en yenlikçi projeleri destekleyebileceğin ya da geliştirdiğin teknoloji projesinin hataya geçebilmesi için ihtiyaç duyduğun kaynağa toplum desteğiyle ulaşmak için kullanabileceğin bir platformdur." />
    <meta name="keywords" content="" />
    <meta name="title" content="Hakkımızda" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <div th:replace="index :: header"></div>

    <main role="main">

      <div id="mainContent" itemscope>
        <div id="contentWrap">
          <section class="NS_projects__hero-funding bg-white">
            <div class="container">
              <div class="row">
                <div id="leftPane"  class="col-xs-3">
                  <aside id="about-sidebar" class="NS_dashboard__admin-sidebar p25 mb40 full-width">
                    <h2 class="h3" th:text="${contentStrings.arikovaniinfopagetabheader}">Nedir?</h2>
                    <ul class="sidebar-list mb15" role="tablist">
                      <li class="sidebar-list__item active">
                        <a aria-controls="hakkimizda" data-toggle="tab" href="#hakkimizda" th:text="${contentStrings.arikovaniinfopagetababoutustitle}">Hakkımızda</a>
                      </li>
                      <!--<li class="sidebar-list__item">
                        <a aria-controls="nasil-calisir" data-toggle="tab" href="#nasil-calisir">Nasıl Çalışır</a>
                      </li>-->
                      <li class="sidebar-list__item">
                        <a aria-controls="kurallarimiz" data-toggle="tab" href="#kurallarimiz" th:text="${contentStrings.arikovaniinfopagetabrulestitle}">Kurallarımız</a>
                      </li>
                      <li class="sidebar-list__item">
                        <a aria-controls="kullanim-sartlari" data-toggle="tab" href="#kullanim-sartlari" th:text="${contentStrings.arikovaniinfopagetabtermsofservicestitle}">Kullanım Şartları</a>
                      </li>
                     <!-- <li class="sidebar-list__item">
                        <a aria-controls="gizlilik-politikasi" data-toggle="tab" href="#gizlilik-politikasi">Gizlilik Politikası</a>
                      </li>-->
                      <li class="sidebar-list__item">
                        <a class="no-border" aria-controls="guven-ve-emniyet" data-toggle="tab" href="#guven-ve-emniyet" th:text="${contentStrings.arikovaniinfopagetabtrustandsafetytitle}">Güven ve Emniyet</a>
                      </li>
                      <li class="sidebar-list__item">
                        <h2 class="h3 mb0"><a aria-controls="sss" data-toggle="tab" href="#sss" th:text="${contentStrings.chechkoutpageapprovebuttontext}">Sık Sorulanlar</a></h2>
                      </li>
                      <li class="sidebar-list__item">
                        <h2 class="h3 sidebar-list__item mt0"><a class="no-border mb30" aria-controls="iletisim" data-toggle="tab" href="#iletisim" th:text="${contentStrings.arikovaniinfopagetabcommunicationtitle}">İletişim</a></h2>
                      </li>
                    </ul>
                  </aside>
                </div>
                <div class="col-xs-9 tab-content">
                  <section class="tab-pane fade in active ptb30" id="hakkimizda" role="tabpanel" th:utext="${contentStrings.aboutushtml}">
                    <h3 class="green-dark fwnormal mb30" th:text="${contentStrings.arikovaniinfopagetababoutustitle}">Hakkımızda</h3>
                    <div class="content">
                      <p>ARIKOVANI, EN YENİLİKÇİ PROJELERİ DESTEKLEYEBİLECEĞİN YA DA GELİŞTİRDİĞİN TEKNOLOJİ PROJESİNİN HAYATA GEÇEBİLMESİ İÇİN İHTİYAÇ DUYDUĞUN KAYNAĞA TOPLUM DESTEĞİ İLE ULAŞMAK İÇİN KULLANABİLECEĞİN BİR PLATFORMDUR. TÜRKİYE’NİN TEKNOLOJİK GELİŞİMİNE VE SORUNLARINA YENİLİKÇİ ÇÖZÜMLER ÜRETEN YENİ GİRİŞİMLERİNE KATKI SAĞLAMAYI HEDEFLEYEN BİR SOSYAL GİRİŞİMDİR.</p>
                      <h4>Toplumsal Kaynak Yaratma Nedir?</h4>

                      <p>Girişimin için ihtiyaç duyduğun kaynağa belirli bir kişinin ya da grubun yatırımı ile değil birbiriyle bağlantısı olmayan birçok kişinin irili ufaklı desteği ile ulaşmanı sağlayan imece benzeri bir dayanışma yoludur. Ashoka.</p>

                      <p>Eğer ihtiyacın olan kaynağı bir kişi, birkaç kurum veya kuruluşun kararını beklemek yerine projene ilgi duyacak bir insan topluluğundan elde etmeyi tercih ediyorsan, Arıkovanı projeni hayata geçirmen için en kolay ve güvenli ortamı sana sunuyor.</p>

                      <h4>Toplumsal Düşünme Nedir?</h4>

                      <p>Arıkovanı’na eklediğin projeler kaynak yaratmadan önce toplumsal değerlendirme evresine girer. Bu evrede Arıkovanı topluluğu projeleri değerlendirir. Girişimci aldığı geri bildirimler ile projesini ve ödüllerini güncelleyebilir.</p>


                      <h4>Arıkovanı neden bir sosyal girişim?</h4>

                      <p>Sosyal girişimler toplumun önde gelen sorunlarına yenilikçi çözümler getirirler. Tıpkı ticari girişimciler gibi yaklaşımlarında sorun ve fırsatları fark etme, doğru değerlendirme, risk alma ve yenilikçi yollarla çözümleme yollarına gider; kendilerini söz konusu sosyal sorunun çözümüne adarlar. Ashoka.</p>

                      <p>Arıkovanı da Türkiye’nin teknolojik gelişimine katkı sağlayacak girişimcilerin önündeki engelleri görüyor ve en büyük engellerden biri olan kaynak bulmada onlara yardımcı olacak bir platform olmayı hayal ediyor. Bu kapsamda girişimcilerle onların projelerine ilgi duyacak destekçileri bir araya getirmenin yanında onlara Türkiye’nin ve dünyanın önde gelen şirketlerinden hisse talep etmeden destek sağlıyor. Aynı zamanda da platform üzerinden sağlanan fonlardan katkı payı, komisyon ve hizmet ücreti gibi ücretler asla talep etmiyor.</p>

                      <p>Sosyal girişimcilerin bir diğer ortak yaklaşımı, ele aldıkları alanlarda benzer vakaları tek tek düzeltmektense toptan değişim yaratmaları, çözümlerini yaygınlaştırarak uzun vadede sorunun ortadan kaldırılmasını hedeflemeleridir. Ashoka.</p>

                      <p>Arıkovanı’nın da amacı kitlesel fonlamanın Türkiye’de yaygınlaşarak bir kültür haline gelmesi; yenilikçi bir fikri olan her girişimcinin kaynak yaratma kaygısı duymadan çalışmalarına odaklanması.</p>

                      <p>Arıkovanı’nın bu hayalinin önündeki engeli kaldıran kurumlar ise Turkcell ve YGA.</p>

                    </div>
                  </section>
                  <section class="tab-pane fade in ptb30" id="nasil-calisir" role="tabpanel">
                    <h3 class="green-dark fwnormal mb30">Nasıl Çalışır</h3>
                    <div class="content">2</div>
                  </section>
                  <section class="tab-pane fade in ptb30" id="kurallarimiz" role="tabpanel" th:utext="${contentStrings.ruleshtml}">
                    <h3 class="green-dark fwnormal mb30" th:text="${contentStrings.arikovaniinfopagetabrulestitle}">Kurallarımız</h3>
                    <div class="content">
                      <p><strong>Arıkovanı</strong>, platformda güven ortamını sağlamak ve sürdürebilmek için birçok kurala sahiptir.
                        Uyulması gereken kurallar hakkında daha fazla bilgilenmek için Kullanım Koşullarını
                        inceleyebilirsin. Burada uyman gereken kurallardan on tanesini görebilirsin.</p>
                      <p>1) Arıkovanı’ da yalnızca teknoloji ve inovasyon odaklı projenin kampanyasını başlatabilirsin.</p>
                      <p>2) Arıkovanı’ da kampanyaya açtığın projenin fikri sana ait olup, projeni sen yaratmalısın. Telif
                        hakları olan veya patent sahibi ürünleri izinsiz kopyalayarak Arıkovanı’nda kampanya
                        başlatamazsın.</p>
                      <p>3) Arıkovanı sadece para kazanma yeri ya da toplanan fonların karşılıksız hibe edildiği bir yer
                        değildir. Toplanan fonlar karşılığında vermiş olduğun hediye ve ödül sözlerini yerine
                        getirmelisin.</p>
                      <p>4) Arıkovanı platformu e-ticaret sitesi değildir. Desteğini, projenin hayata geçmesi için
                        verirsin. Projelerde gecikmeler, aksaklılar hatta tamamlanamama durumları yaşanabilir, bunları
                        bilerek destekte bulunmalısın.</p>
                      <p>5) Proje sahipleri alkol, kumar, ateşli silah ve diğer yasaklı içerikleri olan hediye ve ödüller
                        veremezler.</p>
                      <p>6) Proje sahipleri, projelerine fon toplamak amacıyla hisse, geri ödeme veya diğer finansal
                        önerilerde bulunamazlar.</p>
                      <p>7) Kampanyaya sunmak istediğin projenin planlarını iyi hazırlamış olmalısın. Projen için gerekli
                        olan fon miktarını gerçekçi belirlemeli, topladıktan sonra en iyi şekilde kullanmalısın.</p>
                      <p>8) Kampanyanda doğru olmayan hiçbir içerik yayınlamamalısın. Abartı hediyelerle kişileri yanlış
                        yönlendirmemelisin. Proje destekçilerine karşı her zaman açık ve samimi olmalısın.</p>
                      <p>9) Projen, kampanya tanıtımın, belirlediğin hediyelerin ve ödüllerin, hatta takımın ve senin
                        hakkında saygı çerçevesi içerisinde yapılan eleştiriler karşısında tepkiler vermemelisin.</p>
                      Eleştirileri dinleyerek yapacağın geliştirmeler sayesinde projeni daha iyi noktaya getirmelisin.
                      <p>10) Arıkovanı prototipini üretmiş olan projelere kampanya başlatmaktadır. Yani, kampanyanı
                        başlatmadan önce prototipini üretmiş olmalısın.</p>
                    </div>
                  </section>
                  <section class="tab-pane fade in ptb30" id="kullanim-sartlari" role="tabpanel" th:utext="${contentStrings.termsandconditionshtml}">
                    <h3 class="green-dark fwnormal mb30" th:text="${contentStrings.arikovaniinfopagetabtermsofservicestitle}">Kullanım Şartları</h3>
                    <div class="content">
                      <h4>Kullanım Şartları Kabulü</h4>
                      <p>- Arıkovanı tarafından belirlenen kullanım şartları, Arıkovanı’nın servislerini ve hizmetlerini en
                        iyi şekilde yönetebilmesi için gereklidir. Arıkovanı’nı kullanmaya başladığın andan itibaren
                        kullanım şartlarının tümünü kabul etmiş sayılırsın. Arıkovanı gerekli gördüğü zamanlarda kullanım
                        şartlarını güncelleyebilir. Arıkovanı güncelleme yaptığı takdirde geriye doğru işlem yapmaz.
                        Kullanım şartlarında yaşanan herhangi bir güncellemede, Arıkovanı seni mail yoluyla bilgilendirir.
                        Güncellemelerden sonra, Arıkovanı’nın servislerini ve hizmetlerini kullanmaya devam edersen yeni
                        şartları da kabul etmiş sayılırsın.</p>
                      <h4>Üyelik Hesabı Açma ve Uygunluk</h4>
                      <p>- Arıkovanı’nda herhangi bir üyelik açmadan projeleri araştırabilir, proje sayfalarında daha
                        detaylı bilgilere ulaşabilirsin. Ancak, Arıkovanı’na üye olmak istediğin takdirde 18 yaşında büyük
                        olmalısın. Eğer, 13 ile 17 yaş arasındaysan seni gözlemleyebilecek ebeveynlerinle veya 18 yaşından
                        büyük vasin ile birlikte servisleri ve hizmetleri kullanabilirsin. Açmış olduğun Arıkovanı
                        hesabının tüm etkinliklerinden ve şifrenin gizliliğinden sen sorumlusun. Hesabının herhangi bir
                        iznin olmadığı halde kullanıldığını düşünüyorsan bunu bize bildirmelisin.</p>
                      <h4>Servisin Ve Tanımlamaların Açıklaması</h4>
                      <p>- Arıkovanı online olarak projelerin fonlandığı bir sitedir. Proje sahipleri projelerini fonlayan
                        proje bağışçılarına bağışları karşılığında hediyeler vermektedir. Arıkovanı projelerin içerisinde
                        yer almaz, tamamlanmaları konusunda kefil olmaz veya hediyelerin teslimatı için herhangi bir
                        tedarik işiyle ilgilenmez. Arıkovanı kullanıcıları risklerin farkında olarak platformu
                        kullanmalıdırlar.</p>
                      <p>- Kampanya: Arıkovanı’nda fonlanmaya sunulan proje.</p>
                      <p>- Proje Sahibi: Arıkovanı’nda projesini fonlamaya sunan kişi.</p>
                      <p>- Proje bağışçısı/destekçisi: Arıkovanı’nda fonlanmaya açılmış olan projelere bağış yapan kişi.</p>
                      <p>- Bağış: Proje bağışçısının projeye yapmış olduğu maddi katkı.</p>
                      <p>- Kullanıcı: Arıkovanı’na üye olan tüm kişiler.(Proje sahibi, proje destekçisi vb.)</p>
                      <h4>Yasaklanan Faaliyetler</h4>
                      <p>- İllegal faaliyet bulunduran, kişilerin varlıklarını ve hürriyetlerini kısıtlayan, veya buna
                        benzer akla gelebilecek yasal olmayan durumlar barındıran hiçbir proje fonlanmaya sunulamaz.</p>
                      <p>- Proje sahiplerinin proje bağışçılarına verdikleri hediyelerin:</p>
                      <p>Alkol içeren ürünler,</p>
                      <p>Kumar, bahis veya piyango,</p>
                      <p>Finansal karşılıklar,</p>
                      <p>Uyuşturucu gibi yasaklı maddeler,</p>
                      <p>Silah veya benzeri,</p>
                      <p>İle ilgisi olamaz.</p>
                      <p>- Diğer kişilerin haklarını, kuralları ihlal edemezsiniz.</p>
                      <p>- İnsanlara yanlış olduğunu bildiğiniz bilgiler veremezsiniz, aldatıcı davranışlarda
                        bulunamazsınız.</p>
                      <p>- Arıkovanı’nı kullanırken, özellikle eğer proje sahibiyseniz, proje destekçilerinin isim, mail
                        adresi veya ev adresleri gibi bilgilere ulaşabilirsiniz. Proje destekçilerinden aldığınız kişisel
                        bilgileri kötüye kullanamazsınız.</p>
                      <p>- Virüs veya benzeri zarar verici unsurları Arıkovanı’nda yayamazsınız.</p>
                      <h4>Projeler Nasıl Çalışır?</h4>
                      <p>- Projeler fonlamaya açıldıktan sonra, projeye destek bulunup fonlama yapan proje bağışçısı
                        hediyesini seçtiğinde, proje sahibiyle arasında otomatik olarak anlaşma yapmış olur. Bu anlaşmaya
                        göre, proje başarıyla fonlandığı takdirde proje sahibi proje bağışçısına vaat etmiş olduğu
                        hediyesini ulaştırmak durumundadır. Anlaşmada Arıkovanı yer almamaktadır, anlaşma sadece proje
                        sahibi ve proje bağışçısı arasında olmaktadır.</p>
                      <p>- Anlaşmaya göre, proje sahibi projesini başarıya ulaştırıp hediyeyi proje bağışçısına ulaştırmak
                        için tüm imkanlarını, motivasyonunu, enerjisini kullanacağına dair söz vermiş olur.</p>
                      <p>- Projesini tamamlayamayacağını düşünen proje sahibi, projesinin fonlanması kapanmadıysa eğer,
                        fonlanmayı iptal edebilir.</p>
                      <p>- Fonlanması bitmiş olup, projesini bitiremeyecek olan proje sahipleri, projelerinin başarılı
                        olması için ne kadar emek harcadıklarını, toplanan fonları nasıl kullandıklarını, projenin neden
                        başarısızlıkla sonuçlandığının sebeplerini proje destekçilerine açıkça anlatmalıdırlar. Eğer,
                        hediyelerini ulaştırmadıkları proje destekçileri varsa, bağışlarını geri iade etmelidirler.
                        Herhangi bir hediye almamış veya fonu geri ödenmemiş proje destekçisi yasal yollara başvurma
                        hakkına sahiptir.</p>
                      <h4>Fonlama Sistemi</h4>
                      <p>- Proje bağışçısından bağış miktarı, projeyi desteklediği anda çekilir.</p>
                      <p>- Projeye yapmış olduğun bağış miktarını, fonlanmanın kapanmasına 24 saat kalana kadar, iptal
                        edebilir, azaltabilir ya da artırabilirsin. Projenin fonlanması kapandıktan sonra ise, bağış
                        miktarındaki değişiklikler için direkt olarak proje sahibi ile iletişime geçmelisin.</p>
                      <p>- Proje sahibinin teslimat tarihi kendisi tarafından verilen bir karardır. Arıkovanı teslimat
                        tarihi için proje bağışçılarına herhangi bir garanti vermemektedir.</p>
                      <p>- Proje sahibi projesi fonlandıktan sonra, proje destekçilerine, hediyeleri ulaştırmak adına ve
                        hediyelerle ilgili detayları almak için doldurulmak üzere form gönderebilir.</p>
                      <p>- Arıkovanı proje bağışçılarına, projeler başarısız olduğu takdirde bağışların geri ödenmesiyle
                        ilgili bir garanti vermemektedir. Projelerin başarısızlığından ve bağışların geri ödenmesinden
                        sorumlu olan proje sahibidir.</p>
                      <p>- Proje sahipleri, projelerinin fonlamasının ardından eğer projelerini iptal etmek isterlerse bunu
                        yapabilirler. Proje sahipleri projelerini iptal edip, proje destekçilerinden topladıkları tüm
                        fonları iade ettikleri takdirde, proje bağışçılarına karşı herhangi bir sorumluluğu kalmamaktadır.</p>
                      <p>- Arıkovanı fonlanan projelerden herhangi bir kesinti uygulamamaktadır.Sadece banka ve diğer ödeme
                        sistemlerinin işlemleri için bankaların aldıkları ücretler toplanan fonlardan kesilerek
                        girişimciye aktarılır.</p>

                      <h4>Fonlama Ücretleri</h4>
                      <p>- Arıkovanı fonlanmaya açılan hiçbir projeden maddi karşılık talep etmemektedir.</p>
                      <p>- Arıkovanı fonlanmaya açılmış olup, fonlanma hedefine ulaşamayıp başarısız olan hiçbir projeden
                        maddi karşılık beklememektedir.</p>
                      <p>- Arıkovanı fonlanması başarıyla gerçekleşen projelerden herhangi bir maddi talepte bulunmaz,
                        toplanan fonlara kesinti uygulamaz. Sadece banka ve diğer ödeme sistemlerinin işlemleri için
                        bankaların aldıkları ücretler toplanan fonlardan kesilerek girişimciye aktarılır.</p>
                      <h4>Diğer Web sitelerinin Linkleri</h4>
                      <p>- Arıkovanı platformunda diğer web sitelerinin linkleri yer alabilir, paylaşılabilir. Bu sitelere
                        linkler aracılığıyla ulaştığın takdirde Arıkovanı’nın kullanım koşullarının herhangi bir yaptırımı
                        kalmamaktadır. Diğer sitelere ulaştığın takdirde yaşayacağın problemlerden Arıkovanı sorumlu
                        değildir. Arıkovanı, linklerle ulaşacağın siteleri kontrol etmemekte veya onaylamamaktadır.</p>
                      <h4>Fikri Haklarınız</h4>
                      <p>- Arıkovanı’nda yayınladığın, paylaştığın her paylaşımın hakkını Arıkovanı’na karşılıksız olarak
                        yönetme hakkı verirsin. Arıkovanı paylaşmış olduğun içerikleri gerekli gördüğü her yerde tanıtım,
                        kampanya gibi faaliyetler için iznine gerek duymadan yayınlayabilir.</p>
                      <p>- Arıkovanı paylaşmış olduğun içeriklerinde gerekli gördüğü takdirde değişikler yapabilir, ve yeni
                        haliyle, gerekli gördüğü yerlerde kullanabilir.</p>
                      <p>- Arıkovanı’nda paylaşmış olduğun içeriklerinde veya projende herhangi bir lisanslı, telif hakkına
                        sahip materyalleri, izinlerini yetkili kişilerden almadıysan kullanamazsın.</p>
                      <p>- Arıkovanı da paylaşılan içeriklerdeki lisans ve telif haklarıyla ilgili yapılmış olan tüm
                        ihlallerden içerik sahibi sorumludur.</p>
                      <p>- Arıkovanı paylaşmış olduğun içerikleri gerekli gördüğü yerlerde kullandığı takdirde,
                        Arıkovanı’na bu paylaşımlar sonucunda lisans veya telif hakları ihlaliyle ilgili durumda
                        kalmayacağını taahhüt etmelisin.</p>
                      <h4>Arıkovanı’nın Fikri Hakları</h4>
                      <p>- Arıkovanı tüm servislerini kişisel kullanımları için tüm kullanıcılarına açmaktadır.
                        Kullanıcılar servisler üzerinde değişiklik, dönüştürme veya buna benzer eylemlerde bulunamazlar.</p>
                      <p>- Arıkovanı’nın lisanslı servislerini hiçbir kullanıcı satış, kiralama veya diğer ticari amaçlar
                        için kullanamaz. Ticari amaçları için servislerimizi kullanmak isteyen kullanıcılar Arıkovanı’ dan
                        izin almak zorundadırlar.</p>
                      <h4>Telif Hakları Sorunları</h4>
                      <p>- Arıkovanı Digital Millenium Copyright Act’ ın telif haklarıyla ilgili anlaşmasına mutabıktır.
                        Arıkovanı telif hakları ile ilgili sorunları DMCA’ in kurallarına uyarak çözmektedir.</p>
                      <p>- Kendi ürününün, eserinin veya kendisine ait olan diğer içeriklerinin, Arıkovanı’ da izinsiz
                        olarak kullanıldığını iddia eden kişi Arıkovanı’ a bu durumu bildirebilir. Arıkovanı belirtilen
                        iddiayı incelemeye alır. İnceleme sonucunda iddianın doğruluğu belirlenirse izinsiz olarak
                        kullanılan içeriğin yer aldığı proje Arıkovanı’ dan kaldırılır.</p>
                      <h4>Reddedilen Garanti</h4>
                      <p>- Arıkovanı, kullanıcılara koşullarla, telif haklarıyla ilgili tüm garantileri reddeder.</p>
                      <p>- Arıkovanı, servislerinin ve hizmetlerinin gereksinimlerinin tamamını, zamanında, sorunsuz
                        karşılayabilme garantisini reddeder.</p>
                      <p>- Arıkovanı’nı kullanmanızdan dolayı bilgisayarınızda, bilgilerinizde oluşabilecek tüm zararlardan
                        kullanıcılar sorumludur.</p>
                      <p>- Arıkovanı’na yüklediğiniz içeriklerin veya cihazınıza indirmiş olduğunuz içeriklerin meydana
                        çıkarabileceği risk kullanıcının üzerinde olup, tüm sorumluluk yine kullanıcıya aittir. Arıkovanı
                        bu konularda tüm garanti vermeyi reddeder.</p>
                      <p>- Kısaca, Arıkovanı’nı kullanırken tüm riskleri ve sorumluluğu üzerine almış olursun.
                        Arıkovanı’nın kullanman sonucu oluşabilecek tüm zararlardan sen sorumlusun, Arıkovanı bu konularda
                        hiçbir garanti vermemektedir.</p>
                      <h4>Tazminat</h4>
                      <p>- Tüm koşullarını, kurallarını kabul ederek kullanmış olduğun Arıkovanı platformunda, yapmış,
                        paylaşmış veya yayınlamış olduğun içerikler sebebiyle Arıkovanı’nı da içine dahil etmiş olduğun
                        yasal durumlarla karşılaşılabilir. Bu durumda, Arıkovanı’na yapılan tüm iddialar karşısında
                        savunma yapmak zorundasın. Bu durumun sonucunda karşılaşılabilecek tüm dava, avukat, tazminat
                        giderlerini karşılamak zorundasın. Tüm bu koşulları, Arıkovanı’nı kullanmaya başladığın andan
                        itibaren kabul etmiş sayılırsın.</p>
                      <h4>Sorumluluk Limitleri</h4>
                      <p>- Arıkovanı servislerinin veya hizmetlerini kullandığın andan itibaren, yaşayabileceğiniz veya
                        karşılaşabileceğiniz direk, endirek, tesadüfi, cezai zararlardan sorumlu olmadığını da açık bir
                        şekilde anladığın kabul edilir.</p>
                      <p>- Arıkovanı’nı kullandığından veya kullanamamandan doğacak zararlardan, data kayıplarından, kar
                        kaybından, hesabınızın ve verilerinizin izinsiz yönetilmesinden Arıkovanı sorumlu değildir.</p>
                      <h4>Anlaşmazlıklar</h4>
                      <p>- Proje sahibi ve proje destekçisi arasında yaşanacak herhangi anlaşmazlıklarda, Arıkovanı
                        herhangi bir anlaşmazlık durumunun içerisinde yer almaz. Proje sahibi projesini söz verdiği gibi
                        başarıyla tamamlayamayacaksa proje destekçisiyle tatmin edici ortak bir yol bulmalıdırlar.</p>
                      <p>- Arıkovanı’yla yaşayacağın herhangi bir anlaşmazlık durumunun olduğunu düşünüyorsan yasal yollara
                        başvurmadan önce bize başvuruda bulunabilirsin. Arıkovanı başvurunu inceleyerek, anlaşmazlığı en
                        uygun yöntemlerle çözmeye çalışcaktır.</p>
                    </div>
                  </section>
                  <section class="tab-pane fade in ptb30" id="gizlilik-politikasi" role="tabpanel">
                    <h3 class="green-dark fwnormal mb30">Gizlilik Politikası</h3>
                    <div class="content">5</div>
                  </section>
                  <section class="tab-pane fade in ptb30" id="guven-ve-emniyet" role="tabpanel" th:utext="${contentStrings.trustandsecurityhtml}">
                    <h3 class="green-dark fwnormal mb30" th:text="${contentStrings.arikovaniinfopagetabtrustandsafetytitle}">Güven ve emniyet</h3>
                    <div class="content">
                      <p>Arıkovanı, proje sahiplerini ve proje bağışçılarını buluşturarak projelerin hayata geçmesini sağlayan etkili bir
                        yoldur. Arıkovanı daha fazla projenin başarıya ulaşmasını sürdürülebilir bir hale getirebilmek adına önem verdiği ilk
                        öncelik karşılıklı güven temelini sağlamaktır. Bu karşılıklı güveni sağlayacak olan aslında yine bizleriz, yani proje
                        sahipleri, proje bağışçıları ve Arıkovanı. Bu güven ortamını yaratmak ve sürdürmek için hep birlikte yol almalıyız. O
                        yüzden hepimize düşen görevlerimiz var;</p>
                      <h4>Proje Sahipleri Ne Yapmalı?</h4>

                      <p>- Proje sahipleri projelerini açıkça ve samimi bir şekilde, proje bağışçılarına
                        anlatmalıdırlar. Proje bağışçılarına, projeleri hakkında hiçbir abartı veya yanlış bilgi
                        vermemelidirler.</p>

                      <p>- Proje sahipleri, proje bağışçılarının aklına takılan tüm soruları cevaplamaya
                        çalışmalıdırlar. Proje bağışçıları ile sürekli iletişim halinde olup, proje hakkında merak
                        edilen tüm konulara açıklık getirmelidirler.</p>

                      <p>- Proje sahipleri proje sayfalarında kendilerinin kim olduğundan ve geçmişte yapmış oldukları
                        işler, projeler gibi konulardan bahsederlerken tamamen samimi ve dürüst olmalıdırlar. Proje
                        bağışçılarına kendilerini olduklarından daha farklı tanıtmamalıdırlar.</p>

                      <p>- Proje sahipleri, proje bağışçılarına projelerinin fonlamasını kolaylaştırmak için abartı
                        sözlerde ve vaatlerde bulunmamalıdırlar.</p>

                      <p>- Proje sahipleri projenin karşılaşabileceği zorlukları ve riskleri şeffaf bir şekilde proje
                        bağışçılarına anlatmalıdırlar.</p>
                      <h4>Proje Bağışçıları Ne Yapmalı?</h4>

                      <p>- Proje bağışçıları projelere destek vermeden önce, proje hakkında en iyi şekilde
                        bilgilendiğinden emin olmalıdır. Bunun için proje sayfasındaki, proje ile ilgili tüm bilgileri
                        okuyabilirler. Eğer yeterli görmüyorlarsa web’ de daha detaylı araştırma yapabilirler.</p>

                      <p>- Proje bağışçıları, projelerin arkasında yer alan proje sahibinin kim olduğunu bilmeli,
                        projeye başarıya ulaştırabilecek eğitime, yetkinliklere sahip mi öğrenmelidirler. Proje
                        bağışçıları ilk olarak proje sahipleri ile ilgili bilgileri proje sayfasından öğrenebilirler.
                        Eğer proje sahipleri hakkında tam olarak bilgilenemediklerini düşünüyorlarsa, proje sahibini
                        web’ de arayarak geçmişte yaptıkları işler, projeler veya diğer konular hakkında daha detaylı
                        bilgiye sahip olabilirler. Proje bağışçılarının proje sahibiyle ilgili hala öğrenmek istedikleri
                        varsa direkt olarak proje sahibiyle iletişime geçerek öğrenmek istedikleri konuları
                        sormalıdırlar.</p>

                      <p>- Proje bağışçıları, proje ve proje sahibi hakkında diğer kişilerinde düşüncelerini okumalı,
                        dikkate almalıdırlar. Proje sayfasında yer alan yorumlar kısmından, diğer proje destekçilerinin,
                        proje ve proje sahibi hakkında neler düşündüklerine ulaşabilirler.</p>

                      <p>- Proje bağışçıları proje ve proje sahibi hakkında aklına takılan tüm sorularını çekinmeden
                        proje sahibiyle direkt iletişime geçerek sormalıdırlar. Proje bağışçıları, projelerin
                        sayfalarında proje ile ilgili Arıkovanı’ ın kullanım kurallarını ihlal eden herhangi bir bulguya
                        rastlarlarsa bize hemen rapor etmelidirler. Rapor edilen her projeyi, Arıkovanı küratör ekibi
                        hassasiyetle incelemektedir. Ayrıca, proje sayfasında kullanım kurallarını ihlal eden herhangi
                        bir durumla karşılaşılırsa, küratör ekibi tarafından proje tereddüt edilmeden platformdan
                        kaldırılır.</p>
                      <h4>Arıkovanı Ne Yapıyor?</h4>

                      <p>- Arıkovanı kendisine proje bağışçıları tarafından rapor edilen tüm projeleri hassasiyetle
                        incelemeye almaktadır. Proje bağışçıları tarafından herhangi bir sebeple rapor edilen projeler,
                        küratör ekibinin incelemesinin sonucu olarak gerçekten kullanım kurallarını ihlal ettiği
                        saptanmışsa, platformdan tereddüt edilmeden kaldırılırlar. Proje bağışçıları, bu noktada
                        Arıkovanı platformunun karşılıklı güven temelinde çalışmasına devam etmesi için bizlerin en
                        önemli destekçisi konumundadırlar.</p>

                      <p>- Küratör ekibi, tüm platformu, kullanım kurallarının dışına çıkan projeleri tespit etmek
                        amacıyla özel yazılmış algoritmalarla izlemektedirler.</p>

                      <p>- Arıkovanı, proje bağışçılarının önemli destekleri ve özel yazılmış algoritmaları sayesinde,
                        tespit ettiği kullanım kurallarını ihlal eden tüm projeleri Arıkovanı platformundan
                        uzaklaştırmakta tereddüt etmez. Çünkü, Arıkovanı’ ın ilk önceliği karşılıklı güven ortamını
                        yaratarak, sürdürülebilir hale getirmektir.</p>
                    </div>
                  </section>
                  <section class="tab-pane fade in ptb30" id="sss" role="tabpanel" th:utext="${contentStrings.frequentlyaskedquestionshtml}">
                    <h3 class="green-dark fwnormal mb30" th:text="${contentStrings.arikovaniinfopagetabfaqstitle}">Sık Sorulanlar</h3>
                    <div class="content">
                      <p><strong>- Arıkovanı’nda her proje fonlanabilir mi?</strong><br />
                        Arıkovanı’nda sadece teknoloji ve inovasyon odaklı projeler için kampanya başlatılabilir. Arı
                        Kovanı projeni inceleyip, fonlanmasının uygunluğuna karar verdikten sonra, projenin kampanyası
                        başlatılır.</p>

                      <p><strong>- Arıkovanı için uygun bir projenin özellikleri nelerdir?</strong><br />
                        Geliştirilen proje teknoloji ve inovasyon odaklı, hayata geçirilebilir ve sürdürülebilir bir proje
                        olmalı.</p>

                      <p><strong>- Projemin kampanyası Arıkovanı’ da ne kadar süre açık kalabilir?</strong><br />
                        Arıkovanı’nda proje kampanyaları 1 ile 60 gün arasında açık olarak kalabilir. Ancak, uzun süreli
                        kampanyalar, projelere her zaman fayda sağlamayabilir. Kampanya süresini daha kısa tutmak, proje
                        destekçilerinin hızlı bir şekilde projenin etrafında toplanmalarını sağlar, böylece projenin
                        hedefine daha hızlı ulaşması kolaylaşır.</p>

                      <p><strong>-Destekçilerin projelere yaptıkları destekten herhangi bir kesinti olacak mı?</strong><br />
                        Projelere verilmiş olan destek miktarlarından Arıkovanı komisyon almaz. Sadece banka ve diğer
                        ödeme sistemlerinin işlemleri için bankaların aldıkları ücretler toplanan fonlardan kesilerek
                        girişimciye aktarılır.</p>

                      <p><strong>- Proje hakkında ve proje sahibiyle ilgili daha fazla bilgi nasıl alınabilir?</strong><br />
                        Destekçiler, projeyle ilgili tüm soruları için proje sayfasından proje sahibiyle doğrudan
                        iletişime geçebilir. Eğer sorunun diğer destekçileri de ilgilendirdiğini ve onların da bu soruya
                        verilecek cevaptan faydalanmalarını istiyorsa proje sayfasındaki yorum alanına da yazabilir.</p>

                      <p><strong>- Desteklenen projelerin hedeflenen fon miktarına ulaşıp ulaşmadığı nasıl takip edilebilir?</strong><br />
                        Kampanya süresi sona erdiğinde projenin başarılı olup olmadığı konusunda tüm destekçilere e-posta
                        yoluyla bilgilendirme yapılır.</p>

                      <p><strong>- Proje için toplanan fon miktarı, hedeflenenin altında ya da üzerinde gerçekleştiği takdirde ne
                        oluyor?</strong><br />
                        Kampanya süresi sonunda proje için toplanan fon miktarı, , hedeflenen fon miktarının altında
                        kalırsa, toplanan tüm fon destekçilere iade edilir. Eğer hedeflenen fon miktarı yakalanırsa,
                        toplanan tüm fon proje sahibine aktarılır. Fon toplamada bir üst sınır yoktur. Böylece, projeler
                        finansal bakımdan daha rahat olabilir, projelerinin yaratıcılık seviyelerini yukarıya taşıyabilir,
                        ya da projelerini beklenenden daha kısa sürede hayata geçirebilirler.</p>

                      <p><strong>- Desteklenen projenin tamamlanmasından kim sorumludur?</strong><br />
                        Arıkovanı desteklenen projelerin tamamlanıp tamamlanmaması hakkında herhangi bir araştırma veya
                        takip yapmamaktadır. Arıkovanı, projelerin belirtilen kurallara uygunluğunu belirledikten sonra,
                        Arıkovanı’nda fonlanmasına izin vermektedir, yani proje sahibinin projeyi tamamlayabilme
                        yetkinliğiyle ilgili herhangi bir çalışma yapmamaktadır. Bu yüzden de projeye destek verecek olan
                        proje destekçileri, fonlama yapmadan önce projeleri olabildiğince iyi araştırmalıdırlar. Kısacası,
                        projenin tamamlanması ve geliştirilmesi ile ilgili tüm sorumluluklar proje sahibine aittir.</p>

                      <p><strong>- Verilen destek iptal edebilir mi?</strong><br />
                        Projelere yapılan destekler, kampanya süresinin bitmesine 24 saat kalana kadar iptal edilebilir.
                        Ancak, unutmamalısın ki desteğin iptali, proje sahibinde hayal kırıklığı yaratacaktır.</p>

                      <p><strong>- Proje sahipleri destekçilerine hediyeleri göndermek için bilgilerini nasıl alacak?</strong><br />
                        Proje sahipleri hediyeleri göndermek için proje destekçileri ile iletişime geçerler. Hediyeleri
                        ulaştırabilmek için gereken tüm bilgileri destekçilerden aldıktan sonra, daha önce belirttikleri
                        yöntemlerle teslimatı gerçekleştirirler.</p>

                      <p><strong>- Hediye hala teslim edilmedi, ne yapmalıyım?</strong><br />
                        Proje sayfasında belirtilen teslim tarihi geçildiği halde, hala hediyen gelmediyse, ilk olarak,
                        proje sayfasında proje sahibi tarafından yapılmış olabilecek teslim tarihi güncellemelerine
                        bakabilirsin. Herhangi bir teslim tarihi güncellemesi göremiyorsan, proje sahibiyle doğrudan
                        iletişime geçebileceğin gibi proje sayfasındaki yorum bölümünden de sorabilirsin.</p>

                    </div>
                  </section>
                  <section class="tab-pane fade in ptb30" id="iletisim" role="tabpanel">
                    <h3 class="green-dark fwnormal mb30" th:text="${contentStrings.arikovaniinfopagetabcommunicationtitle}">İletişim</h3>
                    <div class="content">
                      <iframe width="100%" height="300" frameborder="0" style="border:0"
                              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6019.314390525986!2d29.25559453107454!3d41.03275524225488!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cad2189d9eadf5%3A0xdab94c9ec1be2bd1!2zw5Z6eWXEn2luIMOcbml2ZXJzaXRlc2k!5e0!3m2!1sen!2str!4v1453385999728"
                              allowfullscreen=""></iframe>
                      <div class="contact-info default">
                        <div class="col-xs-12 mb20">
                          <div class="style-icon-1 general_bg"></div>
                          <div class="contact-text-info long"> <span th:text="${contentStrings.arikovaniinfopagetabcommunicationsubtitle1}">Adres:</span> Nişantepe Mah. Orman Sok. No:13, Özyeğin Üni. Öğrenci Merkezi, No:34-36, 34794 Alemdağ - Çekmeköy / İSTANBUL</div>
                        </div>
                        <div class="col-xs-12 mb20">
                          <div class="style-icon-1 general_bg"></div>
                          <div class="contact-text-info long"> <span th:text="${contentStrings.arikovaniinfopagetabcommunicationsubtitle2}">Unvan:</span> Hayal Ortakları Derneği İktisadi İşletmesi</div>
                        </div>
                        <div class="contact-content">
                          <div class="style-icon-1 general_bg"></div>
                          <div class="contact-text-info"> <span th:text="${contentStrings.arikovaniinfopagetabcommunicationsubtitle5}">Telefon:</span> 532-111-2746</div>
                        </div>
                        <div class="contact-content">
                          <div class="style-icon-1 general_bg"></div>
                          <div class="contact-text-info"> <span th:text="${contentStrings.arikovaniinfopagetabcommunicationsubtitle6}">Faks:</span> 216-564-90-62</div>
                        </div>
                        <div class="contact-content eposta">
                          <div class="style-icon-1 general_bg"></div>
                          <div class="contact-text-info"> <span th:text="${contentStrings.arikovaniinfopagetabcommunicationsubtitle7}">Eposta: </span>yardim@arikovani.com</div>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

    </main>

    <div th:replace="index :: footerBottom"></div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      contentStrings = /*[[${contentStrings}]]*/ '';
      console.log('ABOUT');
      console.log(contentStrings);
      /*]]>*/
    </script>

    <!-- build:js /scripts/vendor.min.js-->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="scripts/vendor/formatMoney.js"></script>
    <!-- endbuild -->

  <script>
    $(function() {

      function manageTabs(e) {
        var hash = $(e.target).attr('href');
        if (hash.substr(0, 1) === '#') {
          var position = $(window).scrollTop();
          location.replace('#' + hash.substr(1));
          $(window).scrollTop(position);
        }
      }

      //Achieve responsiveness for mobile devices
      if (window.location.hash !== '') {
        if(window.location.hash.split('?')[1]==='nativeApp=1'){
          $('header, footer, #leftPane').hide();
          $('a[href="' + window.location.hash.split('?')[0] + '"]').tab('show');
        }
        else {
          $('a[href="' + window.location.hash + '"]').tab('show');
        }
      }
      else if(window.location.search==='?nativeApp=1') {
        $('header, footer, #leftPane').hide();
        var body = document.getElementsByTagName('body')[0];
        body.style.minWidth='auto';
        body.classList.add('native-app');
        $('.container').removeClass('container').addClass('container-fluid');
        $('.col-xs-9').removeClass('col-xs-9').addClass('col-xs-12');
        /*$('meta[name="viewport"]').attr('content', 'width=device-width, initial-scale=1');*/

      }
      else {
        return false;
      }

      $('#about-sidebar').find('.sidebar-list').on('shown.bs.tab', manageTabs);

      $('#mega-footer-about-links .mega-footer__link').on('click', function(e) {
        console.log('MEGA FOOTER');
        e.preventDefault();
        var href = $(e.target).attr('href');
        var hrefArr = href.split('#');
        console.log(hrefArr);
        parent.location.hash = hrefArr[1];
        window.location.reload();
      });
    });

  </script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-71207251-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </body>
</html>
