<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Digital Turkcell</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-itunes-app" content="app-id=1060999036"> 
    <meta name="google-play-app" content="app-id=com.solidict.crowdfunding">
    <link rel="shortcut icon" href="/images/favicon.png">     <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TURK STARTER</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div>&lt;!&ndash;/.navbar-collapse &ndash;&gt;
      </div>
    </nav>-->

    <div th:replace="index :: header"></div>

    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id="startProjectHeader" class="border-bottom box-shadow text-center" style="padding: 100px 0">
        <div class="container">
          <p class="text-center block h1 green-dark" th:text="${contentStrings.fillprojectdetailspagecongrulationstitle}">T E B R İ K L E R  !</p>
          <h4 th:text="${contentStrings.fillprojectdetailspagecongrulationssubtitle}">Talebiniz alınmıştır projenizi değerlendireceğiz.</h4>
        </div>
      </div>


    </main>

    <div th:replace="index :: footerTop"></div>
    <div th:replace="index :: footerBottom"></div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      contentStrings = /*[[${contentStrings}]]*/ '';
      console.log('APP REQUEST RECEIVE');
      console.log(contentStrings);
      /*]]>*/
    </script>

    <!-- <script src="https://curio.turkcell.com.tr/api/js/curio-2.0.0.js"></script>
    <script type='text/javascript'>
      var curioConfig = {"useLocation" : false};
      Curio.init("d639f55c884d11e5b9b3935874997e9e", "5NHK3VEW", curioConfig);
    </script> -->
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-71207251-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </body>
</html>
