<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Digital Turkcell</title>
  <meta name="description" content="">
  <meta name="keywords" content="" />
  <meta name="title" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Proje Başlığı" th:content="${project.name}" />
  <meta property="og:description" content="Proje içeriği" th:content="${project.name} + ' Bu projeye destek oldum, hayata geçmesi için siz de destek olun! http://arikovani.com/projeler/' + ${project.urlPostfix} " + '/detay'/>
  <meta property="og:image" content="https://arikovani.com/uploaded/f774bb5f-8fd0-11e5-afc8-f23c91184cab.jpg" th:content="${project.congratsImage}" />
  <meta property="og:video" content="Video" th:content="${project.congratsVideo}" />
  <meta property="og:video:type" content="video/mp4" />
  <meta property="og:site_name" content="Arıkovanı" />
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) /styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
  <script type="text/javascript" src="http://platform.linkedin.com/in.js">api_key: 77imjib6em4wbb</script>
  <script th:inline="javascript">
    //<![CDATA[
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
    //]]>
  </script>
</head>
  <body style="font-size: 0">
    <div id="fb-root"></div>
    <div th:replace="index :: header"></div>
    <main role="main" style="padding-bottom: 100px; margin-top: 40px;u">
      <div class="container">
        <div class="row">
          <div class="col-xs-12" style="height: 480px">
            <div class="row NS_projects__hero-funding">
              <div style="background: rgba(0,0,0,0.3); position: absolute; width: 100%; height: 100%; z-index: 3"></div>
              <div th:class="${project.congratsVideo != null and #strings.length(project.congratsVideo) > 15 ? 'video-player video-player--congrats player' : 'video-player  video-player--congrats'}" th:id="${project.congratsVideo != null and #strings.length(project.congratsVideo) > 15  ? 'videoPitch' : 'noVideo'}" class="video-player  video-player--congrats player" id="videoPitch" th:style="'background-image: url(\'' + ${project.congratsImage} + '\')'" style="background-image: url('images/projects/project_img_1.jpg')">
                  <div th:utext="${project.congratsText}" style="position: absolute; bottom: 20px; left: 20px; z-index: 5">
                    <p class="carousel-text" style="color: #ffffff;margin-top: 15px;font-size: 22px;line-height: 23px;font-weight: 400;text-shadow: 1px 1px 1px rgba(0,0,0,.4);">Arıkovanı Türkiye'nin toplumsal kaynak yaratma kültürüne hayat vermek için burada.</p>
                    <h1 style="color: #ffb900" th:text="${contentStrings.fundingprojectthankspagetitle}">TEŞEKKÜRLER!</h1>
                  </div>
                <button th:if="${project.congratsVideo != null and #strings.length(project.congratsVideo) > 15}" class="play-button absolute-center" id="bigPlay"></button>
                <video th:if="${project.congratsVideo != null and #strings.length(project.congratsVideo) > 15}" width="750" height="511" preload="none" class="valign">
                  <source src="http://arikovani.s3.amazonaws.com/videos/17f51ba8715a75c5a71b9a9d65f33d04.mp4" th:src="${project.congratsVideo}" type="video/mp4" />Bu içeriği görebilmeniz için HTML5 destekli bir tarayıcıya ihtiyacınız vardır.
                </video>
                <img src="images/projects/project_img_1.jpg" itemprop="Project[image]" th:src="${project.congratsImage}" th:alt-title="${project.name}" class="poster landscape" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 mt20" style="padding: 0">
            <a href="#" th:href="'/projeler/' + ${project.urlPostfix} + '/detay'" target="_blank" class="btn btn--yellow green-dark--link btn--x-large">Keşfetmeye Devam Et</a>
            <div class="mt40" style="float: right; width: 600px; margin: 10px 0 0 0 !important;">
              <div style="float: right">
                <span style="float: left; font-size: 20px; margin-top: 10px">Paylaş</span>
                <a class="mlr20 pull-left" id="twitterShare" rel="nofollow" th:href="'https://twitter.com/intent/tweet?text=' + ${project.name} + ' Bu projeye destek oldum, hayata geçmesi için siz de destek olun! http://arikovani.com/projeler/alya_3d_printer/detay'">
                  <img style="float: left; margin-top: 12px" src="/images/twitter.png" class="middle">
                </a>
                <a class="mr20 pull-left" id="fbShare">
                  <img style="float: left; margin-top: 12px" src="/images/facebook.png" class="middle">
                </a>
                <a class="pull-left" id="linkedinShare" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=300');return false;" rel="nofollow" target="_new" th:href="'http://www.linkedin.com/shareArticle?url=http://arikovani.com/projeler/' + ${project.urlPostfix} + '&amp;title=' + ${project.name} + ' Bu projeye destek oldum, hayata geçmesi için siz de destek olun!'">
                  <img style="float: left; margin-top: 12px" src="/images/linkedin.png" class="middle">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="index :: footerBottom"></div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      contentStrings = /*[[${contentStrings}]]*/ '';
      console.log('CONGRATS');
      console.log(contentStrings);
      /*]]>*/
    </script>

    <!-- build:js /scripts/vendor.min.js-->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="scripts/vendor/formatMoney.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/congrats.min.js-->
    <script src="../bower_components/plyr/dist/plyr.js"></script>
    <script src="scripts/congrats.js"></script>
    <!-- endbuild -->

    <!-- <script type="IN/Login" data-onAuth="linkedin.onAuthCallback" data-onLogout="linkedin.onLogoutCallback"></script> -->

    <script th:inline="javascript">
      //<![CDATA[
      // Load the SDK Asynchronously
      (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.2&appId=532213613592881&status=true&cookie=true&xfbml=true";
        d.getElementsByTagName('head')[0].appendChild(js);
      }(document));

      document.getElementById('fbShare').onclick = function() {
        FB.ui({
          method: 'share',
          href: window.location.href,
          redirect_uri: window.location.href
        }, function(response){});
      };
      //>]]
    </script>

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-71207251-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <!-- / embedded svg icon system -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="facebook" viewBox="101.7 187 14.3 28.6">
        <title>facebook icon</title>
        <path  fill="gray" d="M110.5 196.4h4.9l-.3 4.3h-4.6v14.8h-5.8v-14.8h-3.1v-4.3h3.1v-2.9c0-1.3 0-3.2 1-4.4 1-1.3 2.4-2.1 4.8-2.1 3.9 0 5.5.5 5.5.5l-.8 4.4s-1.3-.4-2.5-.4-2.3.4-2.3 1.6l.1 3.3z"/>
      </symbol>
      <symbol id="linkedinButton" viewBox="-3 196.3 146 139.6">
        <title>linkedin icon</title>
        <path  fill="gray" d="M-1.1 241.7h31.3v94.2H-1.1v-94.2zm15.8-45.4C4 196.3-3 203.3-3 212.5c0 9 6.8 16.3 17.3 16.3h.2c10.9 0 17.7-7.2 17.7-16.3-.2-9.2-6.8-16.2-17.5-16.2zm92.3 43.2c-16.6 0-24.1 9.1-28.2 15.5v-13.3H47.5c.4 8.8 0 94.2 0 94.2h31.3v-52.6c0-2.8.2-5.6 1-7.6 2.3-5.6 7.4-11.4 16.1-11.4 11.3 0 15.9 8.6 15.9 21.3V336H143v-54c0-29.1-15.4-42.5-36-42.5z"/>
      </symbol>
      <symbol id="twitter" viewBox="0 0 880 807">
        <title>twitter icon</title>
        <path  fill="gray" d="M0 642c13.177 2.005 27.5 3.008 42.97 3.008 40.103 0 79.348-7.734 117.733-23.203 38.386-15.47 73.763-36.237 106.133-62.305-38.672-.286-73.548-12.246-104.63-35.88-31.08-23.632-52.206-53.495-63.378-89.59 12.03 2.293 23.203 3.44 33.516 3.44 16.614 0 32.656-2.15 48.125-6.447-41.54-8.307-76.06-29.003-103.56-62.09-27.5-33.086-41.25-71.4-41.25-114.94v-2.15c25.78 14.037 52.995 21.485 81.64 22.344-24.92-16.614-44.615-38.098-59.08-64.453-14.468-26.354-21.7-54.713-21.7-85.078C36.52 95.15 44.682 65.932 61.01 37c45.26 55 99.973 98.613 164.14 130.84 64.167 32.227 133.346 50.345 207.54 54.355-2.58-11.172-3.868-25.065-3.868-41.68 0-49.843 17.546-92.31 52.637-127.402C516.553 18.023 559.023.477 608.868.477c51.276 0 95.534 18.906 132.774 56.718 40.968-8.307 78.92-22.916 113.87-43.828-13.75 43.542-40.245 76.914-79.49 100.117 35.807-4.01 70.468-13.606 103.984-28.79-24.062 36.382-53.996 67.605-89.804 93.673V202c0 40.104-5.085 80.423-15.255 120.957-10.168 40.534-24.777 79.922-43.827 118.164-19.05 38.247-43.47 73.98-73.26 107.21-29.793 33.23-63.165 62.235-100.12 87.01-36.952 24.78-79.562 44.33-127.83 58.656-48.27 14.323-99.187 21.485-152.755 21.485C168.58 715.478 76.198 690.985 0 642z" fill-rule="evenodd"></path>
      </symbol>
      <symbol id="funding-badge" viewBox="0 0 78.95 78.96">
        <title>funding-badge</title>
        <path fill="#4ABA6A" d="M70.79 70.8v8.15h8.15v-43.1L43.11.01H.01v8.15h8.15"/><g fill="#49ba68"><path d="M70.79 48.47h8.15v30.48h-8.15zM.01.01h30.48v8.15H.01z"/></g><path fill="#4ABA6A" d="M78.94 35.85L43.11.01H.01l78.93 78.94"/><path opacity=".25" fill="#333" d="M76.93 78.96L0 2.06.01 0l78.94 78.95"/><g fill="#FFF"><path d="M47.86 26.03c-.44 1.21-2.69 2.13-5.41 2.13s-4.98-.92-5.41-2.13c-.05.14-.08.28-.08.43 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.15-.03-.29-.08-.43z"/><path d="M47.88 27.47c-.38 1.24-2.67 2.19-5.43 2.19s-5.05-.95-5.43-2.19c-.04.12-.06.24-.06.37 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.13-.02-.25-.06-.37z"/><path d="M42.45 31.02c-2.72 0-4.97-.92-5.41-2.13-.05.14-.08.28-.08.43 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.15-.03-.29-.08-.43-.44 1.21-2.7 2.13-5.41 2.13z"/><path d="M42.41 33.67c-2.57 0-4.72-.82-5.32-1.93-.01.07-.02.13-.02.2 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.22-.06-.43-.17-.63-.22 1.32-2.59 2.36-5.47 2.36z"/><path d="M42.45 33.23c3.03 0 5.49-1.14 5.49-2.56 0-.12-.02-.24-.05-.36-.38 1.24-2.67 2.2-5.43 2.2-2.77 0-5.06-.95-5.43-2.2-.04.12-.05.24-.05.36-.02 1.42 2.44 2.56 5.47 2.56zM42.21 24.15c-.37.05-.52.19-.52.3 0 .15.16.25.52.34v-.64zM43.19 25.53c0-.17-.18-.28-.62-.38v.73c.4-.04.62-.17.62-.35z"/><path d="M42.39 27.57c3.03 0 5.49-1.14 5.49-2.56s-2.46-2.56-5.49-2.56c-3.03 0-5.49 1.14-5.49 2.56s2.46 2.56 5.49 2.56zm-1.31-3.09c0-.29.44-.51 1.13-.57v-.46h.37v.45h.01c.47 0 .82.05 1.02.11l-.17.23c-.14-.04-.45-.1-.87-.1v.74c.01 0 .03.01.04.01.79.15 1.18.32 1.18.64 0 .29-.4.55-1.22.61v.46h-.37v-.45h-.03c-.45 0-.94-.06-1.19-.14l.16-.24c.27.08.65.14 1.07.14v-.82c-.7-.13-1.13-.32-1.13-.61zM53.82 21.11c-2.74 0-5.01-1.07-5.42-2.48-.04.15-.07.3-.07.46 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.16-.02-.31-.07-.46-.41 1.41-2.68 2.48-5.42 2.48z"/><path d="M53.82 22.9c-2.66 0-4.87-1.01-5.38-2.36-.07.19-.11.39-.11.59 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.2-.04-.4-.11-.59-.5 1.34-2.72 2.36-5.38 2.36zM53.82 30.38c-2.75 0-5.02-1.08-5.42-2.5-.04.15-.06.29-.06.45 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.15-.02-.3-.06-.45-.41 1.41-2.69 2.5-5.44 2.5z"/><path d="M53.82 28.45c-2.69 0-4.93-1.04-5.4-2.41-.06.17-.09.35-.09.53 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.18-.03-.36-.09-.53-.47 1.38-2.71 2.41-5.4 2.41zM53.82 32.02c-2.72 0-4.99-1.07-5.41-2.46-.05.16-.07.32-.07.48 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.16-.03-.32-.07-.48-.44 1.39-2.7 2.46-5.43 2.46z"/><path d="M53.82 26.76c-2.71 0-4.96-1.05-5.41-2.43-.05.17-.08.34-.08.51 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.17-.03-.34-.08-.51-.45 1.38-2.7 2.43-5.41 2.43z"/><path d="M53.82 24.83c-2.67 0-4.89-1.02-5.38-2.37-.07.19-.1.38-.1.57 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.2-.04-.39-.1-.57-.51 1.35-2.73 2.37-5.4 2.37zM55.09 17.63c0-.12-.28-.21-.98-.28v.53c.63-.03.98-.12.98-.25zM53.53 16.62c-.59.04-.82.14-.82.22 0 .11.26.18.82.25v-.47z"/><path d="M53.82 20.2c3.03 0 5.49-1.32 5.49-2.94 0-1.63-2.46-2.94-5.49-2.94-3.03 0-5.49 1.32-5.49 2.94.01 1.62 2.46 2.94 5.49 2.94z"/><ellipse cx="42.56" cy="25.02" rx="2.01" ry="1.61"/></g>
      </symbol>
      <symbol id="thinking-badge" viewBox="0 0 78.95 78.96">
        <title>thinking-badge</title>
        <path fill="#4ABA6A" d="M70.79 70.8v8.15h8.15v-43.1L43.11.01H.01v8.15h8.15"/><g fill="#ffc800"><path d="M70.79 48.47h8.15v30.48h-8.15zM.01.01h30.48v8.15H.01z"/></g><path fill="#ffd200" d="M78.94 35.85L43.11.01H.01l78.93 78.94"/><path opacity=".25" fill="#333" d="M76.93 78.96L0 2.06.01 0l78.94 78.95"/><g><path d="M51.96 36.66c-.21 0-.38-.17-.38-.38 0-.02-.03-1.92-.02-3.32v-.02c.07-1.21.47-3.27 1.99-6.21.43-.78 1.82-3.52 1.59-6.39-.4-5.11-3.6-8.04-8.77-8.04-4.74 0-8.2 2.92-8.42 7.1-.01.21-.03.42-.05.62-.05.47-.09.88.02 1.3.02.08.02.17-.02.25l-2.55 5.76h2.21c.21 0 .38.17.38.38l.02 3.08c0 .85.69 1.54 1.54 1.54h2.89c.11 0 .22.05.29.14l.04.05c.06.07.09.16.09.25v3.39c0 .21-.17.38-.38.38s-.38-.17-.38-.38V33.1H39.5c-1.27 0-2.31-1.03-2.31-2.31l-.02-2.69h-2.42c-.13 0-.25-.07-.32-.17-.07-.11-.08-.25-.03-.36l2.74-6.18c-.1-.5-.05-.97 0-1.44.02-.19.04-.38.05-.58.24-4.61 4.01-7.83 9.19-7.83 2.67 0 4.95.76 6.59 2.21 1.73 1.53 2.73 3.73 2.95 6.54.24 3.08-1.23 5.99-1.68 6.81-1.13 2.18-1.81 4.28-1.9 5.88-.01 1.39.02 3.27.02 3.29-.01.22-.18.39-.4.39z" fill="#FFF" stroke="#FFF" stroke-miterlimit="10"/><path d="M46.48 24.73h-.73c-.45 0-.83-.35-.86-.8l-.02-.24c-.08-.76.19-1.55.78-2.26.28-.33.42-.54.45-.68h-.04c-.18 0-.36.08-.42.12-.21.16-.5.22-.76.14-.26-.07-.47-.27-.57-.52l-.23-.59c-.14-.36-.02-.78.3-1 .46-.33 1.17-.54 1.85-.54 1.67 0 2.44 1.17 2.44 2.25 0 .99-.59 1.69-1.01 2.19-.33.39-.35.6-.34.78l.01.26c.01.23-.08.46-.24.63-.15.16-.38.26-.61.26zM46.21 27.77c-.71 0-1.28-.57-1.28-1.28 0-.71.57-1.28 1.28-1.28s1.28.57 1.28 1.28c0 .7-.58 1.28-1.28 1.28z" fill="#FFF"/></g>
      </symbol>
      <symbol id="navigate" viewBox="0 0 47.72 31.31">
        <title>navigate</title>
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFC800" d="M22.03 15.81l-11.64 15.5H.25l11.65-15.5L.25.32 0 0h10.17l.22.32"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFC800" fill-opacity=".6" d="M35.78 15.79l-9.95 13.23h-8.65l9.94-13.23-9.94-13.23-.22-.27h8.69l.18.27"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFC800" fill-opacity=".3" d="M47.72 15.76l-7.88 10.48h-6.86l7.88-10.48-7.88-10.48-.17-.22h6.88l.15.22"/>
      </symbol>
      <symbol id="icon-captions-off" viewBox="0 0 18 18">
        <path
          d="M1 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1h16c.552 0 1-.448 1-1V3c0-.552-.448-1-1-1H1zm1 12V4h14v10H2z"/>
      </symbol>
      <symbol id="icon-captions-on" viewBox="0 0 18 18">
        <path
          d="M1 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1h16c.552 0 1-.448 1-1V3c0-.552-.448-1-1-1H1zm1 12V4h14v10H2z"/>
        <path d="M3 11h3v2H3zM12 11h3v2h-3zM7 11h4v2H7z"/>
      </symbol>
      <symbol id="icon-enter-fullscreen" viewBox="0 0 18 18">
        <path
          d="M6.425 10.165l-2.57 2.57.018-1.847c-.003-.552-.45-1-1.002-1.002-.55-.003-.994.442-.99.992l-.024 4.22c0 .264.106.518.295.707.01.007.017.016.026.023.008.007.015.017.023.025.187.188.442.294.706.295l4.22-.023c.55.002.994-.442.992-.992-.003-.55-.45-1-1.002-1.002l-1.847.017 2.568-2.57c.387-.386.387-1.012 0-1.4l-.012-.012c-.387-.386-1.014-.386-1.4 0zM14.154 5.266l-.017 1.846c.003.552.45 1 1.002 1.002.55.003.994-.442.99-.992l.025-4.22c-.002-.264-.107-.518-.296-.707-.01-.007-.017-.016-.026-.023-.008-.007-.015-.017-.023-.025-.187-.188-.442-.294-.706-.295l-4.22.023c-.55-.002-.994.442-.99.992 0 .55.45 1 1 1.002l1.847-.017-2.568 2.57c-.387.386-.387 1.012 0 1.4.4.398 1.026.398 1.413.012l2.57-2.57z"/>
      </symbol>
      <symbol id="icon-exit-fullscreen" viewBox="0 0 18 18">
        <path
          d="M14.425 2.165l-2.57 2.57.018-1.847c-.003-.552-.45-1-1.002-1.002-.55-.003-.994.442-.99.992l-.024 4.22c0 .264.106.518.295.707.01.007.017.016.026.023.008.007.015.017.023.025.187.188.442.294.706.295l4.22-.023c.55.002.994-.442.992-.992-.003-.55-.45-1-1.002-1.002l-1.847.017 2.568-2.57c.387-.386.387-1.012 0-1.4l-.012-.012c-.387-.386-1.014-.386-1.4 0zM6.154 13.266l-.017 1.846c.003.552.45 1 1.002 1.002.55.003.994-.442.99-.992l.025-4.22c-.002-.264-.107-.518-.296-.707-.01-.007-.017-.016-.026-.023-.008-.007-.015-.017-.023-.025-.187-.188-.442-.294-.706-.295l-4.22.023c-.55-.002-.994.442-.99.992 0 .55.45 1 1 1.002l1.847-.017-2.568 2.57c-.387.386-.387 1.012 0 1.4.4.398 1.026.398 1.413.012l2.57-2.57z"/>
      </symbol>
      <symbol id="icon-fast-forward" viewBox="0 0 18 18">
        <path
          d="M17.57 8.246L7 2c-.552 0-1 .448-1 1v1.954L1 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1l5-2.955V15c0 .552.448 1 1 1l10.57-6.246c.266-.158.43-.444.43-.754s-.164-.597-.43-.754zM6 10.722l-4 2.364V4.914l4 2.364v3.444zm2 2.364V4.914L14.915 9 8 13.086z"/>
      </symbol>
      <symbol id="icon-muted" viewBox="0 0 18 18">
        <path
          d="M9.214 2c-.11 0-.225.032-.334.1L4.832 4.91C4.75 4.97 4.65 5 4.55 5H.995C.446 5 0 5.448 0 6v6c0 .552.446 1 .996 1H4.55c.1 0 .2.03.282.09L8.88 15.9c.11.068.223.1.334.1.392 0 .747-.4.747-.95V2.95c0-.55-.354-.95-.746-.95zM7.97 12.834L5.58 11.177c-.166-.115-.364-.178-.566-.178H2.49c-.274 0-.497-.225-.497-.5v-3c0-.277.223-.5.498-.5h2.526c.202 0 .4-.063.566-.18L7.97 5.165v7.67z"
          id="Shape"/>
        <path
          d="M14.934 8.8c-.086-1.75-1.514-2.992-2.507-3.65-.47-.312-1.094-.122-1.325.408l-.038.086c-.188.43-.045.94.336 1.194.706.473 1.586 1.247 1.624 2.065.032.676-.553 1.468-1.663 2.27-.397.288-.528.84-.284 1.275l.042.075c.266.475.866.624 1.3.312 1.74-1.25 2.586-2.606 2.516-4.037z"/>
        <path
          d="M13.957 9.2c.086 1.747 1.514 2.99 2.507 3.648.47.312 1.094.122 1.325-.408l.037-.086c.188-.43.045-.94-.336-1.194-.705-.473-1.585-1.247-1.623-2.065-.032-.676.553-1.468 1.663-2.27.398-.288.53-.84.285-1.275l-.042-.075c-.266-.475-.866-.624-1.3-.312-1.74 1.25-2.586 2.606-2.516 4.037z"/>
      </symbol>
      <symbol id="icon-pause" viewBox="0 0 18 18">
        <path
          d="M2 4v10c0 2 2 2 2 2h2s2 0 2-2V4c0-2-2-2-2-2H4S2 2 2 4zm2 0h2v10H4V4zM10 4v10c0 2 2 2 2 2h2s2 0 2-2V4c0-2-2-2-2-2h-2s-2 0-2 2zm2 0h2v10h-2V4z"/>
      </symbol>
      <symbol id="icon-play" viewBox="0 0 18 18">
        <path
          d="M5 4.914L11.915 9 5 13.086V4.914zM4 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1l10.57-6.246c.266-.158.43-.444.43-.754s-.164-.597-.43-.754L4 2z"/>
      </symbol>
      <symbol id="icon-restart" viewBox="0 0 18 18">
        <path
          d="M1 2c.552 0 1 .448 1 1v4.318L11 2c.552 0 1 .448 1 1v1.954L17 2c.552 0 1 .448 1 1v12c0 .552-.448 1-1 1l-5-2.955V15c0 .552-.448 1-1 1l-9-5.318V15c0 .552-.448 1-1 1s-1-.448-1-1V3c0-.552.448-1 1-1zm11 8.722l4 2.364V4.914l-4 2.364v3.444zm-2 2.364V4.914L3.085 9 10 13.086z"/>
      </symbol>
      <symbol id="icon-rewind" viewBox="0 0 18 21">
        <path
          d="M.43 10.754L11 17c.552 0 1-.448 1-1v-1.954L17 17c.552 0 1-.448 1-1V4c0-.552-.448-1-1-1l-5 2.955V4c0-.552-.448-1-1-1L.43 9.246C.165 9.404 0 9.69 0 10s.164.597.43.754zM12 8.278l4-2.364v8.172l-4-2.364V8.278zm-2-2.364v8.172L3.085 10 10 5.914z"/>
      </symbol>
      <symbol id="icon-volume" viewBox="0 0 18 18">
        <path
          d="M10.214 2c-.11 0-.225.032-.334.1L5.832 4.91C5.75 4.97 5.65 5 5.55 5H1.995C1.446 5 1 5.448 1 6v6c0 .552.446 1 .996 1H5.55c.1 0 .2.03.282.09L9.88 15.9c.11.068.223.1.334.1.392 0 .747-.4.747-.95V2.95c0-.55-.354-.95-.746-.95zM8.97 12.834L6.58 11.177c-.166-.115-.364-.178-.566-.178H3.49c-.274 0-.497-.225-.497-.5v-3c0-.277.223-.5.498-.5h2.526c.202 0 .4-.063.566-.18L8.97 5.165v7.67zM16.934 8.8c-.086-1.75-1.514-2.992-2.507-3.65-.47-.312-1.094-.122-1.325.408l-.038.086c-.188.43-.045.94.336 1.194.706.473 1.586 1.247 1.624 2.065.032.676-.553 1.468-1.663 2.27-.397.288-.528.84-.284 1.275l.042.075c.266.475.866.624 1.3.312 1.74-1.25 2.586-2.606 2.516-4.037z"/>
      </symbol>
    </svg>
    <!-- ¯\_(ツ)_/¯: -->
  </body>
</html>
