<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Digital Turkcell</title>
    <meta name="description" th:attr="content=${contentStrings.mainpagemetadescription}" content="En yaratıcı girişimler, en ilgi çekici projeler, en ulaşılabilir kaynak. Başka yerde bulamayacağın inovatif teknoloji ürünlerini destekle, ilk ve en uygun fiyatlarla sahip olma şansını yakala." />
    <meta name="keywords" content="destek,girişim,fonlama,proje,crowdfunding,kitle fonlaması,imece,fon" />
    <meta name="title" content="Arıkovanı" th:attr="content=${contentStrings.mainpagemetatitle}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main-mob.css -->
    <link rel="stylesheet" href="styles/main-mob.css">
    <!-- endbuild -->

</head>
<body>
<header th:fragment="header" class="NS_layouts__navigation site-nav" id="header" role="banner">
    <div class="drop-down-menu">
        <ul>
            <li th:if="${activeUser == null}"><a th:href="@{~/giris}" href="login.html" th:text="${contentStrings.homepageheaderlogin}">Giriş Yap</a></li>
            <li th:if="${activeUser != null}"><a th:href="@{~/proje-baslat}" href="preapplication.html" class="panel-body dashboard-tab no-crawl">Proje Başvur</a></li>
            <li th:if="${activeUser == null}"><a th:href="@{~/kayit}" href="signup.html" class="panel-body dashboard-tab no-crawl">Kayıt Ol</a></li>
            <li th:if="${activeUser != null}">
                <a th:href="@{~/dashboard#profile}" href="dashboard.html#profile" aria-controls="profile" class="panel-body dashboard-tab no-crawl" th:text="${contentStrings.homepagealreadyloginmouseovermyprofile}">
                    Profilim
                </a>
            </li>
            <li th:if="${activeUser != null}">
                <a th:href="@{~/logout}" href="#" class="panel-body link-reset hover-item no-crawl" th:text="${contentStrings.homepagealreadyloginmouseoversignout}">
                    Çıkış
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <h1 class="site-logo">
            <a class="logo" href="/" style="height: 28px;">
                <img src="/images/digital_turkcell.png" style="height: 28px;">
            </a>
        </h1>

        <a id="link-user-avatar" th:href="@{~/dashboard}" href="dashboard.html" class="p0" rel="nofollow" style="top: -2px;">
            <div class="avatar-little" th:if="${activeUser} != null">
                <div class="bg-img avatar" th:style="'background-image: url(\'' + ${activeUser.image} + '\');'">
                    <img alt="&nbsp;" class="opacity0" title="&nbsp;" th:src="${activeUser != null} ? ${activeUser.image} : 'undefined'" src="https://arikovani.com/uploaded/d071bc81-8ef3-11e5-aaba-f23c91184cab.JPG">
                </div>
            </div>
        </a>

        <div class="hamburger-wrapper">
            <div class="hamburger">
                <div class="hamburger-line"></div><div class="hamburger-line"></div><div class="hamburger-line"></div>
            </div>
        </div>
    </div>

</header>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="NS_projects yellow-bg-gradient">
        <div id="mainCarousel" class="carousel slide" data-ride="carousel" style="height: 300px">
            <!-- Indicators -->
            <ol class="carousel-indicators mCustomScrollbar" th:if="${#arrays.length(banners) > 1}">
                <li data-target="#mainCarousel" th:each="banner,status : ${banners}"
                    data-slide-to="0"
                    th:attr="data-slide-to=${status.index}" class='active'
                    th:class="${banners[0] eq banner ? 'active':''}">
                </li>
            </ol>
            <div class="carousel-inner" role="listbox"  style="height: 300px">
                <div class="item active" th:each="banner : ${banners}" th:class="${banners[0] eq banner ? 'item active':'item'}" th:classappend="${banner.video}? 'hasVideo'" th:style="'height: 300px; background-image: url(\'' + ${banner.image} + '\') '">
                    <!--<button th:if="${banner.video != null}" class="play-button absolute-center">
                      <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M5 4.914L11.915 9 5 13.086V4.914zM4 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1l10.57-6.246c.266-.158.43-.444.43-.754s-.164-.597-.43-.754L4 2z"
                          fill="#ffc801"></path>
                      </svg>
                    </button>-->
                    <img th:src="${banner.image}" alt="" th:alt-title="${banner.altText}"
                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNzc3OiM3NzcKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTBiOTU4NzIwMyB0ZXh0IHsgZmlsbDojNzc3O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQ1cHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MGI5NTg3MjAzIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjxnPjx0ZXh0IHg9IjMzMy4yMTA5Mzc1IiB5PSIyNzAuMSI+OTAweDUwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" />
                    <input type="hidden" class="mobile-image" th:value="${banner.mobileImage}"/>
                </div>
            </div>

            <a class="left carousel-control" href="#mainCarousel" role="button" data-slide="prev" th:if="${#arrays.length(banners) > 1}">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
            <a class="right carousel-control" href="#mainCarousel" role="button" data-slide="next" th:if="${#arrays.length(banners) > 1}">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>

        </div>
    </div>

    <section class="bg-white ptb40 mt40" style="min-height: 721px;">
        <div class="container">
            <!--<div class="row">
              <div class="col-xs-12">
                <h3 class="green-dark text-center fwbold">Güncel Projeler</h3>
              </div>
            </div>-->
            <div id="projectsHome" class="row">
                <div class="col-xs-4">
                    <div class="project-card project-card-tall-big NS_projects__stats border-top">
                        <div class="project-thumbnail contain">
                            <svg class="lds-spinner" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="animation-play-state: running; animation-delay: 0s; background: none;"><g transform="rotate(0 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(30 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(60 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(90 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(120 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(150 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(180 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(210 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(240 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(270 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(300 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(330 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g></svg>
                        </div>
                        <div class="project-card-content">
                            <div class="animated-background facebook">
                                <div class="background-masker header-top"></div>
                                <div class="background-masker header-left"></div>
                                <div class="background-masker header-right"></div>
                                <div class="background-masker header-bottom"></div>
                                <div class="background-masker subheader-left"></div>
                                <div class="background-masker subheader-right"></div>
                                <div class="background-masker subheader-bottom"></div>
                                <div class="background-masker content-top"></div>
                                <div class="background-masker content-first-end"></div>
                                <div class="background-masker content-second-line"></div>
                                <div class="background-masker content-second-end"></div>
                                <div class="background-masker content-third-line"></div>
                                <div class="background-masker content-third-end"></div>
                            </div>
                            <div class="animated-background facebook mt30">
                                <div class="background-masker header-top"></div>
                                <div class="background-masker header-left"></div>
                                <div class="background-masker header-right"></div>
                                <div class="background-masker header-bottom"></div>
                                <div class="background-masker subheader-left"></div>
                                <div class="background-masker subheader-right"></div>
                                <div class="background-masker subheader-bottom"></div>
                                <div class="background-masker content-top"></div>
                                <div class="background-masker content-first-end"></div>
                                <div class="background-masker content-second-line"></div>
                                <div class="background-masker content-second-end"></div>
                                <div class="background-masker content-third-line"></div>
                                <div class="background-masker content-third-end"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="project-card project-card-tall-big NS_projects__stats border-top">
                        <div class="project-thumbnail contain">
                            <svg class="lds-spinner" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="animation-play-state: running; animation-delay: 0s; background: none;"><g transform="rotate(0 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(30 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(60 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(90 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(120 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(150 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(180 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(210 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(240 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(270 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(300 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(330 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g></svg>
                        </div>
                        <div class="project-card-content">
                            <div class="animated-background facebook">
                                <div class="background-masker header-top"></div>
                                <div class="background-masker header-left"></div>
                                <div class="background-masker header-right"></div>
                                <div class="background-masker header-bottom"></div>
                                <div class="background-masker subheader-left"></div>
                                <div class="background-masker subheader-right"></div>
                                <div class="background-masker subheader-bottom"></div>
                                <div class="background-masker content-top"></div>
                                <div class="background-masker content-first-end"></div>
                                <div class="background-masker content-second-line"></div>
                                <div class="background-masker content-second-end"></div>
                                <div class="background-masker content-third-line"></div>
                                <div class="background-masker content-third-end"></div>
                            </div>
                            <div class="animated-background facebook mt30">
                                <div class="background-masker header-top"></div>
                                <div class="background-masker header-left"></div>
                                <div class="background-masker header-right"></div>
                                <div class="background-masker header-bottom"></div>
                                <div class="background-masker subheader-left"></div>
                                <div class="background-masker subheader-right"></div>
                                <div class="background-masker subheader-bottom"></div>
                                <div class="background-masker content-top"></div>
                                <div class="background-masker content-first-end"></div>
                                <div class="background-masker content-second-line"></div>
                                <div class="background-masker content-second-end"></div>
                                <div class="background-masker content-third-line"></div>
                                <div class="background-masker content-third-end"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="project-card project-card-tall-big NS_projects__stats border-top">
                        <div class="project-thumbnail contain">
                            <svg class="lds-spinner" width="200px" height="200px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="animation-play-state: running; animation-delay: 0s; background: none;"><g transform="rotate(0 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(30 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(60 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(90 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(120 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(150 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(180 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(210 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(240 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(270 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(300 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g><g transform="rotate(330 50 50)" style="animation-play-state: running; animation-delay: 0s;">
                                <rect x="47" y="24" rx="9.4" ry="4.8" width="6" height="12" fill="#1d3f72" style="animation-play-state: running; animation-delay: 0s;">
                                    <animate attributeName="opacity" values="1;0" times="0;1" dur="1s" begin="0s" repeatCount="indefinite" style="animation-play-state: running; animation-delay: 0s;"></animate>
                                </rect>
                            </g></svg>
                        </div>
                        <div class="project-card-content">
                            <div class="animated-background facebook">
                                <div class="background-masker header-top"></div>
                                <div class="background-masker header-left"></div>
                                <div class="background-masker header-right"></div>
                                <div class="background-masker header-bottom"></div>
                                <div class="background-masker subheader-left"></div>
                                <div class="background-masker subheader-right"></div>
                                <div class="background-masker subheader-bottom"></div>
                                <div class="background-masker content-top"></div>
                                <div class="background-masker content-first-end"></div>
                                <div class="background-masker content-second-line"></div>
                                <div class="background-masker content-second-end"></div>
                                <div class="background-masker content-third-line"></div>
                                <div class="background-masker content-third-end"></div>
                            </div>
                            <div class="animated-background facebook mt30">
                                <div class="background-masker header-top"></div>
                                <div class="background-masker header-left"></div>
                                <div class="background-masker header-right"></div>
                                <div class="background-masker header-bottom"></div>
                                <div class="background-masker subheader-left"></div>
                                <div class="background-masker subheader-right"></div>
                                <div class="background-masker subheader-bottom"></div>
                                <div class="background-masker content-top"></div>
                                <div class="background-masker content-first-end"></div>
                                <div class="background-masker content-second-line"></div>
                                <div class="background-masker content-second-end"></div>
                                <div class="background-masker content-third-line"></div>
                                <div class="background-masker content-third-end"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="bg-grey-light ptb70">
      <div class="container">
        <h3 class="green-dark motto text-center italic">“Kitlesel fonlama,
          dünyadaki tüm girişimlerin gelişimi için küresel bir inovasyon.”</h3>

        <h3 class="green-dark motto-sub pr10 text-right fwbold">Dünya Bankası</h3>
      </div>
    </section> -->

    <div th:if="${showBottomBanners}" class="NS_projects yellow-bg-gradient" style="height: 600px">
        <div id="footerCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators mCustomScrollbar">
                <li data-target="#footerCarousel" th:each="banner,status : ${bannersBottom}"
                    data-slide-to="0"
                    th:attr="data-slide-to=${status.index}" class='active'
                    th:class="${bannersBottom[0] eq banner ? 'active':''}">
                </li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active" th:each="banner : ${bannersBottom}" th:class="${bannersBottom[0] eq banner ? 'item active':'item'}" th:classappend="${banner.video}? 'hasVideo'" th:style="'background-image: url(\'' + ${banner.mobileImage} + '\') '">
                    <!--<button th:if="${banner.video != null}" class="play-button absolute-center">
                      <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M5 4.914L11.915 9 5 13.086V4.914zM4 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1l10.57-6.246c.266-.158.43-.444.43-.754s-.164-.597-.43-.754L4 2z"
                          fill="#ffc801"></path>
                      </svg>
                    </button>-->
                    <img th:src="${banner.mobileImage}" alt="" th:alt-title="${banner.altText}"
                         src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDkwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzkwMHg1MDAvYXV0by8jNzc3OiM3NzcKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTBiOTU4NzIwMyB0ZXh0IHsgZmlsbDojNzc3O2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjQ1cHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1MGI5NTg3MjAzIj48cmVjdCB3aWR0aD0iOTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iIzc3NyIvPjxnPjx0ZXh0IHg9IjMzMy4yMTA5Mzc1IiB5PSIyNzAuMSI+OTAweDUwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" />
                    <input type="hidden" class="mobile-image" th:value="${banner.mobileImage}"/>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="carousel-title" th:style="'color: #' + ${banner.titleColor}" th:text="${banner.title}">First slide label</h3>
                            </div>
                        </div>
                        <div class="row relative mb20">
                            <div class="col-xs-9">
                                <p class="carousel-text" th:style="'color: #' + ${banner.subtitleColor}" th:text="${banner.subtitle}">Nulla vitae elit libero, a pharetra augue mollis interdum. dolore/ magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                            </div>
                            <a th:if="${banner.type != 3}" th:style="'color: #' + ${banner.buttonTextColor} + '; background: #' + ${banner.buttonBackgroundColor}" class="absolute btn btn--yellow btn--x-large carousel-btn" href="#" th:href="${banner.url}" th:text="${banner.buttonText}">İNCELE</a>
                        </div>
                    </div>
                    <video th:if="${banner.video != null}" preload="auto" class="full-link">
                        <source src="//d313a46mphh6a6.cloudfront.net/video_480p.mp4" th:src="${banner.video}" type="video/mp4" />
                    </video>
                </div>
            </div>

            <a class="left carousel-control" href="#footerCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
            <a class="right carousel-control" href="#footerCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>

        </div>
    </div>

</main>

<footer th:fragment="footerBottom" class="mega-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <img class="pull-left block ml20 h50" src="/images/turkcell-logo.png">
            </div>
            <div class="col-xs-6">
                &nbsp;
            </div>
        </div>
    </div>
</footer>

<script th:inline="javascript">
    /*<![CDATA[*/
    contentStrings = /*[[${contentStrings}]]*/ '';
    activeUser = /*[[${activeUser}]]*/ '';
    console.log('INDEX');
    console.log(contentStrings);
    /*]]>*/
</script>

<!-- build:js /scripts/vendor.min.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="scripts/vendor/formatMoney.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/simenty.min.js-->
<script src="scripts/simenty.js"></script>
<!-- endbuild -->


<!-- build:js /scripts/templates.min.js-->
<script src="../bower_components/handlebars/handlebars.js"></script>
<script src="scripts/hbsHelpers.js"></script>
<script src="scripts/templates.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/index.min.js-->
<script src="scripts/index.js"></script>
<script src="scripts/app/projectIndexStart.js"></script>
<!-- endbuild -->

<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-71207251-1', 'auto');
    ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<!-- / embedded svg icon system -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="funding-badge" viewBox="0 0 78.95 78.96">
        <title>funding-badge</title>
        <path fill="#4ABA6A" d="M70.79 70.8v8.15h8.15v-43.1L43.11.01H.01v8.15h8.15"/><g fill="#49ba68"><path d="M70.79 48.47h8.15v30.48h-8.15zM.01.01h30.48v8.15H.01z"/></g><path fill="#4ABA6A" d="M78.94 35.85L43.11.01H.01l78.93 78.94"/><path opacity=".25" fill="#333" d="M76.93 78.96L0 2.06.01 0l78.94 78.95"/><g fill="#FFF"><path d="M47.86 26.03c-.44 1.21-2.69 2.13-5.41 2.13s-4.98-.92-5.41-2.13c-.05.14-.08.28-.08.43 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.15-.03-.29-.08-.43z"/><path d="M47.88 27.47c-.38 1.24-2.67 2.19-5.43 2.19s-5.05-.95-5.43-2.19c-.04.12-.06.24-.06.37 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.13-.02-.25-.06-.37z"/><path d="M42.45 31.02c-2.72 0-4.97-.92-5.41-2.13-.05.14-.08.28-.08.43 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.15-.03-.29-.08-.43-.44 1.21-2.7 2.13-5.41 2.13z"/><path d="M42.41 33.67c-2.57 0-4.72-.82-5.32-1.93-.01.07-.02.13-.02.2 0 1.41 2.46 2.56 5.49 2.56 3.03 0 5.49-1.14 5.49-2.56 0-.22-.06-.43-.17-.63-.22 1.32-2.59 2.36-5.47 2.36z"/><path d="M42.45 33.23c3.03 0 5.49-1.14 5.49-2.56 0-.12-.02-.24-.05-.36-.38 1.24-2.67 2.2-5.43 2.2-2.77 0-5.06-.95-5.43-2.2-.04.12-.05.24-.05.36-.02 1.42 2.44 2.56 5.47 2.56zM42.21 24.15c-.37.05-.52.19-.52.3 0 .15.16.25.52.34v-.64zM43.19 25.53c0-.17-.18-.28-.62-.38v.73c.4-.04.62-.17.62-.35z"/><path d="M42.39 27.57c3.03 0 5.49-1.14 5.49-2.56s-2.46-2.56-5.49-2.56c-3.03 0-5.49 1.14-5.49 2.56s2.46 2.56 5.49 2.56zm-1.31-3.09c0-.29.44-.51 1.13-.57v-.46h.37v.45h.01c.47 0 .82.05 1.02.11l-.17.23c-.14-.04-.45-.1-.87-.1v.74c.01 0 .03.01.04.01.79.15 1.18.32 1.18.64 0 .29-.4.55-1.22.61v.46h-.37v-.45h-.03c-.45 0-.94-.06-1.19-.14l.16-.24c.27.08.65.14 1.07.14v-.82c-.7-.13-1.13-.32-1.13-.61zM53.82 21.11c-2.74 0-5.01-1.07-5.42-2.48-.04.15-.07.3-.07.46 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.16-.02-.31-.07-.46-.41 1.41-2.68 2.48-5.42 2.48z"/><path d="M53.82 22.9c-2.66 0-4.87-1.01-5.38-2.36-.07.19-.11.39-.11.59 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.2-.04-.4-.11-.59-.5 1.34-2.72 2.36-5.38 2.36zM53.82 30.38c-2.75 0-5.02-1.08-5.42-2.5-.04.15-.06.29-.06.45 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.15-.02-.3-.06-.45-.41 1.41-2.69 2.5-5.44 2.5z"/><path d="M53.82 28.45c-2.69 0-4.93-1.04-5.4-2.41-.06.17-.09.35-.09.53 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.18-.03-.36-.09-.53-.47 1.38-2.71 2.41-5.4 2.41zM53.82 32.02c-2.72 0-4.99-1.07-5.41-2.46-.05.16-.07.32-.07.48 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.16-.03-.32-.07-.48-.44 1.39-2.7 2.46-5.43 2.46z"/><path d="M53.82 26.76c-2.71 0-4.96-1.05-5.41-2.43-.05.17-.08.34-.08.51 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.17-.03-.34-.08-.51-.45 1.38-2.7 2.43-5.41 2.43z"/><path d="M53.82 24.83c-2.67 0-4.89-1.02-5.38-2.37-.07.19-.1.38-.1.57 0 1.63 2.46 2.94 5.49 2.94 3.03 0 5.49-1.32 5.49-2.94 0-.2-.04-.39-.1-.57-.51 1.35-2.73 2.37-5.4 2.37zM55.09 17.63c0-.12-.28-.21-.98-.28v.53c.63-.03.98-.12.98-.25zM53.53 16.62c-.59.04-.82.14-.82.22 0 .11.26.18.82.25v-.47z"/><path d="M53.82 20.2c3.03 0 5.49-1.32 5.49-2.94 0-1.63-2.46-2.94-5.49-2.94-3.03 0-5.49 1.32-5.49 2.94.01 1.62 2.46 2.94 5.49 2.94z"/><ellipse cx="42.56" cy="25.02" rx="2.01" ry="1.61"/></g>
    </symbol>
    <symbol id="timer" viewBox="0 0 54.3 63.48">
        <title>timer</title>
        <circle cx="27.15" cy="36.33" r="27.15" fill="#555655"/><circle cx="27.15" cy="36.33" r="22.01" fill="#FFF"/><circle cx="27.15" cy="36.33" r="18.94" fill="#555655"/><path d="M27.15 21.59c-8.14 0-14.75 6.6-14.75 14.75 0 4.62 2.13 8.75 5.46 11.45l9.29-11.45V21.59z" fill="#FFF"/><path fill="#555655" d="M22.36 3.81h9.58v7.62h-9.58z"/><path d="M33.73 3.81H20.57c-.84 0-1.53-.68-1.53-1.53v-.75c0-.84.68-1.53 1.53-1.53h13.16c.84 0 1.53.68 1.53 1.53v.75c0 .84-.69 1.53-1.53 1.53zM9.68 12.71c-2.41-.91-5.24-.31-7.06 1.72-1.83 2.03-2.12 4.9-.96 7.2l8.02-8.92z" fill="#555655"/>
    </symbol>
    <symbol id="thinking-badge" viewBox="0 0 78.95 78.96">
        <title>thinking-badge</title>
        <path fill="#4ABA6A" d="M70.79 70.8v8.15h8.15v-43.1L43.11.01H.01v8.15h8.15"/><g fill="#ffc800"><path d="M70.79 48.47h8.15v30.48h-8.15zM.01.01h30.48v8.15H.01z"/></g><path fill="#ffd200" d="M78.94 35.85L43.11.01H.01l78.93 78.94"/><path opacity=".25" fill="#333" d="M76.93 78.96L0 2.06.01 0l78.94 78.95"/><g><path d="M51.96 36.66c-.21 0-.38-.17-.38-.38 0-.02-.03-1.92-.02-3.32v-.02c.07-1.21.47-3.27 1.99-6.21.43-.78 1.82-3.52 1.59-6.39-.4-5.11-3.6-8.04-8.77-8.04-4.74 0-8.2 2.92-8.42 7.1-.01.21-.03.42-.05.62-.05.47-.09.88.02 1.3.02.08.02.17-.02.25l-2.55 5.76h2.21c.21 0 .38.17.38.38l.02 3.08c0 .85.69 1.54 1.54 1.54h2.89c.11 0 .22.05.29.14l.04.05c.06.07.09.16.09.25v3.39c0 .21-.17.38-.38.38s-.38-.17-.38-.38V33.1H39.5c-1.27 0-2.31-1.03-2.31-2.31l-.02-2.69h-2.42c-.13 0-.25-.07-.32-.17-.07-.11-.08-.25-.03-.36l2.74-6.18c-.1-.5-.05-.97 0-1.44.02-.19.04-.38.05-.58.24-4.61 4.01-7.83 9.19-7.83 2.67 0 4.95.76 6.59 2.21 1.73 1.53 2.73 3.73 2.95 6.54.24 3.08-1.23 5.99-1.68 6.81-1.13 2.18-1.81 4.28-1.9 5.88-.01 1.39.02 3.27.02 3.29-.01.22-.18.39-.4.39z" fill="#FFF" stroke="#FFF" stroke-miterlimit="10"/><path d="M46.48 24.73h-.73c-.45 0-.83-.35-.86-.8l-.02-.24c-.08-.76.19-1.55.78-2.26.28-.33.42-.54.45-.68h-.04c-.18 0-.36.08-.42.12-.21.16-.5.22-.76.14-.26-.07-.47-.27-.57-.52l-.23-.59c-.14-.36-.02-.78.3-1 .46-.33 1.17-.54 1.85-.54 1.67 0 2.44 1.17 2.44 2.25 0 .99-.59 1.69-1.01 2.19-.33.39-.35.6-.34.78l.01.26c.01.23-.08.46-.24.63-.15.16-.38.26-.61.26zM46.21 27.77c-.71 0-1.28-.57-1.28-1.28 0-.71.57-1.28 1.28-1.28s1.28.57 1.28 1.28c0 .7-.58 1.28-1.28 1.28z" fill="#FFF"/></g>
    </symbol>
    <symbol id="fail-badge" viewBox="0 0 78 78">
        <title>fail-badge</title>
        <path fill="#676767" d="M69.9 69.9v8H78V35.4L42.6 0H.1v8.1h8"/><g fill="#676767"><path d="M69.9 47.8h8v30.1h-8zM.1 0h30.1v8H.1z"/></g><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="28.167" y1="49.836" x2="73.139" y2="4.864"><stop offset="0" stop-color="#929292"/><stop offset="1" stop-color="#696969"/></linearGradient><path fill="#676767" d="M78 35.4L42.6 0H.1L78 77.9"/><path opacity=".25" fill="#333" d="M76 77.9L.1 2V0L78 77.9"/><path fill="none" stroke="#555" stroke-width="2" stroke-miterlimit="10" d="M49.8 16.7C43.3 16.7 38 22 38 28.6c0 6.6 5.3 11.9 11.8 11.9 6.5 0 11.8-5.3 11.8-11.9.1-6.5-5.2-11.9-11.8-11.9z"/><g fill="#555"><circle cx="45.4" cy="27.2" r="1.7"/><circle cx="53.9" cy="27.2" r="1.7"/><g><path d="M51.338 23.765l.48-1.314 5.26 1.924-.48 1.315zM42.796 25.673l-.48-1.315 5.26-1.922.48 1.314z"/></g></g><path fill="#565656" stroke="#555" stroke-width=".75" stroke-miterlimit="10" d="M56.1 33.8c-3.6-3.5-8.9-3.5-12.5 0-.3.3-.3.7-.1 1 .2.2.6.2.8 0 3.2-3.1 7.9-3.1 11.1 0 .2.2.6.3.8 0 .2-.3.2-.7-.1-1z"/>
    </symbol>
    <symbol id="success-badge" viewBox="0 0 78 78">
        <title>success-badge</title>
        <path fill="#DD6B05" d="M69.8 69.9V78h8.1V35.4L42.5 0H-.1v8.1H8"/><g fill="#DD6B05"><path d="M69.8 47.9h8.1V78h-8.1zM-.1 0H30v8.1H-.1z"/></g><linearGradient id="a" gradientUnits="userSpaceOnUse" x1="28.029" y1="49.881" x2="73.042" y2="4.868"><stop offset="0" stop-color="#DD6B05"/><stop offset="1" stop-color="#DD6B05"/></linearGradient><path fill="#DD6B05" d="M77.9 35.4L42.5 0H-.1l78 78"/><path opacity=".25" fill="#333" d="M75.9 78L-.1 2V0l78 78"/><g><path fill="none" d="M44.6 17c.2.6.6 1.8 1.8 2.4-.3-.7-.6-1.5-.7-2.4h-1.1zM53.3 19.4c.6-.3 1-.7 1.3-1.2s.4-.9.5-1.2H54c-.1.8-.3 1.7-.7 2.4z"/><path fill="#FFF" d="M54.1 16.3v-.7h-8.5v.7h-1.9v.4s.1 1 .7 1.8c.4.7 1.2 1.4 2.3 1.7.6 1 1.4 1.7 2.4 1.9v1.7l-2.1 1-.3.8h6.1l-.3-.8-2.1-1v-1.7c1-.2 1.7-.9 2.4-1.9 1.3-.3 1.9-1.1 2.3-1.7.6-.9.7-1.8.7-1.8v-.4h-1.7zm-9.5.7h1.2c.1.9.4 1.6.7 2.4-1.2-.6-1.7-1.8-1.9-2.4zm6.2 2.4l-1-.5-1 .5.2-1.1-.8-.8 1.1-.2.5-1 .5 1 1.1.2-.8.8.2 1.1zm3.9-1.2c-.4.6-.8 1-1.3 1.2.3-.7.6-1.5.7-2.4h1.2c-.1.3-.3.7-.6 1.2z"/><g fill="#FFF"><circle cx="49.9" cy="31.6" r="3.2"/><path d="M59.6 29c-.8-.6-1.9-.5-2.5.2l-6.6 7.1c-.4.4-1 .4-1.3 0l-6.6-7.2c-.7-.8-1.8-.8-2.6-.1-.8.7-.8 1.8-.1 2.6l5.1 5.6v5.6h9.7v-5.6l5.1-5.6c.7-.8.7-1.9-.2-2.6z"/></g></g>
    </symbol>
    <symbol id="like" viewBox="0 0 398.32 419.4">
        <title>like</title>
        <path d="M.78 222.15c36.6 1.63 84.54 3.42 91.46 2.31 13.94-2.24 30.83-5.68 35.74-10.95 6.37-6.84 20.17-28.82 27.67-36.32 7.5-7.49 23.32-26.52 28.51-32.28 5.19-5.76 51.95-52.63 57.95-58.8 5.97-6.14 8.4-14.99 11.06-21.9 2.67-6.92 6.78-23.55 6.73-31.13-.07-10.73-3.14-26.31 5.53-30.32 9.9-4.58 22.71-4.01 30.11 5.75 7.32 9.66 21.15 36.73 14.06 63.03-7.09 26.3-23.05 59.39-27.48 70.62-4.43 11.23-6.8 30.14-6.8 30.14s19.74 10.92 32.28 11.33c12.54.4 39.65-1.21 49.35.4 9.71 1.62 25.44 8.9 31.51 15.78 6.07 6.88 10.16 16.11 9.75 24.64-.53 11.23-12.87 25.5-28.97 25.83 9.78 2.12 27.81 11.83 29 33.27 1.19 21.44-18.02 30.48-26.78 31.65 14.02 8.76 15.4 23.84 11.4 35.56-5.48 16.05-25.76 21.27-44.71 22.29 7.6 8.18 7.07 18.52 3.84 26.61-3.24 8.09-19.2 16.38-31.56 18.21-14.75 2.18-64.08 1.98-89.81-.25-16.21-1.4-62.61-13.5-73.53-17.54-10.92-4.05-22.6-4.65-30.5-3.63-13.16 1.7-36.03 4.18-58.46 6.55-5.41-6.5-10.5-13.26-15.22-20.25-9.08-13.45-16.88-27.82-23.18-42.72C6.65 309.04 0 276.1 0 242.12c0-6.7.26-13.36.78-19.97z" fill="#FFC908"/>
    </symbol>
    <symbol id="dislike" viewBox="0 0 398.32 419.4">
        <title>dislike</title>
        <path d="M397.54 197.25c-36.6-1.63-84.54-3.42-91.46-2.31-13.94 2.24-30.83 5.68-35.74 10.95-6.37 6.84-20.17 28.82-27.67 36.32-7.5 7.49-23.32 26.52-28.51 32.28-5.19 5.76-51.95 52.63-57.95 58.8-5.97 6.14-8.4 14.99-11.06 21.9-2.67 6.92-6.78 23.55-6.73 31.13.07 10.73 3.14 26.31-5.53 30.32-9.9 4.58-22.71 4.01-30.11-5.75-7.32-9.66-21.15-36.73-14.06-63.03 7.09-26.3 23.05-59.39 27.48-70.62 4.43-11.23 6.8-30.14 6.8-30.14s-19.74-10.92-32.28-11.33c-12.54-.4-39.65 1.21-49.35-.4-9.71-1.62-25.44-8.9-31.51-15.78C3.79 212.71-.3 203.48.11 194.95c.53-11.23 12.87-25.5 28.97-25.83-9.78-2.12-27.81-11.83-29-33.27-1.19-21.44 18.02-30.48 26.78-31.65-14.02-8.76-15.4-23.84-11.4-35.56 5.48-16.05 25.76-21.27 44.71-22.29-7.6-8.18-7.07-18.52-3.84-26.61 3.24-8.09 19.2-16.38 31.56-18.21 14.75-2.18 64.08-1.98 89.81.25 16.21 1.4 62.61 13.5 73.53 17.54 10.92 4.05 22.6 4.65 30.5 3.63 13.16-1.7 36.03-4.18 58.46-6.55 5.41 6.5 10.5 13.26 15.22 20.25 9.08 13.45 16.88 27.82 23.18 42.72 13.11 30.99 19.75 63.93 19.75 97.91-.02 6.7-.28 13.36-.8 19.97z" fill="#555655"/>
    </symbol>
    <symbol id="comment" viewBox="0 0 609.05 609.11">
        <title>comment</title>
        <g fill="#555"><path d="M599.35 609.11l-131.13-47.72c-48.84 31.21-105.28 47.67-163.66 47.67-40.39 0-79.7-7.81-116.86-23.22-38.47-15.96-72.78-39.34-101.98-69.5-56.57-58.45-87-135.43-85.68-216.76C1.36 218.25 34.28 142.3 92.73 85.73 149.84 30.44 225.04 0 304.5 0c40.39 0 79.71 7.81 116.86 23.23 38.47 15.96 72.79 39.34 101.98 69.5 49.96 51.62 80.16 119.46 85.01 191.03 4.64 68.4-13.95 136.56-52.43 192.73l43.43 132.62zM304.5 27c-72.41 0-140.95 27.74-192.99 78.12-53.27 51.56-83.26 120.77-84.47 194.89-1.21 74.12 26.52 144.28 78.08 197.54 52.75 54.5 123.58 84.51 199.44 84.51 55.33 0 108.72-16.21 154.4-46.87l5.7-3.82 91.76 33.39-30.39-92.8 4.01-5.57c78.43-108.99 67.45-258.23-26.09-354.88C451.19 57.01 380.36 27 304.5 27z"/><circle cx="304.53" cy="312.56" r="39"/><circle cx="444.53" cy="312.56" r="39"/><circle cx="164.53" cy="312.56" r="39"/></g>
    </symbol>
</svg>
<!-- ¯\_(ツ)_/¯: -->
<script>
    $(document).ready(function() {
        $('.carousel-inner .item').css('cursor', 'pointer');
        $('.carousel-inner .item').on('click', function() {
            var href = $(this).find('.carousel-btn').attr('href');
            if (typeof(href) !== 'undefined')
                window.location.assign(href);
        });
        $(document).on('mouseenter', '.rev-has-hover-button', function(e) {
            var that = $(this);
            that.find('.rev-button-hover').animate({
                'opacity': "1"
            }, 100);
        });
        $(document).on('mouseleave', '.rev-has-hover-button', function(e) {
            var that = $(this);
            that.find('.rev-button-hover').animate({
                'opacity': "0"
            }, 100);
        });
    });
</script>
</body>
</html>