<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Digital Turkcell</title>
    <meta name="description" content="Projeleri desteklemek ya da yeni bir proje başlatmak için giriş yapın."/>
    <meta name="keywords" content="" />
    <meta name="title" content="Giriş | Arıkovanı" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main-mob.css -->
    <link rel="stylesheet" href="styles/main-mob.css">
    <!-- endbuild -->

</head>
<body id="login">

<div th:replace="index-mob :: header"></div>

<main role="main">
    <div class="project-context">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="mt0 text-center green-dark fwnormal" th:text="${contentStrings.loginpageheader}">Giriş Yapın</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="pledge-page container">
        <div class="row">
            <div class="col-xs-12 m-center">
                <ul class="login-tab">
                    <li class="active">
                        <a href="#otp" id="openOtpLink" data-toggle="tab">Hızlı
                            Giriş</a>
                    </li>
                </ul>
                <div class="tout-checkout">
                    <div id="storedCardForm">
                        <div id="otp" class="tab-pane active">
                            <form class="login-form" id="formLogin" action="/login" method="post">
                                <div class="form-field mb30">
                                    <input class="text primary-form parsley-error" data-parsley-group="address" data-parsley-type="email" id="email" name="email" placeholder="E-posta Adresi" required="" type="text" data-parsley-type-message="Lütfen email adresinizi yazınız" data-parsley-required-message="Lütfen email adresinizi yazınız" data-parsley-id="13">
                                </div>
                                <div class="form-field mb30">
                                    <input class="text primary-form parsley-error" data-parsley-group="address" data-parsley-type="password" id="password" name="password" placeholder="Şifre" required="" type="password" data-parsley-type-message="Lütfen şifre yazınız" data-parsley-required-message="Lütfen şifre yazınız" data-parsley-id="13">
                                </div>
                                <button class="btn btn--blue btn--large full-width mt10 mb30" th:href="@{~/kayit}" href="signup.html" role="button">Giriş</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal bs-example-modal-md fade box-shadow" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModal">
    <div class="modal-dialog modal-md bg-grey-light" role="document">
        <div class="modal-content no-border bg-grey-light" style="box-shadow: none">
            <div class="modal-body">
                <h3 class="mb0 green-dark text-center">Şifremi Unuttum</h3>
                <form id="forgotPasswordForm" data-parsley-validate>
                    <fieldset>
                        <ol class="grouped mt30">
                            <li class="required">
                                <input id="forgotEmail" class="primary-form green-dark fs17 ptb15" required data-parsley-type="email" name="email" data-parsley-required th:attr="data-parsley-required-message=${contentStrings.registerpagealertmessagemail}" placeholder="E-posta Adresi" type="text" th:text="${contentStrings.loginpagetextboxesemail}"/>
                            </li>
                        </ol>
                    </fieldset>
                    <div class="not-refund*checkout mtb30">
                        <button id="forgotSubmit" class="ptb15 btn btn--yellow full-width green-dark--link block submit" style="font-size: 18px" tabindex="-1" type="submit" th:text="${contentStrings.forgotpasswordbutton}">Şifremi Gönder</button>
                    </div>
                </form>

                <div id="forgotPasswordModalMessage" class="mt20 text-center" style="display: none">
                    <p></p>
                    <button class="btn btn--yellow btn--large green-dark full-width" data-dismiss="modal">Tamam</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:replace="index-mob :: footerBottom"></div>

<!--Loading Animation-->
<div class="modal-dialog-save spinning" id="savingLayer" style="display: none;">
    <div class="modal-dialog-outer">
        <div class="modal-dialog-sizer">
            <div class="modal-dialog-inner">
                <div class="modal-dialog-content"></div>
            </div>
            <span class="modal-dialog-ie-hack"></span>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    contentStrings = /*[[${contentStrings}]]*/ '';
    lang = /*[[${lang}]]*/ '';
    console.log('LOGIN');
    console.log(contentStrings);
    /*]]>*/
</script>

<!-- build:js /scripts/vendor.min.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="scripts/vendor/formatMoney.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/simenty.min.js-->
<script src="scripts/simenty.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/login.min.js-->
<script src="../bower_components/dropzone/dist/min/dropzone-amd-module.min.js"></script>
<script src="../bower_components/parsleyjs/dist/parsley.min.js"></script>
<script th:if="${lang} == 'tr'" src="scripts/vendor/parsley.tr.js"></script>
<!-- endbuild -->
<script>
    function checkDeny() {
        var loginError = $('#loginError');
        (window.location.search.indexOf('?deny=true')!== -1) ? loginError.html('Geçersiz kullanıcı adı ve/veya şifre').removeClass('flash').addClass('flash').show() : loginError.text();
    }

    checkDeny();
    var state;
    var nonce;
    function recursiveCheckConnection() {
        setTimeout(function () {
            $.ajax({
                url: '' + '/mc/check-connection',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify({state: state, action: 'login'})
            }).done(function (res) {
                if(res.rejected){
                    location.reload();
                }
                if(res.connectionSuccess) {
                    location.href = "/";
                }
                if(res.formSuccess == false) {
                    location.href = "/giris?checkdeny=true";
                }
                recursiveCheckConnection();
            }).fail(function(data){
                location.href = "/kayit?connectionState=" + state;
            });
        },2500);
    }


    $(function() {
        $.ajax({
            url: '' + '/mc/request-info',
            type: 'get'
        }).done(function (res) {
            state = res.state;
            nonce = res.nonce;
            $('#mobileConnectFrame').attr("src", "https://mobcon.turkcell.com.tr/mobileconnect/oauth/authorize?client_id=deneyimcell&scope=openid%20phone&redirect_uri=" + res.redirectUrl + "&response_type=code&state=" + res.state + "&nonce=" + res.nonce + "&prompt=login&max_age=3600&acr_values=2&display=page&ui_locales=tr&claims_locales=tr")
        });

        recursiveCheckConnection();
        var baseUrl = '';
        var forgotPassword = function(e) {
            var $this = $(this);
            $this.off('click');

            var forgotEmail = $('#forgotEmail'),
                forgotPasswordModal = $('#forgotPasswordModal'),
                forgotPasswordForm = $('#forgotPasswordForm'),
                forgotPasswordModalMessage = $('#forgotPasswordModalMessage');

            e.target.setAttribute('disabled', 'disabled');
            $.ajax({
                url: baseUrl+'/users/forgot-password',
                type: 'POST',
                data: {email: forgotEmail.val()},
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8'
            }).done(function(data){
                $this.removeAttr('disabled');
                if(data) {
                    forgotPasswordForm.hide();
                    forgotPasswordModalMessage.find('p').html(data.message);
                    forgotPasswordModalMessage .show();
                    forgotPasswordModal.on('hidden.bs.modal', function (e) {
                        forgotPasswordModalMessage.hide();
                        forgotEmail.val();
                        forgotPasswordForm.show();
                    });
                }
                else {
                    console.log('forgot password else fail');
                    return false;
                }
                $this.click(forgotPassword);
                e.target.removeAttribute('disabled');
            }).fail(function() {
                console.log('forgot password fail');
            });
        };
        $('#forgotSubmit').click(forgotPassword);

        $('#forgotPasswordBtn').on('click', function (e) {
            //var email = document.getElementsByName('email')[0].value;
            //$('#forgotEmail').val(email);
        });
    });

</script>
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-71207251-1', 'auto');
    ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
</body>
</html>
