<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Digital Turkcell</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="title" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body class="checkout credit-cards" id="creditCardsNew">

    <div th:replace="index :: header"></div>

    <main role="main">
      <div class="project-context bg-grey-light border-top p0 border-bottom box-shadow">
        <div class="container valign">
          <div class="row">
            <div class="col-xs-9">
              <h2 class="mt0 green-dark" th:text="${project.name}">The World’s First Table iPhone Charger</h2>
              <div class="h5 mb0">
                <a href="#" class="NS_projects__header--team green-dark--link" th:text="${project.teamName}">Ekip İsmi</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pledge-page container mt40">
        <div class="row">
          <div class="col-xs-9">
            <p id="pledgeErrorType" class="login-form__error login-form--signup text-center" style="display: none; top:0"></p>
            <div class="tout-checkout">
              <!-- <div id="applyCoupon"></div> -->
              <h1 th:text="${contentStrings.checkoutpagetitle}">Ödeme Bilgileri</h1>
              <p th:text="${contentStrings.checkoutpagesubtitle}">
                Çok az kaldı. Aşağıdaki bilgileri doldurarak desteğini tamamlayıp projenin hayata geçmesine katkıda bulunabilirsin.
              </p>
              <div class="mt30" id="storedCardForm">
                <div id="newCardForm">
                  <div class="js-ksr-stripe stored-cards relative creditCardForm" id="creditCardForm">
                    <form id="pledgeForm" method="post" action="/pay" th:action="${activeUser != null} ? '/pay-secure' : '/pay-anon'" data-parsley-validate>
                      <div class="errored"></div>
                      <div>
                        <fieldset>
                          <legend th:text="${contentStrings.userandcardinfotitle}">
                            Kullanıcı ve Kart Bilgileri
                          </legend>
                          <div th:if="${savedCardInfo != null and activeUser != null}" class="checkbox full-width mt0 mb20">
                            <label class="label-checkbox">
                              <input id="savedCardInfo" name="useSavedCC" class="checkbox" type="checkbox" />
                              <span class="cr yellow-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                              <span class="fwbold green-dark" th:text="${savedCardInfo}">bu metin</span>
                            </label>
                          </div>
                          <ol id="cardPass" class="grouped" style="display: none">
                            <li class="required pull-left">
                              <label for="name">Şifre</label>
                              <input autocomplete="off" class="text" data-parsley-required name="password" placeholder="Şifre" type="password" />
                            </li>
                          </ol>
                          <ol id="ccInfo" class="grouped">
                            <li class="required">
                              <label for="name" th:text="${contentStrings.ucitxtnametitle}">Kartın Üzerindeki İsim</label>
                              <input autocomplete="name" class="text" data-parsley-required data-stripe="name" id="name" name="ccName" th:attr="placeholder=${contentStrings.ucitxtnameinnertext}" placeholder="İsim Soyisim" type="text" />
                            </li>
                            <li class="required" id="cardNumber">
                              <label for="number" th:text="${contentStrings.chechkoutpageuserandcardinfotextboxcardnumbertitle}">Kart Numarası</label>
                              <input autocomplete="cc-number" class="text" data-parsley-required  maxlength="19" id="number" name="ccNumber" th:attr="placeholder=${contentStrings.chechkoutpageuserandcardinfotextboxcardnumberinnertext}" placeholder="Kart Numarası" type="text" />
                            </li>
                            <li class="required pull-left" data-min_date="201510" id="cardExpiration">
                              <label for="expiration" th:text="${contentStrings.chechkoutpageuserandcardinfotextboxvalidationdatetitle}">Son Kullanma Tarihi</label>
                              <select id="expiration" autocomplete="cc-exp-month" data-parsley-errors-messages-disabled data-parsley-min="1" class="select" data-stripe="expMonth" name="ccMonth">
                                <option value="0" selected="selected" th:text="${contentStrings.chechkoutpageuserandcardinfotextboxvalidationdateinnertext1}">Ay</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                              </select>
                              <select autocomplete="cc-exp-year" data-parsley-min="1" data-parsley-errors-messages-disabled class="select" data-stripe="expYear" id="expYear" name="ccYear">
                                <option value="0" selected="selected" th:text="${contentStrings.chechkoutpageuserandcardinfotextboxvalidationdateinnertext2}">Yıl</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2036</option>
                                <option value="2035">2037</option>
                                <option value="2035">2038</option>
                                <option value="2035">2039</option>
                              </select>
                            </li>
                            <li class="required pull-left ml80" id="cardCvv">
                              <label for="cvv">CVV<i
                                class="glyphicon glyphicon-question yellow-dark ml5" data-toggle="tooltip"
                                data-placement="right"
                                data-original-title="Kredi Kartı'nızın arka yüzündeki imza şeridinin üsütünde bulunan rakamın son 3/4 hanesine verilen isimdir."
                                style="top: 2px"></i></label>
                              <input autocomplete="cc-csc" data-parsley-required data-parsley-type="digits" maxlength="4" data-parsley-length="[3, 4]" data-parsley-errors-messages-disabled class="text numeric-input" data-stripe="cvc" id="cvv" name="ccCvv" th:attr="placeholder=${contentStrings.chechkoutpageuserandcardinfotextboxcvvinnertext}" placeholder="CVV" type="text" />
                            </li>
                            <li class="pull-left ml40 relative" style="width: 70px; height: 34px; margin:0;top: 37px;">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="-153 308.9 77.8 46.6" style="width: 100%; height: 100%;"><style>.st10{fill:#FF9900;} .st11{fill:#CC0000;} .st12{fill:#FCB340;} .st13{fill:#000066;} .st14{fill:#FFFFFF;}</style><g id="layer1"><g id="g10305"><path id="path2268" class="st10" d="M-75.2 332.2c0 12.9-10.4 23.3-23.3 23.3s-23.3-10.4-23.3-23.3 10.4-23.3 23.3-23.3c12.8 0 23.3 10.4 23.3 23.3z"></path><path id="path1350" class="st11" d="M-129.9 308.9c-12.8.1-23.1 10.5-23.1 23.3 0 12.9 10.4 23.3 23.3 23.3 6 0 11.5-2.3 15.7-6.1.8-.8 1.6-1.6 2.4-2.5h-4.8c-.6-.8-1.2-1.6-1.7-2.4h8.2c.5-.8 1-1.6 1.4-2.5h-10.9c-.4-.8-.7-1.6-1-2.4h12.9c.8-2.3 1.2-4.8 1.2-7.4 0-1.7-.2-3.4-.5-5H-121c.2-.8.4-1.6.7-2.4h12.9c-.3-.9-.6-1.7-1-2.5h-10.9c.4-.8.8-1.7 1.3-2.4h8.2c-.5-.9-1.2-1.7-1.8-2.5h-4.6c.7-.8 1.5-1.6 2.3-2.4-4.1-3.8-9.6-6.1-15.7-6.1h-.3z"></path><path id="use9412" class="st12" d="M-77.6 344.3c.1 0 .2 0 .4.1l.3.3c.1.1.1.2.1.4 0 .1 0 .3-.1.4l-.3.3c-.1.1-.2.1-.4.1-.1 0-.3 0-.4-.1l-.3-.3c-.1-.1-.1-.2-.1-.4 0-.1 0-.3.1-.4l.3-.3c.2 0 .3-.1.4-.1m0 .2c-.1 0-.2 0-.3.1-.1.1-.2.1-.2.2-.1.1-.1.2-.1.3 0 .1 0 .2.1.3.1.1.1.2.2.2.1.1.2.1.3.1.1 0 .2 0 .3-.1.1-.1.2-.1.2-.2.1-.1.1-.2.1-.3 0-.1 0-.2-.1-.3-.1-.1-.1-.2-.2-.2-.1-.1-.2-.1-.3-.1m-.3 1v-.8h.5s.1 0 .1.1v.1c0 .1 0 .1-.1.2 0 0-.1.1-.2.1h.1s.1.1.1.2l.1.2h-.2l-.1-.1c-.1-.1-.1-.2-.1-.2h-.2v.3-.1m.1-.4h.4v-.1-.1h-.1-.2l-.1.2"></path></g><g id="g16480"><g id="g13802"><path id="path13804" class="st13" d="M-122.04 338.9l.3-2.1c-.2 0-.4.1-.6.1-.9 0-1-.5-.9-.8l.9-4.2h1.3l.3-2.4h-1.2l.3-1.4h-2.6c-.1.1-1.5 8.2-1.5 9.1 0 1.5.8 2.1 2 2.1.8-.1 1.5-.4 1.7-.4z"></path><path id="path13806" class="st13" d="M-121.24 334.8c0 3.5 2.3 4.3 4.3 4.3 1.8 0 2.8-.4 2.8-.4l.4-2.4s-1.5.6-2.8.6c-2.7 0-2.2-2-2.2-2h5.1s.3-1.6.3-2.3c0-1.6-.9-3.6-3.6-3.6-2.4.1-4.3 2.8-4.3 5.8zm4.4-3.5c1.4 0 1.1 1.6 1.1 1.7h-2.8c0-.1.3-1.7 1.7-1.7z"></path><path id="path13808" class="st13" d="M-101.14 338.9l.4-2.7s-1.2.6-2.1.6c-1.8 0-2.5-1.3-2.5-2.8 0-2.9 1.5-4.5 3.2-4.5 1.3 0 2.3.7 2.3.7l.4-2.6s-1.2-.9-2.5-.9c-3.9 0-6.1 2.7-6.1 7.3 0 3.1 1.6 5.2 4.6 5.2.9 0 2.3-.3 2.3-.3z"></path><path id="path13810" class="st13" d="M-135.64 329.1c-1.7 0-3 .5-3 .5l-.4 2.1s1.1-.4 2.7-.4c.9 0 1.6.1 1.6.9 0 .5-.1.6-.1.6s-.7-.1-1.1-.1c-2.4 0-4.4.9-4.4 3.7 0 2.2 1.5 2.7 2.4 2.7 1.7 0 2.4-1.1 2.5-1.1v.9h2.2l1-6.8c0-2.9-2.5-3-3.4-3zm.4 5.6c0 .4-.1 2.4-1.6 2.4-.8 0-1-.6-1-.9 0-.7.4-1.5 2.2-1.5h.4z"></path><path id="path13812" class="st13" d="M-129.94 339.1c.6 0 3.8.1 3.8-3.2 0-3.1-3-2.5-3-3.7 0-.6.5-.8 1.4-.8.3 0 1.7.1 1.7.1l.3-2.2s-.9-.2-2.3-.2c-1.8 0-3.7.7-3.7 3.2 0 2.8 3.1 2.6 3.1 3.7 0 .8-.9.9-1.5.9-1.2 0-2.2-.4-2.2-.4l-.3 2.2c0 .1.6.4 2.7.4z"></path><path id="path13814" class="st13" d="M-80.74 327.2l-.4 3.3s-.9-1.3-2.4-1.3c-2.7 0-4.2 2.7-4.2 5.9 0 2 1 4 3.1 4 1.5 0 2.3-1 2.3-1l-.1.9h2.4l1.9-11.8h-2.6zm-1.1 6.5c0 1.3-.6 3.1-2 3.1-.9 0-1.3-.7-1.3-1.9 0-1.9.9-3.2 2-3.2.9-.1 1.3.5 1.3 2z"></path><path id="path13816" class="st13" d="M-149.04 339l1.5-8.9.2 8.9h1.7l3.2-8.9-1.4 8.9h2.5l2-11.8h-4l-2.4 7.2-.1-7.2h-3.7l-2 11.8h2.5z"></path><path id="path13818" class="st13" d="M-110.84 339c.7-4.1 1-7.3 3.1-6.7.3-1.6 1-3 1.4-3.6 0 0-.1-.2-.8-.2-1.1 0-2.6 2.3-2.6 2.3l.2-1.4h-2.3l-1.5 9.6h2.5z"></path><g id="use14699"><path id="path13810_1_" class="st13" d="M-95.94 329.1c-1.7 0-3 .5-3 .5l-.4 2.1s1.1-.4 2.7-.4c.9 0 1.6.1 1.6.9 0 .5-.1.6-.1.6s-.7-.1-1.1-.1c-2.4 0-4.4.9-4.4 3.7 0 2.2 1.5 2.7 2.4 2.7 1.7 0 2.4-1.1 2.5-1.1v.9h2.2l1-6.8c0-2.9-2.6-3-3.4-3zm.3 5.6c0 .4-.1 2.4-1.6 2.4-.8 0-1-.6-1-.9 0-.7.4-1.5 2.2-1.5h.4z"></path></g><path id="use14701" class="st13" d="M-90.04 339c.4-3 1.1-7.3 3.1-6.7.3-1.6 0-1.6-.6-1.6h-1.4l.2-1.4h-2.3l-1.5 9.6 2.5.1z"></path></g><g id="g10289"><path id="path4157" class="st14" d="M-121.4 338.1l.3-2.1c-.2 0-.4.1-.6.1-.9 0-1-.5-.9-.8l.7-4.3h1.3l.3-2.3h-1.2l.3-1.4h-2.5c-.1.1-1.5 8.2-1.5 9.1 0 1.5.8 2.1 2 2.1.9-.1 1.6-.3 1.8-.4z"></path><path id="path4155" class="st14" d="M-120.6 334.1c0 3.5 2.3 4.3 4.3 4.3 1.8 0 2.6-.4 2.6-.4l.4-2.4s-1.4.6-2.6.6c-2.7 0-2.2-2-2.2-2h5s.3-1.6.3-2.3c0-1.6-.8-3.6-3.5-3.6-2.4.1-4.3 2.7-4.3 5.8zm4.4-3.5c1.4 0 1.1 1.6 1.1 1.7h-2.8c0-.2.3-1.7 1.7-1.7z"></path><path id="path4151" class="st14" d="M-100.5 338.1l.4-2.7s-1.2.6-2.1.6c-1.8 0-2.5-1.3-2.5-2.8 0-2.9 1.5-4.5 3.2-4.5 1.3 0 2.3.7 2.3.7l.4-2.6s-1.5-.6-2.8-.6c-2.9 0-5.6 2.5-5.6 7.1 0 3.1 1.5 5.1 4.5 5.1.8 0 2.2-.3 2.2-.3z"></path><path id="path4149" class="st14" d="M-135 328.4c-1.7 0-3 .5-3 .5l-.4 2.1s1.1-.4 2.7-.4c.9 0 1.6.1 1.6.9 0 .5-.1.6-.1.6s-.7-.1-1.1-.1c-2.1 0-4.4.9-4.4 3.7 0 2.2 1.5 2.7 2.4 2.7 1.7 0 2.5-1.1 2.5-1.1l-.1.9h2.2l1-6.8c.1-2.9-2.4-3-3.3-3zm.5 5.6c0 .4-.3 2.4-1.8 2.4-.8 0-1-.6-1-.9 0-.7.4-1.5 2.2-1.5.5-.1.6-.1.6 0z"></path><path id="path4145" class="st14" d="M-129.3 338.4c.6 0 3.8.1 3.8-3.2 0-3.1-3-2.5-3-3.7 0-.6.5-.8 1.4-.8.3 0 1.7.1 1.7.1l.3-2.2s-.9-.2-2.3-.2c-1.8 0-3.7.7-3.7 3.2 0 2.8 3.1 2.6 3.1 3.7 0 .8-.9.9-1.5.9-1.2 0-2.2-.4-2.2-.4l-.3 2.2c0 .1.6.4 2.7.4z"></path><path id="path4139" class="st14" d="M-80 326.4l-.5 3.3s-.9-1.3-2.4-1.3c-2.3 0-4.2 2.7-4.2 5.9 0 2 1 4 3.1 4 1.5 0 2.3-1 2.3-1l-.1.9h2.4l1.9-11.8H-80zm-1.2 6.5c0 1.3-.6 3.1-2 3.1-.9 0-1.3-.7-1.3-1.9 0-1.9.9-3.2 2-3.2.9-.1 1.3.6 1.3 2z"></path><path id="path4133" class="st14" d="M-148.4 338.2l1.5-8.9.2 8.9h1.7l3.2-8.9-1.4 8.9h2.5l2-11.8h-3.9l-2.4 7.2-.1-7.2h-3.6l-2 11.8h2.3z"></path><path id="path4131" class="st14" d="M-110.2 338.2c.7-4.1.9-7.4 2.6-6.8.3-1.6.6-2.2.9-2.9h-.5c-1.1 0-1.9 1.5-1.9 1.5l.2-1.4h-2.3l-1.5 9.6h2.5z"></path><g id="use8523"><path id="path4149_1_" class="st14" d="M-94.8 328.4c-1.7 0-3 .5-3 .5l-.4 2.1s1.1-.4 2.7-.4c.9 0 1.6.1 1.6.9 0 .5-.1.6-.1.6s-.7-.1-1.1-.1c-2.1 0-4.4.9-4.4 3.7 0 2.2 1.5 2.7 2.4 2.7 1.7 0 2.5-1.1 2.5-1.1l-.1.9h2.2l1-6.8c.1-2.9-2.4-3-3.3-3zm.5 5.6c0 .4-.3 2.4-1.8 2.4-.8 0-1-.6-1-.9 0-.7.4-1.5 2.2-1.5.5-.1.5-.1.6 0z"></path></g><g id="use8525"><path id="path4131_1_" class="st14" d="M-89.4 338.2c.7-4.1.9-7.4 2.6-6.8.3-1.6.6-2.2.9-2.9h-.5c-1.1 0-1.9 1.5-1.9 1.5l.2-1.4h-2.3l-1.5 9.6h2.5z"></path></g><path id="text9407" class="st14" d="M-77.6 336.8c.1 0 .2 0 .4.1l.3.3c.1.1.1.2.1.4 0 .1 0 .3-.1.4l-.3.3c-.1.1-.2.1-.4.1-.1 0-.3 0-.4-.1l-.3-.3c-.1-.1-.1-.2-.1-.4 0-.1 0-.3.1-.4l.3-.3c.2-.1.3-.1.4-.1m0 .1c-.1 0-.2 0-.3.1-.1.1-.2.1-.2.2-.1.1-.1.2-.1.3 0 .1 0 .2.1.3.1.1.1.2.2.2.1.1.2.1.3.1.1 0 .2 0 .3-.1.1-.1.2-.1.2-.2.1-.1.1-.2.1-.3 0-.1 0-.2-.1-.3-.1-.1-.1-.2-.2-.2-.1-.1-.2-.1-.3-.1m-.3 1v-.8h.5s.1 0 .1.1v.1c0 .1 0 .1-.1.2 0 0-.1.1-.2.1h.1s.1.1.1.2l.1.2h-.2l-.1-.1c-.1-.1-.1-.2-.1-.2h-.2v.3-.1m.1-.4h.4v-.1-.1h-.1-.2l-.1.2"></path></g></g></g></svg>
                            </li>
                            <li class="pull-left relative ml10" style="width: 80px; height: 32px; margin:0;top: 40px;">
                              <svg viewBox="-21.9 316.3 120.6 37" xmlns="http://www.w3.org/2000/svg" style="width: 100%; height: 100%;"><style>.st0{fill:url(#polygon3052_1_);} .st1{fill:url(#path3054_1_);} .st2{fill:url(#path3056_1_);} .st3{fill:url(#path3058_1_);} .st4{fill:url(#path3060_1_);} .st5{fill:url(#path3041_1_);}</style><g id="g3900"><g id="g3891"><linearGradient gradientTransform="matrix(.805 0 0 -.805 -3.817 649.286)" gradientUnits="userSpaceOnUse" id="polygon3052_1_" x1="-15.691" x2="103.883" y1="390.451" y2="391.56"><stop offset="0" stop-color="#191E5F"></stop><stop offset="1" stop-color="#142787" stop-opacity=".819"></stop></linearGradient><path class="st0" d="M26.6 316.6h9.8l-6.1 35.8h-9.8z" id="polygon3052"></path><linearGradient gradientTransform="matrix(1 0 0 -1 0 796)" gradientUnits="userSpaceOnUse" id="path3054_1_" x1="-16.929" x2="102.646" y1="460.61" y2="461.719"><stop offset="0" stop-color="#191E5F"></stop><stop offset="1" stop-color="#142787" stop-opacity=".819"></stop></linearGradient><path class="st1" d="M65.8 317.8c-1.9-.7-5-1.5-8.8-1.5-9.7 0-16.4 4.9-16.5 11.8-.1 5.1 4.9 8 8.6 9.7 3.8 1.8 5.1 2.9 5.1 4.4 0 2.4-3 3.5-5.8 3.5-3.9 0-6-.5-9.2-1.9l-1.3-.6-1.4 8c2.3 1 6.5 1.9 10.9 1.9 10.3 0 16.9-4.8 17-12.2 0-4.1-2.6-7.2-8.2-9.7-3.4-1.7-5.5-2.8-5.5-4.4 0-1.5 1.8-3.1 5.6-3.1 3.2 0 5.5.6 7.3 1.4l.9.4 1.3-7.7" id="path3054"></path><linearGradient gradientTransform="matrix(1 0 0 -1 0 796)" gradientUnits="userSpaceOnUse" id="path3056_1_" x1="-16.925" x2="102.65" y1="460.182" y2="461.291"><stop offset="0" stop-color="#191E5F"></stop><stop offset="1" stop-color="#142787" stop-opacity=".819"></stop></linearGradient><path class="st2" d="M90.8 316.9h-7.5c-2.3 0-4.1.6-5.1 3l-14.5 32.8H74s1.7-4.4 2.1-5.4h12.5c.3 1.3 1.2 5.4 1.2 5.4h9.1l-8.1-35.8m-12 23.1c.8-2.1 3.9-10 3.9-10-.1.1.8-2.1 1.3-3.4l.7 3.1s1.9 8.6 2.3 10.3h-8.2z" id="path3056"></path><g id="g3079" transform="matrix(.805 0 0 .805 8.09 9.256)"><linearGradient gradientTransform="matrix(.805 0 0 -.805 -6.434 787.228)" gradientUnits="userSpaceOnUse" id="path3058_1_" x1="-29.798" x2="89.777" y1="475.208" y2="476.317"><stop offset="0" stop-color="#191E5F"></stop><stop offset="1" stop-color="#142787" stop-opacity=".819"></stop></linearGradient><path class="st3" d="M5.3 382.1l-11.9 30.3-1.3-6.2c-2.2-7.1-9.1-14.8-16.8-18.7l10.9 38.9H-1L18.1 382H5.3" id="path3058"></path><linearGradient gradientTransform="matrix(.805 0 0 -.805 -6.434 787.228)" gradientUnits="userSpaceOnUse" id="path3060_1_" x1="-29.917" x2="89.657" y1="488.077" y2="489.186"><stop offset="0" stop-color="#191E5F"></stop><stop offset="1" stop-color="#142787" stop-opacity=".819"></stop></linearGradient><path class="st4" d="M-17.5 382.1h-19.6l-.2.9c15.2 3.7 25.3 12.6 29.5 23.3l-4.3-20.5c-.7-2.8-2.8-3.6-5.4-3.7" id="path3060"></path></g><linearGradient gradientTransform="matrix(1 0 0 -1 0 796)" gradientUnits="userSpaceOnUse" id="path3041_1_" x1="-17.054" x2="102.521" y1="474.057" y2="475.166"><stop offset="0" stop-color="#191E5F"></stop><stop offset="1" stop-color="#142787" stop-opacity=".819"></stop></linearGradient><path class="st5" d="M-11.3 322.7c-.2-.8-.4-1.2-1.2-1.6l2.9 1.3" id="path3041"></path></g></g></svg>
                            </li>
                            <li th:if="${activeUser != null}"  class="checkbox clear full-width inline-block mt10" id="rememberCard">
                              <span>
                                <input id="ccRemember" type="checkbox" checked="checked" name="ccRemember" value="true" />
                                <span class="cr yellow-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span th:text="${contentStrings.chechkoutpageuserandcardinfocheckbox1text}">Bu kartı gelecekteki kullanımlar için hatırla</span> <i
                                class="glyphicon glyphicon-question yellow-dark ml5" data-toggle="tooltip"
                                data-placement="right"
                                data-original-title="Kart Bilgileriniz İyizico Ödeme Sisteminde saklanmaktadır."
                                style="top: 2px"></i>
                              </label>
                            </li>
                          </ol>
                          <ol id="3ds" class="grouped">
                            <li class="checkbox clear full-width inline-block mt10">
                              <label>
                                <input id="threeDs" type="checkbox" name="threeDs" value="false" />
                                <span class="cr yellow-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                <span th:text="${contentStrings.chechkoutpageuserandcardinfocheckbox2text}">3D Secure ile ödeme</span> <i
                                class="glyphicon glyphicon-question yellow-dark ml5" data-toggle="tooltip"
                                data-placement="right"
                                data-original-title="Kredi kartları için 3D secure önerilir, Banka kartları için zorunludur."
                                style="top: 2px"></i>
                              </label>
                            </li>
                          </ol>
                        </fieldset>
                      </div>
                      <div id="billingInfo">
                        <fieldset>
                          <!--<legend>Kullanıcı ve Fatura Bilgileri</legend>-->
                          <ol>
                            <!--<li class="required">
                              <label for="title">Ünvan</label>
                              <input class="text"  id="title" name="title" data-parsley-required placeholder="Ünvan" type="text" />
                            </li>-->
                           <!-- <li class="required">
                              <label for="taxNo">Vergi Numarası</label>
                              <input class="text numeric-input"  id="taxNo" name="taxNo" data-parsley-required placeholder="Bireysel Kullanıcılar için TCK No" type="text" data-parsley-type="digits" data-parsley-maxlength="11" maxlength="11" />
                            </li>-->
                            <!--<li class="required">
                              <label for="taxOffice">Vergi Dairesi</label>
                              <input class="text"  id="taxOffice" name="taxOffice" placeholder="Bireysel Kullanıcılar boş bırakabilir" type="text" />
                            </li>-->
                            <li th:if="${activeUser == null}" class="required">
                              <label for="email">E-posta Adresi</label>
                              <input id="email" class="text" data-parsley-required data-parsley-type="email" name="email" th:attr="data-parsley-required-message=${contentStrings.registerpagealertmessagemail}" type="text" />
                            </li>
                            <li th:if="${activeUser == null}" class="required">
                              <label for="phone">Telefon</label>
                              <input id="phone" class="text numeric-input" data-parsley-required data-parsley-type="number" th:value="${(bipMsisdn != null) ? bipMsisdn : ''}" th:disabled="${bipMsisdn}" name="phone" data-parsley-required-message="Lütfen telefon numaranızı yazınız" maxlength="11" placeholder="Telefon (0XXXXXXXXXX)" type="text" />
                            </li>
                            <li class="required">
                              <label for="billAddress" th:text="${contentStrings.chechkoutpageuserandcardinfotextboxaddresstitle}">Teslimat Adresi</label>
                              <textarea id="billAddress" data-parsley-required name="address" rows="3"></textarea>
                            </li>
                            <!-- <li class="required">
                              <label for="cityName">Şehir</label>
                              <input class="text"  id="cityName" autocomplete="off" data-parsley-required data-parsley-errors-messages-disabled type="text" />
                              <input type="text" id="cityId" class="hidden" required name="cityId" style="display: none;" data-parsley-required-message="Lütfen şehir giriniz" />
                            </li>
                            -->
                            <li class="required">

                              <label for="cityId" th:text="${contentStrings.chechkoutpageuserandcardinfotextboxcitytitle}">Şehir</label>
                              <select id="cityId" name="cityId" data-parsley-min="1" data-parsley-min-message="Lütfen bir şehir seçiniz">
                                <option th:each="city : ${cities}" th:value="${{city.id}}" th:text="${city.name}"></option>
                              </select>
                            </li>
                            <li>
                              <label for="name" th:text="${contentStrings.chechkoutpageuserandcardinfotextboxnotestitle}">Notunuz</label>
                              <input class="text" style="width: 100%" name="rewardPreferences" th:attr="placeholder=${contentStrings.chechkoutpageuserandcardinfotextboxnotesinnertext}" placeholder="Ürün rengi, boyut vb." type="text" />
                            </li>

                           </ol>
                        </fieldset>

                        <!--Hidden fields-->
                        <input type="hidden" class="hidden" name="projectId" th:value="${project.id}" />
                        <input type="hidden" class="hidden" name="rewardId" th:value="${reward.id}" />
                        <input type="hidden" class="hidden" name="amount" th:value="${amountToPledge}" />

                        <div class="not-refund*checkout mt90 mb50" id="submit" style="position: relative; top: 35px">
                          <button disabled="disabled" class="btn btn--yellow green-dark--link block submit" tabindex="-1" type="submit" th:text="${contentStrings.chechkoutpageapprovebuttontext}">Onayla</button>
                        </div>
                      </div>
                    </form>
                    <form class="sales-agreement" method="post" th:action="${reward.agreementUrl}" target="_blank">
                      <li class="checkbox full-width inline-block mt20" id="agreeTerms">

                        <label class="label-checkbox">
                          <input class="checkbox agreement" type="checkbox" checked="checked" />
                          <span class="cr yellow-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                          <button class="btn--reset yellow-dark--link underline" th:text="${reward.agreementText}">Ödül sözleşmesini</button>&nbsp; ve
                          <a class="yellow-dark--link underline" href="https://www.iyzico.com/pazaryeri-alici-anlasma/" target="_blank">Ödeme Sistemi sözleşmesini</a>
                          onaylıyorum.
                        </label>

                        <label th:if="${activeUser == null}" class="label-checkbox mt10">
                          <input id="userAgreement" class="checkbox agreement" type="checkbox" checked="checked" />
                          <span class="cr yellow-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                          <a class="yellow-dark--link underline" data-toggle="modal" data-target="#agreementModal">Kullanıcı sözleşmesini</a> onaylıyorum.
                        </label>
                      </li>
                      <!--Hidden fields-->
                      <input type="hidden" name="projectId" th:value="${project.id}" />
                      <input type="hidden" name="rewardId" th:value="${reward.id}" />
                      <input type="hidden" name="amount" th:value="${amountToPledge}" />
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <ol class="mt30 NS_projects__rewards-list">
              <li class="yellow-box mb40">
                <div class="reward__info">
                  <h5 class="green-dark relative info-box pl10" th:text="${contentStrings.chechkoutpageinfoboxtitle}">Bilgi Kutusu</h5>
                  <p th:text="${contentStrings.chechkoutpageinfoboxsubtitle}">Projenin hedefine ulaşamadığı durumda destek için verdiğin miktar sana iade edecektir. Proje
                    hedefine ulaştığı takdirde ise fatura bilgileri için proje sahibi sizinle iletişime geçecektir.</p>
                </div>
              </li>
              <li class="hover-group js-reward-available reward reward--selected">
                <div class="reward__info">
                  <h5 class="mb5">Ödenecek Tutar</h5>
                  <h2 class="reward__pledge-amount" th:text="${amountToPledge + ' ' + contentStrings.currency}">100 TL</h2>
                  <!--<h5 class="mt20 mb5">Gönderilecek Yer</h5>
                  <h2 class="reward__name" th:text="${city.name}">İstanbul</h2>-->
                </div>
                <div class="reward__info no-border">
                  <h5 class="mb20">Seçilen Ödül</h5>
                  <h2 class="reward__name" th:text="${reward.minAmount + ' ' + contentStrings.currency}">90 TL</h2>
                  <h2 class="reward__name" th:text="${reward.name}">Teşekkürler</h2>
                  <p class="reward__description reward__description--expanded mt15" th:text="${reward.description}">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo esas o.
                  </p>
                </div>
              </li>
              <li>
                <div th:if="${activeUser != null}" id="applyCoupon" class="yellow-box mb40"></div>

              </li>
            </ol>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="index :: footerBottom"></div>

    <!--Loading Animation-->
    <div class="modal-dialog-save spinning" id="savingLayer" style="display: none;">
      <div class="modal-dialog-outer">
        <div class="modal-dialog-sizer">
          <div class="modal-dialog-inner">
            <div class="modal-dialog-content"></div>
          </div>
          <span class="modal-dialog-ie-hack"></span>
        </div>
      </div>
    </div>

    <div class="modal bs-example-modal-md fade box-shadow" id="agreementModal" tabindex="-1" role="dialog" aria-labelledby="agreementModal">
      <div class="modal-dialog modal-md bg-grey-light" role="document">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-10px"><span aria-hidden="true">&times;</span></button>
          <!--<h3 class="modal-title green-dark text-center">KULLANICI ÜYE SÖZLEŞMESİ</h3>-->
        </div>
        <div class="modal-content no-border bg-grey-light" style="box-shadow: none">
          <div class="modal-body" style="height: 300px; overflow-y: scroll">
            <iframe th:src="@{~/user-agreement}" class="modal-iframe"></iframe>
            <!--<pre style="border: none; background: transparent; font: inherit">

            </pre>-->

          </div>
        </div>
        <div class="modal-footer">
          <button id="agree" class="btn btn--yellow btn--large green-dark full-width mt10" data-dismiss="modal">Okudum, onaylıyorum</button>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      contentStrings = /*[[${contentStrings}]]*/ '';
      console.log('PLEDGE');
      console.log(contentStrings);
      /*]]>*/
    </script>

    <!-- build:js /scripts/vendor.min.js-->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="scripts/vendor/formatMoney.js"></script>
    <!-- endbuild -->


    <!-- build:js /scripts/templates.min.js-->
    <script src="../bower_components/handlebars/handlebars.js"></script>
    <script src="scripts/hbsHelpers.js"></script>
    <script src="scripts/templates.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/pledge.min.js-->
    <script src="../bower_components/jquery.inputmask/dist/inputmask/inputmask.js"></script>
    <script src="../bower_components/jquery.inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>
    <script src="../bower_components/parsleyjs/dist/parsley.min.js"></script>
    <script th:if="${lang} == 'tr'" src="scripts/vendor/parsley.tr.js"></script>
    <script src="../bower_components/jquery-ui/ui/core.js"></script>
    <script src="../bower_components/jquery-ui/ui/widget.js"></script>
    <script src="../bower_components/jquery-ui/ui/position.js"></script>
    <script src="../bower_components/jquery-ui/ui/autocomplete.js"></script>
    <script src="../bower_components/jquery-ui/ui/menu.js"></script>
    <script src="scripts/pledge.js"></script>
    <script src="scripts/app/pledgeStart.js"></script>
    <!-- endbuild -->

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-71207251-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>

    <script th:if="${project.gaTrackingCode != null and #strings.length(project.gaTrackingCode) > 1}" th:inline="javascript">
      /*<![CDATA[*/
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
        { (i[r].q=i[r].q||[]).push(arguments)}
        ,i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', /*[[${project.gaTrackingCode}]]*/ '', {'name':'secondary'});
      ga('secondary.send', 'pageview');
      /*]]>*/
    </script>
    <!-- End Google Analytics -->
  </body>
</html>


