<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Digital Turkcell</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="title" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.png">     <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div th:replace="index :: header"></div>

    <main role="main">

      <div id="startProjectHeader" class="border-bottom box-shadow text-center" style="padding: 100px 0">
        <div class="container">
          <p class="text-center block h2 mb40 green-dark" th:text="${contentStrings.thinkingprojectthankspagetitle}">Projeye desteğin için teşekkürler.</p>

          <p class="mb10">Arıkovanı hem kitlesel fonlama hem de kitlesel düşünmeyi bir arada yeni bir kültür haline getirmeyi hedefliyor.</p>

          <p class="mb10">Bu projeyi şimdilik sadece değerlendirebilirsin.</p>

          <p class="mb10">Kitlesel fonlama süreci başladığında sana haber vereceğiz.</p>

          <p th:if="${activeUser == null}" class="mt70 mb10 text-center">Henüz üye olmadıysan</p>
          <a th:if="${activeUser == null}" class="btn btn--white btn--large plr80" th:href="@{~/kayit}" href="signup.html" role="button">Kayıt Ol</a>
        </div>
      </div>

    </main>

    <div th:replace="index :: footerBottom"></div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      contentStrings = /*[[${contentStrings}]]*/ '';
      /*]]>*/
    </script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-71207251-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </body>
</html>
