<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Digital Turkcell</title>
  <meta name="description" content=""/>
  <meta name="keywords" content=""/>
  <meta name="title" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="shortcut icon" href="/images/favicon.png">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.tmp) /styles/main.css -->
  <link rel="stylesheet" href="styles/main.css"/>
  <!-- endbuild -->
</head>
<body>
<div th:replace="index :: header"></div>

<main role="main">
  <div class="bg-grey-light ptb40">

    <div class="container">
      <div id="allProjectContent" class="tab-content relative mt60">
        <div role="tabpanel" class="tab-pane fade in active" id="basics">
          <div class="center block">
            <h2 class="h2 green-dark fwbold" th:text="${titleTop}">Projenizi yaratmaya başlayın!</h2>
            <p class="h4 mt0 green-dark" th:text="${titleBottom}">Görsel, hedef ve diğer önemli detayları ekleyebilirsiniz.</p>
          </div>

          <div class="table-display full-width mt60 mb30 ptb20 plr10 m-center bg-white border">
            <div class="row">
                <div id="basics-main" class="project-main-form">
                  <form id="questions-form" data-parsley-validate="">
                    <input type="hidden" id="projectImage" value="/images/placeholders/project.jpg">
                    <input type="hidden" id="successProjectImage" value="/images/placeholders/project.jpg">
                    <ol class="fields" style="margin: 0 auto 0 auto; width: 973px;">
                      <li class="short-description" th:each="q, status : ${questions}" th:if="${q.question != null && !#strings.isEmpty(q.question)}">
                        <div class="grey-field mb20 clearfix">
                          <label class="question" th:text="${q.question}">Proje Kısa Tanımı</label>
                          <div class="field-wrapper">
                            <textarea rows="4" class="form-control border remaining form-val" th:disabled="${showButtons} == false" th:attr="name='answer' + ${status.index + 1}, maxlength=${q.limit}" style="width: 680px" th:text="${answers[status.index]}" data-parsley-required-message="Bu alan doldurulmalıdır."></textarea>
                          </div>
                          <div class="field-remaining pull-right mr20 t10 fwbold"><span th:if="${q.limit} != '9999'" th:attr="limit=${q.limit}" class="letterCounter"></span></div>
                        </div>
                      </li>
                    </ol>
                  </form>
                  <p style="margin-left: 30px; font-style: italic" th:text="${contentStrings.projectstartnewmandatorytext}">* ile belirtilen alanların doldurulması zorunludur</p>
                </div>
              <input type="hidden" id="status" value="0">
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</main>

<div id="discardOrSave" class="tools full-width z4 bg-white-95 transition-all" style="bottom: 101px" th:if="${showButtons}">
  <div class="container ptb20">
    <ol class="tools-panels pull-right no-margin mr1">
      <li class="form-tools">
        <div class="save button_container inline-block"><button id="button-save" class="btn btn-success fwbold" th:attr="data-formId=${form.id}" th:text="${contentStrings.commonsave}">Kaydet</button>
          <div class="cancel button_container inline-block"><button id="button-approval" class="btn fwbold mr20" style="background-color: #ffb900" th:attr="data-formId=${form.id}" th:text="${contentStrings.fillprojectdetailspage1tabsend}">Onaya Gönder</button></div>
        </div>
      </li>
    </ol>
  </div>
</div>

<div th:replace="index :: footerBottom"></div>

<!--Error Modal-->
<div class="modal bs-example-modal-md fade box-shadow" id="errorModal" tabindex="-1" role="dialog"
     aria-labelledby="errorModal">
  <div class="modal-dialog modal-md bg-grey-light" role="document">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-10px"><span
        aria-hidden="true">&times;</span></button>
      <h3 class="modal-title green-dark text-center">Bir Hata Oluştu</h3>
    </div>
    <div class="modal-content no-border bg-grey-light" style="box-shadow: none">
      <div class="modal-body">
        <p class="text-center m0 block dark-green"></p>
      </div>
    </div>
    <div class="modal-footer">
      <button id="agree" class="btn btn--yellow btn--large green-dark full-width mt10" data-dismiss="modal">Tamam
      </button>
    </div>
  </div>
</div>

<!-- OK modal -->
<div class="modal bs-example-modal-md fade box-shadow" id="okModal" tabindex="-1" role="dialog"
     aria-labelledby="errorModal">
  <div class="modal-dialog modal-md bg-grey-light" role="document">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-10px"><span
        aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-content no-border bg-grey-light" style="box-shadow: none">
      <div class="modal-body">
        <p id="message" class="text-center m0 block dark-green"></p>
      </div>
    </div>
    <div class="modal-footer">
      <button id="agree-ok" class="btn btn--yellow btn--large green-dark full-width mt10" data-dismiss="modal">Tamam
      </button>
    </div>
  </div>
</div>

<script src="/bower_components/ckeditor/ckeditor.js"></script>

<script th:inline="javascript">
  /*<![CDATA[*/
  contentStrings = /*[[${contentStrings}]]*/ '';
  console.log('PREAPPLICATION');
  console.log(contentStrings);
  /*]]>*/
</script>

<!-- build:js /scripts/vendor.min.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="scripts/vendor/formatMoney.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/templates.min.js-->
<script src="../bower_components/handlebars/handlebars.js"></script>
<script src="scripts/hbsHelpers.js"></script>
<script src="scripts/templates.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/preapplication.min.js-->
<script src="../bower_components/parsleyjs/dist/parsley.min.js"></script>
<!-- endbuild -->

<script>
  window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    };
  ga.l = +new Date;
  ga('create', 'UA-71207251-1', 'auto');
  ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<script>
  $(document).ready(function() {

    function refresh_counter($counter) {
      var $input = $counter.closest('.grey-field').find('textarea');
      var len = ($input.val().length === 0 ? '0' : $input.val().length);
      var html = '(' + len + '/' + $counter.attr('limit') + ')';
      $counter.html(html);
    }

    $('.letterCounter').each(function(i, o) {
      refresh_counter($(o));
    });

    $('.field-wrapper textarea').on('keyup', function() {
      var $counter = $(this).closest('.grey-field').find('.letterCounter');
      if ($counter.length > 0) {
        refresh_counter($counter);
      }
    });

    $('.question').each(function(i, o) {
      var text = $(o).text();
      if (text.indexOf('*') >= 0) {
        $(o).siblings('.field-wrapper').find('.remaining').attr('required', true);
      }
    });

    function serialize_form() {
      var o = {};
      $('.form-val').each(function (i, v) {
        var name = $(v).attr('name');
        var val = $(v).val();
        o[name] = val || '';
      });
      return o;
    };

    $('#questions-form').parsley();

    $('#button-approval, #button-save').on('click', function() {
      if ($(this).attr('id') === 'button-approval') {
        $('#questions-form').parsley().validate();
      } else {
        var payload = serialize_form();
        payload.requestApproval = false;

        var aydi = $('#button-approval').attr('data-formId');

        $.ajax({
          url: '/forms/' + aydi + '/save',
          type: 'post',
          dataType: 'json',
          data: payload,
          success: function(json) {
            if (json.success) {
              $('#message').html(json.message);
              $('#okModal').modal('show');
              $('#agree-ok').on('click', function() {
                $('#agree-ok').off('click');
                window.location.reload(true);
              });
            } else
              alert('Teknik bir hata oluştu.');
          },
          error: function() {
            alert('Teknik bir hata oluştu.');
          }
        });
      }
    });

    $('#questions-form').parsley().on('form:validate', function (formInstance) {
      var ok = formInstance.isValid();
      if (ok) {

        var payload = serialize_form();
        payload.requestApproval = true;

        var aydi = $('#button-approval').attr('data-formId');

        $.ajax({
          url: '/forms/' + aydi + '/save',
          type: 'post',
          dataType: 'json',
          data: payload,
          success: function(json) {
            if (json.success) {
              $('#message').html(json.message);
              $('#okModal').modal('show');
              $('#agree-ok').on('click', function() {
                $('#agree-ok').off('click');
                window.location.reload(true);
              });
            } else
              alert('Teknik bir hata oluştu.');
          },
          error: function() {
            alert('Teknik bir hata oluştu.');
          }
        });
      }
    });
  });
</script>

</body>
</html>
