<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Digital Turkcell</title>
    <meta name="description" th:content="${project.shortDescription}"/>
    <meta name="keywords" content="keywords" th:content="${project.searchKeywords}">
    <meta name="title" th:content="${project.name}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:url" content="https://arikovani.com/projects/62/detail"
          th:content="'https://arikovani.com/projeler/' + ${project.urlPostfix} + '/detay'"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Proje Başlığı" th:content="${project.name}"/>
    <meta property="og:description" content="Proje içeriği"
          th:content="'Arıkovanı’nda bu projeyi destekle; senin katkınla hayata geçsin! Teknoloji ürünlerine ilk ve en uygun fiyatla sahip olma şansını yakala! ' + ${project.shortDescription} "/>
    <meta property="og:image" content="https://arikovani.com/uploaded/f774bb5f-8fd0-11e5-afc8-f23c91184cab.jpg"
          th:content="${project.image}"/>
    <meta property="og:video" content="Video" th:content="${project.video}"/>
    <meta property="og:video:type" content="video/mp4"/>
    <meta property="og:site_name" content="Arıkovanı"/>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- endbuild -->
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
        var projectId = /*[[${project.id}]]*/ 0;
        var givenRate = /*[[${givenRate}]]*/ 0;
        /*]]>*/
        var isMob = false;
    </script>
    <script th:inline="javascript">
        //<![CDATA[
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
        //]]>
    </script>

</head>
<body>
<div id="fb-root"></div>
<!--Loading Animation-->
<div class="modal-dialog-save spinning" id="savingLayer">
    <div class="modal-dialog-outer">
        <div class="modal-dialog-sizer">
            <div class="modal-dialog-inner">
                <div class="modal-dialog-content"></div>
            </div>
            <span class="modal-dialog-ie-hack"></span>
        </div>
    </div>
</div>

<div class="modal-dialog-save modal-dialog-save--bottom spinning" id="savingLayerBotom" style="display: none">
    <div class="modal-dialog-outer">
        <div class="modal-dialog-sizer">
            <div class="modal-dialog-inner">
                <div class="modal-dialog-content"></div>
            </div>
            <span class="modal-dialog-ie-hack"></span>
        </div>
    </div>
</div>

<div th:replace="index :: header"></div>

<main role="main">

    <div id="mainContent" itemscope
         class="Project265237321_cxt Project-state-live Project-ended-undefined Project-is_starred-false">
        <div id="contentWrap">
            <section class="NS_projects__hero-funding bg-white">
                <!--<th:block th:if="${projectInvited}">
                    <div class="row mb20" th:if="${projectInvited.status == false}">
                        <button class="btn btn--yellow btn--small full-width" id="acceptInvite" style="font-size: 18px; height: 60px;">Projeye
                            davetiniz bulunmaktadır! Daveti kabul etmek için Tıklayınız!
                        </button>
                    </div>
                </th:block>-->
                <div class="container" id="rev-project-header" th:style="${rewardsOnly} ? 'display: none' : ''"
                     data-postfix="${project.urlPostFix}">
                    <div class="row NS_projects__header mt0">
                        <div class="col-xs-9">
                            <h1 class="h2 green-dark" style="font-weight: 900;" itemprop="Project[name]" th:text="${project.name}">The
                                World’s First Table iPhone Charger</h1>
                            <div id="sharingIsCaring" class="NS_projects__project_share m0" style="display: none;">
                                <div class="inline-block">
                                    <!-- / Twitter ------------------------------- -->
                                    <div class="twitter inline-block">
                                        <a id="twitterShare" class="green-dark--link project-share__btn"
                                           href="https://twitter.com/intent/tweet?text=Bir göz at derim… deneme Projesi Hello worlds @arikovanicom&amp;url=https://arikovani.com/projects/75/detail"
                                           th:href="@{'https://twitter.com/intent/tweet?text=' + ${contentStrings.projectdetailsharetwittertext} + ' ' + ${project.name}+' @arikovanicom&amp;url=https://arikovani.com/projects/'+${project.id}+'/detail'}"
                                           rel="nofollow">
                                            <svg aria-hidden="true" class="svg-icon__twitter project-share__icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     xlink:href="#twitter"></use>
                                            </svg>
                                            <b th:text="${contentStrings.projectdetailspagebuttonssharefacebook}">Tweet</b>
                                        </a>
                                    </div>
                                    <!-- / Facebook ------------------------------- -->
                                    <div class="facebook inline-block">
                                        <a id="fbShare" class="green-dark--link project-share__btn">
                                            <svg aria-hidden="true" class="svg-icon__facebook-box project-share__icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     xlink:href="#facebook-box"></use>
                                            </svg>
                                            <b th:text="${contentStrings.projectdetailspagebuttonssharefacebook}">Paylaş</b>
                                        </a>
                                    </div>
                                    <!-- / Email ------------------------------- -->
                                    <div class="mail inline-block">
                                        <a id="emailShare" class="green-dark--link project-share__btn"
                                           href="#"
                                           th:href="'mailto:(subject=' + ${contentStrings.projetdetailsharemailsubject} + ' ' + ${project.name} + ' desteklemen gereken bir proje!, body=' + ${contentStrings.projectdetailsharemailtext} + '&nbsp;&nbsp;https://arikovani.com ' + ${project.name} + ': '+${project.shortDescription} + ' https://arikovani.com/' + ${project.id} + '/detail'"
                                           target="_blank">
                                            <svg aria-hidden="true" class="svg-icon__mail project-share__icon">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     xlink:href="#mail"></use>
                                            </svg>
                                            <b th:text="${contentStrings.projectdetailspagebuttonssharefacebook}">Paylaş</b>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt20">
                        <div class="col-xs-9">
                            <div class="project-image">
                                <div th:class="${project.video != null and #strings.length(project.video) > 15 ? 'video-player player' : 'video-player'}"
                                     th:id="${project.video != null and #strings.length(project.video) > 15  ? 'videoPitch' : 'noVideo'}"
                                     class="video-player player" id="videoPitch"
                                     th:style="'background-image: url(\'' + ${project.image} + '\') '"
                                     style="background-image: url('images/projects/project_img_1.jpg')">
                                    <video th:if="${project.video != null and #strings.length(project.video) > 15}"
                                           width="750"
                                           height="511" preload="none" class="valign">
                                        <source src="http://arikovani.s3.amazonaws.com/videos/17f51ba8715a75c5a71b9a9d65f33d04.mp4"
                                                th:src="${project.video}" type="video/mp4"/>
                                        Bu içeriği görebilmeniz için HTML5 destekli bir tarayıcıya ihtiyacınız vardır.
                                    </video>
                                    <div id="bigPlay" class="rev-play-button-wrapper"
                                         th:if="${project.video != null and #strings.length(project.video) > 15}">
                                        <button th:if="${project.video != null and #strings.length(project.video) > 15}"
                                                class="play-button absolute-center"></button>
                                    </div>
                                    </button>
                                    <img src="images/projects/project_img_1.jpg" itemprop="Project[image]"
                                         th:src="${project.image}" th:alt-title="${project.name}"
                                         class="poster landscape" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div th:if="${activeUser} != null" class="NS_projects__stats p15 full-width"
                                 style="background: #fff; border: 0; box-shadow: none !important;">
                                <div class="digits-3" id="stats">
                                </div>
                            </div>
                            <!--<div class="NS_projects__back mt20">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a th:if="${project.status.val eq 3}" id="backProjectBtn"
                                           class="btn btn--yellow green-dark--link btn--x-large full-width"
                                           th:text="${contentStrings.projectdetailspagefundingcardbuttontext}">Destek
                                            Ver</a>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </section>
            <section class="NS_projects__project-nav full-width" style="border-bottom: 1px solid #0d4ba0;">
                <div class="container">
                    <div class="nav-wrapper row">
                        <div class="col-xs-9" style="width: 100%;">
                            <ul id="project-detail-tabs" class="list row mtb0 nowrap" role="tablist"
                                style="height: 62px">
                            </ul>
                        </div>
                        <div class="col-xs-3">
                            <div class="relative clearfix right skrollable skrollable-before" data-600="bottom: -70px;"
                                 data-800="bottom: 0px;" style="bottom: -70px;">
                                <div class="pull-right mr20">
                                    <a class="btn btn--yellow hidden" href="#" title="Projeyi Destekle">Projeyi
                                        Destekle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="NS_projects__content">
                <div class="container">
                    <div class="row pb20">
                        <div class="col-xs-12 tab-content" th:style="${rewardsOnly} ? 'display: none' : ''">
                            <section id="proje-bilgileri" class="tab-pane fade in active pt20" role="tabpanel">
                                <div class="full-description js-full-description responsive-media formatted-lists ptb20"
                                     th:utext="${project.richDescription}">
                                    <p>P R O J E T A N I M I B U R A Y A G E L İ Y O R</p>
                                </div>
                            </section>
                            <section id="timeline" class="pt20 tab-pane fade in" role="tabpanel">
                                <div class="timeline-content ptb40">
                                </div>
                                <div class="block">
                                    <p id="projectStartDate" class="mb0 text-center green-dark">10 Ekim 2015</p>
                                    <h4 class="text-center green-dark mb50"
                                        th:text="${contentStrings.projectdetailspagetimelinesubtextstart}">Proje
                                        Başladı</h4>
                                </div>
                            </section>
                            <section id="newFeatures" class="tab-pane fade in pt20" role="tabpanel">
                                <div class="comments-content ptb40"></div>
                                <p id="newFeaturesText"></p>
                            </section>
                            <section id="defects" class="tab-pane fade in pt20" role="tabpanel">
                                <div class="comments-content ptb40"></div>
                                <p id="defectsNoText"></p>
                            </section>
                            <section id="oduller" class="tab-pane fade in pt20" role="tabpanel"></section>
                            <section id="bocek-avcilari" class="tab-pane fade in pt20" role="tabpanel">
                                <div class="NS_projects__rewards-list js-project-rewards pt40">
                                    <h3 id="detail-rewards-header" class="mb25 mt0 text-center green-dark"
                                        th:text="${contentStrings.projectdetailspagerewardsheader}"
                                        style="display: none">Ödüller</h3>
                                    <ol id="detail-rewards" class="rev-detail-rewards">
                                    </ol>
                                    <div th:if="${partner} != null" class="text-center" id="partner-container">
                                        <h3 class="mb25 mt0 text-center green-dark">Proje İşbirlikçisi</h3>
                                        <img id="img-partner" src="/images/turkcell-logo.png" th:src="${partner.logo}"/>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <th:block>
        <div class="likeItOrNot"
             id="likeItOrNotContainer" style="height: 80px;">
            <div class="container">
                <div class="row" id="ratingSuccess" style="display: none">
                    <div class="col-xs-12">
                        <p class="white text-center h4 mt35">Oy verme işleminiz başarılı olarak gerçekleştirilmiştir.</p>
                    </div>
                </div>
                <div class="col-xs-12" style="padding: 5px;">
                    <div class="row">
                        <form id="likeItOrNot" method="post" style="width: 1024px;" action="">
                            <!--<h1 style="text-align: center">Yeni Özellik ve Böcek girişi süreleri dolmuştur.</h1>-->
                            <div class="col-xs-3" style="padding-left: 0; padding-right: 0; background: transparent;">
                                <ul class="likeItOrNot__list" style="height: 100%; display: flex">
                                    <li class="active" style="width: 50%; height: 70px;">
                                        <label class="button-rate button-rate-like m0" data-value="1" data-toggle="tab"
                                               href="#newFeatures">
                                            <input class="input-rate" type="radio" name="rate" id="likedRate" value="1"
                                                   required="" data-parsley-errors-messages-disabled/>
                                            <img th:src="${project.likeIcon}" style="width: 35px; height: 35px;"/>
                                            <span th:text="${project.likeName}" style="line-height: 20px;">Beğendim</span>
                                        </label>
                                    </li>
                                    <li style="width: 50%; height: 70px;">
                                        <label class="button-rate button-rate-dislike m0" data-value="2" data-toggle="tab"
                                               href="#defects">
                                            <input class="input-rate" type="radio" name="rate" id="likeOrNot3" value="2"/>
                                            <img th:src="${project.dislikeIcon}" style="width: 35px; height: 35px;"/>
                                            <span th:text="${project.dislikeName}"
                                                  style="line-height: 20px;">Beğenmedim</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-6" style="display: inline-block">
                            <textarea id="likeItOrNotComment" name="comment" rows="3"
                                      class="full-width primary-form no-border box-shadow p20 mt10"
                                      th:attr="placeholder=${contentStrings.projectdetailspagethinkingcardstickybarcom}"
                                      placeholder="Yorumunuz"
                                      style="display: inline-block; height: 70px;"></textarea>
                            </div>

                            <div class="col-xs-3" style="display: inline-block"><!--
                                <button id="likeItOrNotFile" type="button" class="btn btn--large btn-transparent plr50"
                                        style=" width: 200px; padding: 12px 0 12px 0 !important; height: 53px; border:0;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    display: flex;">
                                    <div class="rev-middle corp-quickrate-file-loader"></div>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 26.5 26.5" style="enable-background:new 0 0 26.5 26.5; height: 70%; margin-top: 3px;" xml:space="preserve">
<g>
	<path style="fill:#FFFFFF;" d="M24.5,2.1c-2.7-2.7-7.2-2.7-10,0l-8,8c-0.8,0.8-1.3,1.9-1.3,3.1c0,1.2,0.5,2.3,1.3,3.1c0.9,0.9,2,1.3,3.1,1.3
		c1.1,0,2.3-0.4,3.1-1.3l3.7-3.7c0.7-0.7,1-1.6,1-2.5c0-0.9-0.3-1.8-1-2.5l-6.2,6.2c-0.3,0.3-0.9,0.3-1.2,0
		c-0.2-0.2-0.3-0.5-0.3-0.6c0-0.1,0-0.4,0.3-0.6l8-8c1.4-1.4,3.6-1.4,5,0c1.4,1.4,1.4,3.6,0,5l-8,8L9.5,22c-1.4,1.4-3.6,1.4-5,0
		c-1.4-1.4-1.4-3.6,0-5l0.2-0.2c-0.8-1.1-1.2-2.4-1.2-3.7l-1.4,1.4c-2.7,2.7-2.7,7.2,0,10c1.4,1.4,3.2,2.1,5,2.1s3.6-0.7,5-2.1
		L24.5,12C27.2,9.3,27.2,4.8,24.5,2.1z"/>
</g>
</svg>
                                    <span class="ml20">Dosya Ekle</span>
                                </button>
                                <input id="likeItOrNotFileHidden" type="hidden" name="file">-->
                                <button style="width: 200px; vertical-align: top; margin: 9px 0 0 0;" th:if="${activeUser} != null" id="likeItOrNotButton" type="button"
                                        class="btn btn--large btn--yellow"
                                        th:text="${contentStrings.projectdetailspagecommunicatebuttontext}">Gönder
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</main>


<div class="modal bs-example-modal-md fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModal">
    <div class="modal-dialog modal-md bg-grey-light" role="document">
        <div class="modal-content">
            <div class="hexagon"><span></span>
                <div class="hexagon__icon icon-info" style="margin: 0 auto"></div>
            </div>
            <div class="modal-body mt45">
                <p class="text-center" id="infoModalText">Lorem ipsum dolor sit amet</p>
                <button class="btn btn--yellow btn--large green-dark full-width" data-dismiss="modal"
                        th:text="${contentStrings.projectdetailrememberbutton}">Tamam
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-md fade" id="commentModal" tabindex="-1" role="dialog"
     aria-labelledby="commentModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="hexagon"><span></span>
                <div class="hexagon__icon icon-message"></div>
            </div>
            <div class="modal-body mt45" data-parsley-validate>
                <textarea id="message" class="primary-form box-shadow" rows="4" name="message"
                          th:attr="placeholder=${contentStrings.projectdetailcontactmsglabel}"
                          placeholder="Mesajınız..." data-parsley-required></textarea>
                <button id="sendMessage" class="btn btn--yellow btn--large mt30 green-dark full-width"
                        th:text="${contentStrings.projectdetailspagethinkingcardstickybarsen}">Gönder
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-md fade" id="contactModal" tabindex="-1" role="dialog"
     aria-labelledby="contactModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="hexagon"><span></span>
                <div class="hexagon__icon icon-message"></div>
            </div>
            <div class="modal-body mt45" data-parsley-validate>
                <textarea id="contactMessage" class="primary-form box-shadow" rows="4" name="message"
                          th:attr="placeholder=${contentStrings.projectdetailcontactmsglabel}"
                          placeholder="Mesajınız..." data-parsley-required></textarea>
                <input type="hidden" id="counterpartId"/>
                <button id="sendContactMessage" class="btn btn--yellow btn--large mt30 green-dark full-width"
                        th:text="${contentStrings.messagesreply}">Gönder
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-md fade" id="favouriteModal" tabindex="-1" role="dialog"
     aria-labelledby="favouriteModal">
    <div class="modal-dialog modal-md bg-grey-light" role="document">
        <div class="modal-content">
            <div class="hexagon"><span></span>
                <div class="hexagon__icon icon-info" style="margin: 0 auto"></div>
            </div>
            <div class="modal-body mt45">
                <p>Lorem ipsum dolor sit amet</p>
                <button class="btn btn--yellow btn--large green-dark full-width" data-dismiss="modal"
                        th:text="${contentStrings.projectdetailrememberbutton}">Tamam
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-md fade" id="quickRateModal" tabindex="-1" role="dialog"
     aria-labelledby="quickRateModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="hexagon"><span></span>
                <div class="hexagon__icon icon-message"></div>
            </div>
            <div class="modal-body mt45">
                <p><span id="error-message"></span></p>
                <button class="btn btn--yellow btn--large mt30 green-dark full-width" data-dismiss="modal"
                        th:text="${contentStrings.projectdetailrememberbutton}">Tamam
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal bs-example-modal-md fade" id="pictureModal" tabindex="-1" role="dialog"
     aria-labelledby="pictureModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <img id="pictureModalPicture" style="width: 100%; height: auto">
        </div>
    </div>
</div>

<div class="modal bs-example-modal-md fade" id="deleteCommentModal" tabindex="-1" role="dialog"
     aria-labelledby="deleteCommentModal">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="hexagon"><span></span>
                <div class="hexagon__icon icon-message"></div>
            </div>
            <div class="modal-body mt45">
                <p>Söz konusu yorumu silmek istediğinize emin misiniz? İstemiyorsanız bu pencerenin dışına tıklayın.</p>
                <button id="btnDeleteComment" class="btn btn--yellow btn--large mt30 green-dark full-width">Sil</button>
            </div>
        </div>
    </div>
</div>

<footer class="mega-footer-bottom" style="margin-bottom: 80px !important; display: none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <svg version="1.1" id="_x34_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 163.9 36.7" style="enable-background:new 0 0 163.9 36.7; height: 50px;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#FFFFFF;}
</style>
<g>
	<g>
		<path class="st0" d="M86.3,18.1c0.7-0.9,1.1-2,1.1-3.2c0-1.7-0.6-3-1.7-4c-1.2-1.1-2.8-1.7-4.7-1.7h-7.7v18.3h4.3v-7h2.2l3.7,7h5
			l-4.3-7.7C85,19.3,85.7,18.8,86.3,18.1z M82.4,16.3c-0.4,0.3-1,0.6-1.7,0.6h-3.1v-4h3.1c0.7,0,1.3,0.2,1.7,0.6
			c0.4,0.3,0.6,0.9,0.6,1.5C83.1,15.5,82.9,16,82.4,16.3z"/>
		<path class="st0" d="M66.6,20.9c0,1-0.3,1.7-0.8,2.2s-1.2,0.8-2.2,0.8c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2V9.2h-4.3v11.9
			c0,1.9,0.7,3.5,2.1,4.7s3.1,1.7,5.1,1.7c2.1,0,3.7-0.6,5.1-1.7c1.4-1.2,2.1-2.8,2.1-4.7V9.2h-4.3L66.6,20.9L66.6,20.9z"/>
		<polygon class="st0" points="40.5,12.8 45.4,12.8 45.4,27.4 49.8,27.4 49.8,12.8 54.6,12.8 54.6,9.2 40.5,9.2 		"/>
		<polygon class="st0" points="105.6,9.2 100.3,9.2 94.1,16.3 94.1,9.2 89.8,9.2 89.8,27.4 94.1,27.4 94.1,21.9 96.2,19.6
			100.9,27.4 105.9,27.4 99.1,16.5 		"/>
		<polygon class="st0" points="155.7,23.7 155.7,9.2 151.5,9.2 151.5,27.4 163.9,27.4 163.9,23.7 		"/>
		<polygon class="st0" points="142.1,9.2 137.8,9.2 137.8,27.4 149.8,27.4 149.8,23.7 142.1,23.7 		"/>
		<path class="st0" d="M113.3,12.7c1.6,0,2.5,0.8,2.9,2.3l0.1,0.3h4.3l-0.1-0.3c-0.3-1.9-1.1-3.4-2.5-4.3c-1.3-1-3-1.5-4.8-1.5
			c-0.8,0-1.5,0.1-2.2,0.3c-2.9,0.7-4.7,2.5-5.7,5.7c-0.3,1.1-0.4,2.4-0.4,3.4c0,1,0.2,2.2,0.3,3c0.4,1.6,1.2,2.9,2.2,3.9
			c0.2,0.2,0.3,0.3,0.4,0.4c1.5,1.4,3.2,2,5.3,2c1.9,0,3.5-0.5,4.8-1.5c1.4-1,2.3-2.5,2.5-4.3l0.1-0.3h-4.3l-0.1,0.3
			c-0.4,1.6-1.4,2.3-2.9,2.3c-1,0-1.7-0.2-2.6-0.9c-0.4-0.4-0.7-0.9-1-1.4s-0.5-1.7-0.5-3.5c0-2.2,0.5-3.7,1.6-4.6
			C111.4,12.9,112.3,12.7,113.3,12.7z"/>
		<polygon class="st0" points="122.4,27.4 135.5,27.4 135.5,23.7 126.8,23.7 126.8,20.1 134.2,20.1 134.2,16.3 126.8,16.3
			126.8,12.8 135.5,12.8 135.5,9.2 122.4,9.2 		"/>
	</g>
	<path class="st0" d="M33.1,8.6c-1.3-2.1-3-3.8-4.9-5.2c-1.9-1.3-4.1-2.3-6.5-2.9c-4-1-7.8-0.5-11.6,1.2C8.1,2.6,6.3,3.9,4.7,5.5
		c-2,2-3.4,4.3-4.3,6.9v0.1c0,0.1-0.1,0.2-0.1,0.3c-0.9,3-0.1,4.6,1.2,3.2c0.1-0.1,0.1-0.1,0.2-0.2c0,0,0-0.1,0.1-0.1
		c1.6-1.9,4-3.5,4-3.5l0,0c0.6-0.4,1.3-0.9,1.9-1.2c0.8-0.4,1.6-0.9,2.3-1.1c0,0,0.7-0.3,0.9-1.3c0,0,0,0,0-0.1l0,0
		c0.1-0.8,1-3,3.4-3.1c0.8-0.1,1.5,0,2.2,0.3l0,0l0,0c1.1,0.5,2.1,1.7,2.3,3c0.2,1-0.1,2.1-0.7,2.9c0,0.1-0.1,0.1-0.1,0.2l0,0l0,0
		l0,0c-0.4,0.6-1,1-1.8,1.3c-0.4,0.2-0.9,0.3-1.3,0.3l0,0c-0.3,0-0.6,0-0.9-0.1c-0.3-0.1-0.7-0.2-1-0.3c-0.4-0.3-0.9-0.4-1-0.6
		c-0.1-0.1-0.3-0.2-0.3-0.2c-0.3,0-0.4,0-0.6,0.1l0,0l0,0c-0.1,0-0.2,0.1-0.2,0.1c-0.6,0.5-1.1,1-1.7,1.6c-1.4,1.5-2.5,3.1-3,3.9
		c-0.3,0.4-0.5,1-0.8,1.4c-0.3,0.4-0.4,0.9-0.7,1.4c-0.3,0.7-0.6,1.5-0.9,2.3V23c0,0.1,0,0.1-0.1,0.2c0,0.1,0,0.1-0.1,0.2
		c-1.7,5.7,1.3,9,3.8,5.6c0.2-0.3,0.3-0.4,0.4-0.6l0,0c2.6-4.6,8.1-7.9,8.1-7.9l0,0c0.3-0.2,0.7-0.4,1-0.6l0,0c0,0,0,0,0.1,0
		c1-0.5,1.9-1,2.9-1.4c0.9-0.3,1.8-0.8,2.6-1c0,0,0.9-0.3,1.1-1.3l0,0l0,0c0.2-0.8,0.8-2,2.1-2.6c0.3-0.2,0.6-0.3,1-0.3
		c0.3-0.1,0.7-0.1,1-0.1l0,0c0.3,0,0.4,0,0.6,0.1c1.7,0.3,3,1.7,3.2,3.5c0.3,2.2-1.3,4.2-3.4,4.4c-1,0.2-2.1-0.1-2.9-0.7
		c-1-0.3-1.7-0.2-1.9,0c-0.8,0.4-1.6,1-2.3,1.5c-1.4,1-2.5,2.1-3,2.5c-1,1-1.8,2.1-2.5,3.1c0,0.1-0.1,0.1-0.1,0.2c0,0,0,0,0,0.1
		c-0.8,1.2-1.6,2.8-2.3,4.6c-0.1,0.2-0.1,0.3-0.2,0.4c-0.7,2.4,0.9,3.4,2.6,3.7c0,0,1.4,0.3,3.4,0.1c0.1,0,0.3,0,0.3,0
		c0.5-0.1,1-0.1,1.5-0.2c3.5-0.6,6.5-2,9.1-4.4c3.3-3,5.3-6.7,5.9-11C36.4,16.4,35.5,12.3,33.1,8.6z"/>
</g>
</svg>
            </div>
            <div class="col-xs-6">
                &nbsp;
            </div>
        </div>
    </div>
</footer>

<script>
    window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-71207251-1', 'auto');
    ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>

<script th:if="${project.gaTrackingCode != null and #strings.length(project.gaTrackingCode) > 1}"
        th:inline="javascript">
    /*<![CDATA[*/
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }
            , i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', /*[[${project.gaTrackingCode}]]*/ '', {'name': 'secondary'});
    ga('secondary.send', 'pageview');
    /*]]>*/
</script>
<!-- End Google Analytics -->

<script th:inline="javascript">
    /*<![CDATA[*/
    contentStrings = /*[[${contentStrings}]]*/ '';
    activeUser = /*[[${activeUser}]]*/ '';
    projectInvited = /*[[${projectInvited}]]*/ '';
    var isLoggedIn = activeUser !== null;
    console.log('PROJECT DETAIL');
    console.log(contentStrings);
    console.log('PROJECT INVITED ' + projectInvited);
    console.log(projectInvited);
    /*]]>*/
</script>

<!-- build:js /scripts/vendor.min.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="scripts/vendor/formatMoney.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/templates.min.js-->
<script src="../bower_components/handlebars/handlebars.js"></script>
<script src="scripts/hbsHelpers.js"></script>
<script src="scripts/templates.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/project-detail.min.js-->
<script src="../bower_components/parsleyjs/dist/parsley.min.js"></script>
<script th:if="${lang} == 'tr'" src="scripts/vendor/parsley.tr.js"></script>
<script src="../bower_components/plyr/dist/plyr.js"></script>
<script src="../bower_components/jquery-ui/ui/core.js"></script>
<script src="../bower_components/jquery-ui/ui/widget.js"></script>
<script src="../bower_components/jquery-ui/ui/position.js"></script>
<script src="../bower_components/jquery-ui/ui/autocomplete.js"></script>
<script src="../bower_components/jquery-ui/ui/menu.js"></script>
<script src="../bower_components/dropzone/dist/dropzone.js"></script>
<script src="scripts/project-detail.js"></script>
<script src="scripts/app/projectDetailStart.js"></script>
<!-- endbuild -->

<script>
    $('#likedRate').click();
    $('#acceptInvite').on('click', function () {
        $.post('/users/project-invited?projectInvitedId=' + projectInvited.id).then(function (res) {
            location.reload();
        });
    });
</script>

<script th:inline="javascript">
    //<![CDATA[
    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk';
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v2.2&appId=532213613592881&status=true&cookie=true&xfbml=true";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));

    document.getElementById('fbShare').onclick = function () {
        FB.ui({
            method: 'share',
            href: window.location.href,
            redirect_uri: window.location.href
        }, function (response) {
        });
    };
    //>]]
</script>

<!-- / embedded svg icon system -->
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="facebook-box" viewBox="0 0 801 743">
        <title>facebook-box icon</title>
        <path d="M728.44 0H69.49C46.905 0 28.607 18.278 28.607 40.837v658.26c0 22.553 18.298 40.837 40.883 40.837h354.756v-286.54h-96.53V341.722h96.53v-82.354c0-95.573 58.43-147.613 143.778-147.613 40.883 0 76.02 3.04 86.262 4.4v99.878l-59.197.028c-46.417 0-55.403 22.034-55.403 54.365v71.298h110.696L635.97 453.395h-96.283v286.54H728.44c22.577 0 40.88-18.284 40.88-40.838V40.837C769.32 18.28 751.018 0 728.44 0"
              fill-rule="evenodd"></path>
    </symbol>
    <symbol id="mail" viewBox="0 0 779 585">
        <title>mail icon</title>
        <path d="M0 535.938v-399.39l389.5 292.125L779 136.548v399.39c0 13.44-4.755 24.914-14.264 34.423-9.51 9.51-20.984 14.27-34.423 14.27H48.688c-13.44 0-24.915-4.756-34.424-14.265C4.754 560.855 0 549.378 0 535.938zM0 49.063c0-13.44 4.755-24.915 14.264-34.424C23.774 5.13 35.248.37 48.687.37h681.625c13.44 0 24.915 4.755 34.424 14.264C774.246 24.146 779 35.622 779 49.06L389.5 341.188 0 49.063z"
              fill-rule="evenodd"></path>
    </symbol>
    <symbol id="twitter" viewBox="0 0 880 807">
        <title>twitter icon</title>
        <path d="M0 642c13.177 2.005 27.5 3.008 42.97 3.008 40.103 0 79.348-7.734 117.733-23.203 38.386-15.47 73.763-36.237 106.133-62.305-38.672-.286-73.548-12.246-104.63-35.88-31.08-23.632-52.206-53.495-63.378-89.59 12.03 2.293 23.203 3.44 33.516 3.44 16.614 0 32.656-2.15 48.125-6.447-41.54-8.307-76.06-29.003-103.56-62.09-27.5-33.086-41.25-71.4-41.25-114.94v-2.15c25.78 14.037 52.995 21.485 81.64 22.344-24.92-16.614-44.615-38.098-59.08-64.453-14.468-26.354-21.7-54.713-21.7-85.078C36.52 95.15 44.682 65.932 61.01 37c45.26 55 99.973 98.613 164.14 130.84 64.167 32.227 133.346 50.345 207.54 54.355-2.58-11.172-3.868-25.065-3.868-41.68 0-49.843 17.546-92.31 52.637-127.402C516.553 18.023 559.023.477 608.868.477c51.276 0 95.534 18.906 132.774 56.718 40.968-8.307 78.92-22.916 113.87-43.828-13.75 43.542-40.245 76.914-79.49 100.117 35.807-4.01 70.468-13.606 103.984-28.79-24.062 36.382-53.996 67.605-89.804 93.673V202c0 40.104-5.085 80.423-15.255 120.957-10.168 40.534-24.777 79.922-43.827 118.164-19.05 38.247-43.47 73.98-73.26 107.21-29.793 33.23-63.165 62.235-100.12 87.01-36.952 24.78-79.562 44.33-127.83 58.656-48.27 14.323-99.187 21.485-152.755 21.485C168.58 715.478 76.198 690.985 0 642z"
              fill-rule="evenodd"></path>
    </symbol>
    <symbol id="timer" viewBox="0 0 54.3 63.48">
        <title>timer</title>
        <circle cx="27.15" cy="36.33" r="27.15" fill="#555555"/>
        <circle cx="27.15" cy="36.33" r="22.01" fill="#FFF"/>
        <circle cx="27.15" cy="36.33" r="18.94" fill="#555555"/>
        <path d="M27.15 21.59c-8.14 0-14.75 6.6-14.75 14.75 0 4.62 2.13 8.75 5.46 11.45l9.29-11.45V21.59z" fill="#FFF"/>
        <path fill="#555655" d="M22.36 3.81h9.58v7.62h-9.58z"/>
        <path d="M33.73 3.81H20.57c-.84 0-1.53-.68-1.53-1.53v-.75c0-.84.68-1.53 1.53-1.53h13.16c.84 0 1.53.68 1.53 1.53v.75c0 .84-.69 1.53-1.53 1.53zM9.68 12.71c-2.41-.91-5.24-.31-7.06 1.72-1.83 2.03-2.12 4.9-.96 7.2l8.02-8.92z"
              fill="#555655"/>
    </symbol>
    <symbol class="detailPageSvg" id="like" viewBox="0 0 398.32 419.4">
        <title>like</title>
        <path d="M.78 222.15c36.6 1.63 84.54 3.42 91.46 2.31 13.94-2.24 30.83-5.68 35.74-10.95 6.37-6.84 20.17-28.82 27.67-36.32 7.5-7.49 23.32-26.52 28.51-32.28 5.19-5.76 51.95-52.63 57.95-58.8 5.97-6.14 8.4-14.99 11.06-21.9 2.67-6.92 6.78-23.55 6.73-31.13-.07-10.73-3.14-26.31 5.53-30.32 9.9-4.58 22.71-4.01 30.11 5.75 7.32 9.66 21.15 36.73 14.06 63.03-7.09 26.3-23.05 59.39-27.48 70.62-4.43 11.23-6.8 30.14-6.8 30.14s19.74 10.92 32.28 11.33c12.54.4 39.65-1.21 49.35.4 9.71 1.62 25.44 8.9 31.51 15.78 6.07 6.88 10.16 16.11 9.75 24.64-.53 11.23-12.87 25.5-28.97 25.83 9.78 2.12 27.81 11.83 29 33.27 1.19 21.44-18.02 30.48-26.78 31.65 14.02 8.76 15.4 23.84 11.4 35.56-5.48 16.05-25.76 21.27-44.71 22.29 7.6 8.18 7.07 18.52 3.84 26.61-3.24 8.09-19.2 16.38-31.56 18.21-14.75 2.18-64.08 1.98-89.81-.25-16.21-1.4-62.61-13.5-73.53-17.54-10.92-4.05-22.6-4.65-30.5-3.63-13.16 1.7-36.03 4.18-58.46 6.55-5.41-6.5-10.5-13.26-15.22-20.25-9.08-13.45-16.88-27.82-23.18-42.72C6.65 309.04 0 276.1 0 242.12c0-6.7.26-13.36.78-19.97z"
              fill="#555555"/>
    </symbol>
    <symbol class="detailPageSvg" id="dislike" viewBox="0 0 398.32 419.4">
        <title>dislike</title>
        <path d="M397.54 197.25c-36.6-1.63-84.54-3.42-91.46-2.31-13.94 2.24-30.83 5.68-35.74 10.95-6.37 6.84-20.17 28.82-27.67 36.32-7.5 7.49-23.32 26.52-28.51 32.28-5.19 5.76-51.95 52.63-57.95 58.8-5.97 6.14-8.4 14.99-11.06 21.9-2.67 6.92-6.78 23.55-6.73 31.13.07 10.73 3.14 26.31-5.53 30.32-9.9 4.58-22.71 4.01-30.11-5.75-7.32-9.66-21.15-36.73-14.06-63.03 7.09-26.3 23.05-59.39 27.48-70.62 4.43-11.23 6.8-30.14 6.8-30.14s-19.74-10.92-32.28-11.33c-12.54-.4-39.65 1.21-49.35-.4-9.71-1.62-25.44-8.9-31.51-15.78C3.79 212.71-.3 203.48.11 194.95c.53-11.23 12.87-25.5 28.97-25.83-9.78-2.12-27.81-11.83-29-33.27-1.19-21.44 18.02-30.48 26.78-31.65-14.02-8.76-15.4-23.84-11.4-35.56 5.48-16.05 25.76-21.27 44.71-22.29-7.6-8.18-7.07-18.52-3.84-26.61 3.24-8.09 19.2-16.38 31.56-18.21 14.75-2.18 64.08-1.98 89.81.25 16.21 1.4 62.61 13.5 73.53 17.54 10.92 4.05 22.6 4.65 30.5 3.63 13.16-1.7 36.03-4.18 58.46-6.55 5.41 6.5 10.5 13.26 15.22 20.25 9.08 13.45 16.88 27.82 23.18 42.72 13.11 30.99 19.75 63.93 19.75 97.91-.02 6.7-.28 13.36-.8 19.97z"
              fill="#555555"/>
    </symbol>
    <symbol id="comment" viewBox="0 0 609.05 609.11">
        <title>comment</title>
        <g fill="#555">
            <path d="M599.35 609.11l-131.13-47.72c-48.84 31.21-105.28 47.67-163.66 47.67-40.39 0-79.7-7.81-116.86-23.22-38.47-15.96-72.78-39.34-101.98-69.5-56.57-58.45-87-135.43-85.68-216.76C1.36 218.25 34.28 142.3 92.73 85.73 149.84 30.44 225.04 0 304.5 0c40.39 0 79.71 7.81 116.86 23.23 38.47 15.96 72.79 39.34 101.98 69.5 49.96 51.62 80.16 119.46 85.01 191.03 4.64 68.4-13.95 136.56-52.43 192.73l43.43 132.62zM304.5 27c-72.41 0-140.95 27.74-192.99 78.12-53.27 51.56-83.26 120.77-84.47 194.89-1.21 74.12 26.52 144.28 78.08 197.54 52.75 54.5 123.58 84.51 199.44 84.51 55.33 0 108.72-16.21 154.4-46.87l5.7-3.82 91.76 33.39-30.39-92.8 4.01-5.57c78.43-108.99 67.45-258.23-26.09-354.88C451.19 57.01 380.36 27 304.5 27z"/>
            <circle cx="304.53" cy="312.56" r="39"/>
            <circle cx="444.53" cy="312.56" r="39"/>
            <circle cx="164.53" cy="312.56" r="39"/>
        </g>
    </symbol>
    <symbol id="backers" viewBox="0 0 93.56 60.29">
        <title>backers</title>
        <path d="M0 47.68c1.93-3.85 5.01-6.04 9.27-6.72 1.77-.28 3.64-.63 3.5-3.19-.14-2.58-2.18-1.54-3.45-1.83-2.25-.51-3.79-.94-2.4-3.95 1.61-3.5.55-7.4.69-11.13.3-8.14 5.35-12.34 12.78-10.56 4.53 1.08 6.88 4.37 7.18 9.95.24 4.39-.66 8.86 1.37 13.13 1.05 2.19-1.41 1.8-2.39 2.42-1.3.82-4.02-.79-3.99 2.31.02 2.67 2.42 2.2 3.93 2.83.77.32 1.63.36 2.01 1.59-4.7.7-8.6 2.84-11.31 6.81-.8 1.17-1.95.84-3.02.84-4.72.02-9.44.01-14.17.01v-2.51z"
              fill="#555"/>
        <path d="M75.82 60.22H64.15c-14.35 0-28.71-.09-43.06.07-3.2.04-3.74-.81-2.9-3.76 1.65-5.86 5.53-9.13 11.25-10.5 1.89-.45 3.86-.62 5.72-1.17 4.28-1.25 5.44-4.62 3.29-8.65-4.34-8.14-5.8-16.93-4.89-26.01C34.2 3.85 40.28-.29 47.69.01c6.84.28 12.13 4.84 12.52 11.08.56 8.96-.86 17.55-5.25 25.52-1.94 3.52-.59 6.9 3.21 8.1 1.72.54 3.5.87 5.27 1.21 7.69 1.46 11.72 6 12.38 14.3z"
              fill="#555"/>
        <path d="M64.99 42.61c1.11-2.07 2.94-1.66 4.27-2.24 1.18-.51 1.82-1.02 1.85-2.36.04-1.56-.89-1.89-2.12-1.9-4.22-.05-5.03-1.71-3.42-5.66 1.31-3.22.32-6.89.5-10.36.36-6.77 4.07-10.27 10.67-10.03 5.48.2 8.56 3.29 9.21 9.33.52 4.78-.85 9.67 1.35 14.41.85 1.82-1.73 1.51-2.8 2.05-1.26.63-3.65-.77-3.64 2.13.01 2.58 2.01 2.66 3.72 3.03 4 .88 7.36 2.47 8.71 6.78.57 1.8.25 2.5-1.78 2.44-4.17-.11-8.35-.02-12.53-.04-.8 0-1.72.26-2.3-.58-2.79-4.03-6.64-6.44-11.69-7z"
              fill="#555"/>
    </symbol>
    <symbol class="detailPageSvg" id="undecided" viewBox="0 0 87.85 87.85">
        <title>undecided</title>
        <path d="M60.88 3.36C44.44-3.53 25.2.43 12.63 12.99.11 25.52-3.48 45.14 3.56 61.35c7.02 16.17 23.3 26.61 40.89 26.5 11.51-.07 22.61-4.95 30.71-13.05 8.15-8.15 12.62-19.43 12.7-30.9-.12-17.56-10.74-33.73-26.98-40.54zM27.84 31.03c3.07 0 5.56 2.49 5.56 5.56s-2.49 5.56-5.56 5.56-5.56-2.49-5.56-5.56 2.5-5.56 5.56-5.56zm-2.89 30.39H62.9c2.41 0 2.41 3.74 0 3.74H24.95c-2.41 0-2.41-3.74 0-3.74zm35.06-19.28c-3.07 0-5.56-2.49-5.56-5.56s2.49-5.56 5.56-5.56c3.07 0 5.56 2.49 5.56 5.56s-2.49 5.56-5.56 5.56z"
              fill="#555"/>
    </symbol>
    <symbol id="navigate" viewBox="0 0 47.72 31.31">
        <title>navigate</title>
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFC800"
              d="M22.03 15.81l-11.64 15.5H.25l11.65-15.5L.25.32 0 0h10.17l.22.32"/>
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFC800" fill-opacity=".6"
              d="M35.78 15.79l-9.95 13.23h-8.65l9.94-13.23-9.94-13.23-.22-.27h8.69l.18.27"/>
        <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFC800" fill-opacity=".3"
              d="M47.72 15.76l-7.88 10.48h-6.86l7.88-10.48-7.88-10.48-.17-.22h6.88l.15.22"/>
    </symbol>
    <symbol id="icon-captions-off" viewBox="0 0 18 18">
        <path
                d="M1 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1h16c.552 0 1-.448 1-1V3c0-.552-.448-1-1-1H1zm1 12V4h14v10H2z"/>
    </symbol>
    <symbol id="icon-captions-on" viewBox="0 0 18 18">
        <path
                d="M1 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1h16c.552 0 1-.448 1-1V3c0-.552-.448-1-1-1H1zm1 12V4h14v10H2z"/>
        <path d="M3 11h3v2H3zM12 11h3v2h-3zM7 11h4v2H7z"/>
    </symbol>
    <symbol id="icon-enter-fullscreen" viewBox="0 0 18 18">
        <path
                d="M6.425 10.165l-2.57 2.57.018-1.847c-.003-.552-.45-1-1.002-1.002-.55-.003-.994.442-.99.992l-.024 4.22c0 .264.106.518.295.707.01.007.017.016.026.023.008.007.015.017.023.025.187.188.442.294.706.295l4.22-.023c.55.002.994-.442.992-.992-.003-.55-.45-1-1.002-1.002l-1.847.017 2.568-2.57c.387-.386.387-1.012 0-1.4l-.012-.012c-.387-.386-1.014-.386-1.4 0zM14.154 5.266l-.017 1.846c.003.552.45 1 1.002 1.002.55.003.994-.442.99-.992l.025-4.22c-.002-.264-.107-.518-.296-.707-.01-.007-.017-.016-.026-.023-.008-.007-.015-.017-.023-.025-.187-.188-.442-.294-.706-.295l-4.22.023c-.55-.002-.994.442-.99.992 0 .55.45 1 1 1.002l1.847-.017-2.568 2.57c-.387.386-.387 1.012 0 1.4.4.398 1.026.398 1.413.012l2.57-2.57z"/>
    </symbol>
    <symbol id="icon-exit-fullscreen" viewBox="0 0 18 18">
        <path
                d="M14.425 2.165l-2.57 2.57.018-1.847c-.003-.552-.45-1-1.002-1.002-.55-.003-.994.442-.99.992l-.024 4.22c0 .264.106.518.295.707.01.007.017.016.026.023.008.007.015.017.023.025.187.188.442.294.706.295l4.22-.023c.55.002.994-.442.992-.992-.003-.55-.45-1-1.002-1.002l-1.847.017 2.568-2.57c.387-.386.387-1.012 0-1.4l-.012-.012c-.387-.386-1.014-.386-1.4 0zM6.154 13.266l-.017 1.846c.003.552.45 1 1.002 1.002.55.003.994-.442.99-.992l.025-4.22c-.002-.264-.107-.518-.296-.707-.01-.007-.017-.016-.026-.023-.008-.007-.015-.017-.023-.025-.187-.188-.442-.294-.706-.295l-4.22.023c-.55-.002-.994.442-.99.992 0 .55.45 1 1 1.002l1.847-.017-2.568 2.57c-.387.386-.387 1.012 0 1.4.4.398 1.026.398 1.413.012l2.57-2.57z"/>
    </symbol>
    <symbol id="icon-fast-forward" viewBox="0 0 18 18">
        <path
                d="M17.57 8.246L7 2c-.552 0-1 .448-1 1v1.954L1 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1l5-2.955V15c0 .552.448 1 1 1l10.57-6.246c.266-.158.43-.444.43-.754s-.164-.597-.43-.754zM6 10.722l-4 2.364V4.914l4 2.364v3.444zm2 2.364V4.914L14.915 9 8 13.086z"/>
    </symbol>
    <symbol id="icon-muted" viewBox="0 0 18 18">
        <path
                d="M9.214 2c-.11 0-.225.032-.334.1L4.832 4.91C4.75 4.97 4.65 5 4.55 5H.995C.446 5 0 5.448 0 6v6c0 .552.446 1 .996 1H4.55c.1 0 .2.03.282.09L8.88 15.9c.11.068.223.1.334.1.392 0 .747-.4.747-.95V2.95c0-.55-.354-.95-.746-.95zM7.97 12.834L5.58 11.177c-.166-.115-.364-.178-.566-.178H2.49c-.274 0-.497-.225-.497-.5v-3c0-.277.223-.5.498-.5h2.526c.202 0 .4-.063.566-.18L7.97 5.165v7.67z"
                id="Shape"/>
        <path
                d="M14.934 8.8c-.086-1.75-1.514-2.992-2.507-3.65-.47-.312-1.094-.122-1.325.408l-.038.086c-.188.43-.045.94.336 1.194.706.473 1.586 1.247 1.624 2.065.032.676-.553 1.468-1.663 2.27-.397.288-.528.84-.284 1.275l.042.075c.266.475.866.624 1.3.312 1.74-1.25 2.586-2.606 2.516-4.037z"/>
        <path
                d="M13.957 9.2c.086 1.747 1.514 2.99 2.507 3.648.47.312 1.094.122 1.325-.408l.037-.086c.188-.43.045-.94-.336-1.194-.705-.473-1.585-1.247-1.623-2.065-.032-.676.553-1.468 1.663-2.27.398-.288.53-.84.285-1.275l-.042-.075c-.266-.475-.866-.624-1.3-.312-1.74 1.25-2.586 2.606-2.516 4.037z"/>
    </symbol>
    <symbol id="icon-pause" viewBox="0 0 18 18">
        <path
                d="M2 4v10c0 2 2 2 2 2h2s2 0 2-2V4c0-2-2-2-2-2H4S2 2 2 4zm2 0h2v10H4V4zM10 4v10c0 2 2 2 2 2h2s2 0 2-2V4c0-2-2-2-2-2h-2s-2 0-2 2zm2 0h2v10h-2V4z"/>
    </symbol>
    <symbol id="icon-play" viewBox="0 0 18 18">
        <path
                d="M5 4.914L11.915 9 5 13.086V4.914zM4 2c-.552 0-1 .448-1 1v12c0 .552.448 1 1 1l10.57-6.246c.266-.158.43-.444.43-.754s-.164-.597-.43-.754L4 2z"/>
    </symbol>
    <symbol id="icon-restart" viewBox="0 0 18 18">
        <path
                d="M1 2c.552 0 1 .448 1 1v4.318L11 2c.552 0 1 .448 1 1v1.954L17 2c.552 0 1 .448 1 1v12c0 .552-.448 1-1 1l-5-2.955V15c0 .552-.448 1-1 1l-9-5.318V15c0 .552-.448 1-1 1s-1-.448-1-1V3c0-.552.448-1 1-1zm11 8.722l4 2.364V4.914l-4 2.364v3.444zm-2 2.364V4.914L3.085 9 10 13.086z"/>
    </symbol>
    <symbol id="icon-rewind" viewBox="0 0 18 21">
        <path
                d="M.43 10.754L11 17c.552 0 1-.448 1-1v-1.954L17 17c.552 0 1-.448 1-1V4c0-.552-.448-1-1-1l-5 2.955V4c0-.552-.448-1-1-1L.43 9.246C.165 9.404 0 9.69 0 10s.164.597.43.754zM12 8.278l4-2.364v8.172l-4-2.364V8.278zm-2-2.364v8.172L3.085 10 10 5.914z"/>
    </symbol>
    <symbol id="icon-volume" viewBox="0 0 18 18">
        <path
                d="M10.214 2c-.11 0-.225.032-.334.1L5.832 4.91C5.75 4.97 5.65 5 5.55 5H1.995C1.446 5 1 5.448 1 6v6c0 .552.446 1 .996 1H5.55c.1 0 .2.03.282.09L9.88 15.9c.11.068.223.1.334.1.392 0 .747-.4.747-.95V2.95c0-.55-.354-.95-.746-.95zM8.97 12.834L6.58 11.177c-.166-.115-.364-.178-.566-.178H3.49c-.274 0-.497-.225-.497-.5v-3c0-.277.223-.5.498-.5h2.526c.202 0 .4-.063.566-.18L8.97 5.165v7.67zM16.934 8.8c-.086-1.75-1.514-2.992-2.507-3.65-.47-.312-1.094-.122-1.325.408l-.038.086c-.188.43-.045.94.336 1.194.706.473 1.586 1.247 1.624 2.065.032.676-.553 1.468-1.663 2.27-.397.288-.528.84-.284 1.275l.042.075c.266.475.866.624 1.3.312 1.74-1.25 2.586-2.606 2.516-4.037z"/>
    </symbol>
</svg>
<!-- ¯\_(ツ)_/¯: -->
</body>
</html>
