<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Digital Turkcell</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="title" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
  </head>
  <body>
    <div th:replace="index :: header"></div>

    <main role="main">
      <div class="bg-grey-light ptb40">

        <div class="container">

            <ul class="project-tabs m-center relative" id="project-edit-nav">
              <!--<li class="steps pull-left bg-white border">
                <ul id="project-edit-tabs" role="tablist">
                  <li role="presentation" class="pull-left active"><a href="#basics" aria-controls="basics" data-toggle="tab" class="block p20 green-dark fwbold border-right" th:text="${contentStrings.fillprojectdetailspage1tabinfo}">Temel Bilgiler</a></li>
                  <li role="presentation" class="pull-left"><a href="#story" aria-controls="story" role="tab" data-toggle="tab" class="block p20 green-dark fwbold border-right" th:text="${contentStrings.fillprojectdetailspage1tabstory}">Hikaye</a></li>
                </ul>
              </li>-->
            </ul>

            <div id="allProjectContent" class="tab-content relative mt60">
              <div role="tabpanel" class="tab-pane fade in active" id="basics" style="min-height: 1204px; position: relative;">
              </div>
              <div role="tabpanel" class="tab-pane fade" id="rewards">

                <div class="center block">
                  <h2 class="h2 green-dark fwbold" th:text="${contentStrings.fillprojectdetailspage3textboxtitle}">Size destek olan insanlara nasıl teşekkür edeceksiniz?</h2>
                  <p class="h4 mt0 green-dark" th:text="${contentStrings.fillprojectdetailspage3textboxsubtitle}">Seni hatırlatacak bir küçük bir hediye ya da ürettiğin ürünlerden öner.</p>
                </div>

                <div class="table-display full-width mt60 mb30 ptb20 plr10 m-center bg-white border">
                  <div class="row">
                    <div class="col-xs-9">
                      <div id="rewardsMain" class="project-main-form mr10" data-parsley-validate>
                        <ol class="fields no-margin">
                        </ol>
                        <div class="add-another-wrap mb20 border clearfix">
                          <a id="addReward" class="add-another-button add-another inline-block align-top ptb30 plr30 green-dark hover-green border-right h5" href="#" rel="#reward-template">
                            <span class="tsr-icon__plus" style="left: 9px; top: 30px;"></span>
                            <span th:text="${contentStrings.fillprojectdetailspage3textboxrewardadd}">Yeni bir ödül ekle</span>
                        </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-3">
                      <div id="rewards-sidebar" class="project-sidebar-form ml10">
                        <ol class="sidebar-help-panels">
                          <li id="rewards-sidebar-help" style="display: list-item;">
                            <h4 class="yellow-dark fwbold" th:text="${contentStrings.fillprojectdetailspage3textboxgoodrewardstitle}">
                              Harika ödüller oluşturun
                            </h4>
                            <h5 class="green-dark mt20 fwbold" th:text="${contentStrings.fillprojectdetailspage3textboxgoodrewardssubtitle}">Ne önerebilirim?</h5>
                            <p class="green-dark" th:text="${contentStrings.fillprojectdetailspage3textboxgoodrewardssubtitletext}">
                              Üreticeğin ürünler; daha küçük miktarlar için sana özel küçük hediyeler her zaman harika sonuçlar alır.
                            </p>
                            <p class="green-dark">
                              Ödül oluştururken Arıkovanı <a href="/hakkimizda#kurallarimiz" target="_blank" class="yellow-dark--link underline">platform kurallarına</a> tekrar göz atmak isteyebilirsin.
                            </p>
                          </li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div role="tabpanel" class="tab-pane" id="about-you">
              </div>

              <div role="tabpanel" class="tab-pane" id="merchant-info">
              </div>

              <!--<div class="tab-navigation">
                <button id="previous-tab" class="btn pull-left ml10" th:text="${contentStrings.fillprojectdetailspage1textboxbackbutton}">Önceki Sekme</button>
                <button id="next-tab" class="btn pull-right mr10" th:text="${contentStrings.fillprojectdetailspage2textboxforwardbutton}">Sonraki Sekme</button>
              </div>-->
            </div>


          </div>
      </div>
    </main>

    <div id="discardOrSave" class="tools full-width z4 bg-white-95 transition-all">
      <div class="container ptb20">
        <ol class="tools-panels pull-right no-margin mr1">
          <li class="form-tools">
            <div class="cancel button_container inline-block"><a id="projectDiscard" class="btn btn-danger fwbold mr20" href="#" th:text="${contentStrings.commoncancel}">Vazgeç</a></div>
            <div class="save button_container inline-block"><a id="projectComplete" class="btn btn-success fwbold" href="#">Paylaş</a></div>
          </li>
        </ol>
      </div>
    </div>

    <!--<div class="bg-grey-light" style="padding: 0 0 20px 0">
        <a class="p20 green-dark--link btn btn--yellow fwbold" id="btnPreview" style="display: block; margin: 0 auto 0 auto; width: 200px;" target="_blank" href="/projects/6/detail">Projeyi Paylaş</a>
    </div>-->
    <div th:replace="index :: footerBottom"></div>

    <!--Error Modal-->
    <div class="modal bs-example-modal-md fade box-shadow" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModal">
      <div class="modal-dialog modal-md bg-grey-light" role="document">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-10px"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title green-dark text-center">Bir Hata Oluştu</h3>
        </div>
        <div class="modal-content no-border bg-grey-light" style="box-shadow: none">
          <div class="modal-body">
           <p class="text-center m0 block dark-green"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button id="agree" class="btn btn--yellow btn--large green-dark full-width mt10" data-dismiss="modal">Tamam</button>
        </div>
      </div>
    </div>

    <!--Loading Animation-->
    <div class="modal-dialog-save spinning" id="savingLayer" style="display: block;">
      <div class="modal-dialog-outer">
        <div class="modal-dialog-sizer">
          <div class="modal-dialog-inner">
            <div class="modal-dialog-content"></div>
          </div>
          <span class="modal-dialog-ie-hack"></span>
        </div>
      </div>
    </div>


    <script src="/bower_components/ckeditor/ckeditor.js"></script>

    <script th:inline="javascript">
      /*<![CDATA[*/
      contentStrings = /*[[${contentStrings}]]*/ '';
      console.log('PROJECT EDIT');
      console.log(contentStrings);
      /*]]>*/
    </script>

    <!-- build:js /scripts/vendor.min.js-->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="scripts/vendor/formatMoney.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/templates.min.js-->
    <script src="../bower_components/handlebars/handlebars.js"></script>
    <script src="scripts/hbsHelpers.js"></script>
    <script src="scripts/templates.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/project-edit.min.js-->
    <script src="../bower_components/jquery.inputmask/dist/inputmask/inputmask.js"></script>
    <script src="../bower_components/jquery.inputmask/dist/inputmask/inputmask.numeric.extensions.js"></script>
    <script src="../bower_components/dropzone/dist/min/dropzone-amd-module.min.js"></script>
    <script src="../bower_components/parsleyjs/dist/parsley.min.js"></script>
    <script th:if="${lang} == 'tr'" src="scripts/vendor/parsley.tr.js"></script>
    <script src="../bower_components/jquery-ui/ui/core.js"></script>
    <script src="../bower_components/jquery-ui/ui/widget.js"></script>
    <script src="../bower_components/jquery-ui/ui/position.js"></script>
    <script src="../bower_components/jquery-ui/ui/autocomplete.js"></script>
    <script src="../bower_components/jquery-ui/ui/menu.js"></script>
    <script src="scripts/models/project.js"></script>
    <script src="scripts/models/reward.js"></script>
    <script src="scripts/models/user.js"></script>
    <script src="scripts/project.js"></script>
    <script src="scripts/app/projectStart.js"></script>
    <!-- endbuild -->

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-71207251-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </body>
</html>
