<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="apple-itunes-app" content="app-id=1060999036">   
<meta name="google-play-app" content="app-id=com.solidict.crowdfunding">
  <meta name="author" content="Arıkovanı" />
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  </style>
</head>
<body>
<p align="center">
    <strong>KABUL ve BİLGİLENDİRME FORMU</strong>
</p>
<p>
    <strong>Destek Detayı </strong>
</p>
<p>
    Proje: <strong th:text="${projectName}" >Proje adı</strong>
</p>
<p>
    Destekçiye sağlanacak ürün veya hizmet: <strong th:text="${rewardDescription}" >Seçtiği ödül ve açıklaması</strong>
</p>
<p>
    Proje başarı hedefi: <strong th:text="${goalDescription}" >Başarı hedefi</strong>
</p>
<p>
    Destek miktarı: <strong th:text="${supportAmount}" >destekçinin o an seçtiği destek tutarı</strong>
</p>
<p>
    <strong>Proje Sahibi</strong>
</p>
<p>
    Ad Soyad/Ticari Unvan: <strong th:text="${ownerName}" >Proje sahibi</strong>
</p>
<p>
    T.C. Kimlik No/Vergi Dairesi ve Numarası: <strong th:text="${ownerInfo}" >Proje sahibi bilgileri hangileri mevcut ise</strong>
</p>
<p>
    İkametgah/Kayıtlı Adres: <strong th:text="${ownerAddress}" >Adres</strong>
</p>
<p>
    <strong>Destekçi</strong>
</p>
<p>
    Ad Soyad/Ticari Unvan: <strong  th:text="${supporterName}" >Destekleyen bilgisi</strong>
</p>
<p>
    E-posta adresi: <strong  th:text="${supporterEmail}">destekçi mail adresi</strong>
</p>
<p>
    <strong>Kabul ve Bilgilendirme</strong>
</p>
<p>
    1) İşbu Kabul ve Bildirim Formu’nun elektronik ortamda onaylamak ile birlikte;
</p>
<p>
    · Sitede ve yukarıda belirtilen Proje’ye yukarıda belirtilen Destek Miktarı tutarında ve Destekçi sıfatıyla katkıda bulunmayı,
</p>
<p>
    · Toplanan fon miktarına ilişkin Proje’nin yayımlandığı web sayfasında yer alan bilgilendirmenin geçerli bilgilendirme olduğunu,
</p>
<p>
    · Destekte bulunduğum Proje için, Proje Sahibi tarafından sitede taahhüt edilen ve destekte bulunduğum Destek Miktarı’na karşılık gelen ürün/hizmet konusu
    dışında başka bir edimin ifa edilmesini talep etmediğimi,
</p>
<p>
    · Destekte bulunduğum Proje’nin Proje Başarı Hedefi’ne ulaşamaması halinde, Destek Miktarı’nın herhangi bir komisyon veya kesinti yapılmadan ödemenin
    yapıldığı karta iade edileceğini bildiğimi,
</p>
<p>
    · Sitede öngörülen teslim tarihinde taahhüt edilen ürün/hizmetin sunulamaması durumunda aynen ifa dışında herhangi bir talepte bulunmayacağımı kabul ve
    beyan ederim.
</p>
<p>
    · Teslimat masrafları Proje Sahibine ait olmak üzere ödeme sayfasında vereceğim adrese tesliminin geçerli olacağını,
</p>
<p>
    · Proje Sahibinin taahhüt ettiği ürün veya hizmetin tam veya taahhüt edildiği şekilde sağlanamamasından dolayı tüm sorumluluğun Proje Sahibine ait olduğunu
    bildiğimi, Proje Sahibi dışında YGA veya ödeme kuruluşuna herhangi bir talep yöneltemeyeceğimi,
</p>
<p>
    kabul, beyan ve taahhüt ederim.
</p>
<p>
    2) İşbu Kabul ve Bilgilendirme Formu, aşağıda yer alan ve tarafımca onaylanan “Kullanıcı Üye ve Destek Sözleşmesi” hükümlerinin geçerliğini etkilemeyecek
    olup; burada belirtilmeyen tüm hususlarda “Kullanıcı Üye ve Destek Sözleşmesi’ndeki hükümler geçerli olacaktır.
</p>
<p>
    3) İşbu metnin uygulanmasından doğan ihtilaflarda İstanbul Anadolu Mahkemeleri ve İcra Daireleri yetkili olup; uyuşmazlıkların çözümünde Türk Hukuku
    uygulanır.
</p>
<p>
    4) İşbu metin, elektronik ortamda tarafımca okunarak, onaylanmak suretiyle sonuçlarını doğuracaktır.
</p>

<br/>

<p align="center">
    <strong>KULLANICI ÜYE VE DESTEK SÖZLEŞMESİ</strong>
</p>
<p>
    <strong>A. </strong>
    <strong>TARAFLAR</strong>
</p>
<p>
İşbu sözleşme bir taraftan    <em>Nişantepe Mah. Orman Sok. No. 13 Özyeğin Üniversitesi Öğrenci Merkezi Binası Kat: 3B İç Kapı No: 34-36 Alemdağ, Çekmeköy, İstanbul</em> adresinde mukim
Hayal Ortakları Derneği İktisadi İşletmesi (bundan sonra <strong>YGA</strong> olarak anılacaktır) ile diğer taraftan    <a href="http://www.arikovani.com">www.arikovani.com</a> uzantılı alan adı veya sonradan belirlenecek herhangi bir alan adı altında internet sitesinde yer
    alan projeleri incelemek, destekte bulunmak isteyen <strong>DESTEKÇİ</strong> ve projeler dahil fikri ürünlerini kamuya yayınlamak suretiyle teşvik ve
destek arayan <strong>PROJE SAHİBİ</strong> arasında elektronik ortamda onaylanarak akdedilmiştir. Destekçi ve Proje Sahibi birlikte “    <strong>Kullanıcı</strong>” olarak anılacaktır.
</p>
<p>
    <strong>B. </strong>
    <strong>TANIMLAR</strong>
</p>
<p>
    <strong>Platform İşletmecisi : </strong>
    Hayal Ortakları Derneği İktisadi İşletmesi <strong>(YGA) </strong>
</p>
<p>
    <strong>Platform</strong>
    : <a href="http://www.arikovani.com">www.arikovani.com</a> alan adı veya bu alan adının çeşitli armaları altında faaliyette bulunan üye ile Proje
    sahiplerinin bir araya getirildiği online platform, <strong></strong>
</p>
<p>
    <strong>Proje: </strong>
    Site içeriğinde erişime açılan her türlü fikri ürün ve çabayı,
</p>
<p>
    <strong>Proje Sahibi</strong>
    : Sahip olduğu Projeyi ilgili video, metin, fotoğraf, vb. materyallerin yardımıyla anlatarak, onaylanmak üzere site yönetimine gönderen, Proje Başarı
    Hedefi’ne ulaşılması halinde Proje’yi hayata geçirmeyi ve Destekçilere Proje kapsamında vadettiği ürün veya hizmetleri sağlamayı taahhüt eden gerçek veya
    tüzel kişileri<strong></strong>
</p>
<p>
    <strong>Destekçi: </strong>
    Sitede kamunun bilgisine sunulan projeleri destekleyen gerçek veya tüzel kişileri<strong> </strong>
</p>
<p>
    <strong>Kullanıcı:</strong>
    Siteyi kullanmak üzere işbu Kullanıcı Üye ve Destek Sözleşmesini okuyup kabul ederek siteye kayıt formunu doldurarak kaydolan Proje Sahibi veya Destekçi
    gerçek ve tüzel kişi üyeyi
</p>
<p>
    <strong>Kullanıcı Profili:</strong>
    Kullanıcının siteye üye olduktan sonra hazırlamış olduğu ve resim, yazı, bağlantı ve diğer öğelerden oluşan kendisine ait tanıtıcı alanı.
</p>
<p>
    <strong>C. </strong>
    <strong>AMAÇ VE KONU</strong>
</p>
<p>
    İşbu Sözleşme www.arikovani.com alan adı uzantılı sitede, YGA tarafından yapılabilecek tüm geliştirme ve değişiklikler, Kullanıcıların siteyi kullanırken
    tabi olduğu kurallar, Proje taahhüdünden ve Projeye destekten doğan karşılıklı hak ve yükümlülüklerini tespit eder.
</p>
<p>
    <strong>D. </strong>
    <strong> KULLANICININ HAK VE YÜKÜMLÜLÜKLERİ</strong>
</p>
<p>
    Kullanıcı,
</p>
<p>
    <strong>a. </strong>
    işbu Sözleşmeyi imzalayabilmek için Türk Medeni Kanunu uyarınca reşit olduğunu kabul ve beyan eder. Kullanıcı olabilmek için, site sahibi tarafından
    üyelikten süresiz yasaklanmış olmadığını, aksi halde üyelik sözleşmesinin taraflar arasında geçerlik kazanmayacağını, siteye üye olarak sunduğu tüm kayıt
    bilgilerinin doğru ve gerçek olduğunu, bu Sözleşmeye ve site kural ve ilkelerine uygun hareket edeceğini Sözleşmenin tamamını okuduğunu, içeriğini tam
    olarak anladığını ve tüm hükümlerini kabul edip onayladığını,
</p>
<p>
    <strong>b. </strong>
    YGA’nın kendisi ile Sözleşme akdetmeme ve kendisini herhangi bir sebep göstermeksizin üyeliğe kabul etmeme hak ve yetkisini olduğunu, YGA’nın gerek
    mevzuattan kaynaklı gerekse tek taraflı tasarrufu sonucu siteye veya profil alanına içerik yüklemesine izin vermeme veya üyeliklerini dondurma veya iptal
    etme hakkına sahip olduğunu,
</p>
<p>
    <strong>c. </strong>
    <a href="http://www.arikovani.com">www.arikovani.com</a>
    sitesini kullanımı sırasında mevzuata veya genel ahlak ve adaba aykırı, toplumu veya diğer üyeleri rahatsız edici davranışlarda bulunmasının YGA’ya
    Sözleşmeyi derhal feshetme ve yasal yollara başvurma hakkı verdiğini, bu durumda herhangi bir tazminat talebinde bulunamayacağı gibi kendisinin yüklemiş
    olduğu her türlü bilgiyi YGA’nın yayından kaldırma ve silme hakkına sahip olduğunu ve YGA’nın bu verileri iade yükümlülüğü olmadığını,
</p>
<p>
    <strong>d. </strong>
    üye olurken dolduracağı kayıt formunda yer alan bilgilerin, içeriklerin doğru ve hukuka uygun olduğunu ve bu bilgilerin gerekli olduğu (şifre unutma gibi)
    durumlarda bilginin hatalı veya noksan olmasından doğacak zararlardan dolayı sorumluluğun kendisine ait olacağını, bu hallerde üyeliğinin sona
    erdirilebileceğini, bu bilgiler arasında yer alan adresinin geçerli tebligat adresi olduğunu, adreste meydana gelebilecek değişikliği YGA’ya bildirmediği
    takdirde bu adrese gönderilen tebligatların usulen geçerli tebligat sonuçlarını doğuracağını,
</p>
<p>
    <strong>e. </strong>
    siteden yararlanırken Fikir ve Sanat Eserleri Kanunu, Marka, Tasarım ve Patent Haklarının Korunması ile ilgili Kanun Hükmünde Kararnameler ve yasal
    düzenlemeler ile hali hazırda yürürlükte olan ilgili her türlü mevzuat hükümleri ve ileride yürürlüğe girecek olan mevzuata, YGA’nın yayınlayabileceği site
    kullanım koşulları, ilkeleri dahil tüm bildirimlere uymayı,
</p>
<p>
    <strong>f. </strong>
    kendi profil alanında, tercihleri doğrultusunda diğer üyelerin görmesine ve erişmesine izin vereceği her türlü bilgi ve verinin diğer üyeler tarafından
    görülebileceğini ve bu nedenle uğrayabileceği zararları bildiğini, bu ayarları tüm risklerini bilerek ve göze alarak yaptığını ve bu nedenle meydana
    gelebilecek hiçbir zarardan dolayı YGA’yı sorumlu tutmayacağını,
</p>
<p>
    <strong>g. </strong>
    sitenin moderatörlerinin, idarecilerinin ya da site yöneticilerinin, kendi iradeleri doğrultusuna herhangi bir profili/başlığı/mesajı, projeyi, fotoğrafı,
    filmi silme, taşıma, kilitleme konusunda tek yetkili olduğunu ve önceden haber vermeksizin bu yetkiyi kullanabileceklerini,
</p>
<p>
    <strong>h. </strong>
    kendi belirlemiş olduğu şifre kullanılarak ve kendi Kullanıcı adıyla yapılacak her türlü işlemden bizzat sorumlu olduğunu,
</p>
<p>
    <strong>i. </strong>
    işbu sözleşmenin ek sözleşme gerektiren destek olma, proje oluşturma ve benzeri işlere ilişkin sözleşmeler dışında YGA sitelerinin kullanımı için
    hazırlanmış yegane sözleşme olduğunu ve bu siteleri kullanmaya başlamış olmakla bu sözleşmeyi kabul ederek geçerli bir akdi ilişki içerisine girmeyi zımnen
    kabul etmiş olduğunu, bu nedenle işbu sözleşmenin elektronik ortamda akdedilmiş olduğundan bahisle geçersiz olduğunu ileri sürmeyeceğini,
</p>
<p>
    <strong>j. </strong>
    YGA’nın yazılı onayı olmadan işbu Sözleşmeyi veya bu Sözleşmenin kapsamındaki hak ve yükümlülüklerini, herhangi bir üçüncü kişiye devredemeyeceğini;
    üyeliğini kendisinden başka kişilerin kullanımına açmayacağını, bu tür devirler veya yetkisiz kullanımlar sonucu üçüncü kişilerin uğradıkları veya
    uğrayabilecekleri zararlardan dolayı YGA’nın doğrudan ve/veya dolaylı olarak hiçbir şekilde sorumlu tutulamayacağını, sorumluluğun bizatihi kendisine ait
    olduğunu, üyeliğini başkasına kullandırttığı veya devrettiğinin tespiti halinde üyeliğinin iptal edileceğini,
</p>
<p>
    <strong>k. </strong>
    siteye yüklediği mesaj, yorum, sanal hareketler dahil diğer içerikleri YGA’nın site yönetimi için gerekli görmesi halinde herhangi bir sebep göstermeksizin
    silebileceğini veya bu doğrultuda güncelleyebileceğini,
</p>
<p>
    <strong>l. </strong>
    site ve içeriğinde yer alan güncellemelere ilişkin e-posta ve diğer yöntemlerle tanıtıcı mesaj ve bilgilendirmelerin kendisine gönderilmesine muvafakat
    ettiğini,
</p>
<p>
    <strong>m. </strong>
    hiçbir şekilde siteyi ve site içeriğini referans olarak göstermemeyi, reklam aracı olarak kullanmamayı, site içeriğine reklam yayınlamamayı ve bu nitelikte
    olan herhangi bir faaliyette bulunmamayı,
</p>
<p>
    <strong>n. </strong>
    Proje Sahibi sıfatıyla, 5846 sayılı FSEK uyarınca eser niteliğinde ise web sitesinde çoğaltılan ve yayınlanan Projelerin eser sahibinin kendisi olduğunu,
    eserden doğan mali ve manevi hakların münhasıran sahibi olduğunu, işbu Sözleşmenin FSEK m.52 uyarınca yazılı sözleşme niteliğinde olduğunu, projenin kamu
    düzeni, genel ahlak ve adaba aykırı olmadığını, kendi isteği ile Projenin sitede yayınlanmasına, çoğaltılmasına, temsiline, iletimine rıza gösterdiğini,
    Proje üzerinde üçüncü kişilerin hak iddia etmesi durumunda münhasıran kendisinin sorumlu olduğunu, YGA’nın bu yüzden uğrayacağı zararı derhal tazmin
    edeceğini,
</p>
<p>
    <strong>o. </strong>
    Proje Sahibi sıfatıyla, platform sahibi Turktell ve diğer grup şirketlerine, kendisi ile birlikte hareket ederek destekçi dahil başkaca üçüncü şahıslara
nazaran öncelik hakkıyla projeyi değerlendirme, ürün haline getirme, hayata geçirme hususunda öncelik hak ve yetkisi tanımayı (    <em>örneğin proje konusuna ilişkin hisse devri, ürünü birlikte işleterek kar elde etme hususunu ilk kez bu şirketlere teklif etme gibi </em>),
</p>
<p>
    <strong>p. </strong>
    siteye yüklediği ve kamunun erişimine sunduğu içeriklerden bizzat kendisinin sorumlu olduğunu, bunları yayınlamak ve açıklamakla YGA tarafından kullanımına
    (örneğin, düzenleme, değiştirme, çeviri yapma vb. diğer işlemler) izin verdiğini,
</p>
<p>
    <strong>q. </strong>
    Proje fonlamaya açıldıktan sonra, Proje için kampanya süresi sonunda toplanması hedeflenen fon tutarına ulaşılamaması halinde, Destekçilerden toplanan
    miktarın Destekçilere iade edileceğini ve bunda dolayı Proje Sahibi sıfatıyla herhangi bir talepte bulunamayacağını bildiğini
</p>
<p>
    <strong>r. </strong>
    Destekçi sıfatıyla destekte bulunduğu proje için kendisine proje konusu ürün/hizmet veya sitede ilgili proje için belirtilen ürün/hizmet konusu edimin ifa
    edileceğini, fon miktarına ilişkin web sayfası bilgilendirmesinin geçerli bilgilendirme olarak kabul edileceğini, Proje konusu ürün üzerinde Destekçi
    sıfatıyla fikri mülkiyet dahil lehine herhangi bir hak ihdas edilemeyeceğini, Proje konusu ürün üzerindeki fikri haklarının münhasıran Proje Sahibine ait
    olduğunu bildiğini, sitede öngörülen teslim tarihinde taahhüt edilen ürün/hizmetin sunulamaması durumunda aynen ifa dışında bir herhangi bir talepte veya
    tazminat talebinde bulunmayacağını, teslimatın masrafları proje sahibine ait olmak üzere ayrıca Destekte bulunurken bildireceği teslimat adresinin geçerli
    olacağını, Proje Sahibinin taahhüt ettiği ürün veya hizmetin tam veya taahhüt edildiği şekilde adrese sağlanamamasından dolayı proje sahibi dışında YGA
    veya ödeme kuruluşuna talep yöneltemeyeceğini,
    <s>
    </s>
</p>
<p>
    <strong>s. </strong>
    Proje Sahibi sıfatıyla destek aldığı proje için web sayfasında taahhüt ettiği/belirttiği ürün/hizmet konusu edimi ifa edeceğini, toplanan fon miktarına
    ilişkin web sayfası bilgilendirmesinin geçerli bilgilendirme olarak kabul edileceğini, sitede öngörülen teslim tarihinde taahhüt edilen ürün/hizmetin
    sunulamaması veya ifa şeklinde ve zamanından Destekçiye karşı tek başına sorumlu olduğunu, teslimatın masraflarının kendisine olmak üzere Destekçinin
    belirttiği adrese yapılacağını, Proje Sahibinin taahhüt ettiği ürün veya hizmetin tam veya taahhüt edildiği şekilde adrese sağlanamamasından dolayı YGA
    veya ödeme kuruluşuna talep yöneltilemeyeceğini,
</p>
<p>
    <strong>t. </strong>
    YGA’nın bu Sözleşmede hiçbir şekilde taraf, garantör, kefil vb. sıfatla yer almadığını, Destekçinin veya Proje Sahibinin birbirlerine karşı
    yükümlülüklerini yerine getirmemesi halinde YGA’nın yapmak zorunda kalacağı bunlarla sınırlı olmamak kaydıyla tazminat, cezai şart, idari para cezası,
    para cezası vb.’yi ilk talep üzerine derhal nakden ve defaten YGA’ya ödemeyi, veya YGA’dan bir alacağı mevcutsa YGA’nın bu bedeli alacaktan mahsubunu
    kabul ettiğini,
</p>
<p>
    <strong>u. </strong>
    YGA’nın, Destekçi ile Proje Sahibi arasındaki hukuki ilişkiden sorumlu olmadığını, Proje Sahibi ve/veya Destekçi ile arasındaki sözleşmeyi kendi ad ve
    hesabına yapmayı ve bu sözleşmeden doğan hak ve alacaklarından dolayı YGA’ya bir talep yöneltemeyeceğini
    <em>
        (projelerin gerçekleşmesinde, proje konusu ürünün teslimatı, proje konusu ürünün oluşturulup oluşturulmaması, desteğin öngörülen fon miktarına
        ulaşması, proje konusu ürünün destekçiye sağlanması gibi destekçi – proje sahibi arasındaki talepler
    </em>
    ), sözleşmedeki bilgilerin gerçeği yansıtmaması veya sözleşmeye aykırı hareket edilmesi durumunda, öngörülen fon miktarına ulaşılsa dahi bunun Proje Sahibi
    sıfatıyla kendisine YGA’dan ödeme vb. yönde talep hakkı vermediğini kabul, beyan ve taahhüt etmektedir.
</p>
<p>
    <strong>E. </strong>
    <strong>PLATFORM İŞLETMECİSİNİN HAK ve YÜKÜMLÜLÜKLERİ</strong>
</p>
<p>
    YGA, sitede gerekli değişikleri Kullanıcıya bildirmeksizin yapma hak ve yetkisine sahip olup; kimlerin Kullanıcı sıfatıyla siteye üye olabileceğine, ya da
    Kullanıcı hesabını tek taraflı olarak değiştirme, silme, üyelikten çıkarmada tek başına yetkilidir.
</p>
<p>
    YGA, projeleri herhangi bir zamanda ve yine herhangi bir sebeple platformdan kaldırabilir veya siteye kabul etmeyebilir. Proje sahibi, Projesinin fonlamaya
    sunulmamasından veya kaldırılmasından dolayı YGA’dan herhangi bir talepte bulunamaz. YGA, Destekçi ile Proje Sahibi arasındaki hukuki ilişkiden sorumlu
    olmayıp, projenin gerçekleşmesi için gerekli miktarın toplanması halinde dahi, Projenin fonlamadan çıkarılmasına karar verebilir. Bu husus Proje Sahibine
    talep hakkı vermez.
</p>
<p>
    YGA, işbu Sözleşmeden doğan hak ve yükümlülüklerini üçüncü kişilere devredebilir.
</p>
<p>
    <strong>F. </strong>
    <strong>SORUMLULUĞUN SINIRLANDIRILMASI</strong>
</p>
<p>
    YGA, çalışanları, yöneticileri, direktörleri, iştirakleri, içerik sağlayıcıları Kullanıcının siteye erişimi, site içeriğindeki hizmetten faydalanması,
    erişim sınırı (inability to access), üçüncü şahısların paylaştığı içerik, data kaybı, Proje Sahibine sağladığı destekten dolayı uğradığı kazanç, gelir, kar
    kaybı kaynaklı herhangi bir dolaylı zarardan sorumlu değildir. Her halükarda, YGA’nın doğrudan zarar tazmin sorumluluğu 10.000 TL’sını aşamaz.
</p>
<p>
    <strong>G. </strong>
    <strong>FİKRİ ve SINAİ HAKLAR – REKABET YASAĞI</strong>
</p>
<p>
    YGA, bu sözleşme ile karşı tarafa herhangi bir lisans, sahibi olduğu patent/faydalı model, endüstriyel tasarım, telif ve markalarının kullanım hakkını veya
    devrini vermemektedir.
</p>
<p>
    Kullanıcı alanı dahil site içeriğine yüklediği veya site içeriğinde yayınladığı her türlü afiş, poster, fotoğraf, video, like- dislike vb. sanal hareket
    dahil içeriklerin sitede yayınlanmasından, çoğaltılmasından web sayfa içeriğinde tanımlanabilen sanal hareketten bizzat kendisinin sorumlu olduğunu ve
    YGA’ya hiçbir sorumluluk izafe edemeyeceğini, YGA’nın Fikir ve Sanat Eserleri yasası uyarınca korsan yazılım, içerik, izinsiz kopyalama, çoğaltma, yayma,
    umuma iletim dahil mevzuatı ihlal eden her türlü zararlı ve izinsiz içerikten dolayı zarara uğraması durumunda, zararını nakden ve aynen derhal tazmin
    edeceğini kabul, beyan ve taahhüt eder.
</p>
<p>
    Destekçi, platform içerisinde yer alan Proje dahil herhangi bir içeriği, YGA ve Proje sahibinin yazılı izni olmaksızın izinsiz çoğaltıp, dağıtmayacağını,
    yayınlamayacağını, pazarlamayacağını, iletmeyeceğini ve bunlarla sınırlı olmaksızın YGA, Proje Sahibi ve diğer üçüncü kişilere ait marka, patent, tasarım,
    telif veya başkaca mevzuat ile korunan hakları ihlal etmeyeceğini, aksi halde zararın tazmininden tek başına sorumlu olduğunu kabul, beyan ve taahhüt eder.
</p>
<p>
    YGA, Proje Sahibi tarafından web sayfasında açıklanan ve duyurusu yapılan Projelerin Fikri ve Sınai Mülkiyet haklarının Proje Sahibine ait olduğunu bilir.
    Proje Sahibi işbu Sözleşmeyi onaylamakla, sitede yayınladığı Projelerin YGA tarafından sadece web sayfasında değil, kitlesel fonlama ile ilgili her türlü
    tanıtım, reklam, pazarlama materyalinde (basılı, görsel mecralarda gösterilmesi, anlatılması, filme alınması, konferans ve sempozyumlarda tanıtılması ve
    bunlarla sınırlı olmayan diğer alanlarda) çoğaltılmasına, yayınlanmasına, umuma iletimine, temsiline süresiz, münhasıran ve YGA’nın üçüncü şahıslara da
    kullandırmasına yetki tanıyacak şekilde izin verdiğini kabul, beyan ve taahhüt eder.
</p>
<p>
    Proje Sahibi, işbu Sözleşme ile siteye yüklediği Projelerin daha önceden başkaca bir kitlesel fonlamaya konu edilmediğini ve başka sitelerde
    yayınlanmadığını, bundan sonra da yayınlanmayacağını aksi halde kendisine aktarılan fon miktarını YGA’nın talebi üzerine derhal aynen ve nakden iade
    edeceğini kabul beyan ve taahhüt eder.
</p>
<p>
    <strong>H. </strong>
    <strong>SÖZLEŞMENİN FESHİ</strong>
</p>
<p>
    Kullanıcı siteye üye olduğu sürece işbu Sözleşme yürürlükte kalır ve taraflar arasında hüküm ve sonuçlarını doğurmaya devam eder.
</p>
<p>
    YGA, Kullanıcının profilini başkasına devretmesi veya kullanıma açması, üçüncü kişilerin haklarına tecavüz eden ve/veya etme tehlikesi bulunan fillerde
    bulunması veya bu hallerle sınırlı olmamak kaydı ile her zaman Sözleşmeyi tek taraflı olarak elektronik posta veya diğer bildirim yöntemleri ile
    feshedebilir. YGA’nın Sözleşmeyi tek taraflı olarak feshetmesi halinde, herhangi bir tazminat sorumluluğu yoktur.
</p>
<p>
    Kullanıcı, YGA’nın, üçüncü kişilere ve/veya kamu kurum ve kuruluşlarına herhangi ad ve nam altında ödemek zorunda kaldığı her türlü tazminat ve/veya
    idari/adli para cezaları için YGA’nın kendisine rücu hakkı olduğunu kabul, beyan ve taahhüt eder.
</p>
<p>
    <strong>I. </strong>
    <strong>UYUŞMAZLIKLARIN ÇÖZÜMÜ</strong>
</p>
<p>
    İşbu Sözleşme ve eklerinin yorumunda ve/veya işbu Sözleşme ve ekleri sebebiyle ortaya çıkacak olan tüm uyuşmazlıklarda Türk Hukuku uygulanacak olup; işbu
    Sözleşmeden ve eklerinden doğabilecek her türlü uyuşmazlıkların çözümünde İstanbul Anadolu Mahkemeleri ve İcra Daireleri yetkilidir.
</p>
<p>
    <strong>J. </strong>
    <strong>KESİN DELİL</strong>
</p>
<p>
    Kullanıcı, işbu Sözleşmenin ifasından doğacak her türlü uyuşmazlıklarda YGA’nın ticari defter ve kayıtları ile bilgisayar kayıtlarının geçerli, bağlayıcı
    ve kesin delil teşkil edeceğini, YGA’yı yemin teklifinden ber’i kıldığını yazılı delil sözleşmesi olduğunu kabul ve taahhüt etmiştir.
</p>
<p>
    <strong>K. </strong>
    <strong>FERAGAT</strong>
    <strong> SAYILMAMA</strong>
</p>
<p>
    İşbu Sözleşmede taraflara tanınan sürelerin ve hakların zamanında kullanılmamış olması bu haktan vazgeçildiği şeklinde yorumlanamaz.
</p>
<p>
    <strong>L. </strong>
    <strong>GİZLİLİK</strong>
    <strong> </strong>
</p>
<p>
    YGA, kendisine üyelerce teslim edilmiş olan her türlü veriyi korumak için gerekli tedbirleri alır. Ancak Kullanıcının, kişisel verilerinin YGA’nın seçtiği
    üçüncü kişiler ile paylaşılmasına izni tamdır. YGA, 5651 sayılı yasa gereği üyelerinin trafik verilerini ve bu yasa ile veya yürürlükte olan veya ileride
    yürürlüğe girecek olan diğer mevzuat ile tutulması gereken tüm verileri tutmaktadır ve ilgili yetkili makamların talebi üzerine bu kişilere teslim etmekle
    yükümlüdür. Üye yasal zorunluluk nedeni ile tutulmakta olan bu veriler nedeniyle iletişiminin mahremiyetinin veya diğer haklarının zarara uğradığı
    iddiasında bulunmayacağını kabul ve taahhüt eder. Sitenin YGA’nın izni olmaksızın dışarıdan üçüncü şahıs müdahalesiyle kontrolün ele geçirilmesi durumunda,
    söz konusu kişisel verilerin üçüncü kişilerin eline geçmesinden sorumlu değildir. Üye bu durumda YGA’dan herhangi tazminat talep etmemeyi kabul ve taahhüt
    eder.
</p>
<p>
    YGA, üyeyi siteye geri dönen bir ziyaretçi olarak tanımak ve sitenin aldığı trafiği takip edebilmek için çerezler (cookie) kullanabilir. YGA, üyelerin IP
    adreslerine erişebilir. Üye, siteye gönderilen veya içeriğe aktarılan her türlü mesaj, içerik veya verinin çıkış kaynağı olan IP adresi ile birlikte ahlaka
    ve hukuka aykırı site kullanımını engellemek için kaydedilmekte olduğunu bildiğini, buna izninin tam olduğunu, bu kayıt işleminin ve ilgili verilerin
    tutulmasının kişisel verilerin gizliliğini ihlal etmediğini kabul ve beyan eder.
</p>
<p>
    <strong>M. </strong>
    <strong>DİĞER HÜKÜMLER</strong>
</p>
<p>
    <a href="http://www.arikovani.com">www.arikovani.com</a>
    web sayfası proje sayfaları, kullanıcı profilleri, yorumlar ve diğer sayfalara link içerebilir. Linklere erişim tamamen Kullanıcının kendi
    sorumluluğundadır.
</p>
<p>
    İşbu Sözleşmenin imzası ile Destekçi, fon sağlamak istediğinde YGA’nın sözleşme yaptığı ödeme kuruluşları aracılığıyla ödeme yapmayı kabul etmiş sayılır.
    YGA, işbu Sözleşme konusu hizmet dolayısıyla komisyon tahsil etmemektedir. Ancak, ödeme hizmetini sağlayan kuruluş tarafından her bir ödeme için 0,25 TL +
    ödeme tutarı üzerinden yüzde 1,07 + KDV hizmet bedeli kesintisi yapılmaktadır.
</p>
<p>
    Kullanıcı, işbu Sözleşmede yer alan maddelerin tümünü okuduğunu, anladığını, kayıt onayını yaptığı andan itibaren işbu Sözleşmede belirtilen şartları kabul
    etmiş sayılacağını ve kendisiyle ilgili olarak verdiği bilgilerin doğruluğunu onayladığını beyan, kabul ve taahhüt eder.
</p>
<p>
    <strong> </strong>
</p>

</body>
