<!doctype html>
<!--[if lt IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Kayıt Ol | Turkcell Evreka</title>
  <meta name="description" content="Projeleri desteklemek ya da yeni bir proje başlatmak için kayıt olun."/>
  <meta name="keywords" content=""/>
  <meta name="title" content="Kayıt Ol | Turkcell Evreka"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-itunes-app" content="app-id=1060999036">
  <meta name="google-play-app" content="app-id=com.solidict.crowdfunding">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"><link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css(.tmp) /styles/main-mob.css -->
  <link rel="stylesheet" href="/styles/main-mob.css">
  <!-- endbuild -->
  <link rel="canonical" href="http://www.arikovani.com/signup"/>
</head>
<body>

<div th:replace="index-mob :: header"></div>

<main role="main">
  <!--<div class="project-context">-->
  <!--<div class="container">-->
  <!--<div class="row">-->
  <!--<div class="col-xs-12">-->
  <!--<h2 class="mt0 text-center green-dark fwnormal" th:text="${contentStrings.registerpageheader}">Kayıt Olun</h2>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <div class="pledge-page container">
    <div class="row">
      <div class="col-xs-12 m-center">
        <div class="tout-checkout">
          <div id="storedCardForm">
            <div id="newCardForm">
              <div class="js-ksr-stripe stored-cards login-form">
                <p id="signUpErrorType2" class="login-form__error login-form--signup text-center"
                   style="display: none; top: 20px;"></p>
                <form id="signUpForm" method="post" action="" data-parsley-validate>
                  <div id="first-step">
                    <h2 class="mt0 text-center green-dark fwnormal" th:text="${contentStrings.registerpageheader}"
                        style="padding: 30px 0;">Kayıt Olun</h2>
                    <fieldset>
                      <ol class="grouped mt0">
                        <!--<li class="mb30 required">
                          <div class="avatars">
                            <div class="avatar" th:each="avatar : ${userAvatars}">
                              <div class="selected-layer">Seçildi</div>
                              <img th:src="${avatar}" />
                              <input type="radio" name="avatar" th:value="${avatar}" />
                            </div>
                          </div>
                        </li>-->
                        <li class="required">
                          <input id="firstName" class="primary-form green-dark ptb15" required name="name"
                                 data-parsley-errors-container="#signUpErrorType1"
                                 data-parsley-required-message="Lütfen isminizi yazınız"
                                 th:attr="placeholder=${contentStrings.registerpagetextboxesname},data-parsley-required-message=${contentStrings.signupnameerrormessage}"
                                 placeholder="İsim" type="text"/>
                        </li>
                        <li class="required">
                          <input id="lastName" class="primary-form green-dark ptb15 mt10" required name="surname"
                                 data-parsley-errors-container="#signUpErrorType1"
                                 data-parsley-required-message="Lütfen soyisminizi yazınız"
                                 th:attr="placeholder=${contentStrings.registerpagetextboxessurname},data-parsley-required-message=${contentStrings.signupsurnameerrormessage}"
                                 placeholder="Soyisim" type="text"/>
                        </li>
                        <li class="required">
                          <input id="email" class="primary-form green-dark ptb15 mt10" required
                                 data-parsley-type="email" name="email"
                                 data-parsley-errors-container="#signUpErrorType1"
                                 th:attr="placeholder=${contentStrings.registerpagetextboxesemail},data-parsley-required-message=${contentStrings.registerpagealertmessagemail}"
                                 placeholder="E-posta Adresi" type="text"/>
                        </li>
                        <li class="required">
                          <input id="password" class="primary-form green-dark ptb15 mt10" required name="password"
                                 data-parsley-errors-container="#signUpErrorType1"
                                 data-parsley-required-message="Lütfen şifrenizi yazınız"
                                 th:attr="placeholder=${contentStrings.registerpagetextboxespassword},data-parsley-minlength-message=${contentStrings.registerpagealertmessagepassword},data-parsley-required-message=${contentStrings.signuppassworderrormessage}"
                                 placeholder="Şifre (En az 6 karakter)" data-parsley-minlength="6"
                                 data-parsley-minlength-message="Şifreniz en az 6 karakter olmalıdır" type="password"/>
                        </li>
                        <!--<li class="required">
                          <input id="passwordAgain" data-parsley-equalto="#password" data-parsley-equalto-message="Şifrelerinizin aynı olması gerekmektedir" class="primary-form green-dark ptb15 mt10" required data-parsley-errors-container="#signUpErrorType1"  data-parsley-required-message="Lütfen şifrenizi tekrar yazınız" placeholder="Şifre Tekrar" type="password" />
                        </li>-->
                        <!--<li class="required">-->
                        <!--<input id="phone" class="primary-form green-dark ptb15 mt10" name="phone" data-parsley-required-message="Lütfen telefon numaranızı yazınız" type="text" data-parsley-intl="phone" required/>-->
                        <!--</li>-->
                        <!--<li class="required">
                          <input id="cityName" class="primary-form green-dark ptb15 mt10" autocomplete="off" placeholder="Şehir" type="text" />
                        </li>-->
                        <li class="required checkbox mt20">
                          <label class="label-checkbox" th:if="${lang} == 'tr'">
                            <input class="checkbox agreement" type="checkbox" checked="checked"/>
                            <span class="cr yellow-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            <a data-toggle="modal" data-target="#agreementModal" class="yellow-dark--link underline">Üyelik
                              sözleşmesini</a>&nbsp;okudum ve kabul ediyorum.
                          </label>

                          <label class="label-checkbox" th:if="${lang} == 'en'">
                            <input class="checkbox agreement" type="checkbox" checked="checked"/>
                            <span class="cr yellow-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            I've read and accept the <a data-toggle="modal" data-target="#agreementModal"
                                                        class="yellow-dark--link underline">Membership agreement</a>
                          </label>
                        </li>
                      </ol>
                    </fieldset>
                    <p id="signUpErrorType1" class="login-form__error login-form--signup mt20 text-center"
                       style="display: none; top: 0"></p>
                    <div class="not-refund*checkout mt50 mb30">
                      <button class="ptb15 btn btn--yellow full-width green-dark--link block submit" style="font-size: 18px"
                         tabindex="-1" th:text="${contentStrings.registerpageregisterbuttontext}">Kayıt
                        Ol</button>
                    </div>

                  </div>
                  <div id="second-step" style="display: none;">
                    <h2 class="mt0 text-center green-dark fwnormal" style="padding: 30px 0;"
                        th:text="${contentStrings.mobileconnectsmspagetitle}">SMS Şifre</h2>
                    <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="" width="100%"
                            height="500" frameBorder="0" style="margin-top: 50px;" id="mobileConnectFrame"
                            scrolling="no"></iframe>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="modal bs-example-modal-md fade box-shadow" id="agreementModal" tabindex="-1" role="dialog"
     aria-labelledby="agreementModal">
  <div class="modal-dialog modal-md bg-grey-light" role="document">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-10px"><span
              aria-hidden="true">&times;</span></button>
      <!--<h3 class="modal-title green-dark text-center">KULLANICI ÜYE SÖZLEŞMESİ</h3>-->
    </div>
    <div class="modal-content no-border bg-grey-light" style="box-shadow: none">
      <div class="modal-body" style="height: 300px; overflow-y: scroll">
        <iframe th:src="${lang} == 'tr' ? @{~/user-agreement} : @{~/user-agreement-en}" class="modal-iframe"></iframe>
        <!--<pre style="border: none; background: transparent; font: inherit">

        </pre>-->

      </div>
    </div>
    <div class="modal-footer">
      <button id="agree" class="btn btn--yellow btn--large green-dark full-width mt10" data-dismiss="modal"
              th:text="${contentStrings.registerpopupconfirm}">Okudum, onaylıyorum
      </button>
    </div>
  </div>
</div>

<div th:replace="index-mob :: footerTop"></div>
<div th:replace="index-mob :: footerBottom"></div>

<!--Loading Animation-->
<div class="modal-dialog-save spinning" id="savingLayer" style="display: none;">
  <div class="modal-dialog-outer">
    <div class="modal-dialog-sizer">
      <div class="modal-dialog-inner">
        <div class="modal-dialog-content"></div>
      </div>
      <span class="modal-dialog-ie-hack"></span>
    </div>
  </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    contentStrings = /*[[${contentStrings}]]*/ '';
    lang = /*[[${lang}]]*/ '';
    connectionState = /*[[${connectionState}]]*/ '';
    userAvatars = /*[[${userAvatars}]]*/ '';

    console.log('SIGNUP');
    console.log(contentStrings);
    console.log('avatars');
    console.log(userAvatars);
    /*]]>*/
</script>

<!-- build:js /scripts/vendor.min.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="scripts/vendor/formatMoney.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/simenty.min.js-->
<script src="scripts/simenty.js"></script>
<!-- endbuild -->

<!-- build:js /scripts/signup.min.js-->
<script src="../bower_components/dropzone/dist/min/dropzone-amd-module.min.js"></script>
<script src="/scripts/vendor/parsley.js"></script>
<script src="/scripts/vendor/parsley.tr.js"></script>
<script src="../bower_components/jquery-ui/ui/core.js"></script>
<script src="../bower_components/jquery-ui/ui/widget.js"></script>
<script src="../bower_components/jquery-ui/ui/position.js"></script>
<script src="../bower_components/jquery-ui/ui/autocomplete.js"></script>
<script src="../bower_components/jquery-ui/ui/menu.js"></script>
<!-- endbuild -->

<script>
    function checkDeny() {
        var signUpError = $('#signUpErrorType2');
        (window.location.search.indexOf('?deny=true') !== -1) ? signUpError.html(contentStrings.signupemailerrormessage).removeClass('flash').addClass('flash').show() : signUpError.text();
        (window.location.search.indexOf('?nonturkcell=true') !== -1) ? signUpError.html('Sadece Turkcell mail adresiniz ile kayıt olabilirsiniz').removeClass('flash').addClass('flash').show() : signUpError.text();
    }

    checkDeny();

    $(function () {
        $('#signUpForm').parsley().on('form:error', function () {
            $('#signUpErrorType2').hide();
            $('#signUpErrorType1').removeClass('flash').addClass('flash').show();
        });
        //Confirm agreement
        var agreement = $('.agreement');

        function checkAgreements() {
            var submit = $('#submit').find('button');
            agreement.is(':checked') ? submit.removeAttr('disabled title') : submit.attr({
                disabled: 'disabled',
                title: 'Üyelik sözleşmesini onaylamanız gerekmektedir'
            });
        }

        checkAgreements();
        agreement.change(checkAgreements);

        //Okudum, Onaylıyorum
        $('#agree').click(function () {
            $('.agreement').prop('checked', true);
            checkAgreements();
        });

    });

</script>

<!--Remember previous values on submit error-->
<script th:if="${hasSavedInfo}" th:inline="javascript">
    /*<![CDATA[*/

    var data = {
        name: /*[[${name}]]*/ '',
        surname: /*[[${surname}]]*/ '',
        email: /*[[${email}]]*/ '',
        image: /*[[${image}]]*/ ''
    };


    for (var key in data) { //Set values into corresponding inputs from previous form submit
        document.getElementsByName(key)[0].value = data[key];
    }

    if (data.image !== '') {
        var avatar = document.getElementById('uploader');
        avatar.style.backgroundImage = 'url(' + data.image + ')';
        avatar.classList.add('has-avatar');
    }
    /*]]>*/
</script>

<script type="text/javascript">
    $('.avatar').on('click', function () {
       $(this).children('input').attr('checked', true);
       $('.avatar').removeClass('selected');
       $(this).addClass('selected');
    });
</script>
</body>
</html>
