<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Digital Turkcell</title>
    <meta name="description" content="Yeni bir proje başlat, Arıkovanı'nı topluluğunu ve çevreni harekete geçir, ihtiyacın olan kaynağı yarat." />
    <meta name="keywords" content="" />
    <meta name="title" content="Proje Başlat" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div th:replace="index :: header"></div>

    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id="startProjectHeader" class="border-bottom box-shadow pt80 pb90">
        <div class="container">
          <div class="row mt40">
            <div class="col-xs-4 walkthrough__how-it-works--wrapper">
              <img class="img-responsive m-center" src="/images/banners/discover2.png" />
              <div class="walkthrough__how-it-works">
                <span class="walkthrough__how-it-works--number">01</span>
                <h3 class="walkthrough__how-it-works--text" th:text="${contentStrings.createprojectpagearikovaniflowaddproject}">PROJENİ<br>ARIKOVANI'NA EKLE</h3>
              </div>
            </div>

            <div class="col-xs-4 walkthrough__how-it-works--wrapper">
              <img class="img-responsive m-center" src="/images/banners/back2.png" />
              <div class="walkthrough__how-it-works">
                <span class="walkthrough__how-it-works--number">02</span>
                <h3 class="walkthrough__how-it-works--text" th:utext="${contentStrings.createprojectpagearikovaniflowtakeaction}">ARIKOVANI TOPLULUĞUNU<br>VE ÇEVRENİ HAREKETE GEÇİR.</h3>
              </div>

            </div>

            <div class="col-xs-4 walkthrough__how-it-works--wrapper">
              <img class="img-responsive m-center" src="/images/banners/realize2.png" />
              <div class="walkthrough__how-it-works">
                <span class="walkthrough__how-it-works--number">03</span>
                <h3 class="walkthrough__how-it-works--text" th:text="${contentStrings.createprojectpagearikovaniflowcreateyourfund}">İHTİYACIN OLAN<br>KAYNAĞI YARAT.</h3>
              </div>
            </div>

          </div>

          <section class="fade in ptb30" id="projects" role="tabpanel" style="display: none">
            <h1 for="projectName" class="h1 green-dark text-center" th:text="${contentStrings.createprojectpageheaderaddproject}">Mevcut projelerim</h1>
            <div class="content"></div>
          </section>

          <form role="form" class="start-form text-center mt50" accept-charset="utf-8" method="post" action="/start" data-parsley-validate>
            <label for="projectName" class="h1 green-dark" th:text="${contentStrings.createprojectpagenameyourprojectheader}">Yeni Proje Başlat</label>
            <div class="start-project mtb50 block">
              <!--<span class="hexagon pull-left"></span>-->
              <p th:text="${error}" style="color: #ffb901;"></p>
              <input style="width: 100%" id="projectName" maxlength="50" class="form-control pull-right" name="projectName" type="text" required th:attr="placeholder=${contentStrings.startProjectvalidasyonmsg}" data-parsley-required-message="Projene İsim Ver" />
            </div>
            <button type="submit" class="btn btn--yellow green-dark--link btn--x-large plr80 mt60 inline-block m-center" th:text="${contentStrings.createprojectpagestartbuttontext}">Hemen Başla</button>
          </form>
        </div>
      </div>

    </main>

    <div th:replace="index :: footerBottom"></div>

    <script th:inline="javascript">
      /*<![CDATA[*/
      contentStrings = /*[[${contentStrings}]]*/ '';
      console.log('START');
      console.log(contentStrings);
      /*]]>*/
    </script>

    <!-- build:js /scripts/vendor.min.js-->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
    <script src="scripts/vendor/formatMoney.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/login.min.js-->
    <script src="../bower_components/dropzone/dist/min/dropzone-amd-module.min.js"></script>
    <script src="../bower_components/parsleyjs/dist/parsley.min.js"></script>
    <script th:if="${lang} == 'tr'" src="scripts/vendor/parsley.tr.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/templates.min.js-->
    <script src="../bower_components/handlebars/handlebars.js"></script>
    <script src="scripts/hbsHelpers.js"></script>
    <script src="scripts/templates.js"></script>
    <!-- endbuild -->

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-71207251-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

    <script type="text/javascript">
      fbq('track', 'Lead');
    </script>


    <script>
      (function() {
        'use strict';
        window.app = window.app || {};
        window.app.StartModule = (function ($) {

          var baseUrl = '';

          var getData = function (url) {
            return $.ajax({
              url: baseUrl + url,
              type: 'GET',
              contentType: 'application/json',
              dataType: 'json'
            });
          };

          var render = function(data, template, target, append) {
            target.hide();
            append ? target.append($.parseHTML(app.Templates[template](data))) : target.html($.parseHTML(app.Templates[template](data)));
            target.find('.ptb15 .col-xs-2:last-of-type').hide();

            target.find('button').hide();

            target.find('.col-xs-2').removeClass('col-xs-2').addClass('col-xs-3');
            target.find('.col-xs-4').removeClass('col-xs-4').addClass('col-xs-3');
            target.find('.fwnormal').css('margin-top', '28px');
            target.fadeIn('fast');
          };

          var getProjects = function() {
            $('#projects .content').html($.parseHTML(app.Templates['dashboard-loading']()));//Loading Animation
            getData('/projects/my-projects').done(function(data){
                var obj = {
                  data: data,
                  cs: contentStrings
                }
                for (var i = 0; i < data.length; ++i) {
                  obj.data[i].cs = contentStrings;
                }
                console.log(obj);
                if (data.length > 0) {
                  $('#projects').css('display', 'block');
                  render(obj, 'dashboard-projects', $('#projects .content') );
                }
              })
              .fail(function() {
                console.log('fail Projects')
              });
          };

          var init = function() {
            $.ajaxSetup({
              beforeSend: function(jqXHR) {
                jqXHR.setRequestHeader('cf-request-type', 'ajax');
              },
              statusCode: {
                403: function() {
                  location.href = '/login'
                }
              }
            });

            getProjects();

          };

          return {
            start: init
          }
        }(jQuery));

      }());

      (function ($, app) {
        $(function() { //Document Ready
          app.StartModule.start();
        });
      }(jQuery, window.app));
    </script>
  </body>
</html>
