<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>  
<p th:text="${date}">taahutname_olusturma_tarihi</p>
<p><strong>TAAHH&Uuml;TNAME</strong></p>
<p><strong>Kime&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</strong> Hayal Ortakları Derneği İktisadi İşletmesi (&ldquo;<strong>Platform İşletmecisi</strong>&rdquo;)</p>
<p><strong>Adres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</strong> Nişantepe Mah. Orman Sok. No. 13 &Ouml;zyeğin &Uuml;niversitesi &Ouml;ğrenci Merkezi Binası</p>
<p>Kat: 3B İ&ccedil; Kapı No: 34-36 Alemdağ, &Ccedil;ekmek&ouml;y, İstanbul</p>
<p><strong>Kimden&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</strong> <span th:text="${merchantInfo.companyTitle}">projeci_sirket_yasal_adi</span></p>
<p><strong>Adres&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</strong> <span th:text="${projectOwnerAddress}">projeci_adresi</span></p>
<p><strong>Kullanıcı Adı :</strong>  <span th:text="${projectOwnerName}">projeci_adi</span></p>
<p><strong>Proje&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</strong>  <span th:text="${project.name}">proje_adi</span></p>
<p>İşbu Taah&uuml;tname&rsquo;de imzalandığı tarihte y&uuml;r&uuml;rl&uuml;kte olan <a href="http://www.arikovani.com">www.arikovani.com</a> internet sitesinde yayımlanan &lsquo;Kullanıcı &Uuml;ye ve Destek S&ouml;zleşmesi&rsquo;ne (<strong>Ek-1</strong>) atıf yapmaktayız. Bu Taahh&uuml;tname&rsquo;de ilk harfi b&uuml;y&uuml;k olarak yazılan ancak tanımlanmamış ifadeler &lsquo;Kullanıcı &Uuml;ye ve Destek S&ouml;zleşmesi&rsquo;nde kendilerine atfedilen anlama gelmektedir.</p>
<ul>
<li>Yukarıda adı ge&ccedil;en Proje tarafımıza ait olup, Platform&rsquo;da yayımlanarak <span th:text="${beginEndDate}">fonlama_acilis_kapanis_tarihleri</span> tarihleri arasında Destek&ccedil;iler tarafından desteklenmiş ve toplam <span th:text="${project.pledgedAmount}">toplam fon tutari</span> TL(KDV Dahil) toplanarak belirlenen <span th:text="${project.goal}">gaye</span> TL hedefine ulaşmıştır.</li>
</ul>
<table border="1px">
<tbody>
<tr>
<td width="121">
<p>Destek&ccedil;i</p>
</td>
<td width="117">
<p>Toplam (TL)</p>
</td>
<td width="90">
<p>&Ccedil;evrimi&ccedil;i &Ouml;deme Tutarı (TL)</p>
</td>
<td width="117">
<p>&Ccedil;evrimdışı &Ouml;deme Tutarı (TL)</p>
</td>
</tr>
<tr>
<td width="121">
<p>Bireysel Destek&ccedil;i</p>
</td>
<td width="117">
<p th:text="${individualFunding}">$tutar_bireysel_destek&ccedil;i</p>
</td>
<td width="90">
<p th:text="${individualFunding}">$tutar_bireysel_destek&ccedil;i</p>
</td>
<td width="117">
<p>&nbsp;</p>
</td>
</tr>
<tr th:each="corporateBuyer : ${corporateBuyers}" >
<td width="121">
<p th:text="${corporateBuyer.name}">$isim_kurumsal_satış</p>
</td>
<td width="117">
<p th:text="${corporateBuyer.amount}">$tutar_kurumsal_satış</p>
</td>
<td width="90">
<p>&nbsp;</p>
</td>
<td width="117">
<p th:text="${corporateBuyer.amount}">$tutar_kurumsal_satış</p>
</td>
</tr>
<tr>
<td width="121">
<p th:text="${nameCorporateFunder}">$isim_kurumsal_destek&ccedil;i</p>
</td>
<td width="117">
<p th:text="${corporateFunding}">$tutar_kurumsal_destek&ccedil;i</p>
</td>
<td width="90">
<p>&nbsp;</p>
</td>
<td width="117">
<p th:text="${corporateFunding}">$tutar_kurumsal_destek&ccedil;i</p>
</td>
</tr>
<tr>
<td width="121">
<p>Turkcell İndirim Desteği</p>
</td>
<td width="117">
<p th:text="${turkcellDiscount}">$tutar_turkcell_indirim</p>
</td>
<td width="90">
<p>&nbsp;</p>
</td>
<td width="117">
<p th:text="${turkcellDiscount}">$tutar_turkcell_indirim</p>
</td>
</tr>
</tbody>
</table>
<ul>
<li>Toplanan desteğin kırılımı yukarıdaki tabloda belirtilmiştir. Platform İşletmecisi&rsquo;nin Proje Sahibi&rsquo;ne &ouml;demekle y&uuml;k&uuml;ml&uuml; olduğu tutar &Ccedil;evrimdışı &Ouml;deme tutarını kapsamaz. &Ccedil;evrimdışı &Ouml;deme tutarının tahsilatından Proje Sahibi sorumludur.</li>
<li>Proje&rsquo;nin teknik &ouml;zellikleri, Platform&rsquo;da taahh&uuml;t ettiğimiz &ouml;d&uuml;ller ve bu &ouml;d&uuml;llerin teknik &ouml;zellikleri bu Taahh&uuml;tname&rsquo;nin ekinde (<strong>Ek-2</strong>) belirtilmiştir.</li>
<li>Proje&rsquo;yi destekleyen Destek&ccedil;ilerin kullanıcı bilgileri, iletişim bilgileri, teslimat adresleri, destek oldukları tutar ve hak ettikleri &ouml;d&uuml;ller bu Taahh&uuml;tname&rsquo;nin ekinde (<strong>Ek-3</strong>) yer almaktadır.</li>
<li>Bu Taahh&uuml;tname&rsquo;nin imzalanmasını m&uuml;teakip, Bireysel Destek&ccedil;ilerden &ccedil;evrimi&ccedil;i olarak toplanan toplam <span th:text="${individualFunding}" >$tutar_bireysel_destek&ccedil;i </span> TL ( <span th:text="${individualFundingInText}" >$tutar_bireysel_destek&ccedil;i_yaziyla </span> TL ) tutar &uuml;zerinden Platform&rsquo;un &ouml;deme hizmetleri sağlayıcısı tarafından hizmet bedeli kesintisi ((%1,7 + 25 KR) + KDV) sonrası kalan <span th:text="${amountAfterIyzicoDrop}" >$tutar_bireysel_destek&ccedil;i_iyzico_sonrası_kalan </span> TL ( <span th:text="${amountAfterIyzicoDropInText}" >$tutar_bireysel_destek&ccedil;i_iyzico_sonrası_kalan_yaziyla </span> )&rsquo;un aşağıda belirtilen banka hesabıma yatırılacağını kabul ederiz:</li>
</ul>
<p>Banka Adı&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : $banka_adı_proje_sahibi</p>
<p>Şube&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : $banka_şubesi_proje_sahibi</p>
<p>Hesap Adı&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : $hesap_adı_proje_sahibi</p>
<p>Hesap No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : $hesap_no_proje_sahibi</p>
<p>IBAN No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  : <span th:text="${merchantInfo.iban}">iban</span></p>
<ul>
<li>Platform İşletmecisi toplanan desteklerden herhangi bir şekilde komisyon, hizmet bedeli veya herhangi bir ad altında kesinti yapmamaktadır, tarafımızdan herhangi bir &uuml;cret almamaktadır. Platform&rsquo;un &ouml;deme hizmetleri sağlayıcısı tarafından alınan hizmet bedeli tutarı olan KDV dahil <span th:text="${iyzicoFeeDouble}">iyzico</span> TL (<span th:text="${iyzicoFeeInText}">iyzico text</span> )&rsquo;nin Platform İşletmecisi tarafından fatura edileceğini kabul ederiz.</li>
<li>Banka hesabıma &ouml;denen toplam tutar karşılığında, Ek-3&rsquo;te belirtilen Destek&ccedil;ilere, belirtilen teslimat adreslerine, hak ettikleri ve Ek-2&rsquo;de belirtilen teknik &ouml;zellik ve standartlara sahip &ouml;d&uuml;lleri, belirtilen tarihte, tam ve eksiksiz olarak teslim etmeyi kabul, beyan ve taahh&uuml;t ederiz.</li>
<li>Ek-3&rsquo;te belirtilen Destek&ccedil;ilere, destek oldukları tutara karşılık gelen faturaları d&uuml;zenlemeyi ve &ouml;d&uuml;lleri ile birlikte Ek-3&rsquo;te belirtilen adreslere ulaştırmayı kabul, beyan ve taahh&uuml;t ederiz. Her bir Destek&ccedil;i&rsquo;nin destek olduğu tutara KDV ve diğer vergiler ile &ouml;deme hizmet sağlayıcısının hizmet kesintisi yaptığı tutar dahildir. D&uuml;zenlenecek faturaların br&uuml;t toplam tutarı, her bir Destek&ccedil;i&rsquo;nin destek olduğu toplam tutara denk olacaktır.</li>
<li>M&uuml;cbir sebepler hari&ccedil; Destek&ccedil;ilere &ouml;d&uuml;llerin teslim edilmemesinden, zamanında teslim edilmemesinden, eksik, ayıplı ya da Ek-2&rsquo;de belirtilen teknik &ouml;zellikleri karşılamayan &ouml;d&uuml;llerin teslim edilmesinden sorumlu olduğumu kabul, beyan ve taahh&uuml;t ederiz. Bu sebeple Destek&ccedil;ilerden gelebilecek t&uuml;m taleplere karşı Platform İşletmecisi ya da Platform Sahibi&rsquo;nin herhangi bir sorumluluğu olmadığını ve Destek&ccedil;ilerden gelebilecek t&uuml;m hak, alacak veya tazminat taleplerinin Platform İşletmecisi ya da Platform Sahibi&rsquo;nin bize r&uuml;cu etme hakkının bulunduğunu kabul, beyan ve taahh&uuml;t ederiz. Ancak, Platform İşletmecisi Madde 4&rsquo;de belirtilen &ouml;deme y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n&uuml; yerine getirmez ise, bu durumda bizim bedeli &ouml;denmeyen ilgili Destek&ccedil;ilere &ouml;d&uuml;l teslim y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;m&uuml;z olmayacaktır.</li>
<li>Platform İşletmecisi tarafından y&uuml;r&uuml;rl&uuml;kteki mevzuata uygun bir şekilde toplanan Proje Destek&ccedil;ilerinin Ek-3&rsquo;te belirtilen kişisel verileri tarafımıza sağlanmıştır. S&ouml;z konusu kişisel verileri yalnızca Proje kapsamında ve Destek&ccedil;ilere &ouml;d&uuml;llerini ulaştırmak amacıyla kullanacağımızı, belirtilen bu ama&ccedil; dışında kullanmayacağımızı, kişilerin a&ccedil;ık rızası olmaksızın yurt i&ccedil;inde veya yurt dışında herhangi bir &uuml;&ccedil;&uuml;nc&uuml; kişiye aktarmayacağımızı veya paylaşmayacağımızı kabul, beyan ve taahh&uuml;t ederiz. Bu kapsamda 07.04.2016 tarihli ve 29677 sayılı Resmi Gazete&rsquo;de yayımlanan 6698 sayılı Kişisel Verilerin Korunması Kanunu h&uuml;k&uuml;mlerine uygun hareket edeceğimizi kabul, beyan ve taahh&uuml;t ederiz.</li>
<li>Ek-3&rsquo;te belirtilen Destek&ccedil;ilerle kuracağımız iletişim kapsamında 05.11.2014 tarihli ve 29166 sayılı Resmi Gazete&rsquo;de yayımlanan 6563 sayılı Elektronik Ticaretin D&uuml;zenlenmesi Hakkında Kanun ve ilgili y&ouml;netmeliklere ve ticari iletişime ilişkin esaslara uygun hareket edeceğimizi ve Destek&ccedil;ilerin iletişim listesinden &ccedil;ıkmayı talep etmeleri halinde derhal taleplerini değerlendirerek iletişim listemizden &ccedil;ıkaracağımızı kabul, beyan ve taahh&uuml;t ederiz.</li>
<li>Platform İşletmecisi ya da Platform Sahibi&rsquo;nin Destek&ccedil;ilerden toplanan, &ouml;deme hizmeti sağlayıcısının hizmet bedeli kesintisi sonrasında kalan ve yukarıda miktarı belirtilen tutarı tarafımıza teslimi, y&uuml;r&uuml;rl&uuml;kteki mevzuata uygun bir şekilde Proje Destek&ccedil;ilerinin Ek-3&rsquo;te belirtilen kişisel verilerinin toplanarak tarafımıza sağlanması ve <a href="http://www.arikovani.com">arikovani.com</a> internet sitesinde yer alan platformun işletilmesi dışında herhangi bir bor&ccedil; veya y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; olmadığını kabul ve beyan ederiz. Platform İşletmecisi ya da Platform sahibini her t&uuml;rl&uuml; zarardan ber&icirc; kıldığımızı kabul, beyan ve taahh&uuml;t ederiz.</li>
<li>İşbu Taahh&uuml;tname tahtında y&uuml;k&uuml;ml&uuml;l&uuml;klerimizi yerine getirmememiz nedeniyle Platform İşletmecisi veya Platform Sahibi&rsquo;nin uğrayabileceği her t&uuml;rl&uuml; zararı nakden ve defaten tazmin edeceğimizi kabul, beyan ve taahh&uuml;t ederiz.</li>
<li>İşbu Taahh&uuml;tname ve eklerinin i&ccedil;eriği de dahil olmak &uuml;zere, Platform ve Proje kapsamında, Platform, Platform İşletmecisi ve Destek&ccedil;ilere ilişkin olarak &ouml;ğrendiğimiz t&uuml;m bilgileri gizli tutacağımızı, kamuoyuna veya herhangi bir &uuml;&ccedil;&uuml;nc&uuml; kişiye a&ccedil;ıklamayacağımızı taahh&uuml;t ederiz.</li>
<li>Platform İşletmecisi&rsquo;nin yazılı a&ccedil;ık rızası olmaksızın bu Taahh&uuml;tname ve/veya bu Taahh&uuml;tname&rsquo;den doğmuş ve doğabilecek hak ve y&uuml;k&uuml;ml&uuml;l&uuml;klerimizi, &uuml;&ccedil;&uuml;nc&uuml; kişilere devir ve temlik etmeyeceğimizi kabul, beyan ve taahh&uuml;t ederiz.</li>
<li>İşbu Taahh&uuml;tname ve eklerinin yorumunda ve/veya işbu Taah&uuml;tname ve ekleri sebebiyle ortaya &ccedil;ıkacak olan t&uuml;m uyuşmazlıklarda T&uuml;rk Hukuku uygulanacaktır. Bu Taahh&uuml;tname ve eklerinden doğabilecek her t&uuml;rl&uuml; uyuşmazlıkların &ccedil;&ouml;z&uuml;m&uuml;nde İstanbul Anadolu Mahkemeleri ve İcra Daireleri yetkilidir.</li>
<li>İşbu Taahh&uuml;tname&rsquo;de yer alan hususların yerine getirilmesi, gerekli ihbar ve tebligatların yapılabilmesi i&ccedil;in Taahh&uuml;tname&rsquo;nin giriş b&ouml;l&uuml;m&uuml;nde yer alan adresimizi yasal ikametg&acirc;h adresi olarak beyan ederiz. Adres değişikliklerini noter aracılığıyla ya da iadeli taahh&uuml;tl&uuml; mektupla 7 (yedi) g&uuml;n i&ccedil;erisinde Platform İşletmecisi&rsquo;ne bildirmediğimiz takdirde işbu Taah&uuml;tname&rsquo;de yer alan adreslere yapılacak ihbar ve tebligatların ge&ccedil;erli olacağını kabul ve taahh&uuml;t ederiz.</li>
</ul>
<p><strong>Ekler:</strong></p>
<ul>
<li><a href="http://www.arikovani.com">arikovani.com</a> Kullanıcı &Uuml;ye ve Destek S&ouml;zleşmesi</li>
<li>Proje Teknik &Ouml;zellikler</li>
<li>Proje Destek&ccedil;ileri ve Destek Bilgileri</li>
<li>[<em>T&uuml;zel Kişi ise: Faaliyet Belgesi, Vergi Levhası, İmza Yetkililerini G&ouml;sterir İmza Sirk&uuml;leri</em>]</li>
</ul>
<p>[<em>Ge&ccedil;ek Kişi ise: N&uuml;fus C&uuml;zdanı Fotokopisi, T.C. Kimlik Numarası, Vergi Levhası</em>]</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td colspan="2" width="475">
<p><strong>Proje Sahibi</strong></p>
</td>
</tr>
<tr>
<td width="140">
<p><strong>Ticari Unvan / Ad Soyad</strong></p>
</td>
<td width="335">
<p><strong>: </strong></p>
</td>
</tr>
<tr>
<td width="140">
<p><strong>İmza</strong></p>
</td>
<td width="335">
<p><strong>:</strong></p>
<p><strong>&nbsp;</strong></p>
</td>
</tr>
<tr>
<td width="140">
<p><strong>Tarih</strong></p>
</td>
<td width="335">
<p><strong>:</strong></p>
</td>
</tr>
</tbody>
</table>
<h3>&nbsp;</h3>
<p>&nbsp;</p>
</body>
</html>