<!doctype html>
<!--[if lt IE 7]>      <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns:th="http://www.thymeleaf.org" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns:th="http://www.thymeleaf.org" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Digital Turkcell</title>
	<meta name="description" content="Projeleri desteklemek ya da yeni bir proje başlatmak için giriş yapın."/>
	<meta name="keywords" content="" />
	<meta name="title" content="Giriş | Arıkovanı" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.png">     <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css(.tmp) /styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

</head>
<body id="login">

<div th:replace="index :: header"></div>

<main role="main">
	<div>
		<img id="corp-teams-header" alt="leaderboard" src="/images/ekipler-header.jpg" style="width: 100%;padding: 20px;">
	</div>
	<section id="corp-teams-container">
		<div th:each="group : ${groups}" class="corp-teams-group-row">
			<button class="accordion"><span th:text="${group.name}">GROUP NAME</span><span class="team-score" style="margin-left: 30px" th:text="${group.score}"></span></button>
			<div class="panelo">
				<div th:each="team : ${group.teams}" class="corp-teams-teams-row">
					<h2 class="team-name"><span th:text="${team.name}">TEAM NAME</span><span class="team-score" th:text="${team.score}"></span></h2>
					<div th:if="${#arrays.length(team.users) > 0}" class="col-xs-6 corp-man-wrapper corp-admin-wrapper">
						<div class="corp-user-image-container">
							<div class="corp-user-image-wrapper" th:style="'background-image: url(\'' + ${team.users[0].image} + '\');'">
							</div>
							<h2 th:text="${team.users[0].name} + ' ' + ${team.users[0].surname}"></h2>
							<div class="corp-bugcount"><span th:text="${team.users[0].score}">ADMIN SCORE</span></div>
						</div>
					</div>
					<div th:if="${#arrays.length(team.users) > 0}" th:each="user,status : ${team.users}" th:if="${status.index} > 0" class="col-xs-6 corp-man-wrapper">
						<div class="corp-user-image-container">
							<div class="corp-user-image-wrapper" th:style="'background-image: url(\'' + ${user.image} + '\');'">
							</div>
							<h2 th:text="${user.name} + ' ' + ${user.surname}"></h2>
							<div class="corp-bugcount"><span th:text="${user.score}"></span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

<div th:replace="index :: footerBottom"></div>

<script th:inline="javascript">
	/*<![CDATA[*/
	contentStrings = /*[[${contentStrings}]]*/ '';
	groups = /*[[${groups}]]*/ '';

	console.log('GROUPLAR');
	console.log(groups);

	var acc = document.getElementsByClassName("accordion");
	var i;

	for (i = 0; i < acc.length; i++) {
		if (i === 0) {
			acc[i].classList.toggle("active");
			acc[i].nextElementSibling.classList.toggle("show");
		}
		acc[i].onclick = function(){
			this.classList.toggle("active");
			this.nextElementSibling.classList.toggle("show");
		}
	}
	/*]]>*/
</script>

<!-- build:js /scripts/vendor.min.js-->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="scripts/vendor/formatMoney.js"></script>
<!-- endbuild -->

<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-71207251-1', 'auto');
	ga('send', 'pageview');
</script>
<script async src='//www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
</body>
</html>