<div class="center block">
    <h2 class="h2 green-dark fwbold">{{cs.fillprojectdetailspage4textboxtitle}}</h2>
    <p class="h4 mt0 green-dark">{{cs.fillprojectdetailspage4textboxsubtitle}}</p>
</div>

<div class="table-display full-width mt60 mb30 ptb20 plr10 m-center bg-white border">
    <div class="row">
        <div class="col-xs-9">
            <div id="about-main" class="project-main-form mr10" data-parsley-validate>

              <input type="hidden" id="userPhoto" value="{{image}}" />
              <ol class="fields no-margin">
                <li class="profile-photo">
                    <div class="grey-field mb20 clearfix">
                        <label for="photoUpload">
                            {{cs.fillprojectdetailspage4textboxprofilepictitle}}
                        </label>
                        <div class="field-wrapper profile-photo">
                            <div class="pull-left success table-cell">
                                <div class="image-clip">
                                    <img alt="Fb profile picture.original" class="preview circle image-clip-img" src="{{{isEmpty image '/images/placeholders/profile.png'}}}" />
                                </div>
                            </div>
                            <div id="profileUploader" class="upload border">
                                <input class="photo file" id="photoUpload" data-parsley-required value="{{image}}" />
                                <strong class="center">
                                    {{cs.fillprojectdetailspage1textboxpicsubtext}}
                                </strong>
                            </div>
                            <div id="profileUploadSuccess" class="field-help text-center" style="display: none">
                                <p>Görseliniz başarılı ile yüklenmiştir.</p>
                                <p>Yeni bir görsel yüklemek için var olanı kaldırmanız gerekmektedir.</p>
                            </div>
                            <!--<div id="progressUserPhoto" class="progress green-dark center mt10">
                                <div class="progress-bar progress-bar-success" style="width: 0"></div>
                            </div>-->
                        </div>
                    </div>
                </li>
                <li class="profile-name">
                    <div class="grey-field mb20 clearfix">
                        <label for="name">
                          {{cs.fillprojectdetailspage4textboxnametitle}}
                        </label>
                        <div class="field-wrapper">
                            <input type="text" id="name" class="form-control border" maxlength="60" value="{{name}}" data-parsley-required />
                            <div class="field-help">
                                <p>{{cs.fillprojectdetailspage4textboxnamesubtitle}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="profile-last-name">
                    <div class="grey-field mb20 clearfix">
                        <label for="surname">
                            {{cs.fillprojectdetailspage4textboxsurnametitle}}
                        </label>
                        <div class="field-wrapper">
                            <input type="text" id="surname" class="form-control border" maxlength="60" value="{{surname}}" data-parsley-required />
                            <div class="field-help">
                                <p>{{cs.fillprojectdetailspage4textboxsurnamesubtitle}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="profile-email">
                    <div class="grey-field mb20 clearfix">
                        <label for="email">
                          {{cs.fillprojectdetailspage4textboxemailtitle}}
                        </label>
                        <div class="field-wrapper">
                            <input type="text" id="email" class="form-control border" maxlength="60" value="{{email}}" data-parsley-required />
                            <div class="field-help">
                                <p>{{cs.fillprojectdetailspage4textboxemailsubtitle}}</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="profile-phone">
                    <div class="grey-field mb20 clearfix">
                        <label for="phone">
                          {{cs.fillprojectdetailspage4textboxmobilephonetitle}}
                        </label>
                        <div class="field-wrapper">
                            <input type="text" id="phone" class="form-control border" maxlength="60" value="{{phone}}" data-parsley-required />
                        </div>
                    </div>
                </li>
                <li class="biography">
                    <div class="grey-field mb20 clearfix">
                        <label for="biography">
                          {{cs.fillprojectdetailspage4textboxbiotitle}}
                        </label>
                        <div class="field-wrapper">
                            <textarea id="biography" rows="4" class="form-control border" maxlength="135" data-parsley-required>{{biography}}</textarea>
                        </div>
                    </div>
                </li>
                <li class="city">
                    <div class="grey-field mb20 clearfix">
                        <label for="location">
                          {{cs.fillprojectdetailspage4textboxlocationtitle}}
                        </label>
                        <div class="field-wrapper">
                            <input type="text" class="form-control border cityName" maxlength="61" autocomplete="off" required  data-parsley-required-message="Lokasyonunu giriniz" value="{{city.name}}" />
                            <input type="text" id="location" class="cityId" value="{{cityId}}" style="display: none" required data-parsley-required-message="Lokasyonunu giriniz" />
                        </div>
                    </div>
                </li>
                <li class="website">
                    <div class="grey-field mb20 clearfix">
                        <label for="website">
                          {{cs.fillprojectdetailspage4textboxwebsitetitle}}
                        </label>
                        <div class="field-wrapper">
                            <input type="text" id="website" class="form-control border" maxlength="60" value="{{website}}" data-parsley-required />
                            <div class="field-help">
                                <p>{{cs.fillprojectdetailspage4textboxwebsitesubtitle}}</p>
                            </div>
                        </div>
                    </div>
                </li>
              </ol>

            </div>
        </div>
        <div class="col-xs-3">
            <div id="about-sidebar" class="project-sidebar-form ml10">
                <div class="project-thumbnail">

                </div>
            </div>
        </div>
    </div>
</div>
