<div class="center block">
    <h2 class="h2 green-dark fwbold">{{cs.fillprojectdetailspage1textboxtitle}}</h2>
    <p class="h4 mt0 green-dark">{{cs.fillprojectdetailspage1textboxsubtitle}}</p>
</div>
<div class="table-display full-width mt60 mb30 ptb20 plr10 m-center bg-white border">
    <div class="row">
        <div class="col-xs-9">
            <div id="basics-main" class="project-main-form mr10">
                <form id="basics-form" data-parsley-validate>
                  <input type="hidden" id="projectImage" value="{{isEmpty image '/images/placeholders/project.jpg'}}" />
                  <input type="hidden" id="successProjectImage" value="{{isEmpty image '/images/placeholders/project.jpg'}}" />
                  <ol class="fields no-margin">
                      <li class="project-image">
                          <div class="grey-field mb20 clearfix">
                              <label for="fileupload">
                                  {{cs.fillprojectdetailspage1textboxpictext}}
                              </label>
                              <div class="field-wrapper">
                                  <div id="uploader" class="upload">
                                      <input class="photo file" id="fileupload" name="image" value="{{image}}" />
                                      <strong class="center">
                                        {{cs.fillprojectdetailspage1textboxpicsubtext}}
                                      </strong>
                                  </div>
                                  <div id="uploadSuccess" class="field-help text-center" style="display: none">
                                      <p class="mb10">Görseliniz başarılı ile yüklenmiştir.</p>
                                      <p>Yeni bir görsel yüklemek için var olanı kaldırmanız gerekmektedir.</p>
                                  </div>
                              </div>
                          </div>
                      </li>

                      <li class="project-title">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectTitle">
                                  {{cs.fillprojectdetailspage1textboxtitletext}} *
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="projectTitle" name="projectTitle" value="{{name}}" class="form-control border remaining" maxlength="50" required />
                                  <div class="field-help">
                                    {{cs.fillprojectdetailspage1textboxtitlesubtext}}
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                      <li class="short-description">
                          <div class="grey-field mb20 clearfix">
                              <label for="shortDescription">
                                {{cs.fillprojectdetailspage2textboxdesctext}} *
                                  <span class="grey-field__info-box t10">{{cs.fillprojectdetailspage1textboxshortdesccoloredsubtext}}</span>
                              </label>
                              <div class="field-wrapper">
                                  <textarea id="shortDescription" rows="4" class="form-control border remaining" maxlength="500" required>{{shortDescription}}</textarea>
                                  <div class="field-help">
                                      <p>{{cs.projectdetailexplaintweet}}</p>
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>

                      <!-- sss --!-->


                      <li class="project-sector">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectSector">
                                  Proje Sektörü
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="projectSector" name="projectSector" value="{{projectSector}}" class="form-control border remaining" maxlength="50" />
                                  <div class="field-help">
                                      Telekomünikasyon , Bankacılık, Otomotiv, Savunma sanayi, Sağlık, Enerji, Eğitim, Havacılık ve Uzay, Elektronik, Eğlence/Medya, Sosyal Sorumluluk, Diğer
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                      <li class="project-category">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectCategory">
                                  Proje Kategorisi *
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="projectCategory" name="projectCategory" value="{{projectCategory}}" class="form-control border remaining" maxlength="50" required />
                                  <div class="field-help">
                                      Yazılım, Donanım, Giyilebilir Tek., Oyun, Robotik, IOT, Medya Tek., Kurumsal Çözüm, Mobil Uyg., Web Uyg., Diğer
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                      <li class="project-deger">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectDeger">
                                  Projenle müşteriye sağlayacağın değer nedir?
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="question1" name="question1" value="{{question1}}" class="form-control border remaining" maxlength="200" />
                                  <div class="field-help">
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                      <li class="project-deger">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectDeger">
                                  Projen müşterinin hangi problemini çözüyor veya ihtiyacını karşılıyor?
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="question2" name="question2" value="{{question2}}" class="form-control border remaining" maxlength="200" />
                                  <div class="field-help">
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                      <li class="project-deger">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectDeger">
                                  Hedef müşteri kitlesi kim?
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="question3" name="question3" value="{{question3}}" class="form-control border remaining" maxlength="200" />
                                  <div class="field-help">
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                      <li class="project-deger">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectDeger">
                                  Rakipleriniz var mı? Varsa projeni diğerlerinden ayıran özellikler neler?
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="question4" name="question4" value="{{question4}}" class="form-control border remaining" maxlength="200" />
                                  <div class="field-help">
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                      <li class="project-deger">
                          <div class="grey-field mb20 clearfix">
                              <label for="projectDeger">
                                  Projenin maddi veya manevi yönleriyle gelir modelini anlat
                              </label>
                              <div class="field-wrapper">
                                  <input type="text" id="question5" name="question5" value="{{question5}}" class="form-control border remaining" maxlength="200" />
                                  <div class="field-help">
                                  </div>
                              </div>
                              <div class="field-remaining pull-right mr20 t10 fwbold">Kalan</div>
                          </div>
                      </li>
                  </ol>
                </form>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="basics-sidebar" class="project-sidebar-form ml10">
                <div class="project-thumbnail">
                      <img alt="Project image" class="project-thumbnail-img" src="{{isEmpty image '/images/placeholders/project.jpg'}}" width="100%" />
                </div>
                <p class="green-dark mt40">{{cs.fillprojectdetailspage1textboxshortdesccoloredsubtext}}</p>
            </div>
        </div>
        <input type="hidden" id="status" value="{{status}}" />
    </div>
</div>
