{{#each this}}
    <div class="{{{isCreatorComment creatorComment}}}">
        <div class="info-container">
            <div class="col-xs-3">
                <span class="h6">{{project.name}}</span>
            </div>
            <div class="col-xs-3">
                <span class="h6">{{{setDateWithHours created}}}</span>
            </div>
            <div class="col-xs-3">
                {{#ifCond firstApproval "==" false}}
                    <span class="h6">Onay Bekliyor</span>{{/ifCond}}
            </div>
            <div class="col-xs-3">
                {{#ifCond rate "===" 1}}
                    <span class="h6">{{project.likeName}}</span>
                    <span class="h6">{{project.likePoint}} puan</span>
                {{else}}
                    <span class="h6">{{project.dislikeName}}</span>
                    <span class="h6">{{project.dislikePoint}} puan</span>
                {{/ifCond}}
            </div>
            <div class="col-xs-12" style="float: left !important;">
                <p>{{comment}}</p>
                <p class="corp-micro-like-dislike">
                    {{#if fileUrl}}
                        <button class="btn btn-default btn-xs corp-button-micro button-micro-file" data-href="{{fileUrl}}">
                            <span class="glyphicon glyphicon-file corp-button-micro button-micro-file" data-href="{{fileUrl}}"></span>
                        </button>
                    {{/if}}
                </p>
            </div>
        </div>
    </div>
{{else}}
    <p>Henüz bir giriş yapılmamıştır.</p>
{{/each}}