{{#each this}}
    <div class="dashboard-item__item fadeInDown" style="animation-delay: {{{animationDelay @index}}}">
        <div class="info-container info-container--dashboard">
            <span class="h5 fwnormal">
                {{#if status}}
                    {{project.name}} isimli projeye ulaşmak için <a href="/projeler/{{project.urlPostfix}}/detay">tıklayınız</a>.
                {{else}}
                    {{project.name}} isimli projeye davetiniz bulunmaktadır. Ulaşmak için <a href="/projeler/{{project.urlPostfix}}/detay">tıklayınız</a>.
                {{/if}}
            </span>
            <span class="h6 fwnormal pull-right">{{{setDateWithHours created}}}</span>
            <h4 class="green-dark mr10 fwnormal">{{title}}</h4>
            <p class="h6">{{description}}</p>
        </div>
    </div>
{{else}}
    <p>{{cs.acitivitiesnoactivity}}</p>
{{/each}}
