{{#if this}}
<div class="inline-block full-width ptb15 white mb10 mt20 bg-yellow-dark box-shadow">
    <div class="col-xs-6">{{cs.profilepagetabbackedprojectstablecolumns1}}</div>
    <div class="col-xs-2">{{cs.profilepagetabbackedprojectstablecolumns2}}</div>
    <div class="col-xs-3 text-center">{{cs.profilepagetabbackedprojectstablecolumns3}}</div>
    <div class="col-xs-1 text-center">{{cs.profilepagetabbackedprojectstablecolumns4}}</div>
</div>
{{/if}}

{{#each this}}
  <div class="dashboard-item__item backed-projects fadeInDown" style="animation-delay: {{{animationDelay @index}}}">
      <div class="row">
          <div class="col-xs-6">
              <div class="avatar-container mr20">
                  <div class="bg-img item-photo" style="background-image: url('{{project.image}}')">
                      <img class="opacity0" src="{{project.image}}" title="{{project.name}}" alt="{{project.name}}" />
                  </div>
              </div>
              <h4 class="green-dark ml90 mr10 valign absolute project-title"><a href="/projeler/{{project.urlPostfix}}/detay">{{project.name}}</a></h4>
          </div>

          <div class="col-xs-2">
              <span class="h4 green-dark block valign absolute m0 ls-2 text-center fwnormal">{{{formatMoney amount}}} {{cs.currency}}</span>
          </div>
          <div class="col-xs-3 text-center">
              <p class="h5 fwnormal mt0">{{reward.description}}</p>
              {{#if delivery}}
	              <span class="h6 fwnormal">{{cs.projectdetailspagerewardscarddelivery}}: {{{setDate delivery}}}</span>
              {{else}}
	              <span class="h6 fwnormal">{{cs.projectdetailspagerewardscarddelivery}}: Belirsiz</span>
              {{/if}}
          </div>
          <div class="col-xs-1 text-center" data-toggle="tooltip" data-placement="top" title="{{statusTooltipHelper project.status}}">
              <div class="{{statusHelper project.status}}" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;"></div>
          </div>

      </div>
  </div>
{{else}}
    <p class="mt20">{{cs.homepagealreadyloginmouseoverbackedprojecttext}}</p>
{{/each}}
