{{#each this}}
<div class="dashboard-item__item fadeInDown" style="animation-delay: {{{animationDelay @index}}}">
    <div class="avatar-container mr20">
    {{#with project}}
        <div class="bg-img item-photo" style="background-image: url('{{image}}')">
            <img class="opacity0" src="{{image}}" title="{{name}}" alt="{{name}}" />
        </div>
    {{/with}}
    </div>
    <div class="info-container info-container--dashboard">
        <span class="h5 fwnormal">Güncelleme #{{{math ../this.length  '-' @index }}}</span> <!--Array length - index-->
        <span class="h6 fwnormal pull-right">{{{setDateWithHours created}}}</span>
        <h4 class="green-dark mr10 fwnormal">{{title}}</h4>
        <p class="h6">{{description}}</p>
    </div>
</div>
{{else}}
    <p>{{cs.acitivitiesnoactivity}}</p>
{{/each}}
