{{#if this}}
    <div class="inline-block full-width ptb15 white mb10 mt20 bg-yellow-dark box-shadow">
        <div class="col-xs-2">{{cs.profilepageaddtimelineactivitiestablecolumns1}}</div>
        <div class="col-xs-3">{{cs.profilepageaddtimelineactivitiestablecolumns2}}</div>
        <div class="col-xs-4">{{cs.profilepageaddtimelineactivitiestablecolumns3}}</div>
        <div class="col-xs-2 text-center">{{cs.profilepageaddtimelineactivitiestablecolumns4}}</div>
        <div class="col-xs-1 text-center">{{cs.profilepageaddtimelineactivitiestablecolumns5}}</div>
    </div>
{{/if}}

{{#each this}}
    <div class="dashboard-item__item backed-projects fadeInDown" style="animation-delay: {{{animationDelay @index}}}">
        <div class="row">
            <div class="col-xs-2">
                <span class="h5 green-dark block m0 absolute valign fwnormal">{{{setDateWithHours created}}}</span>
            </div>
            <div class="col-xs-3">
                <span class="h5 green-dark block m0 absolute valign fwnormal">{{title}}</span>
            </div>
            <div class="col-xs-4">
                <span class="h5 green-dark block m0 absolute valign fwnormal">{{description}}</span>
            </div>
            <div class="col-xs-2 text-center">
                <button data-activity-id="{{id}}" title="{{title}} aktivitesini düzenle" data-title="{{title}}" data-description="{{description}}"
                        class="edit btn btn--white green-dark--link absolute align-center fwnormal">{{cs.profilepageaddtimelineactivitiestablecolumns4}}
                </button>
            </div>
            <div class="col-xs-1 text-center">
                <button data-activity-id="{{id}}" title="{{title}} aktivitesini sil" data-title="{{title}}"
                        class="delete btn btn--yellow green-dark--link absolute align-center fwnormal">{{cs.profilepageaddtimelineactivitiestablecolumns5}}
                </button>
            </div>
        </div>
    </div>
{{else}}
    <p class="mt20">{{cs.projectdetailspagetimelinesubtextnothing}}</p>
{{/each}}

<h3 id="titleAddUpdate" class="mt50 mb20 fwnormal green-dark">{{cs.profilepageaddtimelineactivitiestitle}}</h3>

<div class="full-width inline-block relative mb50">
    <div class="dashboard-item--message-detail pull-left">
        <input id="activityTitle" class="primary-form mb10 box-shadow" placeholder="{{cs.profilepageaddtimelineactivitiestextbox1innertext}}" />
        <textarea id="activityDescription" class="primary-form box-shadow" rows="4" placeholder="{{cs.profilepageaddtimelineactivitiestextbox2innertext}}"></textarea>
    </div>
    <button id="clearActivity" class="btn btn--small btn--yellow pull-right plr15 absolute fwnormal green-dark--link"
            style="right: 0; bottom: 59px;">{{cs.profilepageaddtimelineactivitiesbuttontext1}}
    </button>
    <button id="btnAddUpdateActivity" class="btn btn--small btn--yellow pull-right plr15 absolute fwnormal green-dark--link"
            style="right: 0; bottom: 7px;">{{cs.profilepageaddtimelineactivitiesbuttontext2}}
    </button>
</div>
