<form id="signUpForm" data-parsley-validate style="width: 400px; margin: 0 auto">
    <fieldset>
        <ol class="grouped mt0">
            <li class="mb30 required">
                <div id="uploader" class="upload form-avatar has-avatar circular" style="background-image: url('{{image}}')">
                    <span class="form-avatar__placeholder"></span>
                    <div class="overlay"><span class="text">{{cs.profileditpicturemouseovertext}}</span></div>
                    <input class="photo file fileupload" id="fileupload" name="image" value="{{image}}" />
                </div>
            </li>
            <li class="required">
                <input class="primary-form green-dark ptb15" value="{{name}}" required name="name" data-parsley-required-message="Lütfen isminizi yazınız" placeholder="{{cs.profileeditnamelabel}}" type="text" />
            </li>
            <li class="required">
                <input class="primary-form green-dark ptb15 mt10" value="{{surname}}" required name="surname" data-parsley-required-message="Lütfen soyisminizi yazınız" placeholder="{{cs.profileeditsurnamelabel}}" type="text" />
            </li>
            <li class="required">
                <input id="email" class="primary-form green-dark ptb15 mt10" value="{{email}}" required name="email" data-parsley-required-message="Lütfen emailinizi yazınız" placeholder="Email adresi" type="text" />
            </li>
            <!--<li class="required">
                <div class="primary-form disabled green-dark ptb15 mt10">{{phone}}</div>
            </li>-->
        </ol>
    </fieldset>
    <div class="not-refund*checkout mt50 mb30" id="submit">
        <button id="profileUpdateBtn" class="ptb15 btn btn--yellow full-width green-dark--link block submit" style="font-size: 18px" tabindex="-1">{{cs.profilepagetabmyprofilebuttontext1}}</button>
    </div>
    <!--Hidden Fields-->
    <input type="hidden" name="id" value="{{id}}" />
</form>