<h3 class="green-dark fwnormal mb30">Mesajlar ({{unreadCount}})</h3>
<div class="content">
{{#each this}}
    <div class="dashboard-item__item dashboard-message fadeInDown" style="animation-delay: {{{animationDelay @index}}}">
        <div class="avatar-container mr20">
            <div class="bg-img item-photo" style="background-image: url('{{counterpartImage}}')">
                <img class="opacity0" src="{{counterpartImage}}" title="{{counterpartName}}" alt="{{counterpartName}}">
            </div>
        </div>
        <div class="info-container info-container--dashboard">
            <h4 class="green-dark inline mr10 fwnormal">{{counterpartName}} {{cs.profilemessegingwithuser}}</h4> <!--Array length - index-->
            {{#each messages}}
              {{#if @last}}
                <h6 class="mt0 fwnormal pull-right">{{{setDateWithHours created}}}</h6>
                <span class="message-count bg-yellow-dark box-shadow plr10 white fwnormal">{{../this.messageCount}}</span>
                <p class="h6">{{message}}</p>
              {{/if}}
            {{/each}}
        </div>
        <a class="full-link" data-index="{{@index}}"></a>
    </div>
  {{else}}
    <p>Mesaj bulunmamaktadır</p>
  {{/each}}
</div>
