{{#if this.data}}
<div class="inline-block full-width ptb15 white mb10 mt20 bg-yellow-dark box-shadow">
    <div class="col-xs-4">{{cs.profilepagetabmyprojectstablecolumns1}}</div>
    <!--<div class="col-xs-2 text-center">{{cs.profilepagetabmyprojectstablecolumns2}}</div>-->
    <!--<div class="col-xs-2 text-center">{{cs.profilepagetabmyprojectstablecolumns3}}</div>-->
    <div class="col-xs-2 text-center">{{cs.profilepagetabmyprojectstablecolumns4}}</div>
    <div class="col-xs-2 text-center">{{cs.profilepagetabmyprojectstablecolumns5}}</div>
</div>
{{/if}}

{{#each this.data}}
<div class="dashboard-item__item backed-projects fadeInDown" style="animation-delay: {{{animationDelay @index}}}">
    <div class="row">
        <div class="col-xs-4">
            {{#compare status 10 operator=">="}}
            <h4 class="green-dark valign absolute mr10 project-title">
                <span>{{name}}</span>
            </h4>
            {{/compare}}
            {{#compare status 10 operator="<"}}
	            <h4 class="green-dark valign absolute mr10 project-title">
		            <a href="/projeler/{{urlPostfix}}/detay">{{name}}</a>
	            </h4>
            {{/compare}}
        </div>
        <!--<div class="col-xs-2">
            <span class="h5 yellow-dark block m0 absolute align-center text-center fwnormal">{{{projectStatus status}}}</span>
        </div>
        <div class="col-xs-2">
            <span class="h4 green-dark block m0 absolute align-center ls-2 text-center fwnormal">%{{completionPercentage}}</span>
        </div>-->
        <div class="col-xs-2 text-center">
            {{#if inFormState}}
            {{else}}
                {{#compare status 7 operator=">="}}
                <a href="/projeler/{{urlPostfix}}/detay" class="btn btn--yellow green-dark--link absolute align-center fwnormal" target="_blank">
                  {{cs.projectseeproject}}
                </a>
                {{/compare}}
                {{#compare status 7 operator="<"}}
	                <a href="/edit/{{id}}" class="btn btn--yellow green-dark--link absolute align-center fwnormal" target="_blank">
                    {{cs.profilepageaddtimelineactivitiestablecolumns4}}
	                </a>
                {{/compare}}
            {{/if}}
        </div>
        {{#unless inFormState}}
          <div class="col-xs-2 text-center">
              <button data-id="{{id}}" class="timeline btn btn--white green-dark--link absolute align-center fwnormal">Timeline</button>
          </div>
        {{/unless}}
    </div>
</div>
{{else}}
    <p class="mt20">Proje bulunmamaktadır</p>
{{/each}}
