{{#if messages}}
  <h3 id="counterPart" class="green-dark fwnormal mb30" data-id="{{counterpartId}}">{{counterpartName}} {{cs.profilemessaginguser}}</h3>
  <!--<h5 class="fwnormal mb40">Lorem Ipsum ile olan mesajlarınız</h5>-->
  <div class="content">
  {{#each messages}}
      <div class="row fadeInDown mb10" style="animation-delay: {{{animationDelay @index}}}">
          <div class="col-xs-12">

              <div class="{{{ternary self 'message-detail-avatar-container pull-left' 'message-detail-avatar-container pull-right'}}}">
                  <div class="bg-img item-photo box-shadow" style="background-image: url('{{image}}')">
                      <img class="opacity0" src="{{image}}" title="{{name}}" alt="{{name}}">
                  </div>
              </div>

              <div class="{{{ternary self 'dashboard-item__item dashboard-item--message-detail pull-right' 'dashboard-item__item dashboard-item--message-detail pull-left'}}}">
                  <div class="info-container info-container--dashboard">
                      <h4 class="green-dark inline mr10 fwnormal">{{name}}</h4>
                      <h6 class="mt0 fwnormal pull-right">{{{setDateWithHours created}}}</h6>
                      <p class="h6 mb0">{{message}}</p>
                  </div>
              </div>

          </div>
      </div>
  {{/each}}
  </div>


  <div class="full-width inline-block mtb50">
      <div class="dashboard-item--message-detail pull-left">
          <textarea id="message" class="primary-form box-shadow" rows="4" placeholder="{{cs.profilemessegingyourmsg}}"></textarea>
      </div>
      <button id="sendMessage" class="btn btn--small btn--yellow pull-right plr15 fwnormal green-dark--link mt60">Gönder</button>
  </div>
{{else}}
    <div class="row slideInLeft mb10">
        <div class="col-xs-12">

            <div class="message-detail-avatar-container pull-left">
                <div class="bg-img item-photo box-shadow" style="background-image: url('{{image}}')">
                    <img class="opacity0" src="{{image}}" title="{{name}}" alt="{{name}}">
                </div>
            </div>

            <div class="dashboard-item__item dashboard-item--message-detail pull-right">
                <div class="info-container info-container--dashboard">
                    <h4 class="green-dark inline mr10 fwnormal">{{name}}</h4>
                    <h6 class="mt0 fwnormal pull-right">Şimdi</h6>
                    <p class="h6 mb0">{{message}}</p>
                </div>
            </div>

        </div>
    </div>
{{/if}}
