<div class="center block">
    <h2 class="h2 green-dark fwbold">{{cs.fillprojectdetailspage5textboxtitle}}</h2>

    <p class="h4 mt0 green-dark">{{cs.fillprojectdetailspage5textboxsubtitle}}</p>
</div>

<div class="table-display full-width mt60 mb30 ptb20 plr10 m-center bg-white border">
    <div class="row">
        <div class="col-xs-9">
            <div id="merchantInfo-form" class="project-main-form content mr10" data-parsley-validate>
                <ol class="fields no-margin">
                    <li class="memType">
                        <div class="grey-field mb20 clearfix">
                            <label>
                              {{cs.fillprojectdetailspage5textboxtypetitle}}
                            </label>

                            <div class="field-wrapper radio">
                                <label class="width-auto pt0 mr15">
                                    <input type="radio" class="form-control" name="memType"
                                           value="1" {{{memType type 1}}} />
                                    <span class="cr white-rb"><i class="cr-icon glyphicon glyphicon-record"></i></span>
                                    <span>{{cs.fillprojectdetailspage5textboxtypesubtitle1}}</span>
                                </label>
                                <label class="width-auto pt0 mr15">
                                    <input type="radio" class="form-control" name="memType"
                                           value="2" {{{memType type 2}}} />
                                    <span class="cr white-rb"><i class="cr-icon glyphicon glyphicon-record"></i></span>
	                                <span>{{cs.fillprojectdetailspage5textboxtypesubtitle2}}</span>
                                </label>
                                <label class="width-auto pt0">
                                    <input type="radio" class="form-control" name="memType"
                                           value="3" {{{memType type 3}}} />
                                    <span class="cr white-rb"><i class="cr-icon glyphicon glyphicon-record"></i></span>
                                    <span>{{cs.fillprojectdetailspage5textboxtypesubtitle3}}</span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="iban">
                        <div class="grey-field mb20 clearfix">
                            <label for="iban">
                                {{cs.fillprojectdetailspage5textboxibantitle}}
                            </label>

                            <div class="field-wrapper">
                                <input type="text" id="iban" class="form-control border" maxlength="28"
                                       data-parsley-required value="{{iban}}"/>
                            </div>
                        </div>
                    </li>
                    <li class="pstn">
                        <div class="grey-field mb20 clearfix">
                            <label for="pstn">
                                {{cs.fillprojectdetailspage5textboxphonetitle}}
                            </label>

                            <div class="field-wrapper">
                                <input type="text" id="pstn" class="form-control border" maxlength="11"
                                       data-parsley-required value="{{pstn}}"/>
                            </div>
                        </div>
                    </li>
                    <li class="address">
                        <div class="grey-field mb20 clearfix">
                            <label for="address">
                                {{cs.fillprojectdetailspage5textboxaddresstitle}}
                            </label>

                            <div class="field-wrapper">
                                <textarea id="address" rows="3" class="form-control border" maxlength="100"
                                          data-parsley-required>{{address}}</textarea>
                            </div>
                        </div>
                    </li>
                    <li class="tckNo conditional">
                        <div class="grey-field mb20 clearfix">
                            <label for="tckNo">
                                TC Kimlik No
                            </label>

                            <div class="field-wrapper">
                                <input type="text" id="tckNo" class="form-control border" maxlength="11"
                                       value="{{tckNo}}"/>
                            </div>
                        </div>
                    </li>
                    <li class="companyTitle conditional">
                        <div class="grey-field mb20 clearfix">
                            <label for="companyTitle">
                                {{cs.fillprojectdetailspage5textboxcompanynametitle}}
                            </label>

                            <div class="field-wrapper">
                                <input type="text" id="companyTitle" class="form-control border"
                                       value="{{companyTitle}}"/>
                            </div>
                        </div>
                    </li>
                    <li class="taxNo conditional">
                        <div class="grey-field mb20 clearfix">
                            <label for="taxNo">
                                {{cs.fillprojectdetailspage5textboxtaxnumbertitle}}
                            </label>

                            <div class="field-wrapper">
                                <input type="text" id="taxNo" class="form-control border" maxlength="11"
                                       value="{{taxNo}}"/>
                            </div>
                        </div>
                    </li>
                    <li class="taxOffice conditional">
                        <div class="grey-field mb20 clearfix">
                            <label for="taxOffice">
                              {{cs.fillprojectdetailspage5textboxtaxofficetitle}}
                            </label>

                            <div class="field-wrapper">
                                <input type="text" id="taxOffice" class="form-control border" value="{{taxOffice}}"/>
                            </div>
                        </div>
                    </li>
                    <li class="agreed">
	                    <div class="checkbox grey-field mb20 clearfix">
		                    <label style="width: 400px" th:utext="${contentStrings.projectapprovepaymentterms}">
			                    <input id="agreed-checkbox" type="checkbox" checked="{{agreementAccepted}}" name="payment-agreed" required data-parsley-required-message="Lütfen ilerleyebilmek için sözleşmeyi kabul edin.">
		                      <span class="cr white-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
			                    <a href="https://www.iyzico.com/pazaryeri-satici-anlasma" target="_blank">Ödeme Sistemleri sözleşmesini</a> okudum, onaylıyorum.
		                    </label>
	                    </div>
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-xs-3">
            <div id="merchant-sidebar" class="project-sidebar-form ml10">
                <div class="project-thumbnail">

                </div>
            </div>
        </div>
    </div>
</div>
