<input type="text" id="couponTextField" placeholder="{{cs.chechkoutpagecoupontextboxinnertext}}" /> <button class="pledge-coupon-button" type="button" id="applyCouponButton">{{cs.chechkoutpagecouponbuttontext}}</button>
<div id="coupon-result-msg" style="display:none;"></div>
<div id="coupon-result-success" class="table-responsive" style="display:none;">
	<table class="table-hover">
		<tr><td>Toplam:</td><td class="pledge-coupon-success" id="subTotalID"></td></tr>
		<tr><td>İndirim:</td><td class="pledge-coupon-success" id="discountID"></td></tr>
		<tr><td>Genel Toplam:</td><td class="pledge-coupon-success" id="totalID"></td></tr>
	</table>
<div>
