{{#each this}}
<div class="row">
    <div class="col-xs-6">
        <h6 class="date">{{{setDateWithHours created}}}</h6>
        <h5 class="green-dark">{{title}}</h5>
        <p>{{description}}</p>
    </div>
    <div class="col-xs-6"></div>
</div>
{{else}}
  <p class="text-center block">{{cs.projectdetailspagetimelinesubtextnothing}}</p>
{{/each}}
