<!--<div class="selected-indicator js-selected-indicator transition-all-bezier" style="left: 18.4688px; width: 69px;"></div>-->
<li class="project-nav-item active">
    <a class="js-load-project-content ptb20 green-dark--link block" aria-controls="proje-bilgileri" data-toggle="tab" href="#proje-bilgileri">{{cs.projectdetailspagetabsprojectinfo}}</a>
</li>
<!--
<li class="project-nav-item">
    <a class="js-load-project-content ptb20 green-dark--link block" aria-controls="bocek-avcilari" data-toggle="tab" href="#bocek-avcilari">Puan Sıralaması</a>
</li>
-->
{{#if au}}
	<li class="project-nav-item" data-value="1">
	  <span data-comments-count="4" id="newFeaturesCount">
	     <a class="js-load-project-content ptb20 green-dark--link block" aria-controls="yorumlar" data-toggle="tab" href="#newFeatures"><span>{{likeName}}</span>
		     (<data class="Project813830071" data-format="number">0</data>)
	     </a>
	  </span>
	</li>
	<li class="project-nav-item" data-value="2">
	  <span data-comments-count="4" id="defectsCount">
	     <a class="js-load-project-content ptb20 green-dark--link block" aria-controls="yorumlar" data-toggle="tab" href="#defects"><span>{{dislikeName}}</span>
		     (<data class="Project813830071" data-format="number">0</data>)
	     </a>
	  </span>
	</li>
{{/if}}
<!--
<li class="project-nav-item" id="project-rewards-tab" style="display:none;">
  <a class="js-load-project-content ptb20 green-dark--link block" aria-controls="oduller" data-toggle="tab" href="#oduller">{{cs.projectdetailspagerewardsheader}}</a>
</li>-->