<div class="row" style="
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
height: 300px;">
    <div class="col-xs-6 mb20 stat-item" style="border-left: 6px solid #00b6f1; -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.21);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.21); -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; height: 130px;justify-content: center;
flex-direction: column;
text-align: center; display: flex;">
        {{#ifCond status "==" 2}}
            <div class="num h1 mb0 mt10">
                    <span class="icon-to-go mr10" data-value="1">
                        <img src="{{likeIcon}}" style="float:left; margin-top: 5px; width: 100%; height: 100%;"/>
                    </span>
                <data itemprop="Project[quickRateLikeCount]" data-format="number"
                      data-value="{{quickRateLikeCount}}" style="font-weight: 900;">{{quickRateLikeCount}}</data>
                <span class="h4" style="display: block; font-weight: 300;">{{likeName}}</span>
            </div>
        {{else}}
            <div class="num h1 mb0 mt10" data-backers-count="200" id="backersCount">
            <span class="icon-to-go mr10">
              <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#backers"></use>
              </svg>
            </span>
                <data itemprop="Project[backersCount]" data-format="number"
                      data-value="{{backersCount}}">{{backersCount}}</data>
                <span style="position: relative;" class="h4">{{cs.projectdetailspagefundingcardbacker}}</span>
            </div>
        {{/ifCond}}
    </div>

    <div class="col-xs-6 mb30 stat-item" style="border-left: 6px solid #ffcb05; -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.21);
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.21); -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px; height: 130px;justify-content: center;
flex-direction: column;
text-align: center; display: flex;">
    <div class="Project834766624">
    <div class="ksr_page_timer poll stat">
        {{#ifCond status "==" 2}}
            <div class="num h1 mb0">
                    <span class="icon-to-go mr10" data-value="2">
                        <img src="{{dislikeIcon}}" style="float:left; margin-top: 5px; width: 100%; height: 100%;"/>
                    </span>
                <data itemprop="Project[quickRateDislikeCount]" data-format="number"
                      data-value="{{quickRateDislikeCount}}" style="font-weight: 900;">{{quickRateDislikeCount}}</data>
                <span class="h4" style="display: block; font-weight: 300;">{{dislikeName}}</span>
            </div>
        </div>
        {{else}}
            <div class="num h1 mb0">
                    <span class="icon-to-go mr10">
                        <svg>
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#timer"></use>
                        </svg>
                    </span>
                <data itemprop="Project[remainingDays]" data-format="number"
                      data-value="{{remainingDays}}">{{remainingDays}}</data>
                <span class="h4">{{cs.projectdetailspagefundingcarddaysleft}}</span>
            </div>
        </div>
        {{/ifCond}}
    </div>
</div>
