{{#each this}}
	  <div class="{{{ternary favourite 'project-card project-card-tall-small NS_projects__stats fadeInDown' 'project-card project-card-tall-big NS_projects__stats'}}}" style="animation-delay: {{{animationDelay @index}}}; width: auto; float: left; margin-right: 30px; height: 415px;">
		  <!--<div class="project-badge">
			  <svg>
				  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#{{{badgeHelper status}}}"></use>
			  </svg>
		  </div>-->
		  <div class="project-thumbnail" style="background-image: url('{{image}}'); position: relative; background-size: cover; background-repeat: no-repeat; background-position: center center;">
			  <a href="/projeler/{{urlPostfix}}/detay">
				  <img alt="{{name}}" title="{{name}}" class="project-thumbnail-img" src="{{image}}" width="100%">
          {{#if partner.badgeImage}}
            <img alt="{{name}}" title="{{name}}" class="project-badge-img" src="{{partner.badgeImage}}" width="100%">
          {{/if}}
			  </a>
		  </div>
		  <div class="project-card-content">
			  <h4 class="project-title">
				  <a data-score="null" data-version="null" href="/projeler/{{urlPostfix}}/detay">{{name}}</a>
			  </h4>
              <p>{{teamName}}</p>
			  <!--<p class="project-blurb">{{shortDescription}}</p>-->
		  </div>
		  <div class="project-card-footer">
			    <div class="project-stats-container project-card--thinking">
				    <ul class="project-stats">
					    <li class="h4 yellow-dark text-right ml40 pull-left">
                        <span class="goal like">
                            <svg>
	                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like"></use>
                            </svg>
                        </span>
						    <span class="goal num h3 ml10">{{quickRateLikeCount}}</span>
					    </li>
					    <li class="h4 mr40 pull-right">
                        <span class="goal like project-stats-label">
                            <svg>
	                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#dislike"></use>
                            </svg>
                        </span>
						    <span class="goal num h3 ml10">{{quickRateDislikeCount}}</span>
					    </li>
				    </ul>
				    <!--<div class="project-stats-value mt15 text-center">
					    <div class="h4 pl15 mb0">
                      <span class="comment mr10">
                          <svg>
	                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#comment"></use>
                          </svg>
                      </span><span class="goal text inline-block">{{commentCount}} yorum</span>
					    </div>
				    </div>-->
			    </div>
		  </div>
	  </div>
</div>
{{/each}}
