{{#each this}}
    {{#if comment}}
<div class="{{{isCreatorComment creatorComment}}}">
    <div class="avatar-container mr20">
        <div class="bg-img avatar" style="background-image: url('{{user.image}}')">
            <img class="opacity0" src="{{user.image}}" alt="{{user.name}}&nbsp;{{user.surname}}" title="{{user.name}}&nbsp;{{user.surname}}" />
        </div>
    </div>
    <div class="info-container">
        <span class="h5 green-dark mr10" style="min-width: 120px;display: inline-block;">{{user.name}}&nbsp;{{user.surname}}</span>
        <span class="h6">{{{setDateWithHours created}}}</span>
        <p style="width:522px;float:left;">{{comment}}</p>
	    <p style="float:right;" class="corp-micro-like-dislike">
		    {{#if fileUrl}}
			    <button class="btn btn-default btn-xs corp-button-micro button-micro-file" data-href="{{fileUrl}}">
				    <span class="glyphicon glyphicon-file corp-button-micro button-micro-file" data-href="{{fileUrl}}"></span>
			    </button>
		    {{/if}}
	    </p>
    </div>
</div>
    {{/if}}
{{else}}
<p>Henüz bir giriş yapılmamıştır.</p>
{{/each}}