{{#each this}}
    <li class="reward col-xs-3" data-reward-id="{{id}}">
        <div class="reward__info rev-reward-info" style="text-align: center">
	        <div class="corp-comment-user-image" style="background-image: url({{image}})"></div>
	        <h4>{{name}} {{surname}}</h4>
	        <div class="corp-bugcount"><span>{{score}}</span></div>
        </div>
    </li>
{{/each}}
