{{#each this}}
<li class="reward">
    <div class="grey-field clearfix mb20">
        <div class="fields backer_rewards_fields">
            <label class="primary help">
                Ödül #<span class="reward-num">{{{math @index '+' 1 }}}</span><span class="icon tsr-icon__help ml5"></span>
            </label>
            <div class="field-wrapper">
                <div class="field-help" style="display: none;">
                    <p>
                        <strong>Estimated delivery:</strong>
                        This is the date you expect to deliver the reward to backers. If the reward includes multiple items, choose the date you expect the final item to be delivered.
                        <br>
                        <strong>Shipping details:</strong>
                        Select whether your reward requires shipping, and whether there are any shipping restrictions. If you need, you can add specific locations and assign them specific shipping costs. (The details for a precise country, like "France," will always take precedence over larger regions, like the "European Union.")
                        <br>
                        <strong>Limit quantity</strong>
                        You can set a number and limit the availability of a particular reward. Once the limit is reached, the reward will be marked as "sold out."
                    </p>
                </div>
                <div class="field-container">
                    <input type="hidden" class="rewardId" value="{{id}}" />
                    <div class="keep-or-delete js-unless_has_backers">
                        <a class="delete-reward deleteReward" style="" title="{{cs.projectrewarddeleteapprove}}">
                            <span class="tsr-icon__delete"></span>
                            <span>{{cs.profilepageaddtimelineactivitiestablecolumns5}}</span>
                        </a>
                    </div>
                    <div class="minimum">
                        <label>{{cs.fillprojectdetailspage3textboxrewardsubboxesamount}}</label>
                        <input class="minAmount currency" type="text" value="{{minAmount}}" data-parsley-required data-parsley-min="1">
                    </div>
                    <div class="description border-top">
                        <label>{{cs.fillprojectdetailspage3textboxrewardsubboxesname}}</label>
                        <input class="name" type="text" value="{{name}}" data-parsley-required />
                    </div>
                    <div class="description border-top-bottom">
                        <label>{{cs.fillprojectdetailspage3textboxrewardsubboxesdesc}}</label>
                        <textarea class="descriptionText" maxlength="200" data-parsley-required>{{description}}</textarea>
                    </div>
                    <div class="delivery-date">
                        <label>{{cs.projectdetailspagerewardscarddelivery}}</label>
                        <div class="date-container">
                            <select class="month select" data-parsley-min="1" data-parsley-min-message="Lütfen ay seçiniz">
                               <!-- <option value="0">Ay Seçiniz</option>-->
                                <option value="1" {{{getMonth delivery "1"}}}>Ocak</option>
                                <option value="2" {{{getMonth delivery "2"}}}>Şubat</option>
                                <option value="3" {{{getMonth delivery "3"}}}>Mart</option>
                                <option value="4" {{{getMonth delivery "4"}}}>Nisan</option>
                                <option value="5" {{{getMonth delivery "5"}}}>Mayıs</option>
                                <option value="6" {{{getMonth delivery "6"}}}>Haziran</option>
                                <option value="7" {{{getMonth delivery "7"}}}>Temmuz</option>
                                <option value="8" {{{getMonth delivery "8"}}}>Ağustos</option>
                                <option value="9" {{{getMonth delivery "9"}}}>Eylül</option>
                                <option value="10" {{{getMonth delivery "10"}}}>Ekim</option>
                                <option value="11" {{{getMonth delivery "11"}}}>Kasım</option>
                                <option value="12" {{{getMonth delivery "12"}}}>Aralık</option></select>
                            <select class="year select" data-parsley-min="1" data-parsley-min-message="Lütfen yıl seçiniz">
                                <!--<option value="0">Yıl Seçiniz</option>-->
                                <option value="2016" {{{getYear delivery "2016"}}}>2016</option>
                                <option value="2017" {{{getYear delivery "2017"}}}>2017</option>
                                <option value="2018" {{{getYear delivery "2018"}}}>2018</option>
                                <option value="2019" {{{getYear delivery "2019"}}}>2019</option>
                                <option value="2020" {{{getYear delivery "2020"}}}>2020</option>
                                <option value="2020" {{{getYear delivery "2021"}}}>2021</option>
                                <option value="2020" {{{getYear delivery "2022"}}}>2022</option>
                                <option value="2020" {{{getYear delivery "2023"}}}>2023</option>
                                <option value="2020" {{{getYear delivery "2024"}}}>2024</option>
                                <option value="2020" {{{getYear delivery "2025"}}}>2025</option>
                            </select>
                        </div>
                    </div>
                    <div class="{{{setLimit count}}}" style="margin: auto">
                        <label class="limit-label">
                            <input class="limit-checkbox" type="checkbox" {{{limitCount count}}} name="limit-checkbox" data-parsley-excluded />
                            <span class="cr white-cb"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                            {{cs.projectrewardrestrictedamount}}
                        </label>
                        <input class="count" type="text" value="{{count}}" data-parsley-excluded />
                    </div>
                </div>
            </div>
        </div>

    </div>
  {{#if locked}}
    <div class="reward__locked"></div>
  {{/if}}
</li>
{{/each}}
