<div class="center block">
    <h2 class="h2 green-dark fwbold">{{cs.fillprojectdetailspage2textboxtitle}}</h2>
    <p class="h4 mt0 green-dark">{{cs.fillprojectdetailspage2textboxsubtitle}}</p>
</div>

<div id="form-story" class="table-display full-width mt60 mb30 ptb20 plr10 m-center bg-white border" data-parsley-validate>
    <div class="row">
        <div class="col-xs-9">
            <div id="story-main" class="project-main-form mr10">
                <input type="hidden" id="video" value="{{video}}" />
                <ol class="fields no-margin">
                    <li class="project-video">
                        <div class="grey-field mb20 clearfix">
                            <label for="projectVideo">
                                {{cs.fillprojectdetailspage2textboxvideotext}}
                            </label>
                            <div class="field-wrapper">
                               <!-- Upload Video-->
                                <div id="uploadVideoWrapper" class="upload border" style="height: 101px;">
                                    <input class="photo file" id="projectVideo" name="video" value="{{video}}" />
                                    <strong class="center">
                                        {{cs.fillprojectdetailspage2textboxvideosubtext}}
                                    </strong>
                                    <p style="{{{isTranscoding video}}}" id="videoProcessing" class="video-processing-message">Yüklediğiniz video işlenmektedir.</p>
                                    <p style="{{{isVideoReady video}}}" id="videoIsReady" class="video-ready-message" th:text="${contentStrings.projectstoryvideoready}">Videonuz gösterime hazırdır.</p>
                                </div>
                                <!--Upload Video Progress-->
                                <div id="uploadVideoProgressingWrapper" class="bg-white border ptb10 plr20" style="display: none">
                                    <p class="pl50 yellow-dark mb0">Dosyanız yükleniyor, lütfen bekleyiniz. <span
                                            id="videoProgressDone" class="green fwbold">%0 tamamlandı</span></p>

                                    <div id="videoProgress" class="progress yellow-dark center mb0">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active"></div>
                                    </div>
                                    <button id="cancelVideoUpload" class="btn btn-danger fwbold ptb5 m-center mt10"
                                       style="display: table;">Yüklemeyi Durdur
                                    </button>
                                </div>
                                <!--Upload Video Completed-->
                                <div class="bg-white border ptb10 plr20" id="videoUploadCompletedWrapper" style="
                                height: 101px; display: none">
                                    <p class="text-center green mb10">Tebrikler! Videonuz başarılı olarak yüklenmiştir.
                                        Video işlenme süreci tamamlandıktan sonra, videonuz görüntülenecektir.</p>
                                    <button id="videoUploadCompleted" class="btn btn-success fwbold ptb5 m-center mt10"
                                            style="display: table;">Tamam</button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="project-rich-description">
                        <div class="grey-field mb20 clearfix">
                            <label for="richDescription">
                                <span>{{cs.fillprojectdetailspage2textboxdesctext}}</span>
                                <span class="grey-field__info-box">{{cs.fillprojectdetailspage2textboxdesccoloredtext}}</span>
                            </label>
                            <div class="field-wrapper">
                                <textarea id="richDescription" rows="8" name="richDescription" class="form-control border" data-parsley-required>{{richDescription}}</textarea>
                                <div class="field-help">
                                  {{cs.fillprojectdetailspage2textboxdescsubtext}}
                                </div>
                            </div>
                        </div>
                    </li>
                    <!--<li class="project-challenges">
                        <div class="grey-field mb20 clearfix">
                            <label for="challenges">{{cs.fillprojectdetailspage2textboxrisksandchallangestext}}</label>
                            <div class="field-wrapper">
                                <div class="field-help">
                                  {{cs.fillprojectdetailspage2textboxrisksandchallangessubtext}}
                                </div>
                                <textarea id="challenges" rows="4" name="challenges" class="form-control border" required>{{challenges}}</textarea>
                            </div>
                        </div>
                    </li>-->
                </ol>
            </div>
            <br/>
        </div>
        <div class="col-xs-3">
            <div id="story-sidebar" class="project-sidebar-form ml10">
                <ol class="sidebar-help-panels">
                    <li id="story-sidebar-help" style="display: list-item;">
                        <a class="green fwbold" href="#" target="_blank">
                          {{cs.fillprojectdetailspage2textboxstoriestitle}}
                        </a>
                    </li>
                    <li><p class="mt10 green-dark">{{cs.fillprojectdetailspage2textboxstoriessubtitle}}</p></li>
                </ol>
            </div>
        </div>
    </div>
</div>
